<template lang="jade">
div
	div.additional-filters
		div.form-filters-container
			.question-container(v-for="(question, questionIndex) in modifiedForms" v-if="question.filter")
				.close-button(v-on:click="removeFilter(questionIndex)")
					svg(width='12px', height='12px', viewbox='0 0 12 12', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
						// Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch
						desc Created with Sketch.
						defs
							path#close(d='M17.6065,16.1919 L13.3635,11.9499 L17.6065,7.7079 C17.9975,7.3169 17.9975,6.6829 17.6065,6.2929 C17.2155,5.9019 16.5835,5.9019 16.1925,6.2929 L11.9495,10.5359 L7.7075,6.2929 C7.3165,5.9019 6.6835,5.9019 6.2935,6.2929 C5.9025,6.6829 5.9025,7.3169 6.2935,7.7079 L10.5355,11.9499 L6.2935,16.1919 C5.9025,16.5829 5.9025,17.2159 6.2935,17.6069 C6.6835,17.9979 7.3165,17.9969 7.7075,17.6069 L11.9495,13.3639 L16.1925,17.6069 C16.5835,17.9979 17.2155,17.9969 17.6065,17.6069 C17.9975,17.2159 17.9975,16.5829 17.6065,16.1919')
						g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
							g(id='Icons-/-Action-/-Close', transform='translate(-6.000000, -6.000000)')
								mask#mask-2(fill='white')
									use(xlink:href='#close')
								use(id='icons-/-24px-/-close', xlink:href='#close')
				| A la question,&nbsp;
				span.form-filters-option.form-filters-option-active(v-on:click="formFilterOptionClick(question, questionIndex)") {{ question.label }}
				| &nbsp; je recherche les personnes qui&nbsp;
				span.form-filters-option.form-filters-option-active(v-on:click="formFilterOptionClick(question, questionIndex)") {{ question.responseType.label }}
				template(v-if="question.responseType.selectOptions && (question.type.toLowerCase() == 'checkbox' || question.type.toLowerCase() == 'radio')")
					template(v-if="question.responses.length == 1")
						| &nbsp;cette réponse&nbsp;
						span.form-filters-option.form-filters-option-active(v-on:click="formFilterOptionClick(question, questionIndex)") {{ question.responses[0].label }}
					template(v-else)
						| &nbsp;les réponses&nbsp;
						template(v-for="response in question.responses")
							span.form-filters-option.form-filters-option-active(v-on:click="formFilterOptionClick(question, questionIndex)") {{ response.label }}
				template(v-else-if="question.responseType.selectOptions && question.type.toLowerCase() == 'date'")
					template
						| &nbsp;cette réponse&nbsp;
						span.form-filters-option.form-filters-option-active(v-on:click="formFilterOptionClick(question, questionIndex)") {{ displayDate(question.responses) }}
				template(v-else-if="question.responseType.selectOptions")
					template
						| &nbsp;cette réponse&nbsp;
						span.form-filters-option.form-filters-option-active(v-on:click="formFilterOptionClick(question, questionIndex)") {{ question.responses }}
				
			.question-container(v-if="numFilteredQuestions == 0 && numFilteredQuestions < modifiedForms.length")
				| A la question,&nbsp;
				span.form-filters-option(v-on:click="formFilterOptionClick()") Choisir une question 
				| &nbsp; je recherche les personnes qui&nbsp;
				span.form-filters-option(v-on:click="formFilterOptionClick()") Chosir un type de reponse
				| &nbsp;cette réponse&nbsp;
				span.form-filters-option(v-on:click="formFilterOptionClick()") Choisir une reponse
			.add-question-container(v-else-if="numFilteredQuestions < modifiedForms.length")
				.add-question(v-on:click="formFilterOptionClick") &nbsp; + Nouvelle question
		popover.option-select-popover-container.no-print(v-if="showUseOptionPopover" v-on:closePopover="optionSelectPopoverClose()")
			.option-select-popover(slot="popover-content")
				.popover-header
					h2 Ajouter une question
				#select-container
					.select-option-container.active
						.select-option-header
							h3 Questions
							hr
						.select-option-content
							.option(v-for="(popoverQuestion, popoverQuestionIndex) in modifiedForms" v-if="!popoverQuestion.filter || popoverQuestionIndex == popoverFormEdit.index" v-on:click="questionClick(popoverQuestionIndex)" v-bind:class="{ 'option-active' : popoverQuestionIndex == popoverFormEdit.index }") {{ popoverQuestion.label }}
					.select-option-container(v-if="popoverIndexValid")
						.select-option-header
							h3 Type
							hr
						.select-option-content
							.option(v-for="type in types" v-on:click="typeClick(type)" v-bind:class="{ 'option-active' : popoverFormEdit.type.label == type.label }") {{ type.label }}
					.select-option-container(v-if="popoverIndexValid && popoverFormEdit.type != undefined && popoverFormEdit.type.selectOptions == true")
						.select-option-header
							h3 Réponse
							hr
						.select-option-content(v-if="modifiedForms[popoverFormEdit.index].type.toLowerCase() == 'checkbox' || modifiedForms[popoverFormEdit.index].type.toLowerCase() == 'radio'")
							.option(v-for="option in modifiedForms[popoverFormEdit.index].refvalues" v-on:click="optionClick(option)" v-bind:class="{ 'option-active' : findOption(option, popoverFormEdit.responses) >= 0 }") {{ option.label }}
						.select-option-content(v-else-if="modifiedForms[popoverFormEdit.index].type.toLowerCase() == 'range'")
							el-input.option.option-active(v-model="popoverFormEdit.responses" v-bind:class="{ 'invalid' : !validNumber(popoverFormEdit.responses) }")
						.select-option-content(v-else-if="modifiedForms[popoverFormEdit.index].type.toLowerCase() == 'date'")
							datepicker(v-model="popoverFormEdit.responses" language="fr" type="date")


							//- div.date-picker
								datepicker(:placeholder="obj.label" v-model="obj.model" language="fr" v-on:selected='recoverData(obj)' clear-button=true).select-date
								el-option(:label='e', :value='e' disabled)

						.select-option-content(v-else)
							el-input.option.option-active(v-model="popoverFormEdit.responses")
						
				//- TODO - should be a component or something - shared accross components
				.buttons-container
					.buttons-filler
					.button.button-secondary(v-on:click="optionSelectPopoverClose()") ANNULER
					.button.button-primary(v-on:click="optionSelectPopoverConfirm()" v-bind:class="{ inactive : !popoverFormEditValid }") CONFIRMER

//-----------------------------
//- VERSION LUCIEN ORIGINAL-//
//------------------------------
//- div
	//-div.additional-filters
		el-button.title.action-aF.aFP
			i.fa.fa-angle-right(aria-hidden='true')
			| Afficher plus de filtres
		el-button.title.action-aF.aFM(style="display:none;")
			i.fa.fa-angle-down(aria-hidden='true')
			| Afficher moins de filtres
	div.form-filters
		el-row(:gutter='20')
			el-col(:span='24')
				template(v-for='(obj, index) in modified_forms')
						template(v-if='obj.type =="checkbox"')
							el-row
								el-col(:span="24")
									el-select(v-model='obj.model', multiple='', :placeholder='obj.label' v-on:change="recoverData(obj)")
										div
											button(v-on:click.prevent="binary_search(obj,true)" v-bind:class="{activeButton : dom_state[index] != undefined ? (dom_state[index].active && dom_state[index].value) : false}")
												i.material-icons  record_voice_over
												div Reponse disponible
										div
											button(v-on:click.prevent="binary_search(obj, false)" v-bind:class="{activeButton : dom_state[index] != undefined ?(dom_state[index].active && !dom_state[index].value) : false}")
												i.material-icons speaker_notes_off
												div Sans reponse
										hr
										el-option(v-for='item in obj.refvalues', :label='item.label', :value='item.value')

						template(v-else-if='obj.type == "radio"')
							template(v-if='obj.name == "name_presence"')
								hr
							el-row
								el-col(:span="24")
									el-select(v-model='obj.model' clearable :placeholder='obj.label' v-on:change="recoverData(obj)").form-select-input

										div
											button(v-on:click.prevent="binary_search(obj,true)" v-bind:class="{activeButton : dom_state[index] != undefined ? (dom_state[index].active && dom_state[index].value) : false}")
												i.material-icons record_voice_over
												div Reponse disponible

										div
											button(v-on:click.prevent="binary_search(obj,false)" v-bind:class="{activeButton : dom_state[index] != undefined ?(dom_state[index].active && !dom_state[index].value) : false}" )
												i.material-icons speaker_notes_off
												div Sans reponse
										hr
										el-option(v-for='item in obj.refvalues', :label='item.label', :value='item.value')

						template(v-else-if='obj.type == "text" || obj.type=="range"')
							el-row
								el-col(:span="24")
									el-select(v-model='obj.model',:placeholder='obj.label').form-select-input
										div
											button(v-on:click.prevent="binary_search(obj,true)" v-bind:class="{activeButton : dom_state[index] != undefined ? (dom_state[index].active && dom_state[index].value) : false}")
												i.material-icons record_voice_over
												div Reponse disponible

										div
											button(v-on:click.prevent="binary_search(obj,false)" v-bind:class="{activeButton : dom_state[index] != undefined ?(dom_state[index].active && !dom_state[index].value) : false}" )
												i.material-icons speaker_notes_off
												div Sans reponse
										hr
										el-input(:placeholder='obj.label' v-model="obj.model" v-on:change='recoverData(obj)' ).form-select-input
										el-option(:label='ee', :value='ee' disabled)
						template(v-else-if='obj.type =="date"')
							el-row
								el-select(v-model='obj.model',:placeholder='obj.label').form-select-input
									div
										button(v-on:click.prevent="binary_search(obj,true)" v-bind:class="{activeButton : dom_state[index] != undefined ? (dom_state[index].active && dom_state[index].value) : false}")
											i.material-icons  record_voice_over
											div Reponse disponible

									div
										button(v-on:click.prevent="binary_search(obj,false)" v-bind:class="{activeButton : dom_state[index] != undefined ?(dom_state[index].active && !dom_state[index].value) : false}")
											i.material-icons speaker_notes_off
											div Sans reponse
									hr
									el-col(:span="24")
											div.date-picker
												datepicker(:placeholder="obj.label" v-model="obj.model" language="fr" v-on:selected='recoverData(obj)' clear-button=true).select-date
											el-option(:label='e', :value='e' disabled)

//-----------------------------
//- Nouvelle version-//
//------------------------------
//- div
	div.form-filters
		.pure-u-md-24-24.advanced-filter-container
			//-REPONSES A L'ENQUETE
			.pure-u-md-24-24.advanced-filter-wrapper
				.advanced-filter
					h3 Réponses à l'enquête
					hr
					.pure-u-md-24-24
						div
							div
								//- Container de la dropdown
								template(v-for='(obj, index) in modified_forms')

											template(v-if='obj.type =="checkbox"')
												label(for='Age').filter-item.pure-u-md-24-24.pure-u-sm-24-24
													template
														el-select(v-model='obj.model', multiple='', :placeholder='obj.label' v-on:change='recoverData(obj)')
															el-option(v-for='item in obj.refvalues', :label='item.label', :value='item.value')
											template(v-else-if='obj.type =="radio"')
												label(for='Age').filter-item.pure-u-md-24-24.pure-u-sm-24-24
													template
														el-select(v-model='obj.model' clearable :placeholder='obj.label' v-on:change='recoverData(obj)')

															el-option(v-for='item in obj.refvalues', :label='item.label', :value='item.value')

//-----------------------------
//- Nouvelle version-//
//------------------------------
//- div
	div.form-filters
		.pure-u-md-24-24.advanced-filter-container
			//-REPONSES A L'ENQUETE
			.pure-u-md-24-24.advanced-filter-wrapper
				.advanced-filter
					h3 Réponses à l'enquête
					hr
					.pure-u-md-24-24
						div
							div
								//- Container de la dropdown
								template(v-for='(obj, index) in modified_forms')
								div.dropdown
									//- Titre de la question
									span.title-question Que pensez vous des entreprises ?
									//- Passer la classe drop-button ou drop-button-close
									div.drop-button-close
										//- Contenu selectionner par l'utilisateur à inserer les tags
										div.select-tags
											div.tags
												span.content Sans réponses
												span.icon
													i.fa.fa-close
											div.tags
												span.content On gagnerait à mieux les connaitre
												span.icon
													i.fa.fa-close
											div.tags
												span.content Avec réponse
												span.icon
													i.fa.fa-close

									//- Rajouter la classe active sur ul lors du clique sur le bouton du dessus
									//- Same for desactive
									ul.active
										li
											a
												|  Réponse disponible
										li
											a(href='#') Sans réponse

										//- Divider permet la séparation avec les checkboxs
										li.divider
										li
											label
												.pure-u-md-5
													input(type='checkbox')
												.pure-u-md-19
													span Ce sont les meilleurs
										li
											label
												.pure-u-md-5
													input(type='checkbox')
												.pure-u-md-19
													span Je n'ai pas d'avis
										li
											label
												.pure-u-md-5
													input(type='checkbox')
												.pure-u-md-19
													span On gagnerait à mieux les connaitre
										div.bottom-container
											div
												a(href="#") Annuler
											div
												a(href="#") Valider

							div
								//-div.dropdown
									span.title-question Que pensez vous des entreprises ?

									button.drop-button
										span.content-button
									ul
										li
											a(href="#") Réponse disponible
										li
											a(href="#") Sans réponse
										li.divider
										li
											label
												.pure-u-md-5
													input(type='checkbox')
												.pure-u-md-19
													span Ce sont les meilleurs
										li
											label
												.pure-u-md-5
													input(type='checkbox')
												.pure-u-md-19
													span Je n'ai pas d'avis
										li
											label
												.pure-u-md-5
													input(type='checkbox')
												.pure-u-md-19
													span On gagnerait à mieux les connaitre
										div.bottom-container
											div
												a(href="#") Annuler
											div
												a(href="#") Valider

</template>

<script>

var $ = require("jquery");
var _ = require('underskore');

import  { mapActions,  mapGetters } from 'vuex'
import moment from 'moment'

import Datepicker from 'vuejs-datepicker';

export default {
  	name : 'form-filters',

  	components : {
  		Datepicker,
  		'popover' : require('../../../../general/popover.vue'),
  	},

  	data : function() {
  		return {
  			// new variables
  			modifiedForms : [],
  			// popoverFormIndex : -1,
  			popoverFormEdit : {},

			// Option question popover
			showUseOptionPopover : false,

			types : [
				{
					label : "ont répondu",
					include : "true",
					selectOptions : true,
				},
				{
					label : "n'ont pas répondu",
					include : "false",
					selectOptions : true,
				},
				{
					label : "ont renseigné cette question",
					include : "true",
					selectOptions : false,
				},
				{
					label : "n'ont pas renseigné cette question",
					include : "false",
					selectOptions : false,
				},
			],

			// old variables
  			// dom_state : [], // Gestion css des button d'existence
  			// new_filters : [],
			// modified_forms :[],
  		}
  	},

	mounted: function () {
	  	// TODO - this seems like a bad solution - why is it here in this component?
	  // 	this.$nextTick(function () {
		 //    $('.aFP').click(function(){
			//     $('.hider').toggle();
			//     $('.aFP').hide();
			//     $('.aFM').show();
			// });
		 //    $('.aFM').click(function(){
			//     $('.hider').toggle();
			//     $('.aFM').hide();
			//     $('.aFP').show();
			// });
	  // 	});
	    
		this.getModifiedForms();
	},

	beforeDestroy : function() {
		this.$store.commit('RESET_FILTERS');
	},
	
	watch: {
		forms: function() {
			// var obj = _.sortBy(JSON.parse(JSON.stringify(this.forms)), 'order');
			// obj = obj.concat(this.forms_presence);
			// obj.forEach(function (prop) {
			// 	prop.model = (prop.type == "checkbox") ? [] : "";
			// });
			// this.modified_forms=obj;
			this.getModifiedForms();
		},

		forms_presence: function() {
			// var obj = _.sortBy(JSON.parse(JSON.stringify(this.forms)), 'order');
			// obj = obj.concat(this.forms_presence);
			// obj.forEach(function (prop) {
			// 	prop.model = (prop.type == "checkbox") ? [] : "";
			// });
			// this.modified_forms=obj;
			this.getModifiedForms();
		},
	},
	
	computed : {
	    ...mapGetters({
			'forms' : 'forms',
			'forms_presence' : 'forms_presence',
			'filter' : 'filter',
	    	'query' : 'query',
	    	'userConnected' : 'userConnected',
	    }),

	    popoverIndexValid : function() {
	    	return this.popoverFormEdit.index >= 0 && this.popoverFormEdit.index < this.modifiedForms.length;
	    },

	    // is true if popoverFormEdit has all the information it needs to make a valid filter 
	    // (if all the options have been selected and their inputs are valid)
		popoverFormEditValid : function() {
			// basic boolean saying if the form has been filled out
			let content = 	
				this.popoverIndexValid && 
				this.popoverFormEdit.type != undefined && 
				this.popoverFormEdit.type.selectOptions != undefined;

			if (!content) {
				return false;
			}

			let questionType = this.modifiedForms[this.popoverFormEdit.index].type.toLowerCase();

			// check that the responses is valid; this depends on the type
			if (questionType == "date") {
				content = 
					!this.popoverFormEdit.type.selectOptions || 
					(
						this.popoverFormEdit.type.selectOptions && 
						this.popoverFormEdit.responses != null &&
						// for el-date-picker, clicking X results, it seems in an empty string
						this.popoverFormEdit.responses != ""
					)
			} else {
				content = 	
					!this.popoverFormEdit.type.selectOptions || 
					(this.popoverFormEdit.type.selectOptions && this.popoverFormEdit.responses.length > 0)
			}

			// additional, type-specific checks that the content is valid
			if (content && questionType == "range") {
				content = this.validNumber(this.popoverFormEdit.responses);
			}
			return content;
		},

		numFilteredQuestions : function() {
			let count = 0;
			for (let i = 0; i < this.modifiedForms.length; i++) {
				if (this.modifiedForms[i].filter) {
					count++;
				}
			}
			return count;
		}

	    /*modified_forms : function() {
	    	var obj = _.sortBy(JSON.parse(JSON.stringify(this.forms)), 'order');
	    	obj = obj.concat(this.forms_presence);
	    	obj.forEach(function (prop) {
	    		prop.model = (prop.type == "checkbox") ? [""] : "";
	    	});
	    	return obj;
	    },*/

	  //   logical_search : function() {
	  //   	var tmp = [];

	  //   	/*Objet général d'état :
			// [
			// 	{
			// 		'form_id' : number,
			// 		'form_ref_id' : number,
			// 		'value': bool, // recherche d'existence / non existance
			// 		'active' : bool, // css
			// 		'isAboutAnswer' : bool // recherche d'existance sur une valeur ou sur une question
			// 		'answer' : string // valeur si elle existe
			// 	}
			// ]*/
	  //   	var obj = _.sortBy(JSON.parse(JSON.stringify(this.forms)), 'order');

	  //   	obj = obj.concat(this.forms_presence);

	  //   	obj.forEach(function (obj) {
	  //   		tmp.push(
		 //    		{
		 //    			'type': obj.type,
		 //    			'form_id': obj.id,
		 //    			'form_ref_id' : [],
		 //    			'value' : true,
		 //    			'active' : false,
		 //    			'isAboutAnswer' : false,
		 //    			'answer' : undefined
		 //    		}
	  //   		)
	  //   	});
	  //   	return tmp;
	  //   }
	},

	methods : {
		...mapActions({
      		search: 'SEARCH_CONTACT',
        	generate_kpi: 'GENERATE_KPI',
        	updateLocationSummaryGeoHash : 'UPDATE_LOCATION_SUMMARY_GEOHASH',
    	}),

    	getModifiedForms : function() {
			let obj = _.sortBy(JSON.parse(JSON.stringify(this.forms)), 'order');
			// stringify then re-parse for oberserver on added properties to work properly
			obj = obj.concat(JSON.parse(JSON.stringify(this.forms_presence)))

			for (let i = 0; i < obj.length; i++) {
				this.resetQuestion(obj[i]);
			}
			this.modifiedForms = obj;
		},

		questionClick : function(questionIndex) {
    		this.popoverFormEdit.index = questionIndex;
    		// setup the responses field
			this.popoverFormEdit.responses = this.getResponses(this.modifiedForms[questionIndex]);
		},

		typeClick : function(type) {
    		this.popoverFormEdit.type = type;
		},

		optionClick : function(option) {
			let type = this.modifiedForms[this.popoverFormEdit.index].type;
			if (type == "checkbox" || type == "CHECKBOX") {
				// checkbox can have multiple responses, so toggle the response
				let index = this.findOption(option, this.popoverFormEdit.responses);
				if (index >= 0) {
					//  if the option is already in the responses, remove it
					this.popoverFormEdit.responses.splice(index, 1);
				} else {
					// if it hasn't been found, add the option
					this.popoverFormEdit.responses.push(option);
				}
			} else {
				// for all other inputs, just set the responses array to this response
				this.popoverFormEdit.responses = [option];
			}
		},

		// returns the index of the passed option in an array of options, arr.  
		// If the option can't be found, -1 is returned
		// (equality from id value)
		findOption : function(option, arr) {
			for (let i = 0; i < arr.length; i++) {
				if (arr[i].id == option.id) {
					return i;
				}
			}
			return -1;
		},

		// to make it generic, the responses field can be either an empty string or array, depending on the question type
		getResponses : function(question) {
			if (question.type.toLowerCase() == "checkbox" || question.type.toLowerCase() == "radio") {
				return [];
			} else if (question.type.toLowerCase() == "date") {
				return null;
			} else {
				return "";
			}
		},

		removeFilter : function(questionIndex) {
			this.resetQuestion(this.modifiedForms[questionIndex]);
			this.formFilterUpdate();
		},

		resetQuestion : function(question) {
			// array or string of response(s) to the question
			// for text types, store the search value, otherwise, just start with an empty array
			question.responses = this.getResponses(question);
			question.responseType = {};
			// boolean of whether this form is included in the filter
			question.filter = false;
		},

		// this is triggered when the operation is cancelled; reset the changes made in the popover
		optionSelectPopoverClose : function() {
    		this.showUseOptionPopover = false
		},

		optionSelectPopoverConfirm : function() {
			if (this.popoverFormEditValid) {
				let index = this.popoverFormEdit.index;
				this.modifiedForms[index].responseType = this.popoverFormEdit.type;
				if (this.popoverFormEdit.type != undefined && this.popoverFormEdit.type.selectOptions) {
					this.modifiedForms[index].responses = this.popoverFormEdit.responses;
				} else {
					this.modifiedForms[index].responses = this.getResponses(this.modifiedForms[index]);
				}
				this.modifiedForms[index].filter = true;
				
				this.optionSelectPopoverClose();
				this.formFilterUpdate();
			}
		},

		formFilterOptionClick : function(question, index) {
			if (question != undefined && index != undefined) {
				this.popoverFormEdit = {
	  				index : index,
	  				type : question.responseType,
	  				responses : question.responses 
	  			};
			} else {
				this.popoverFormEdit = {
	  				index : -1,
	  				type : {},
	  				responses : [],
	  			};
			}
			this.showUseOptionPopover = true;
		},

		validNumber : function(num) {
			return (!isNaN(parseFloat(num)) && isFinite(num)) || num == "";
		},

		displayDate : function(date) {
			return moment(date).format('MMMM Do YYYY');
		},

		// _.debounce is a function provided by underskore to limit how
	    // often a particularly expensive operation can be run.
	    // In this case, we want to limit how often we access
	    // the API, waiting until the user has completely
	    // finished typing before making the request.
	    // For more information, http://underscorejs.org/#debounce

	    // On update, construct the filters, and search
		formFilterUpdate : _.debounce(function (){
			let filters = [];
			let vueComponent = this;

			this.modifiedForms.filter(function(question) {
				return 	question.filter && 
						question.responseType != undefined &&
						question.responseType.include != undefined &&
						question.responseType.include != "";
			}).forEach(function (question, index) {	
				// general form of filter is <type>/<form_id>/<true/false>
				// if type.selectOptions is true, then also need /<refvalue_id>
				// and some types also need the filter_value appended at the end
				let type = question.type.toLowerCase();
				let filter = [];
				// the server seems to accept upper case all the time (lower case fails for some types)
				filter.push(type.toUpperCase());
				filter.push(question.id);
				filter.push(question.responseType.include)

				if (question.responseType.selectOptions) {
					if (type == "text" && question.responses.length > 0) {
						// filter for text is of the form text/<form_id>/<true/false>/<refvalue_id>/<filter_value>
						// the response field should be a string that is the filter_value
						filter.push(question.refvalues[0].id);
						filter.push(question.responses);
						filters.push(filter.join("/"));
					} else if (type == "checkbox" && question.responses.length > 0) {
						// filter for checkbox is of the form checkbox/<form_id>/<true/false>/<refvalue_id>
						// one of the above should be added for *each* of the selected checkbox questions (responses)
						for (let i = 0; i < question.responses.length; i++) {
							let curFilter = filter.slice();
							curFilter.push(question.responses[i].id);
							filters.push(curFilter.join("/"));
						}
					} else if (type == "radio" && question.responses.length == 1) {
						// filter for radio is of the form radio/<form_id>/<true/false>/<refvalue_id>
						// there should only be one entry
						filter.push(question.responses[0].id);
						filters.push(filter.join("/"));
					} else if (type == "range" && question.responses.length > 0 && vueComponent.validNumber(question.responses)) {
						// filter for text is of the form text/<form_id>/<true/false>/<refvalue_id>/<filter_value>
						// the response field should be a string that is the filter_value
						filter.push(question.refvalues[0].id);
						filter.push(question.responses);
						filters.push(filter.join("/"));
					} else if (type == "date" && question.responses != null && question.responses != "") {
						filter.push(question.refvalues[0].id);
						filter.push(moment(question.responses).format("YYYY-MM-DDTHH:mm:ssZ"));
						filters.push(filter.join("/"));
					} else {
						// no more types - should not run
					}
				} else {
					filters.push(filter.join("/"));
				}
			});	

			this.$store.commit('SET_FILTERS', filters);
  			this.generate_kpi();
			this.search();
			this.updateLocationSummaryGeoHash();
		}, 100),

		// _.debounce is a function provided by underskore to limit how
	    // often a particularly expensive operation can be run.
	    // In this case, we want to limit how often we access
	    // the API, waiting until the user has completely
	    // finished typing before making the request.
	    // For more information, http://underscorejs.org/#debounce
		/*recoverData : _.debounce(
			function (current_obj){
			var state = this;
			var filters = [];
			// On va reconstituer la typologie necessaire
			// Les trois elements minimum sont
			// "type/from_id/exist_or_not"
			// Pour les checkbox et les radiobutton il faut rajouter, pour chaque element selectionné
			// "type/from_id/exist_or_not/refvalue/value"

			this.modified_forms.forEach(function (obj, index) {
				if (typeof(obj.model) == 'object' && obj.type == 'checkbox') {
					for (var i = 0; i < obj.model.length; i++) {

						var tmp = _.where(obj.refvalues, {'value' : obj.model[i]})[0];
						var refvalue = tmp != undefined ? tmp.id : undefined;
						var form_id = tmp != undefined ? tmp.form_id : undefined;

						var search_scope = _.where(state.logical_search, {'form_id' : form_id });
						var scope_element_index = _.findIndex(state.logical_search, {'form_id' : form_id});

						if(refvalue != undefined && scope_element_index != -1 ) {

							state.logical_search[scope_element_index].active = true;
							state.logical_search[scope_element_index].isAboutAnswer = true;

							if (!_.contains(state.logical_search[scope_element_index].form_ref_id, refvalue)) {
								state.logical_search[scope_element_index].form_ref_id.push(refvalue);
							}

							filters.push(
								obj.type.toString() + '/' + obj.id.toString() + '/' + state.logical_search[scope_element_index].value.toString() +'/' + refvalue.toString()
							)

						}
					};
				}

				if(typeof(obj.model) == 'string' && obj.type == 'radio') {
					var tmp = _.where(obj.refvalues, {'value' : obj.model})[0];
					var refvalue = tmp != undefined ? tmp.id : undefined;
					var form_id = tmp != undefined ? tmp.form_id : undefined;

					var search_scope = _.where(state.logical_search, {'form_id' : form_id });
					var scope_element_index = _.findIndex(state.logical_search, {'form_id' : form_id});

						if(refvalue != undefined && scope_element_index != -1 ) {

							state.logical_search[scope_element_index].active = true;
							state.logical_search[scope_element_index].isAboutAnswer = true;
							state.logical_search[scope_element_index].form_ref_id = [];
							state.logical_search[scope_element_index].form_ref_id.push(refvalue);

								filters.push(
									obj.type.toString() + '/' + obj.id.toString() + '/' + state.logical_search[scope_element_index].value.toString() +'/' + refvalue.toString()
								)

						}

				}

				// Dans les cas ou obj.type == date il faut vérifier que l'argument est correctement formaté

				if(typeof(obj.model) == 'object' && obj.type == 'date'){
					// Formats de date acceptées

					var cond = moment(obj.model, 'DD/M/YYYY' , true).isValid() || moment(obj.model, 'DD/MM/YYYY', true).isValid()  || moment(obj.model, 'D/M/YYYY'  , true).isValid() || moment(obj.model, 'D/MM/YYYY' , true).isValid();


					if (cond) {

						var refvalue = obj.refvalues[0].id

						var search_scope = _.where(state.logical_search, {'form_id' : obj.id });
						var scope_element_index = _.findIndex(state.logical_search, {'form_id' : obj.id});

						state.logical_search[scope_element_index].active = true;
						state.logical_search[scope_element_index].isAboutAnswer = true;
						state.logical_search[scope_element_index].form_ref_id = [];
						state.logical_search[scope_element_index].form_ref_id.push(refvalue);

                      	obj.model = moment(obj.model).format("YYYY-MM-DDTHH:mm:ssZ")

                      	state.logical_search[scope_element_index].answer = obj.model;

						filters.push(
							'DATE/' + obj.id.toString() + '/' + state.logical_search[scope_element_index].value.toString() +'/' + refvalue.toString() + '/' + obj.model
						)



					} else if(obj.model.length > 0) {

						state.$message({
			              message: "La date renseignée n'est pas valide (ex : 26/06/1993)",
			              duration:5000,
			              type: 'error'
			            });

			            return;
					}
				}

				// Dans les cas ou obj.type == range il faut vérifier que cela est bien un nombre

				if(typeof(obj.model) == 'string' && obj.type == 'range' ) {
					var n = Math.floor(Number(obj.model));

					if(String(n) === obj.model && n >= 0){

						var refvalue = obj.refvalues[0].id
						var search_scope = _.where(state.logical_search, {'form_id' : obj.id });
						var scope_element_index = _.findIndex(state.logical_search, {'form_id' : obj.id});

						state.logical_search[scope_element_index].active = true;
						state.logical_search[scope_element_index].isAboutAnswer = true;
						state.logical_search[scope_element_index].form_ref_id = [];
						state.logical_search[scope_element_index].form_ref_id.push(refvalue);
						state.logical_search[scope_element_index].answer = obj.model.toString();

						filters.push(
							"RANGE/" + obj.id.toString() + '/' + state.logical_search[scope_element_index].value.toString() +'/' + refvalue.toString() + '/' + obj.model.toString()
						)
					} else if (obj.model.length > 0){

						state.$message({
			              message: "La valeur doit être numérique !",
			              duration:5000,
			              type: 'error'
			            });

			            return;
					}

				}

				// Sinon obj.type == text

				if(typeof(obj.model) == 'string' && obj.type == 'text' && obj.model != "") {
					var refvalue = obj.refvalues[0].id

					var search_scope = _.where(state.logical_search, {'form_id' : obj.id });
					var scope_element_index = _.findIndex(state.logical_search, {'form_id' : obj.id});

					state.logical_search[scope_element_index].active = true;
					state.logical_search[scope_element_index].isAboutAnswer = true;
					state.logical_search[scope_element_index].form_ref_id = [];
					state.logical_search[scope_element_index].form_ref_id.push(refvalue);
					state.logical_search[scope_element_index].answer = obj.model.toString();

					filters.push(
						'TEXT/' + obj.id.toString() + '/' +  state.logical_search[scope_element_index].value.toString() + '/' + refvalue.toString() + '/' + obj.model.toString()
					)
				}

			});

			for (var i = 0; i < filters.length; i++) {
				var dt = filters[i].split('/');
				var contain_el = false;

				for (var j = 0; j < this.new_filters.length; j++) {
					var df = this.new_filters[j].split('/');

					// Cas 1 : G existe et S vient le remplacer
					if ((dt[1] === df[1] && dt[0] != ("checkbox" || "CHECKBOX")) || (dt[1] === df[1] && dt[3] === df[3]) ) {
						// Le nouveau champs est présent dans this.new_filters
						this.new_filters.splice(j, 1);
						this.new_filters.push(filters[i]);
						contain_el = true;
					}
				};

				if (!contain_el) {
					this.new_filters.push(filters[i]);
				};
			};

			// Cas particulier des checkbox
			if (current_obj.type === ("checkbox" || "CHECKBOX")) {

				var active_checkbox_form_rep_id = [];

				current_obj.model.forEach(function (model) {
					current_obj.refvalues.forEach(function (refvalue) {
						if (model === refvalue.value) {
							active_checkbox_form_rep_id.push(refvalue.id.toString())
						};
					});
				});


				for (var i = 0; i < this.new_filters.length; i++) {
					 var dt = this.new_filters[i].split('/');

					 if (current_obj.id.toString() === dt[1] && ! _.contains(active_checkbox_form_rep_id, dt[3])) {
					 	this.new_filters.splice(i, 1);
					 };
				};
			};

			if (current_obj.model === "" || current_obj.model === undefined || current_obj.model.length === 0 ) {

				for (var j = 0; j < this.new_filters.length; j++) {
					var df = this.new_filters[j].split('/');

					if (df[1] === current_obj.id.toString()) {
						this.new_filters.splice(j,1);
					};

				};
			};

			// Cas particulier des dates (le clear du champs ne marche pas comme attendu ... )

			if (current_obj.type == 'date') {
				var delta = _.difference(this.new_filters, filters)
				if (delta.length != 0) {
					var index = this.new_filters.indexOf(delta[0]);
					this.new_filters.splice(index, 1);
					current_obj.model = "";
				};
			};

			if (current_obj.model === "" ||  current_obj.model == undefined || current_obj.model.length < 1) {
				var index = _.findIndex(this.logical_search, {'form_id' : current_obj.id});
				this.logical_search[index].active = false;
			};

			this.dom_state = this.logical_search;

			// Plusieurs cas ici :

			// 		- Le filtre n'était pas présent dans this.active_filter il s'agit donc simplement de l'ajouter
			// 		- Le filtre qui vient d'être ajouté était déjà présent (de manière globale), il faut alors supprimer la 			valeur qui était présente dans this.active_filter et ajouter les nouvelles requete correctement formatée
			// 		- Le filtre était présent dans this.active_filter mais il ne l'est plus dans this.new_filter, il faut 				donc la supprimer de this.active_filter

      		if (this.new_filters.length != 0) {
      			// On ajoute un nouveau filtre dynamique
      			// Il faut lancer une recherche avec les filtres existants (statiques + dynamiques)
      		    this.$store.commit('SET_FILTERS', this.new_filters);
      		    // console.log('new_filter', this.new_filters)
      		    this.generate_kpi();
				this.search();
      		} else if (! this.emptyFilter(this.filter)) {

      			// On supprime un filtre dynamique mais il y a toujours un filtre statique
      			// Il faut relancer une recherche avec les filtres statiques (il n'y a plus de filtres dynamiques)
      			// Et relancer le chargement des KPI

      			state.logical_search.forEach(function (o) {
      				o.value = true;
      				o.active =  false;
      				o.isAboutAnswer = false;
      			});

      		    this.$store.commit('SET_FILTERS', []);
      		    this.$store.commit('RESET_FORMS_FILTERS');

      		    this.generate_kpi();
				this.search();
      		} else {
      			// On supprime un filtre dynamique et il n'y a plus de filtre statique (a.k.a : on retourne à la page d'accueil)

				state.logical_search.forEach(function (o) {
					o.value = true;
      				o.active =  false;
      				o.isAboutAnswer = false;
      			});

      			this.$store.commit('RESET_FILTERS');
		        var params = {  'group_id' : this.userConnected.group_id.toString(), }
		        this.$store.commit('SET_FILTERS', params);

		        this.search();
		        this.generate_kpi();
      		}
		}, 0),*/

		// emptyFilter : function(filters) {
		// 	var res = true;
		// 	if  (filters[4] != "" || filters[5] != "" || filters[6] != "" || this.query != "") {
		// 		res = !res;
		// 	}
		// 	return res
		// },


		/*binary_search : function(obj,state) {
			var active_instances = [];
			var global_state = this;

			var current_form_filters = this.new_filters;
			var contained_in_form_filter = false;

			this.logical_search.forEach(function (o) {
				if (o.form_id === obj.id) {

					o.active = (o.active && o.value === state)? false : true;
					o.value = state;

					if (o.active) {
						// Regarder dans les current_form_filters pour regarder si le champs existe :
						//  - Si oui, le remplacer dans this.new_filter avec la value (true/false)
						// 	- Si non, ajouter la bonne requete dans  this.new_filter
							current_form_filters.forEach(function (p) {
								var dt = p.split('/');

								if (_.contains(dt, obj.id.toString())) {

									// Si checkbox :  boucler
									var index = current_form_filters.indexOf(p);
									current_form_filters.splice(index, 1);

									dt[2] = o.value.toString();
									current_form_filters.push(dt.join('/'));

									contained_in_form_filter = true;
								}
							});

							if (! contained_in_form_filter) {
								current_form_filters.push(
									o.type.toString().toUpperCase() + '/'
									+ o.form_id.toString() + '/'
									+ o.value.toString()
								);
							};

					} else {

						// Supprimer le champs concerné si il était rempli et supprimer sa valeur dans les current_form_filter
						var tmp = current_form_filters.slice();

						tmp.forEach(function (p, index) {
							var dt = p.split('/');

							if (_.contains(dt, obj.id.toString())) {
								var index = current_form_filters.indexOf(p);
								current_form_filters.splice(index, 1);
							}
						});

						var position = _.findIndex(global_state.modified_forms, {'id' : obj.id});

						global_state.modified_forms[position].model = (global_state.modified_forms[position].type  === "checkbox") ? [] : "";

					}
				};
			});


			// Ajouter les autres filtres qui étaient déjà présents

			// Bind avec le DOM pour changer le CSS
			this.dom_state = this.logical_search;

			this.$store.commit('SET_FILTERS', this.new_filters);

			this.search();
		 	this.generate_kpi();
		},*/
	}
}
</script>

<style lang="scss">
@import '../../../../../assets/scss/contact/form-filter.scss';
</style>