<template lang="jade">
	div#mapTurf.pure-u-md-18-24
</template>
<script>

import  { mapActions, mapGetters } from 'vuex'

import Datepicker from 'vuejs-datepicker';
import moment from 'moment';
import Leaflet from 'leaflet'
import turf from 'turf'
import $ from "jquery"
import 'leaflet-draw'
import leafletImage from 'leaflet-image'
//import LeafletMarkerCluster from 'leaflet.markercluster'
import '../../../../../assets/js/leaflet-heat.js'
import store from '../../../../../store/stateStore.js'


var _ = require('underskore');
var contact_store = require('../../../../../models/contact_store.js');

export default {
	name : 'map',

	

	data : function () {
		return {
			userConnected : this.$store.getters.userConnected,
			searchInput : "",
			query : this.$store.getters.query,
			polygon : this.$store.getters.polygon,
			bdv_label : [],
			bdv_data : [],
			age_data : [],
			gender_label : [],
			asc:this.$store.getters.order,
			tags: [],
			options: [
				{
					value:'all',
					label:'Recherche globale'
				},{
					value: 'name',
					label: 'Recherche par nom'
				}, {
					value: 'firstname',
					label: 'Recherche par prénom'
				}, {
					value: 'address',
					label: 'Recherche par ville'
				}
			],
			
			
			result_index : this.$store.getters.result_index,
			mapFoo : null,
			markerList : [],
			dataList : [],
		    markers : null,
		    mapInitialized : false,
		    heats : L.layerGroup([]),
		}
	},

	computed : {
		...mapGetters({
			'form_filter' : 'form_filter',
			'active_request' : 'active_request',
			'kpi_view': 'kpi_view',
			'contacts' : 'contacts',
			'total_hit' : 'total_hit',
			'contactsCount' : 'contactsCount',
			'locationSummaryGeoHash' : 'location_summary_geohash',
			'totalCount' : 'total_count',
			'geohash_array' : 'geohash_array'
	    }),
	},
	
	beforeDestroy : function() {
		
	},
	
	beforeMount : function() {
		
	},

	mounted : function(){
		


		this.mapFoo = L.map('mapTurf').setView([44.84009,-0.59996], 15);
		

		var drawnItems = new L.FeatureGroup();
		this.mapFoo.addLayer(drawnItems);

		var options = {
			position: 'topright',
			draw: {
					polyline:false,
					polygon: {
							allowIntersection: false,
							drawError: {
									color: '#e1e100',
									message: '<strong>Action non permise<strong>'
							},
							shapeOptions: {
									color: '#4990e2'
							}
					},
					circle: false,
					rectangle: false,
					marker: false,
					circlemarker: false,
			},
			edit: {
					featureGroup: drawnItems,
					edit : true
			}
		};

		var drawControl = new L.Control.Draw(options);
		this.mapFoo.addControl(drawControl);

		var main = this;

		main.mapFoo.on(L.Draw.Event.CREATED, function (e) {
			 var type = e.layerType,
					 layer = e.layer;

			if (Object.keys(drawnItems._layers).length < 1) {
				drawnItems.addLayer(layer);
				main.$store.commit('SET_POLYGON', main.layerToPoints(layer));
				main.generate_kpi();
				main.search();
				main.updateLocationSummaryGeoHash();

				// main.contacts.forEach(function (obj) {
				//     console.log([parseFloat(obj.address.latitude),parseFloat(obj.address.longitude)]);
				//     //  L.circle([parseFloat(obj.address.latitude),parseFloat(obj.address.longitude)], {
				//     //    color: '#000',
				//     //    fillColor: '#000',
				//     //    fillOpacity: 1,
				//     //    opacity:1,
				//     //    radius: 2
				//     // }).addTo(main.map);
				// });

			} else {
				main.$message({
					message: "Vous ne pouvez dessiner qu'un seul polygone à la fois",
					duration:5000,
					type: 'error'
				});
			}
		});

		main.mapFoo.on(L.Draw.Event.DELETED, function (e) {
			main.$store.commit('SET_POLYGON', []);
			main.generate_kpi();
			main.search();
			main.updateLocationSummaryGeoHash();
		});

		//main.updateLocationSummaryGeoHash();
		// if the map is too big, getBounds() behaves strangely
	    main.mapFoo.options.minZoom = 2;
	    main.mapFoo.on("zoom", function() {main.updateMap()});
	    main.mapFoo.on("move", function() {main.updateMap()});

	    var overlays = {
		    "Afficher mes contacts": main.heats
		};
	    L.control.layers(null,overlays,{position:'bottomleft'}).addTo(main.mapFoo);


	    //main.heats.addTo(main.mapFoo);
	    let urlMAP='http://{s}.a.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'
		        //let urlMAP='http://{s}.tile.osm.org/{z}/{x}/{y}.png'
		        //let urlMAP='http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png'
        		
    	L.tileLayer(urlMAP, {
				attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(main.mapFoo);
		
		

	},

	watch :{
		locationSummaryGeoHash : {
	      handler : function() {
	      	var main = this;
	      	main.dataList = [];
	      	if (main.geohash_array[0].Map){

		      	let map_size = main.geohash_array[0].Map.length
	            let ratio = Math.round(map_size/10)
	            //let ref_value_at_one = main.geohash_array[0].Map[ratio][2]

	            let ref_value_at_one = main.geohash_array[0].Map[0][2]
	            
			    for (let i = 0; i < main.geohash_array[0].Map.length; i++) {
			        let latitude = main.geohash_array[0].Map[i][0];
			        let longitude = main.geohash_array[0].Map[i][1];
			        let value = main.geohash_array[0].Map[i][2];
			        let valeur = value/ref_value_at_one;
			        //console.log("valeur:");console.log(valeur);
			        let data = [latitude,longitude,valeur];
			        main.dataList.push(data);
			    }

		        main.heats.eachLayer(function(layer) {
			        main.heats.removeLayer(layer);
				});

	        	// HEATMAP
				let heat = L.heatLayer(main.dataList, {
					radius: 15,
		            blur: 15, 
		            maxZoom: 18,
		            minOpacity:0.2
				})
				main.heats.addLayer(heat)
				
	        	
		        // if the map hasn't been dragged, let it be free to zoom/pan to make all markers visible
		        if (!main.mapBoundsSet) {
		           main.mapInitialized = false;
		           //main.mapFoo.fitBounds(L.featureGroup(main.markerList).getBounds());
		        }
		    }else{
		    	main.heats.eachLayer(function(layer) {
			        main.heats.removeLayer(layer);
				});
		    }
	      },
	      deep: true
	    },
	},

	methods : {
		...mapActions({
			search: 'SEARCH_CONTACT',
			generate_kpi: 'GENERATE_KPI',
			updateLocationSummaryGeoHash : 'UPDATE_LOCATION_SUMMARY_GEOHASH',
		}),
		updateMap : _.debounce(function() {
		      // if (!this.mapInitialized) {
		      //   // avoid making multiple updateAggregation and updateLocationSummary calls on initialization
		      //   this.mapInitialized = true;
		      //   console.log("this.mapInitialized:"+this.mapInitialized)
		      //   return;
		      // }
		      //store.commit("SET_NB_RESULTATS_LOCATION_SUMMARY_GEOHASH", "1");
		      //console.log(this.mapFoo.getZoom())
		      //store.commit("SET_PRECISION_GEOHASH", (this.mapFoo.getZoom()-6).toString());
		      //store.commit("SET_PRECISION_GEOHASH", "10");
		      // todo - could be issues with international date line
		      let bounds = this.mapFoo.getBounds();
		      if (bounds._northEast && bounds._southWest) {
		        // store.commit("SET_NORTHEAST_LAT", bounds._northEast.lat.toString());
		        // store.commit("SET_NORTHEAST_LNG", bounds._northEast.lng.toString());
		        // store.commit("SET_SOUTHWEST_LAT", bounds._southWest.lat.toString());
		        // store.commit("SET_SOUTHWEST_LNG", bounds._southWest.lng.toString());
		        let poly=[]
		        poly.push(bounds._northEast)
		        poly.push(bounds.getNorthWest())
		        poly.push(bounds._southWest)
		        poly.push(bounds.getSouthEast())
		        store.commit('SET_POLYGON', poly);
		      } else {
		        this.resetBoundVars();
		      }
		      
		      	this.setFilter();
				this.search();
				this.updateLocationSummaryGeoHash();
				this.generate_kpi();
		 }, 500),
		refreshMap : function(){
	      //console.log("refreshMap");
	      //console.log("this.bounds:"+this.bounds);
	      var main = this;
	      setTimeout(function () {
	        main.mapFoo.invalidateSize();
	        main.mapFoo.setView([44.84009,-0.59996], 11);
	        //L.GeoIP.centerMapOnPosition(this.mapFoo,15);
	      //   this.mapFoo.fitBounds(this.bounds, {
	      //                   padding: [20, 20],
	      //                   maxZoom: 17,
	      //                   animate: true,
	      //                   pan: {
	      //                         duration: 10
	      //                     }
	      //                 });
	      }.bind(main), 1)
	    },
		layerToPoints : function(layer){
			var coordinates = [];
					var latlngs = layer.editing.latlngs[0][0]

			latlngs.forEach(function (obj) {
				coordinates.push({"lat": obj.lat, "lng": obj.lng})
			});
			return coordinates;
		},

		layerToGeoJSON : function(layer) {

					var geojson = {};
					geojson['type'] = 'Feature';
					geojson['geometry'] = {};
					geojson['geometry']['type'] = "Polygon";

					var coordinates = [];
					var latlngs = layer.editing.latlngs[0][0]

			latlngs.forEach(function (obj) {
				coordinates.push([obj.lat, obj.lng])
			});

					geojson['geometry']['coordinates'] = [coordinates];

					return geojson;
		},

		

		
	}
}

</script>
<style>
  .leaflet-draw-toolbar a {
        background-image: url('/static/images/spritesheet-2x.png') !important;
        background-size: cover !important;
    }

 </style>
<style lang="scss">
	
	
	#mapTurf{
		    margin-top: 10px;
		    height: 330px;
		    
		    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.07);
		    border-radius: 10px;
	}
	

</style>

