@import '../shared/shared-constants.scss';
#main-container {
	#contact-list-container {
		height: 100%;
		width: 100%;
		#page-container {	
			position: relative;
			display: flex;
			height: 100%;
			width: 100%;
			#scroll-container {
				width: 72%;
				overflow-y: auto;
				height: 100%;
				.sub-header-container {
					.top-line {
						.title{
							flex-grow: 0;
							padding-right: 0;
						}
						.controls-container {
							flex-grow: 1;
							div {
								display: flex;
								justify-content: space-between;
								.new-contact-plus {
									font-size: $font-size-large;
									cursor: pointer;
								}
							}
						}
					}
				}
				.contact-loader-container {
					position: relative;

					.loader-contact {
						position: absolute;
						width: 100%;
						height: 100px;
						i {
							top: 50%;
						    left: 50%;
						    transform: translate(-50%, -50%);
						    position: absolute;
						}
					}
				}
			}
			.sidebar-general {
				width: 28%;
				overflow: auto;
				.sidebar-container {
					overflow-y: auto;
					overflow-x: hidden;
					height: 100%;
				}
			}
		}
	}
}

@media all and (max-width: 62em) {
	#main-container {
		#contact-list-container {
			#page-container {
				#scroll-container {
					width: inherit;
				}

				.sidebar-general {
					width: initial;
				}
			}
		}
	}
}