@import '../shared/shared-constants.scss';

$mail-icon-size: $spacing;
$arrow-size: $spacing;
$font-size: $font-size;
$padding: $spacing;
$border-radius: $spacing;

$padding-page: $spacing-medium-large;
$table-border-radius: $spacing;

#contact-container {
	padding: $padding-page;
	padding-bottom: 0;
	.actions {
		display: flex;
		align-items: center;
		font-size: 0.8rem;
		.left-item {
			flex-grow: 1;
			padding: 10px 0;
			a {
				display: flex;
				.webapp-icons-24px-import {
					display: flex;
					align-items: center;
					opacity: 0.5;
					font-size: 1.1rem;
					color: $grey-02;
				}	
			}
		}

		a {
			margin: 10px;
			cursor: pointer;
			display: flex;
			align-items: center;
					.action-icon {
						display: flex;
						align-items: center;
						font-size: 1.1rem;
					}
					.action-name {
						margin-left: $spacing-extra-small;
					}
			&.unavailable {
				cursor: default;
				opacity: 0.5;
				&:hover {
					color: inherit;
				}
			}
		}


	}
	
	.page-bottom {

		.table-container {
			box-shadow: 0 0 10px 3px rgba(0,0,0,0.07);
			border-radius: $table-border-radius;
			min-height: .01%;
			overflow-x: auto;
			position: relative;

			table {
				background-color: $white;
				border-radius: $spacing;
				font-size: 0.8rem;
				border-collapse:collapse;
				color: rgba(33,62,97,0.70);
				table-layout:fixed;
				width:100%;
				thead {
					z-index: $z-index-above-default;
					background-color: #f2f2f2;
					width: 100%;
					background: #FFFFFF;
					border-radius: 6px;
					width: 100%;
					position: relative;
					display: table-caption;
					height: 50px;


					tr.first-line {
						position: absolute;
   						width: 100%;
    					display: table;
    					background-color: white;
    					box-shadow: 0 1px 0 0 rgba(128,140,155,0.06), 0 3px 17px 0 rgba(128,140,155,0.20), 0 2px 11px 0 rgba(33,62,97,0.15);
					}

					tr {
						height: 50px;

						th {
							font-weight: 100;
							color: #a5a8ac;
							text-align: left;
							font-size: 0.8rem;
							color: #9FA4AB;
							&:nth-child(1){
								cursor: no-drop;
								width: 7.03%;
								input{
									pointer-events: none;
									margin: 0 auto;
    								display: flex;
    								align-items: center;
								}
							}

							&:nth-child(2), &:nth-child(3)  {
								width: 16.6%
							}

							&:nth-child(4) {
								width: 16.05%;
							}

							&:nth-child(5) {
								width: 11.72%;
							}

							&:nth-child(6) {
								width: 18.27%;
							}

							&:nth-child(7) {
								width: 13.58%;
							}


							&:last-child {
								border-top-right-radius: $table-border-radius;
							}
						}
					}
				}
					
				// Tbody
				.contacts-table-body {
						tr.individus {
							cursor: pointer;
						}
					
					// popovers (in particular email) should appear below the first row
					tr:first-child {
						td {
							.mail-content {
								.popover {
									// $spacing-small is gap between the arrow and the icon
									// 1.8 is an approx factor for the size of a div containing text that has size $font-size
									bottom: calc(-1.8 * #{$font-size} - 2 * #{$padding} - #{$spacing-small} - #{$arrow-size});

									&:before {
										border-top: none;
										border-bottom: $arrow-size solid $accent-02;
										top: calc(-1 * #{$arrow-size});
									}
								}
							}
						}
					}

						
					tr {
						background-color: #FDFDFD;
						height: 50px;

						.bold {
							font-family: $font-semibold;
							text-transform: lowercase;
							color: black;
						}

						.bold::first-letter {
							text-transform: uppercase;
						}

						td {
							white-space: nowrap;
						    overflow: hidden;
						    text-overflow: ellipsis;

						
							&:nth-child(1){
								cursor: no-drop;
								width: 7.03%;
								input{
									pointer-events: none;
									margin: 0 auto;
    								display: flex;
    								align-items: center;
								}
							}

							&:nth-child(2), &:nth-child(3)  {
								width: 16.6%
							}

							&:nth-child(4) {
								width: 16.05%;
							}

							&:nth-child(5) {
								width: 11.72%;
								overflow: inherit;
							}

							&:nth-child(6) {
								width: 18.27%;
							}

							&:nth-child(7) {
								width: 13.58%;
							}

							// mail has special formatting
							.mail-content {
								margin-left: 15px;
								text-align: left;
								position: relative;

								&.mail-present {
									width: $mail-icon-size;
									height: $mail-icon-size;
									border-radius: $mail-icon-size;

									background-color: $green-quorum;

									&:hover .popover {
										display: initial;
									}
								}

								&.no-mail:after {
									// todo - should probably be an svg
									content: "/";
									color: $red;
									font-weight: bold;
									font-size: calc(2 * $mail-icon-size);
								}

								// this is similar to page-header arrow, could make this shared
								.popover {
									display: none;


									font-size: $font-size-medium;
									color: $white;

									position: absolute;
									// $spacing-small is gap between the arrow and the icon
									bottom: calc(#{$mail-icon-size} + #{$spacing-small} + #{$arrow-size});
									right: 50%;
									transform:translateX(50%);

									background-color: $accent-02;

									box-sizing: border-box;
									padding: $padding;
									border-radius: $border-radius;
									// make sure the arrow and border-radius have some breathing room
									min-width: calc(2 * #{$border-radius} + 2 * #{$padding} + #{$arrow-size});
									// z-index: $z-index-on-top;
									// overflow: hidden;

									// for the shadow to include the arrow, a drop-shadow must be used
									// material.scss constants don't work, so manually make the the shadow to visually match
									// Note: if the third variable (y offset) is too small, the arrow will be cut off (not sure why...)
									filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, $shadow-key-umbra-opacity));
									// alternative shadow that doesn't include the arrow:
									// box-shadow: $popup-shadow;

									&:before {
										content: "";
										// size must be 0 for triangle trick
										width: 0;
										height: 0;
										// triangle is made from borders
										// border-top: $arrow-size solid transparent;
										border-left: $arrow-size solid transparent;
										border-right: $arrow-size solid transparent;
										border-top: $arrow-size solid $accent-02;;
										// position the arrow above its container and in the middle
										position: absolute;
										top: 100%;
										margin-left: calc(-1 * #{$arrow-size});
										left: 50%;
									}
								}
							}
						}
					}
				}
			}
		}

		.pages {
			position: relative;
			bottom: 0;
			width: 100%;
			box-sizing: content-box;
			padding-bottom: $padding-page;
			background-color: $background-grey;

			.el-pagination {
				display: flex;
				justify-content: center;
				padding: $spacing;
				white-space: inherit;

				.el-pager {

					li:hover {
						color: $accent-02;
					}

					li.active {
						background-color: $accent-02;
						border-color: $accent-02;
					}
				}	
			}	
		}
	}
}



@media all and (max-width: 62em) {
	#contact-container {

		div {
			.actions {
				flex-direction: column;
				align-items: left;
			}

			.page-bottom {

				.table-container {
					overflow-x:auto;

					table {
						position: relative;
						table-layout: inherit;
						thead {
							position: relative;
							display: table-header-group;
							tr.first-line {
								display: table-row;
								position: relative;
								th {
									white-space: nowrap;
								    overflow: initial;
								    text-overflow: initial;
								    padding: 0 10px;
								}
							}
						}

						.contacts-table-body {
							tr {
								white-space: nowrap;
							    overflow: hidden;
							    text-overflow: ellipsis;
								td {
									white-space: nowrap;
								    overflow: initial;
								    text-overflow: initial;
								    padding: 0 10px;


								    &:nth-child(-n+8) {


								    }
								}

							}
						}
					}
				}
			}
		}
	}
}


// @media all and (max-width: 62em) {

// 	.table-container {
// 		overflow-x: auto;
// 		box-sizing: inherit;
// 		table {
// 			border-collapse: collapse;
// 			border-spacing: 0;
// 			width: 100%;
// 			border: 1px solid #ddd;

// 			thead {
// 				position: relative !important;
// 				th {
// 					width: initial !important;
// 				}

// 			}

// 			thead {
// 				display: table-row-group;
//     			vertical-align: middle;
//     			border-color: inherit;
// 			}

// 			tbody{
// 				display: table-row-group;
//     			vertical-align: middle;
//     			border-color: inherit;

//     			tr {
// 					box-sizing: inherit;
//     			}

// 			}
// 		}
// 	}
// }