@import '../shared/shared-constants.scss';

$outer-padding: $spacing-extra-large;

.contact-details {
  font-size: $font-size;

  padding: 0 $outer-padding;

  h3 i {
    font-size: 30px;
    position:relative;
    top:7px;
    margin-right: 20px;
    color:rgba(0,0,0,0.5);
  }

  .page-title {
    font-size: $font-size-large;
    font-weight: normal
  }

  .el-row {
    margin: $spacing-large 0;

    .el-col {
      .sub-section {
        .sub-header {
          font-weight: bold;
          margin-bottom: $spacing-small;
        }
      }

      .sub-section + .sub-section {
        margin-top: $spacing-large;
      }

      .el-form-item {
        margin-bottom: 0;

        .double-input + .double-input {
          padding-left: $spacing;
        }
      }

      .el-select {
        width: 100%;
      }

      .form-select-input + .form-select-input {
        margin-top: $spacing;
      }

      .slider-container {
        // mimick the el style
        padding: 3px 10px;

        .slider-title {
          margin-bottom: -3px;
          color: #99A9BF;

          .slider-reset {
            color: #20A0FF;
            cursor: pointer;
          }
        }

        .el-slider.null-slider {
          .el-input-number {
            .el-input {
              input {
                // hide the number if the slider is null
                color: white;
              }
            }
          }
        }
      }

      .el-date-editor {
        width: 100%;        
      }
    }

    .el-col.col-left {
      padding-right: $outer-padding;
    }    

    .el-col.col-right {
      padding-left: $outer-padding;
    }
  }

  .section-title {
    font-weight: normal
  }

  .actions {
    float: right;
    margin-top: $spacing-large;

    .cancel {
      margin-right: $spacing;;
    }
  }

}
