@import "../shared/shared-constants.scss";
/* EDITION CONTACT */

#main-container{
    position: relative;
}


.loader {  
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}


.sidebar-container {
    border-left: 1px solid $grey-03;
     &.is-edited {
        box-shadow: 0 1px 6px 0 rgba(33,62,97,0.20), 0 0 1px 0 rgba(33,62,97,0.15);
    }
    .box-card-container {
        height: 100%;
        .sidebar {
            background-color: #F6F6F7;
            z-index: 10;
            height: 100%;

            // Message de l'aide
            .user-help {
                padding: 10px;
                .top {
                   width: calc(100% - 2 * 15px);
                }
            }

            .text-iput-border-container {
                padding: 20px !important;
            }

            .contact-edition {
                background-color: white;
                padding:  35px 10px;

                .actions {
                    margin-bottom: 35px;
                    button {
                        background: #FFFFFF;
                        border: none;
                        border-radius: 10px;
                        border-radius: 30px;
                        padding: 0;
                    }

                    .actions-1 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .cancel {
                            a {
                                display: flex;
                                color: $grey-02;
                                
                                &:hover {
                                  color: $grey-01;
                                }

                                .webapp-icons-24px-arrow-back {
                                    font-size: 1.5rem;
                                    line-height: 0.8;

                                }

                                .action-back {
                                    display: flex;
                                    align-items: center;
                                    font-family: $font-semibold;
                                    font-size: 0.8rem;
                                    line-height: 0.8;
                                }
                            }
                        }

                        .save {
                            button {
                                border: 1px solid $accent-01;
                                font-size: 0.8rem;
                                padding: $spacing 20px;
                                &:hover {
                                  background-color: $green-quorum;
                                  a {
                                    span {
                                      color: $white;
                                    }
                                  }
                                }
                                a {
                            
                                    span {
                                        line-height: 1.2;
                                        color: $accent-01;
                                    }
                                }
                            }
                        } 
                    }   
                } 

                .el-form {
                    .section-input-container {
                        margin-bottom: 20px;

                        .text-input-section {
                          
                            .text-input-border-container.city {
                                //height: 100%;
                            }
                            
                            .text-input-border-container.postal {
                              margin-right: $spacing;
                              margin-bottom: $spacing;
                            }

                            .text-input-border-container {
                                padding: 5px 10px;
                                width: auto;
                                .side-content-container {
                                   .icons-edit {
                                      display: flex;
                                      align-items: center;
                                      font-size: 1.4rem;
                                      color: $grey-03;
                                    }
                                }

                                .text-input-border-content {
                                    width: 100%;

                                    .text-input-border-title {
                                        font-size: 0.6rem;
                                    }

                                    .input-line-container {
                                        .text-input-border {
                                            font-size: 0.8rem;
                                            width: initial;
                                        }
                                    }
                                }
                            }
                        }

                        .adress-margin {
                            margin: 10px 0;
                        }

                        .icon-adress {
                            text-align: center;
                            color: $grey-03;
                            font-size: 1.7rem; 
                        }
                    }

                    // Reponses du contact
                    .answers-form {
                        .edit-formdata.line-form {
                          background-color: $grey-05;
                          padding: $spacing-small;
                          border-radius:  6px;
                          margin-bottom: $spacing;
                          
                          h5 {
                            margin: $spacing-small;
                            font-family: $font-semibold;
                          }
                          
                          // Checkbox overide element ui
                            .el-checkbox-group {
                                display: flex;
                                flex-direction: column;
                                label.el-checkbox {
                                    margin: 0 10px 0 0;
                                    .el-checkbox__input {
                                        .el-checkbox__inner {
                                            &:hover {
                                                border-color: $green-quorum;
                                            }

                                        }

                                    }
                                    .el-checkbox__input.is-checked {
                                        .el-checkbox__inner {
                                            background: $green-quorum;
                                            border-color: $green-quorum;
                                            &:hover {
                                                border-color: $green-quorum;
                                            }
                                        }
                                    }

                                    .el-checkbox__input.is-focus {
                                        .el-checkbox__inner {
                                            border-color: $green-quorum;
                                        }
                                    }
                                }
                                .el-checkbox + .el-checkbox {
                                    margin-left: 0;
                                }
                            }
                            
                            // radio button overide element ui
                            .el-radio {
                              display: block;
                              margin: $spacing 0 $spacing-small 0;
                              white-space: pre-wrap;
                              
                              .el-radio__input {
                                &.is-checked {
                                  .el-radio__inner {
                                    background: $green-quorum;
                                    border-color: $green-quorum;
                                    border-radius: 50%;
                                  }                              
                                }
                                
                              }
                            }
                            .el-radio + .el-radio {
                              margin-left: 0;
                            }
                            
                            .date-picker { 
                                  display: flex;
                                  width: auto;
                                  background-color: white;
                                  border: 1px solid lightgray;
                                  border-radius: 6px;
                                .select-date {
                                  width: 100%;
                                  display: flex;
                                  input {
                                    padding: 5px 10px;
                                    font-size: 0.8rem;
                                    width: 100%;
                                    border: none;
                                    border-radius: 6px;
                                    height: 45px;
                                  }
                                  .datepicker-clear-button {
                                    cursor: pointer;
                                    font-style: normal;
                                    display: flex;
                                    align-items: center;
                                    padding: $spacing;
                                    &:hover {
                                      background-color: $accent-02;
                                      border-radius: 6px;
                                      color: $white;
                                    }
                                  }
                                  .calendar {
                                    top: 55px;
                                    left: 0;
                                    width: 100%;
                                    border-radius: 6px;
                                    box-shadow: $card-shadow;
                                    margin-bottom: $spacing;
                                    
                                    // custom des cases
                                    .cell.day {
                                      // le hover de base
                                      &:hover {
                                        border-radius: 6px;
                                        border-color:  $accent-02;
                                      }
                                      // les vides sans hover
                                      &.blank {
                                        &:hover {
                                          border: none;
                                        }
                                      }
                                      // les selctionnées
                                      &.selected {
                                        background-color: $accent-02;
                                        color: $white;
                                        border-radius: 6px;
                                      }        
                                    }
                                  }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 62em) {
  .sidebar-container {
    .box-card-container {
      .sidebar {
        .contact-edition {
          .el-form {
            .section-input-container {
              .text-input-section {
                .text-input-border-container.postal {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }    
    }
  }

}