@import "../shared/shared-constants.scss";
.container-filter {
	position: relative;

	.filter {
		padding: 23px 20px;
		background-color: white;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		position: relative;
		box-shadow: 0 0 10px 3px rgba(0,0,0,0.07);
		margin: 28px 15px;
		// Titre + voir plus de filtres
		.filter-header {
			.filter-title {
				font-size: 1.3rem;
				margin: 0;
				font-weight: lighter;
			}

			.additional-filters {
				.title {
					font-size: 0.8rem;
					float: right;
					color: $accent-02;

					span {
						display: flex;
						align-items: center;
						svg {
							path {
								fill : $accent-02;
							}
						}
					}
				}

				button {
					font-weight: lighter;
					border: none;
					color: #00d19e;
					white-space: inherit;
				}

				.el-button + .el-button {
					margin: 0;
				}
			}
		}
		// Container de tous les filtres
		.filter-item-container {
			height: 100%;
			margin: $spacing-medium-large 0;

			// Barre de recherche
			.search-container {
				.search {
					position: relative;
					.svg-icon-container {
						position: absolute;
						display: flex;
						align-items: center;
						left: 19px;
						height: 100%;
						svg {
							position: relative;

							#search-icon {

							}

							path {
								fill: $grey-03;
							}
						}
					}
					.el-input__inner {
						border: 1px solid transparent;
						height: 35px;
						background-color: $grey-05;
						text-indent: 38px;
						font-family: 'proxima-nova', helvetica, sans-serif;
						&:focus {
							border: 1px solid $accent-02;
						}
					}

					.el-input__inner::placeholder {
						color: #9FA4AB;
						font-size: 0.8rem;

					}
				}
			}

			//- Container des tags entrés dans la barre de recherche
			.search-actions {
				.nb-result {
					padding: 10px;
					text-align: right;
				}
				.tags {
					.el-tag {
						// &:first-child {
						// 	margin: 0;
						// }
						margin: 10px;

					}
				}
			}

			.section-filter {
				margin-top: 0px;
				
				&.map-filter {
					#mapTurf {
						height: 280px;
					}
					.section-item {
						.filter-item {
							margin-right: 0;
							margin-left: $spacing;
						}
					}
				}

				//- Titre des sections de filtres
				h3 {
					font-size: 0.7rem;
					color: $grey-02;
					margin-top: 15px;
					margin-bottom: 0;
					font-family: $font-semibold;
				}

				hr {
					color: rgba(33,62,97,0.20);
					display: block;
					-webkit-margin-before: 0.5em;
					-webkit-margin-after: 0.5em;
					-webkit-margin-start: inherit;
					-webkit-margin-end: inherit;
					border-top-style: inherit;
					border-right-style: inherit;
					border-bottom-style: inset;
					border-left-style: inherit;
					border-top-width: 1px;
					border-right-width: 1px;
					border-bottom-width: 1px;
					border-left-width: 1px;
					margin: 5px 0px;
				}
			}



			.section-item{
				margin-top:  $spacing; 

				.filter-item {
					width: auto;
					margin-right: 32px;
					margin-top: 5px;

						.el-select {
							height: auto;
							.el-input {
								-webkit-tap-highlight-color: transparent;

								.el-input__inner {
									min-height: auto;

									&:focus {
										border: 1px solid $accent-02;
									}

								}
								.el-input__icon {
									-webkit-tap-highlight-color: transparent;
								}
							}
						}

					.mail {
						width: auto;
					}

					// Titre de chaque items
					.title-item {
						width: 90%;
						position: relative;
						
						a {
							.close-svg{
								width: 10px;
								height: 5px;
								cursor:pointer;
								z-index: 30;
							}
						}
					}

					.el-select__tags {
						overflow: auto;

						.el-tag {
							background-color: transparent;
							border: 1px solid transparent;


							.el-tag__close {
								transform: scale(0.9);
								padding: 3px;
								&:hover {
									background-color: $accent-02;
									color: white;
								}
							}

							.el-select {
								transform: scale(0.9);
								padding: $spacing-extra-small;
								-ms-transform: scale(0.9);

								.el-select__tags {
									span {
										.el-tag {
											 .el-icon-close {

											 }
										}
									}
								}
							}
						}
					}

					//- Mise en forme du datepicker 
					.datepicker {
						input {
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							background-color: #fff;
							background-image: none;
							border-radius: 4px;
							border: 1px solid #bfcbd9;
							box-sizing: border-box;
							color: #1f2d3d;
							display: inline-block;
							font-size: inherit;
							height: 36px;
							line-height: 1;
							outline: none;
							padding: 3px 10px;
							transition: border-color .2s cubic-bezier(.645,.045,.355,1);
							width: 100%;
						}

						.datepicker-clear-button {
								position: absolute;
								top: -20px;
								right: 0;
								font-size: medium;
						}
					}

					span, div {
						color: #919EAB;
						font-size: 0.7rem;
						font-family: $font-regular;
					}
				}
				// Personalisation des sections mail et genre
				.gender, .mail-container {
					.selecteur-container {
						.item {
							width: auto;

							&:first-child {
								margin-right: 8px;
							}

							input {
								width: 38px;
								height: 34px;
								opacity: 0;
								position: absolute;
								margin: 0;
							}
						}
					}

					// in DOM, requires all labels to immediately follow their corresponding input
					.switch-input + .switch-label {
						display: flex;
						width: 38px;
						height: 34px;
						border-radius: 6px;
						align-items: center;
						justify-content: center;
						border: 1px solid $grey-03;
						box-sizing: border-box;
						-moz-box-sizing: border-box;
						-webkit-box-sizing: border-box;
						cursor: pointer;

						svg {
							path {
								fill: $grey-03;
							}
						}
					}

					.switch-input:checked + .switch-label, .switch-label:hover {
						background-color: $accent-02;
						border: 1px solid #213E61;

						svg {
							path {
								fill: white;
							}
						}
					}
				}

				.multi-select {
					.title-item {
						color: #919EAB;
						font-size: 10px;
						width: 90%;
						display: flex;
						justify-content: space-between;


						a {
							border-radius: 100%;
							border: 1px solid blue;
							width: 10px;
							height: 10px;
							display: flex;
							align-items: center;
							justify-content: center;
							object {
								width: 10px;
								height: 5px;
							}
						}
					}

					select {
						height: 30px !important;
						padding: 0;
						width: 90%;
					}

					label {
						display: block;
						padding: 5px 10px;
						margin: 5px;
						font: 14px/20px Arial, sans-serif;
						border-radius: 7px;

						&:hover {
							background-color: green;
							cursor: pointer;
						}
					}

					input[type="checkbox"] {
						position: relative;
						top: 1px;
					}
				}
			}
		}
	}
}

// Stylisation de la dropdown d'element qui se situe au dessus de  .container-filter qui est le parent de la vue

body {
	.el-select-dropdown {
		border: 1px solid $accent-02;
		box-shadow: 0 1px 6px 0 rgba(33,62,97,0.20), 0 0 1px 0 rgba(33,62,97,0.15);
		border-radius: 6px 6px;

		.el-scrollbar{
			.el-select-dropdown__wrap {
				.el-scrollbar__view {
					.el-select-dropdown__item {
						color: $grey-01;
					}
					.el-select-dropdown__item.selected {
						display: flex;
						span {
							margin-left: 20px;
							color: $accent-02;
						}

						&:after {
							left: 10px;
							color: $white;
							padding: 0px;
							width: 17px;
							height: 17px;
   							border-radius: 50%;
   							background-color: $accent-02;
   							display: flex;
   							align-items: center;
   							justify-content: center;
						}
					}
				}
			}
		}
	}
}

// Media queries

@media all and (max-width: 62em) {
	.container-filter {
		.filter {
			margin-bottom: $spacing;
			.filter-header {
				.additional-filters {
					.title {
						float: left;
						padding: 10px 0px;
					}
				}
			}

			.filter-item-container {
				label {
					.el-input__inner {
						min-height: initial;
					}
				}
			}
		}
	}
}