@import '../shared/shared-constants.scss';

//-------------------------------//
//---SECTION REPONSE A L ENQUETE--//
//-------------------------------//

.additional-filters {

	.form-filters-container {

		.question-container {
			margin: 0;
			font-size: $font-size-medium;
			background-color: $grey-05;
			padding: 0 $spacing-medium-large;
			position: relative;
			border-radius: 6px;

			.close-button {
				position: relative;
				cursor: pointer;
				padding: $spacing 0 0 0;
				display: flex;
				flex-grow: 1;
				justify-content: flex-end;
				
				svg {
					float: right;
					g { 
						use {
							fill: $grey-03;
						}
					}
				}
			}

			.form-filters-option {
				display: inline-block;
				color: $grey-03;
				border: 1px solid $grey-03;
				padding: $spacing-extra-small $spacing;
				border-radius: 6px;
				cursor: pointer;
				margin: $spacing 0;
			}

			.form-filters-option-active {
				color: $accent-02;
				border: 1px solid $accent-02;
			}
		}
	}

	.add-question-container {
		text-align: center;
		margin-top: $spacing-extra-large;
		.add-question {
			color: $accent-02;
			cursor: pointer;
		}
	}

	.option-select-popover-container {
		z-index: 2100;
		.popover-content {
			width: 80%;
			height: 80%;

			.option-select-popover {
				height: 100%;
				display: flex;
				flex-direction: column;
				
				.popover-header {
					  padding: $spacing-extra-large;
					  padding-bottom: 0;
					  overflow: visible;
					  position: relative;

					  h2 {
						font-weight: normal;
						font-size: $font-size-large;
					  }
				}

				#select-container {
					padding: $spacing-extra-large;
					padding-top: 0;
					overflow: auto;
					display: flex;

					.select-option-container  {
						display: flex;
						flex-grow: 1;
						flex-direction: column;
						// padding-right: 40px;
						.select-option-content {
							
							.datepicker { 
										display: flex;
										width: auto;
										background-color: white;
										border: 1px solid lightgray;
										border-radius: 6px;
										input {
											padding: 5px 10px;
											font-size: 0.8rem;
											width: 100%;
											border: none;
											border-radius: 6px;
											height: 45px;
										}
										.datepicker-clear-button {
											cursor: pointer;
											font-style: normal;
											display: flex;
											align-items: center;
											padding: $spacing;
											&:hover {
												background-color: $accent-02;
												border-radius: 6px;
												color: $white;
											}
										}
										.calendar {
											top: 55px;
											width: 100%;
											border-radius: 6px;
											box-shadow: $card-shadow;
											margin-bottom: $spacing;
											
											// custom des cases
											.cell.day {
												// le hover de base
												&:hover {
													border-radius: 6px;
													border-color:  $accent-02;
												}
												// les vides sans hover
												&.blank {
													&:hover {
														border: none;
													}
												}
												// les selctionnées
												&.selected {
													background-color: $accent-02;
													color: $white;
													border-radius: 6px;
												}        
											}
										}
							}
							.option {
								padding: 5px;
								border-radius: 6px;
								min-height: 18px;
								display: flex;
								align-items: center;
								cursor: pointer;
								margin: 18px 0;
								padding: 15px 17px;
								box-shadow: $option-shadow;
								box-sizing: border-box;
								// so that the option doesn't expand when selected
								border: 1px solid transparent;
							}

							.option.invalid {
								input {
									color: red;
								}
							}

							// Add to the active option
							.option-active{
								color: $accent-02;
								border: 1px solid $accent-02;
							}
						}
					}
					.select-option-container + .select-option-container {
						padding-left: 40px;
					}
				}
			
				.buttons-container {
					$font-size-controls: $font-size-medium;
					overflow: hidden;
					font-size: $font-size-controls;
					padding: $spacing-extra-large;
					display: flex;

					.buttons-filler {
						flex-grow: 1;
					}

					.button {
						color: $subtle-transparent;
						font-size: $font-size-medium;
						cursor: pointer;
					}
					
					.button + .button {
						margin-left: $spacing-large;
					}

					.button-secondary {
						margin-top: auto;
						margin-bottom: auto;
						box-sizing: border-box;
					  height: calc(2 * 10px + 1.5 * 13pt);
					  padding: 10px calc(calc(2 * 10px + 1.5 * 13pt) / 2);
					  border-radius: calc(2 * 10px + 1.5 * 13pt);
					}

					.button.button-primary {
						$padding-height: $spacing;
						// the text takes roughly 1.5 times its height
						$height: calc(2 * #{$padding-height} + 1.5 * #{$font-size-controls});
						box-sizing: border-box;
						height: $height;
						padding: $padding-height calc(#{$height} / 2);
						color: $green-quorum;
						border: $border-size solid $green-quorum;
						border-radius: $height;
					}

					.button-primary.inactive {
						$inactive-color: $subtle-transparent;
						color: $inactive-color;
						border-color: $inactive-color;
						cursor: default;
					}
				}
			}
		}
	}
}


@media all and (max-width: 62em) {
	.additional-filters {
		.form-filters-container {
			.question-container  {
				padding: $spacing;
			}
		}
		
		.option-select-popover-container {
			.popover-content {
				.option-select-popover {
					#select-container {
						display: block;
						.select-option-container + .select-option-container {
							padding: 0;
						}
					}
					.buttons-container {
						padding: 50px 0px;
						display: flex;
						justify-content: center;
						
						.buttons-filler {
							display: none;
						}
						.button {
							padding: 0;
							display: flex;
							align-items: center;
						}
						.button + .button {
							margin-left: $spacing;
						}
					}
				}
			}
		}
	}
}