
@import "../shared/shared-constants.scss";

.contact-help {
	padding: 10px;
	.top {
		width: 100%;
		img {
			width: 100%;
		}
	}

	.content {
		.bloc-help {
			padding: $spacing;
			background-color: $white;
			margin: 10px 0;
			border-radius: 6px;
			box-shadow: 0 1px 6px 0 rgba(33,62,97,0.20), 0 0 1px 0 rgba(33,62,97,0.15);

			.bloc-content {
				padding: 15px;
				font-size: 0.9rem;

				h4 {
					margin: 0;
				}
				ul {
					padding-left: 10px;
					color: $grey-02;
					li {
						font-size: 0.8rem;
					}
				}

				p {
					padding-left: 10px;
					color: $grey-02;
					font-size: 0.8rem;
				}


			}
		}
	}
}