@import "../form/form-common.scss";

.auto-send-container {
  .questions {
    .question {
      background-color: $background-grey;
      position: relative;
      
      padding: $spacing $spacing-extra-large;
      margin-bottom: $spacing-extra-large;

      box-shadow: $card-shadow;

      .question-header-container {
        display: flex;

        .minimize-container {
          width: $icon-allow-width;
          display: flex;
        }

        .question-title {
          flex-grow: 1;
          margin: $spacing-small 0;
          position: relative;
          font-size: $title-size;
        }
      }

      .question-body-container {
        .option {
          margin: $spacing 0;
          padding: $spacing;
          position: relative;
          display: flex;
          font-size: $font-size;
          cursor: pointer;

          box-shadow: $card-shadow;

          .option-icon {
            margin: auto $icon-spacing; 
            background-color: $background-grey;
          }

          .option-text-container {
            flex-grow: 1;

            .option-text {
              margin: auto $spacing-small;
            }

            .option-label {
              float: left;
            }
          }
        }

        // margin only between elements
        .option + .option {
          margin-top: $spacing-large;
        }

        .option:hover {
          color: $white;
          background-color: $button-blue;
          box-shadow: $header-shadow;
        }
      }

      .question-body-container.minimized {
        display: none;
      }
    }

    .add-auto-send {
      border: $border-size solid $transparent;
      color: $inactive-transparent;
      background-color: $background-grey;
      
      padding: $spacing 0;
      text-align: center;
      cursor: pointer;

      box-shadow: $card-shadow;
        
      .add-auto-send-text {
        margin: 0 auto;
        padding: $spacing-large 0;
        width: 100%;
      }
    }

    .add-auto-send:hover {
      border: $border-size solid $opaque-transparent;
      color: $opaque-transparent;
    }
  }
}