@import "../form/form-common.scss";

.editor-container {
  .card {
    background-color: $background-grey;
    position: relative;
    
    padding: $spacing-large $spacing-extra-large;
    padding-top: $spacing;
    margin-bottom: $spacing-extra-large;

    box-shadow: $card-shadow;

    .subject-container {
      // margin: $spacing-small 0;
      position: relative;

      input.subject-input {
        padding: 0;

        width: 100%;
        font-size: $title-size;
        border: none;
        background-color: $transparent;
        outline: none;
      }

      .input-border {
        border: $border-size solid $inactive-transparent;
        
        position: absolute;
        bottom: 0;
        width: 100%; /* to account for the border */
      }
    }

    .object {
      margin-top: $spacing;
      width: 100%;
      border: 1px solid $inactive-transparent;
      height: 0;
      resize: none;
      box-shadow: $card-shadow;
      display: inline-block;
      background-color: $white;

      overflow: auto;
      overflow-x: hidden;

      padding: $spacing-extra-small;

      white-space: pre-wrap;
    }

    [contenteditable=true].object:empty:before{
      content: attr(placeholder);
      display: block;
      color: $semi-transparent;
    }

    .object:focus {
      border: $border-size solid black;
      outline: 0;
    }

    .advanced-options {
      box-shadow: $card-shadow;
      margin-top: $spacing;
      font-size: $font-size-small;
      padding: $spacing-small 0;

      .advanced-options-header {
        display: flex;
      
        .minimize-container {
          width: $icon-allow-width; /* same as padding for section plus some for spacing... */
          display: flex;

          i.minimize {
            margin: auto;
            cursor: pointer;
          }

          i.minimize:hover {
            color: $button-blue;
          }

          i.minimize.minimized:hover {
            color: $white;
          }
        }
      }

      .advanced-options-body {
        margin: 0 $icon-allow-width;

        .advanced-option-section {
          margin: $spacing 0;

          .advanced-options-text {
            margin-top: $spacing;
            margin-bottom: $spacing-small;
            border-bottom: $border-size solid black;
          }

          .variables-container {
            overflow: hidden;
            margin: $spacing 0;

            .variable-container {
              white-space: nowrap;
              margin-right: $spacing-large;
              float: left;
            }
          }
        }

        .gender-replace-container {
          overflow: hidden;

          table {
            border-spacing: 0;
            border-collapse: collapse;
            background-color: $transparent;

            tr.gender-replace-input-container {
              margin-top: $spacing-small;

              td, th {
                padding: 0;

                input.gender-replace-input {
                  margin: auto $spacing-small;
                  background-color: $transparent;
                  outline: none;
                  border: none;
                  border-bottom: $border-size solid $transparent;
                }

                input.gender-replace-input:hover {
                  border-bottom: $border-size solid $semi-transparent;
                }

                input.gender-replace-input:focus {
                  border-bottom: $border-size solid black;
                }
              }
            }
          }
        }

        .variable {
          float: left;
          margin-right: $spacing-small;
        }
      }
    }

    .advanced-options.minimized:hover {
      background-color: $button-blue;
      color: $white;
      cursor: pointer;
    }
  }
}

.variable {
  font-weight: bold;
}

.variable.ok {
  color: $green;
}

.variable.bad {
  color: $red;
}