@import "../form/form-common.scss";

.view-container {
  .card {
    background-color: $background-grey;
    position: relative;
    
    padding: $spacing-large $spacing-extra-large;
    padding-top: $spacing;
    margin-bottom: $spacing-extra-large;

    box-shadow: $card-shadow;

    .subject-text {
      width: 100%;
      font-size: $title-size;
      border: none;
      background-color: $transparent;
      outline: none;
    }

    .object {
      margin-top: $spacing-small;
      width: 100%;
      border: 1px solid $inactive-transparent;
      height: 0;
      background-color: $white;
      box-shadow: $card-shadow;
      display: block;
    }
  }
}
