@import "../form/form-common.scss";

.header {
  .header-text-container {
    font-size: $font-size;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      pointer-events: none;
      text-align: center;
  }
}

.popover-container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: $z-index-above-sortable;

  /* For the popover, add a shadow over the rest of the content*/
  background-color: $semi-transparent;

  .popover-box {
    margin: auto;
    padding: $spacing-extra-large;
    background-color: $white;
    min-width: 40%;

    .popover-message-container {
      text-align: center;
    }
    
    .popover-buttons-container {
      overflow: hidden;
      margin-top: $spacing-medium-large;

      /* layout: 20% space, 25% button, 10% space, 25% button, 20% space = 100% width */
      .popover-button {
        float: left;
        text-align: center;
        width: 25%;

        border: $border-size solid $button-blue;
        color: $button-blue;
      }
        
      .popover-button.button:hover {
        background-color: $button-blue;
        color: $white;
      }

      .popover-button-left {
        margin-left: 20%;
      }

      .popover-button-right {
        margin-left: 10%;
      }
    }
  }
}

.content-wrapper {
  max-width: 700px;
  margin: $spacing-large auto;

  /* TODO - 70px is just a rought guess of header height - should be dynamic or better css */
  /* With the box-shadow, just putting it below isn't enough, add $spacing */
  margin-top: calc(70px - 20px + #{$spacing-large}); /* TODO: temporary take away 20px that is nav margin-bottom */
}