<template lang="jade">
.dashboard-wrapper.pure-u-md-24-24
  //- l'appparition du menu se fait sur le hover de .desactive en responsive
  page-header.no-print
  .page-content.container-fluid
    nav-bar.no-print
    #main-container.pure-u-md-24-24
      router-view

</template>

<script>
import $ from "jquery"
import  { mapActions,  mapGetters  } from 'vuex'
import store from '../../store/stateStore.js'

var session_store = require('../../models/session_store.js');
var _ = require('lodash');

export default {
  name: 'dashboard',
  store: store,

  components : {
    'page-header' : require('./page-header.vue'),
    'nav-bar'     : require('./nav-bar.vue'),
  },

  data: function () {
    return {
      contacts : false,
      userConnected : store.getters.userConnected
    }
  },

  beforeDestroy : function() {
    this.$store.commit('RESET_FILTERS');
  },

  mounted : function () {
    this.get_globalData();

    this.$nextTick(function () {
      this.watchUrl()
    })

  },

  computed : {
    ...mapGetters({
      'info_campagne' : 'info_campagne'
    })
  },

  methods : {
    ...mapActions({
      get_globalData: 'GLOBAL_DATA'
    }),

    watchUrl :function () {
        var path = this.$route.path
        if (path.indexOf("contacts") >= 0) {
          this.contacts = true;
        } else {
          this.contacts = false;
        }

    }
  }

}
</script>

<style lang="scss">
  @import '../../assets/scss/structure/dashboard.scss';
  @import '../../assets/scss/shared/shared-print.scss';
</style>
