<template lang="jade">
#mySidenav.sidenav 
  //- Est ce que l'on peut rajouter une classe pour la fermeture du menu uniquement ?
  //- ajouter .menu-close à la place de .menu-visible sur .contain-nav-hamburger permetrait d'avoir une anim de fermeture 
  div.contain-nav-hamburger(v-bind:class="{ 'menu-visible' : menu_visible }")
    .menu-responsive
      #content-nav
        .return-button-container
          .button-container(v-on:click="returnClick()")
            .svg-icon.back-arrow 
              svg(width='12px', height='9px', preserveAspectRatio="xMinYMax meet",  viewbox='0 0 12 9', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                defs
                  path#arrow-nav(d='M11.293,18.3248333 L6.293,12.4915 C5.902,12.0353333 5.902,11.298 6.293,10.8418333 C6.684,10.3856667 7.316,10.3856667 7.707,10.8418333 L12,15.8503333 L16.293,10.8418333 C16.684,10.3856667 17.316,10.3856667 17.707,10.8418333 C18.098,11.298 18.098,12.0353333 17.707,12.4915 L12.707,18.3248333 C12.512,18.5523333 12.256,18.6666667 12,18.6666667 C11.744,18.6666667 11.488,18.5523333 11.293,18.3248333 Z')
                g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g(id='Icons-/-Action-/-Arrow-Down-Copy', transform='translate(-6.000000, -10.000000)').t
                    mask#mask-2(fill='white')
                      use(xlink:href='#arrow-nav')
                    use(id='icons-/-24px-/-arrow-down', fill='#FFFFFF', xlink:href='#arrow-nav')
            .return-text Retour
          .barrier
        router-link.profile-info-container.menu-item(:to="{ name : 'profile' }")
          .bubble-profile
            .user-dropdown.dropdown-container
              .user-dropdown-bubble.dropdown-bubble(v-bind:class="getClassFromUser(userConnected)")
                .user-text.dropdown-text {{ userInitials }}
          .name-mail-user
              .user-name {{ userConnected.firstname }} {{ userConnected.surname }}
              .user-email {{ userConnected.mail }}
        .new-button-container
          .new-text.dropdown-text
            .text
              | Nouveau
            .svg-icon.dropdown-arrow.black
              svg(width='12px', height='9px', preserveAspectRatio="xMinYMax meet",  viewbox='0 0 12 9', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                defs
                  path#arrow-nav(d='M11.293,18.3248333 L6.293,12.4915 C5.902,12.0353333 5.902,11.298 6.293,10.8418333 C6.684,10.3856667 7.316,10.3856667 7.707,10.8418333 L12,15.8503333 L16.293,10.8418333 C16.684,10.3856667 17.316,10.3856667 17.707,10.8418333 C18.098,11.298 18.098,12.0353333 17.707,12.4915 L12.707,18.3248333 C12.512,18.5523333 12.256,18.6666667 12,18.6666667 C11.744,18.6666667 11.488,18.5523333 11.293,18.3248333 Z')
                g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                  g(id='Icons-/-Action-/-Arrow-Down-Copy', transform='translate(-6.000000, -10.000000)').t
                    mask#mask-2(fill='white')
                      use(xlink:href='#arrow-nav')
                    use(id='icons-/-24px-/-arrow-down', fill='#FFFFFF', xlink:href='#arrow-nav')
        div.nav-top
          h3.item.barrier Quartier Général
          router-link.menu-item(:to="{name : 'home'}")
            .item
              .svg-container.webapp-icons-24px-house
              .name-item
                | Accueil
          router-link.menu-item(:to="{name : 'users-list'}")
            .item
              .svg-container.webapp-icons-24px-community
              .name-item
                | Équipe
          a(href='#')
            .item.soon-container
              .svg-container.webapp-icons-24px-notification
              .name-item
                | Notifier l'équipe
              .soon-button
                | soon
          router-link.menu-item(:to="{name : 'guide'}")
            .item
              .svg-container.webapp-icons-24px-compass
              .name-item
                | Éléments de langage
          h3 Analyser
          router-link.menu-item(:to="{name : 'mobilisation'}")
            .item
              .svg-container.webapp-icons-24px-analytics
              .name-item
                | Analytics
          router-link.menu-item(:to="{name : 'carto_insee_test_API'}")
            .item
              .svg-container.webapp-icons-24px-map
              .name-item
                | Cartes
          router-link.menu-item(:to="{name : 'contacts-list'}")
            .item
              .svg-container.webapp-icons-24px-team
              .name-item
                | Communauté / Contacts
          // a(href="#")
          //   .item.soon-container
          //     .svg-container.webapp-icons-24px-resolution
          //     .name-item Centre de resolution
          //     .soon-button
          //       | soon
          h3 Mobiliser
          router-link.menu-item(:to="{name : 'form-builder'}")
            .item
              .svg-container.webapp-icons-24px-list
              .name-item
                | Questionnaire
          a(href='#')
              .item.soon-container
                .svg-container.webapp-icons-24px-action
                .name-item
                  | Actions de terrain
                .soon-button
                  | soon
          a(href='#')
              .item.soon-container
                .svg-container.webapp-icons-24px-communication
                .name-item
                  | Actions de communication
                .soon-button
                  | soon
        div.nav-bottom
          h3 Outils
          router-link.menu-item(:to="{name : 'campaign'}")
            .item
              .svg-container.webapp-icons-24px-settings
              .name-item
                | Paramétrer ma campagne
          a(href="#")
            .item.soon-container
              .svg-container.webapp-icons-24px-lifebuoy
              .name-item
                | Ressources d'aide & astuces secrètes
              .soon-button
                | soon
          a(href="mailto:team@quorum.co")
            .item.soon-container
              .svg-container.webapp-icons-24px-suggestions
              .name-item
                | Mes suggestions
              .soon-button
                | soon
      #subnav
        a(href="#" class="link-subnav-desactive")
          .svg-icon
            svg(width='12px', height='9px', preserveAspectRatio="xMinYMax meet",  viewbox='0 0 12 9', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
              defs
                path#arrow-nav(d='M11.293,18.3248333 L6.293,12.4915 C5.902,12.0353333 5.902,11.298 6.293,10.8418333 C6.684,10.3856667 7.316,10.3856667 7.707,10.8418333 L12,15.8503333 L16.293,10.8418333 C16.684,10.3856667 17.316,10.3856667 17.707,10.8418333 C18.098,11.298 18.098,12.0353333 17.707,12.4915 L12.707,18.3248333 C12.512,18.5523333 12.256,18.6666667 12,18.6666667 C11.744,18.6666667 11.488,18.5523333 11.293,18.3248333 Z')
              g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g(id='Icons-/-Action-/-Arrow-Down-Copy', transform='translate(-6.000000, -10.000000)').t
                  mask#mask-2(fill='white')
                    use(xlink:href='#arrow-nav')
                  use(id='icons-/-24px-/-arrow-down', fill='#FFFFFF', xlink:href='#arrow-nav')
          span Retour
        .item-subnav.menu-item(v-on:click="newContactClick()") Contact
        .item-subnav.menu-item(v-on:click="newUserClick()" ) Inviter un membre de l'équipe
        .item-subnav.inactive Envoyer une notification
        .item-subnav.inactive Nouvelle action de terrain
  .overlay
</template>

<script>
import $ from "jquery"
import { mapGetters  } from 'vuex'
import { userIconColor } from '../mixins/user-icon-color-mixin.js';
import store from '../../store/stateStore.js'

var session_store = require('../../models/session_store.js');

export default {
  name : 'nav-bar',
  store: store,
  mixins : [ userIconColor ],

  data : function() {
    return {
    }
  },

  computed : {
    ...mapGetters({
      'menu_visible' : 'menu_visible',
      'userConnected' : 'userConnected',
    }),

    userInitials : function() {
      if (this.userConnected&&this.userConnected.id) {
        return this.userConnected.firstname.substring(0,1).toUpperCase() + this.userConnected.surname.substring(0,1).toUpperCase()
      } else {
        return "";
      }
    }
  },

  mounted : function() {
    let vueComponent = this;
    // add listener for esc key to throw closePopoverEvent
    $(document).click(function(event) {
      // close if the event has not come from the nav-bar (clicking the hamburger icon will close it itself) or the menu toggle
      // (it will control the menu visibility itself)
      // or close if the event has come from a menu-item
      if ((!$(event.target).closest('#mySidenav').length && !$(event.target).closest('.quorum-logo-menu').length) ||
          $(event.target).closest('.menu-item').length) {
        vueComponent.$store.commit("SET_MENU_VISIBLE", false);
      }
    });

    $('.new-button-container').click( function() {
    $("#content").toggleClass("subnav-active ").removeClass('subnav-desactive');
} );

        $('.link-subnav-desactive').click( function() {
    $("#content").toggleClass("subnav-desactive").removeClass('subnav-active');
} );
  },



  methods : {
    returnClick : function() {
      this.$store.commit("SET_MENU_VISIBLE", false);
    },

    newContactClick : function() {
      this.$router.push({name: 'new_contact'});
    },

    // for now, open the user page and mimick a "plus" click
    newUserClick : function() {
      this.$store.commit("SET_NEW_USER", true);
      this.$router.push({name: 'users-list'});
    },
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/structure/nav-bar.scss';
</style>
