<template lang="jade">
.page-header(v-bind:class="{ 'is-edited' : isEdited }")
  .header-container
    .quorum-logo
      .quorum-logo-img
        img(src="../../../static/images/q-green.png")
      .quorum-logo-menu(v-on:click="logoMenuClick()")
        //- IMPORTANT - when replacing this svg, add the class ".menu-line" to any lines making up the menu part of the image, so that the lines' 
            colours can be changed with css
        svg(width='50px', height='30px', viewbox='0 0 50 30', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          // Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch
          title Logo / Q + Menu
          desc Created with Sketch.
          defs
            path#path-1(d='M48.7859167,21 C49.4574167,21 50,20.553 50,20 C50,19.447 49.4574167,19 48.7859167,19 L34.2140833,19 C33.544,19 33,19.447 33,20 C33,20.553 33.544,21 34.2140833,21 L48.7859167,21 Z')
          g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g(id='Logo-/-Q-+-Menu')
              g#Logo-
                path#Fill-1(d='M27.4898157,23.3147338 C28.2960865,22.1000021 28.9141032,20.78888 29.3438659,19.380835 C29.774161,17.97279 29.9890423,16.5093604 29.9890423,14.9082684 C29.9890423,12.837473 29.6194571,10.8982158 28.880553,9.08996438 C28.1413826,7.28144665 27.1069169,5.7077806 25.7768895,4.36896624 C25.581446,4.17219142 25.3790795,3.98340475 25.1729851,3.79861215 L20.7589983,8.15481799 C22.5600605,9.83978563 23.6981059,12.3057283 23.6981059,15.0555167 C23.6981059,20.1327864 19.8235857,24.2488151 15.044274,24.2488151 C12.2271189,24.2488151 9.72549581,22.8178708 8.14517297,20.6038211 L3.66408568,25.0265949 C3.84142266,25.2262987 4.02302,25.4228073 4.21207294,25.6131916 C5.54236661,26.9522722 7.12109182,28.0149628 8.94824857,28.8017958 C10.7756716,29.5886288 12.7775026,29.9821785 14.9540079,29.9821785 C14.9843629,29.9821785 15.0144516,29.9821785 15.0445403,29.9819122 L15.044274,29.9821785 L29.9554921,29.9821785 L29.9554921,23.9641706 L26.8451717,23.9641706 L27.4898157,23.3147338 Z', fill='#00D19C')
                path#Fill-4(d='M6.39052201,15.0556232 C6.39052201,9.97861972 10.2650423,5.862591 15.0443539,5.862591 C17.2352379,5.862591 19.2344062,6.72903928 20.7588119,8.1549245 L25.173065,3.79871866 C23.9759072,2.72537723 22.5995486,1.85147335 21.0407937,1.18020226 C19.2133707,0.393369242 17.2115397,8.58658936e-05 15.0347681,8.58658936e-05 C12.8582628,8.58658936e-05 10.8495088,0.393369242 9.00877214,1.18020226 C7.16803553,1.96703529 5.58265352,3.04383825 4.25235986,4.41034487 C2.92233246,5.7768515 1.88094365,7.36436367 1.12872595,9.17261513 C0.376241984,10.9808666 0,12.92039 0,15.0737297 C0,17.1445251 0.36958519,19.0840485 1.1084893,20.8923 C1.74221606,22.4433329 2.59535075,23.8204904 3.66416556,25.0264352 L8.14525285,20.6039277 C7.04448543,19.0619479 6.39052201,17.1402647 6.39052201,15.0556232', fill='#48E2B1')
              path.menu-line(d='M48.7859167,7 C49.4574167,7 50,6.553 50,6 C50,5.447 49.4574167,5 48.7859167,5 L34.2140833,5 C33.544,5 33,5.447 33,6 C33,6.553 33.544,7 34.2140833,7 L48.7859167,7 Z', id='icons-/-24px-/-less', fill='#212121')
              path.menu-line(d='M44.92875,13 C45.52125,13 46,12.553 46,12 C46,11.447 45.52125,11 44.92875,11 L37.07125,11 C36.48,11 36,11.447 36,12 C36,12.553 36.48,13 37.07125,13 L44.92875,13 Z', id='icons-/-24px-/-less-copy', fill='#212121')
              mask#mask-2(fill='white')
                use(xlink:href='#path-1')
              use.menu-line(id='icons-/-24px-/-less-copy-2', fill='#212121', xlink:href='#path-1')
    .barrier
    .campaign
      router-link(:to="{name : 'home'}" ) {{ info_campagne.name }}
    #new-dropdown-clickable.new-dropdown.dropdown-container(v-on:click="newDropdownClick($event)")
      //- Ajouter un v-bind lorsque le new dropdwon est coché ajouter classe .active à la div .new-dropdown-bubble
      //- Elle ajoute un background plus foncé au bouton
      .new-dropdown-bubble.dropdown-bubble
        .new-text.dropdown-text
          .text
            | Nouveau
          .svg-icon.dropdown-arrow.black(v-bind:class="newDropdownSelected ? 'dropwdown-arrow-up' : 'dropwdown-arrow-down'")
            svg(width='12px', height='9px', preserveAspectRatio="xMinYMax meet",  viewbox='0 0 12 9', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
              defs
                path#arrow-nav(d='M11.293,18.3248333 L6.293,12.4915 C5.902,12.0353333 5.902,11.298 6.293,10.8418333 C6.684,10.3856667 7.316,10.3856667 7.707,10.8418333 L12,15.8503333 L16.293,10.8418333 C16.684,10.3856667 17.316,10.3856667 17.707,10.8418333 C18.098,11.298 18.098,12.0353333 17.707,12.4915 L12.707,18.3248333 C12.512,18.5523333 12.256,18.6666667 12,18.6666667 C11.744,18.6666667 11.488,18.5523333 11.293,18.3248333 Z')
              g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g(id='Icons-/-Action-/-Arrow-Down-Copy', transform='translate(-6.000000, -10.000000)').t
                  mask#mask-2(fill='white')
                    use(xlink:href='#arrow-nav')
                  use(id='icons-/-24px-/-arrow-down', fill='#FFFFFF', xlink:href='#arrow-nav')
          //-i.dropdown-arrow(v-bind:class="newDropdownSelected ? 'dropwdown-arrow-up' : 'dropwdown-arrow-down'")
      .new-dropdown-popup.dropdown-popup(key="new-dropdown" v-if="newDropdownSelected")
        .dropdown-popup-container
          .dropdown-option-container.new-contact-option(v-on:click="newContactClick()")
            .dropdown-option-icon
              img(src="../../../static/images/header/add-contact.png").option-icon
              //-svg(width='20px', height='19px', viewbox='0 0 20 19', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
                  desc Created with Sketch.
                  defs
                  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#app(transform='translate(-22.000000, -148.000000)', stroke-width='2', stroke='#919EAB')
                      g#sidebar
                        g#section(transform='translate(22.000000, 92.000000)')
                          g#item(transform='translate(0.000000, 56.000000)')
                            g#Group-2
                              path#icon(d='M2.86637409,14.1841184 C2.82477544,14.196598 2.78375317,14.2109239 2.74342919,14.2270535 C1.99328613,14.5271107 1.62841947,15.3784663 1.92847669,16.1286093 C2.38057889,17.2588648 3.47525996,18 4.6925824,18 L15.3074176,18 C16.52474,18 17.6194211,17.2588648 18.0715233,16.1286093 C18.0876529,16.0882853 18.1019788,16.0472631 18.1144584,16.0056644 C18.346615,15.231809 17.9074814,14.4162751 17.1336259,14.1841184 L14.7126521,13.4578263 C11.6385612,12.535599 8.36143885,12.535599 5.28734789,13.4578263 L2.86637409,14.1841184 Z')
                              circle#icon(cx='10', cy='5', r='4')
            .dropdown-option-text Nouveau contact
          .dropdown-option-container.invite-member-option(v-on:click="newUserClick()" )
            .dropdown-option-icon
              img(src="../../../static/images/header/add-team.png").option-icon.soon
              //-svg(width='20px', height='19px', viewbox='0 0 20 19', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
                  desc Created with Sketch.
                  defs
                  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#app(transform='translate(-22.000000, -148.000000)', stroke-width='2', stroke='#919EAB')
                      g#sidebar
                        g#section(transform='translate(22.000000, 92.000000)')
                          g#item(transform='translate(0.000000, 56.000000)')
                            g#Group-2
                              path#icon(d='M2.86637409,14.1841184 C2.82477544,14.196598 2.78375317,14.2109239 2.74342919,14.2270535 C1.99328613,14.5271107 1.62841947,15.3784663 1.92847669,16.1286093 C2.38057889,17.2588648 3.47525996,18 4.6925824,18 L15.3074176,18 C16.52474,18 17.6194211,17.2588648 18.0715233,16.1286093 C18.0876529,16.0882853 18.1019788,16.0472631 18.1144584,16.0056644 C18.346615,15.231809 17.9074814,14.4162751 17.1336259,14.1841184 L14.7126521,13.4578263 C11.6385612,12.535599 8.36143885,12.535599 5.28734789,13.4578263 L2.86637409,14.1841184 Z')
                              circle#icon(cx='10', cy='5', r='4')
            .dropdown-option-text Inviter membre équipe
          .dropdown-popup-barrier
          .dropdown-option-container.send-notification-option.soon
            .dropdown-option-icon
              .webapp-icons-24px-send-notification.option-icon
              //-svg(width='20px', height='19px', viewbox='0 0 20 19', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
                  desc Created with Sketch.
                  defs
                  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#app(transform='translate(-22.000000, -148.000000)', stroke-width='2', stroke='#919EAB')
                      g#sidebar
                        g#section(transform='translate(22.000000, 92.000000)')
                          g#item(transform='translate(0.000000, 56.000000)')
                            g#Group-2
                              path#icon(d='M2.86637409,14.1841184 C2.82477544,14.196598 2.78375317,14.2109239 2.74342919,14.2270535 C1.99328613,14.5271107 1.62841947,15.3784663 1.92847669,16.1286093 C2.38057889,17.2588648 3.47525996,18 4.6925824,18 L15.3074176,18 C16.52474,18 17.6194211,17.2588648 18.0715233,16.1286093 C18.0876529,16.0882853 18.1019788,16.0472631 18.1144584,16.0056644 C18.346615,15.231809 17.9074814,14.4162751 17.1336259,14.1841184 L14.7126521,13.4578263 C11.6385612,12.535599 8.36143885,12.535599 5.28734789,13.4578263 L2.86637409,14.1841184 Z')
                              circle#icon(cx='10', cy='5', r='4')
            .dropdown-option-text Envoyer une notification
          .dropdown-option-container.new-terrain-action-option.soon
            .dropdown-option-icon
              .webapp-icons-24px-add-action-1.option-icon
            .dropdown-option-text Nouvelle action de terrain
    .barrier.barrier-responsive
    #user-dropdown-clickable.user-dropdown.dropdown-container(v-on:click="userDropdownClick($event)")
      .user-dropdown-bubble.dropdown-bubble(v-bind:class="getClassFromUser(userConnected)")
        .user-text.dropdown-text {{ userInitials }}
      .svg-icon.dropdown-arrow.black.user-dropdown-arrow(v-bind:class="userDropdownSelected ? 'dropwdown-arrow-up' : 'dropwdown-arrow-down'")
        svg(width='12px', height='7px', viewbox='0 0 12 7', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          // Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch
          desc Created with Sketch.
          defs
            path#arrow-init(d='M11.293,15.707 L6.293,10.707 C5.902,10.316 5.902,9.684 6.293,9.293 C6.684,8.902 7.316,8.902 7.707,9.293 L12,13.586 L16.293,9.293 C16.684,8.902 17.316,8.902 17.707,9.293 C18.098,9.684 18.098,10.316 17.707,10.707 L12.707,15.707 C12.512,15.902 12.256,16 12,16 C11.744,16 11.488,15.902 11.293,15.707 Z')
          g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g(id='Icons-/-Action-/-Arrow-Down', transform='translate(-6.000000, -9.000000)')
              mask#mask-2(fill='white')
                use(xlink:href='#arrow-init')
              use(id='icons-/-24px-/-arrow-down', fill='#BCC5CF', xlink:href='#arrow-init')
      .user-dropdown-popup.dropdown-popup(key="user-dropdown" v-if="userDropdownSelected")
        .dropdown-popup-container
          .dropdown-option-container.user-info-option
            .user-icon(v-bind:class="getClassFromUser(userConnected)")
              .user-icon-text {{ userInitials }}
            .dropdown-option-text 
              .user-name {{ userConnected.firstname }} {{ userConnected.surname }}
              .user-email {{ userConnected.mail }}
          .dropdown-popup-barrier
          .dropdown-option-container.profile-option
            //- router-link.dropdown-option-text(:to="{name : 'profile'}" ) Profil
            router-link.dropdown-option-text(:to="{ name : 'profile' }") Profil
          .dropdown-option-container.logout-option(v-on:click="logOut()")
            .dropdown-option-text Se déconnecter

</template>

<script>
import $ from "jquery"
import { mapGetters  } from 'vuex'
import { userIconColor } from '../mixins/user-icon-color-mixin.js';
import store from '../../store/stateStore.js'

var session_store = require('../../models/session_store.js');

export default {
  name: 'page-header',
  store: store,

  mixins : [ userIconColor ],

  data : function() {
    return {
      newDropdownSelected : false,
      userDropdownSelected : false,
    }
  },

  computed : {
    ...mapGetters({
      'info_campagne' : 'info_campagne',
      'userConnected' : 'userConnected',
      'isEdited'      : 'is_edited',
    }),

    userInitials : function() {
      if (this.userConnected&&this.userConnected.id) {
        return this.userConnected.firstname.substring(0,1).toUpperCase() + this.userConnected.surname.substring(0,1).toUpperCase()
      } else {
        return "";
      }
    }
  },

  mounted : function() {
    let vueComponent = this;
    $(document).click(function(event) {
      if (!$(event.target).closest('#new-dropdown-clickable').length) {
        vueComponent.newDropdownSelected = false;
      }
      if (!$(event.target).closest('#user-dropdown-clickable').length) {
        vueComponent.userDropdownSelected = false;
      }
    });
  },

  methods : {
    logoMenuClick : function() {
      this.$store.commit("TOGGLE_MENU_VISIBLE");
    },

    newDropdownClick : function(event) {
      this.newDropdownSelected = !this.newDropdownSelected;
    },

    userDropdownClick : function(event) {
      this.userDropdownSelected = !this.userDropdownSelected;
    },

    // for now, open the contacts page and mimick a "plus" click
    newContactClick : function() {
      this.$store.commit("SET_NEW_CONTACT", true);
      this.$router.push({name: 'contacts-list'});

    },

    // for now, open the user page and mimick a "plus" click
    newUserClick : function() {
      this.$store.commit("SET_NEW_USER", true);
      this.$router.push({name: 'users-list'});
    },

    logOut: function() {
      // Il faut supprimer l'user courant dans le localStorage ainsi que dans Vuex quand l'on se deconnecte
      // Suppression de l'user courant dans Vuex
      store.commit('LOGOUT');

      session_store.delSession(this, (app) => {
        //app.login = true;
      });

      // Redirection vers la page de connexion
      this.$router.push({name:'login'})
    },
  },
}
</script>

<style lang="scss">
@import '../../assets/scss/structure/page-header.scss';
</style>
