<template lang="jade">
//- This is a generic sidebar component, designed to be a wrapper around content that supports a page's main content
//- (for example, help, details on a selected item, a preview, etc.) usually on the right side of the page
.sidebar(v-bind:class="{ primary : primary }")
  slot(name="sidebar-content")

</template>

<script>

export default {
  name : 'sidebar',

  props : {
  	// primary represents if this sidebar is the primary thing on screen
  	// this determines its visibility if the screen is too narrow to show the page's content and 
  	// sidebar simultaneously
  	primary : {
  		default: false,
  		type: Boolean
  	}
  },
}
</script>

<style lang="scss">
  @import '../../assets/scss/structure/sidebar.scss';
</style>
