@import "./form/form-common.scss";

.header {
  .header-text-container {
    font-size: $font-size;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      pointer-events: none;
      text-align: center;
  }
}

.settings {
  max-width: 700px;
  margin: $spacing-large auto;

  /* TODO - 70px is just a rought guess of header height - should be dynamic or better css */
  /* With the box-shadow, just putting it below isn't enough, add $spacing */
  margin-top: calc(70px - 20px + #{$spacing-large}); /* TODO: temporary take away 20px that is nav margin-bottom */

  .card {
    background-color: $background-grey;
    position: relative;
    padding: $spacing-large;
    padding-top: $spacing;
    margin-bottom: $spacing-extra-large;
    box-shadow: $card-ui-shadow;

    .card-header {
      text-align: center;
      font-size: $title-size;
      margin-bottom: calc(-1 * #{$spacing-small});
    }

    table.settings-table {
      width: 100%;
      
      tr.settings-row {
        margin: $spacing-small 0;
        position: relative;
        
        // border-spacing: $spacing-small;

        td {
          // padding: $spacing-small;
          // display: block;
          // margin: 5px;
          padding: 0 $spacing;
          // padding-top: $spacing-small;
          width: 50%;
        }

        td.setting-title-text {
          font-size: $font-size;
          padding-top: $spacing-large;
          color: $semi-transparent;
        }

        td.setting-title-text.edit {
        }

        td.setting-title-input-container {
          position: relative;

          input.setting-title-input {
            width: 100%;
            border: none;
            background-color: $transparent;
            outline: none;
            font-size: $title-size;
            color: black;
            padding: 0;
          }

          .input-border {
            border: $border-size solid $inactive-transparent;
            
            position: absolute;
            bottom: 0;
            width: calc(100% - 2*#{$spacing}); /* to account for the td padding */
          }
        }

        td.setting-title-value {
          font-size: $title-size;
        }

        // td
      }

      tr.setting-title-text-row {
        // border-top: $spacing-extra-large solid $transparent;
      }

      .setting-title + .setting-title {
        margin-top: $spacing-large;
      }
    }


    .setting-title {
      margin: $spacing-small 0;
      position: relative;
      font-size: $title-size;

      display: flex;
        
      .setting-title-input-container {
        flex-grow: 1;
        position: relative;

        input.setting-title-input {
          width: 100%;
          border: none;
          background-color: $transparent;
          outline: none;
        }

        .input-border {
          border: $border-size solid $inactive-transparent;
          position: absolute;
          bottom: 0;
          width: initial;
        }
      }
    }

    .setting-title + .setting-title {
      margin-top: $spacing-large;
    }
  }
}