@import "../form/form-common.scss";
$border-radius: 6px;

.guide-page {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;  
  .scroll-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    .sub-header-container {
      .top-line {
        .buttons-container {
          .header-button {
            background-color: transparent;
            color: grey;
            &.header-button-primary {
                  font-size: 0.8rem;
                  margin-left: 0;
                  color: $accent-01;
                  border: 1px solid $accent-01;
                  border-radius: 15px;
                  margin-left: $spacing-small;
                  font-family: $font-semibold;
            }
          }
        }
      }
    }
    // necessary to have a buffer between display: flex and margin:auto below, so that .campagne divs
    // divs don't get squished
    .block-container {
      width: 100%;
      flex-grow: 1;

      &.flex {
        display: flex;
      }

      .guide-container {
        max-width: 700px;
        margin: 0 auto;
        // text-align: center;
        margin-top: $spacing-large;

        .campagnes {
          .campagne { 
            background-color: $white;
            position: relative;
            border-radius: $border-radius;
            margin-bottom: $spacing-extra-large;
            box-shadow: $card-ui-shadow;

            .close-icon {
              position: absolute;
              cursor:  pointer;
              font-size: 1.3rem;
              top: $spacing-small;
              right: $spacing-small;
              color: $white;
            }

            .campagne-content {
              // padding: 0 $spacing-extra-large;
              border-radius: $border-radius;

              .campagne-header-container {
                color: $white;
                background-color: $grey-02;
                border-radius: $border-radius $border-radius 0 0;
                padding: 0 $spacing-small;

                .drag-icon-container {
                  position: relative;
                  text-align: center;
                  width: 30px;
                  margin: 0 auto;
                  cursor: move;
                  .webapp-option-point-copy {
                    font-size: 1.3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                }

                .drag-icon-container.minimized {
                  margin: 0;
                }

                .title-line {
                  display: flex;

                  .minimize-container {
                    width: $icon-allow-width; /* same as padding for section plus some for spacing... */
                    display: flex;


                     .icon {
                      font-size: 1.5rem;
                      display: flex;
                      align-items: center;
                      
                      cursor: pointer;
                    }
                  }

                  .text-input-container {
                    flex-grow: 1;
                    margin: $spacing-small 0 $spacing 0;
                    position: relative;

                    .text-input-title {
                      color: $white;
                      font-size: 0.6rem;
                    }
                    .text-input-title.active {
                      color: $white;
                    }

                    input.text-input {
                      color: $white;
                      font-size: 1.1rem;
                      &::-webkit-input-placeholder {
                        color: $grey-06;
                      }
                      &::-moz-placeholder {
                        color: $grey-06;
                      }
                      
                      &:ms-input-placeholder {
                        color: $grey-06;
                      }
                      &:-moz-placeholder {
                        color: $grey-06;
                      }
                    } 

                    .text-input-border {
                      border-color: $grey-03;
                      border-bottom: 1px solid $grey-03;
                    }
                    .text-input-border.active {
                      border-color: $white;
                    }
                  }
                }
              }

              .campagne-body {
                padding: $spacing-extra-large;
                background-color: $grey-05;
                border-radius: $border-radius; 
                // so that it's tight to the text area
                display: flex;

                textarea.campagne-textarea {
                  resize: vertical;
                  width: calc(100% - 2 * #{$spacing-small});
                  padding: $spacing-small;
                  background-color:  $grey-05;
                  border-radius: $border-radius;
                  border: 1px solid $grey-02;
                  &:focus {
                    outline: 1px solid  rgba(33,62,97,0.0);
                    
                    border: 1px solid $black;
                  }
                }
              }

              .campagne-body.minimized {
                display: none;
              }
            }
          }

          .campagne.ui-sortable-helper {
            box-shadow: $question-drag-shadow;
          }
        }
        .add-campagne {
          cursor: pointer;
          background-color: $white;
          /* margin-bottom: 25px; */
          margin-bottom: calc(#{$spacing} + 64px); /* 64px = height of undo section; should be dynamic TODO */

          // box-shadow: $card-shadow;
          // margin-bottom: $add-spacing;
          border-radius: $border-radius;
          box-shadow: $card-ui-shadow;
          position: relative;
          
          .add-campagne-title {
            margin: 0 auto;
            position: relative;
            width: 100%;
            padding: $spacing 0;
            display: flex;
            justify-content: center;
            color: $accent-02;
            .icon {
              display: flex;
              align-items: center;
              font-size: 1.3rem;
            }
          }

          .add-campagne-target {
            color: $transparent;
            padding: $spacing 0;
            justify-content: center;
          }
        }
      }

      .empty-guide-container {
        $padding: $spacing-extra-large;
        padding: calc(2 * #{$padding});
        text-align: center;
        display: flex;
        flex-grow: 1;

        .empty-guide {
          margin: auto;

          .empty-title {
            font-size: $font-size-extra-large;
          }

          .empty-description {
            font-size: $font-size-medium;
            padding-top: $padding;
            padding-bottom: $padding;
          }

          // should be in some shared style sheet
          .button-primary {
            $font-size-button: $font-size-large;
            font-size: $font-size-button;
            padding: $spacing $spacing-large;
            border: $border-size solid $green-quorum;
            color: $green-quorum;
            // just needs to be larger than the height for a continuous edge
            border-radius: calc(2 * #{$font-size-button} + 2 * #{$spacing});
            display: inline-block;
            cursor: pointer;
          }
        }
      }
    }
  }

  .help-sidebar {
    border-left: 1px solid lightgray;
    overflow: auto;

    .help-container {
      $dot-selected-color: $green-quorum;
      $padding: $spacing-large;

      padding: $padding;
      display: flex;
      flex-direction: column;
      height: 100%;
      box-sizing: border-box;
      overflow: auto;

      .help-title {
        font-size: $font-size-large;
      }

      .help-sub-header {
        font-size: $font-size-medium;
        margin-top: $padding;
        margin-bottom: $padding;
        width: 100%;
      } 

      .card {
        background-color: $white;
        padding: $padding;
        border-radius: $spacing;
        box-shadow: $card-shadow;

        font-size: $font-size;

        & + .card {
          margin-top: $padding;
        }

        .card-title {
          font-weight: bold;
        }

        .card-title + .card-content {
          margin-top: calc(#{$padding} / 2);
        }
      }
    }
  }

  .undo-container {
    display: none;

    padding: $spacing;
    margin: $spacing 0;
    margin-bottom: 0;
    
    margin-top: 0;
    
    position: fixed;
    width: $undo-width;
    // left: calc((100% - #{$undo-width}) / 2);
    left: 50%;
    transform: translateX(-50%);

    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-large;
    bottom: 0;
    background-color: $close-color;
    text-align: center;
  
    .undo-span {
      padding: $spacing;
    }
  
    .undo-text {
      padding-left: $spacing-small;
    }
  
    .undo-button {
      border-radius: $button-border-radius;
      background-color: $white;
      cursor: pointer;
    }
  
    .undo-button:hover {
      background-color: $button-blue;
      color: $white;
    }
  }

  .loading-popover-container {
    .popover-content {
      background-color: transparent;
      
      .loading-popover {
        .loading-spinner {
          color: white;
          font-size: 40pt;
        }
      }
    }
  }
}



//----------------
//- MEDIA QUERIES
//----------------

@media all and (max-width: 62em) {
  .guide-page  {
    .scroll-container {
      .block-container {
        .guide-container {
          max-width: 80%;
        }
      }
    }
  }
}