@import "../shared/shared-constants.scss";
$border-radius: 6px;
//- wrapper de l'ensemble du dashboard
#login-signup{
  // set height so that overflow-y:hidden can apply to sub elements, to control scrollbars
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
      font-size: 0.8rem;
    
    .logo-container {
      max-width: 200px;
      img {
        width: 100%;
        margin: 10px 0 30px 0;
      }
    }
    .form-signup {
      box-shadow: $card-ui-shadow;
      // Custom du input mot de passe en reprenant les styles du componment
      border-radius: $spacing;
      background-color: $white;
      padding: $spacing-large;
      max-width: 80%;
      input {
        border-radius: 6px;
        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px $grey-05 inset;
        }
        &::-webkit-input-placeholder{
          color: $grey-03;
          font-size: 0.8rem;
        }
        

      }
      .text-input-border-container {
        
        &.last {
          border-radius: 0 0 6px 6px;
        }
  
        &.first {
          border-radius: 6px 6px 0 0;
          margin-top: $spacing-large;
        }
        
        &.mail {
          margin-top: $spacing-large;
        }
        &:focus {
              outline: -webkit-focus-ring-color auto 1px;
              border: 1px soliud red;
        }
        margin-top: calc(-1 * 1px);
        display: flex;
        position: relative;
        padding: 15px;
        width: calc(100% - 2 * 15px);
        background-color: #FFFFFF;
        cursor: text;
        border: 1px solid lightgray;
          .text-input-border-content {
            flex-grow: 1;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
              .text-input-border-title {
                font-size: 8.5pt;
                color: #9B9B9B;
                line-height: 1.5;
                margin-bottom: 2px;
              }
              .input-line-container {
                width: 100%;
                display: flex;
                margin: auto;
                input.text-input-border {
                  font-size: 15pt;
                  border: none;
                  background-color: transparent;
                  outline: none;
                  -ms-flex-positive: 1;
                  flex-grow: 1;
                  padding: 1px 0;
                  line-height: 1;
                  text-overflow: ellipsis;
                }
              }
          }
      }
    }
  }
  
  .signup-button {
    display: flex;
    width: auto;
    height: 63px;
    border: 2px solid $accent-01;
    background-color: $accent-01;
    color: white;
    border-radius:  30px;
    cursor: pointer;
    margin: $spacing-extra-large auto $spacing-medium-large auto ;
    max-width: 200px;
    width: 100%;
    padding: 0;
    height: 40px;
    justify-content: center;
    font-size: 0.8rem ;
  }
  
  .link-back {
    color: $accent-02;
  }
}
