@charset "UTF-8";
 
@font-face {
  font-family: "font-quorum";
  src:url("/static/fonts/quorum-font/fonts/font-quorum.eot");
  src:url("/static/fonts/quorum-font/fonts/font-quorum.eot?#iefix") format("embedded-opentype"),
    url("/static/fonts/quorum-font/fonts/font-quorum.woff") format("woff"),
    url("/static/fonts/quorum-font/fonts/font-quorum.ttf") format("truetype"),
    url("/static/fonts/quorum-font/fonts/font-quorum.svg#font-quorum") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "font-quorum" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="webapp-"]:before,
[class*=" webapp-"]:before {
  font-family: "font-quorum" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.webapp-icons-24px-action:before {
  content: "\61";
}
.webapp-icons-24px-add-action-1:before {
  content: "\63";
}
.webapp-icons-24px-add-contact:before {
  content: "\64";
}
.webapp-icons-24px-add-team:before {
  content: "\65";
}
.webapp-icons-24px-analytics:before {
  content: "\66";
}
.webapp-icons-24px-arrow-back:before {
  content: "\67";
}
.webapp-icons-24px-arrow-down:before {
  content: "\68";
}
.webapp-icons-24px-check:before {
  content: "\69";
}
.webapp-icons-24px-close:before {
  content: "\6a";
}
.webapp-icons-24px-communication:before {
  content: "\6b";
}
.webapp-icons-24px-community:before {
  content: "\6c";
}
.webapp-icons-24px-compass:before {
  content: "\6d";
}
.webapp-icons-24px-delete:before {
  content: "\6e";
}
.webapp-icons-24px-email-send:before {
  content: "\6f";
}
.webapp-icons-24px-export:before {
  content: "\70";
}
.webapp-icons-24px-house:before {
  content: "\71";
}
.webapp-icons-24px-import:before {
  content: "\73";
}
.webapp-icons-24px-indicator-none:before {
  content: "\72";
}
.webapp-icons-24px-less:before {
  content: "\74";
}
.webapp-icons-24px-lifebuoy:before {
  content: "\75";
}
.webapp-icons-24px-list:before {
  content: "\76";
}
.webapp-icons-24px-lock:before {
  content: "\77";
}
.webapp-icons-24px-mail:before {
  content: "\79";
}
.webapp-icons-24px-map:before {
  content: "\78";
}
.webapp-icons-24px-no-email:before {
  content: "\7a";
}
.webapp-icons-24px-man:before {
  content: "\41";
}
.webapp-icons-24px-team:before {
  content: "\42";
}
.webapp-icons-24px-support:before {
  content: "\43";
}
.webapp-icons-24px-suggestions:before {
  content: "\44";
}
.webapp-icons-24px-settings:before {
  content: "\45";
}
.webapp-icons-24px-send-notification:before {
  content: "\46";
}
.webapp-icons-24px-search:before {
  content: "\47";
}
.webapp-icons-24px-resolution:before {
  content: "\48";
}
.webapp-icons-24px-plus:before {
  content: "\49";
}
.webapp-icons-24px-pin-stroke:before {
  content: "\4a";
}
.webapp-icons-24px-phone:before {
  content: "\4b";
}
.webapp-icons-24px-order:before {
  content: "\4c";
}
.webapp-icons-24px-notification:before {
  content: "\4d";
}
.webapp-icons-24px-unknown:before {
  content: "\4e";
}
.webapp-icons-24px-pin:before {
  content: "\62";
}
.webapp-icons-24px-woman:before {
  content: "\4f";
}
.webapp-option-point:before {
  content: "\50";
}
.webapp-option-point-copy:before {
  content: "\51";
}
.webapp-arrow-top:before {
  content: "\52";
}
.webapp-arrow-left:before {
  content: "\54";
}
.webapp-arrow-right:before {
  content: "\55";
}
.webapp-arrow-back:before {
  content: "\53";
}
.webapp-icons-24px-arrow-left:before {
  content: "\56";
}
.webapp-icons-24px-arrow-right:before {
  content: "\57";
}
.webapp-icons-24px-arrow-top:before {
  content: "\58";
}
