<template lang="jade">
  .auto-send-popover-preview
    .auto-send-email-container
      .auto-send-preview-header.auto-send-preview(v-html="autoSendHeaderFormated")
      .auto-send-dummy-section.auto-send-preview-section Message réponse précédente
      .auto-send-preview-content.auto-send-preview-section.ql-editor(v-html="message")
      .auto-send-dummy-section.auto-send-preview-section Message réponse suivante
      .auto-send-preview-footer.auto-send-preview(v-html="autoSendFooterFormated")
</template>

<script>
import $ from "jquery"
import { autosend } from '../../mixins/autosend-mixin.js';
import { mapGetters, mapActions } from 'vuex'

export default {
  name : 'auto-send-preview', 

  props : {
    "message": String
  },

  mixins : [ autosend ],

  computed : {
    ...mapGetters({
      'autosend_header' : 'autosend_header',
      'autosend_footer' : 'autosend_footer',
      'info_campagne' : 'info_campagne',
    }),

    autoSendHeaderFormated : function() {
      return this.varToTag(this.autosend_header);
    },

    autoSendFooterFormated : function() {
      return this.varToTag(this.autosend_footer);
    },
  },

  mounted : function() {
    this.getAutosend();
  },

  methods: {
    ...mapActions({
      'getAutosend' : 'SETUP_AUTOSEND',
    }),
  }
}
</script>

<style lang="scss">
@import '../../../assets/scss/form/auto-send/auto-send-preview.scss';
</style>