<template lang="jade">
.popovers-container
  auto-send-editor(v-if="!help" v-bind:indices="indices" v-on:closePopover="closePopover()" v-on:help="help = true")
  auto-send-help(v-else v-on:closePopover="help = false")

</template>

<script>
import $ from "jquery"
import { mapGetters } from 'vuex'

export default {
  name : 'auto-send-popover', 

  components : {
    'auto-send-editor' : require('./auto-send-editor.vue'),
    'auto-send-help' : require('./auto-send-help.vue'),
  },

  props : {
    "indices" : Object
  },

  data : function() {
    return {
      help : false,
    }
  }, 

  methods: {
    closePopover : function() {
      this.$emit('closePopover');
    },
  }
}
</script>

<style lang="scss">
@import '../../../assets/scss/form/auto-send/auto-send-popover.scss';
</style>