<template lang="jade">
popover.auto-send-help-popover-container(v-on:closePopover="closePopover()")
  .auto-send-help-popover(slot="popover-content")
    i.fa.fa-times.close-icon.icon.icon-clickable(aria-hidden="true" v-on:click="closePopover")
    .auto-send-help-header Découvrez les mails auto!
    .auto-send-help-body 
      .auto-send-help-content-container
        .auto-send-help-page-control-container(v-bind:class="{ inactive : helpIndex == 0 }" v-on:click="decrementIndex()")
          .auto-send-help-page-control
            i.fa.fa-chevron-left.icon.icon-move-page
        .auto-send-help-text {{ helpText[helpIndex] }}
        .auto-send-help-page-control-container(v-bind:class="{ inactive : helpIndex == (helpText.length - 1) }" v-on:click="incrementIndex()")
          .auto-send-help-page-control
            i.fa.fa-chevron-right.icon.icon-move-page
      .auto-send-help-page-view
        .page-dot(v-for="(text, index) in helpText" v-bind:class="{ selected : helpIndex == index }" v-on:click="helpIndex = index")


</template>

<script>
import $ from "jquery"
import { mapGetters } from 'vuex'

export default {
  name : 'auto-send-help', 

  components : {
    'popover' : require('../../general/popover.vue'),
  },

  data : function() {
    return {
      helpIndex : 0,
      helpText : [
        "Lorsque vous créez vos enquêtes, vous pouvez activer pour chaque réponse potentielle un mail automatique.",
        "Ecrivez votre message ou modifier un modèle pré-créé.",
        "En fonction de ses réponses, le sondé recevra alors un mail généré automatiquement à partir de l’ensemble des messages que vous aurez rédigez! L’introduction et la conclusion sont déjà rédigées, ne vous en souciez pas!",
      ]
    }
  }, 

  mounted : function() {
    this.fixFormatting();
  },

  methods: {
    fixFormatting : function() {
      // don't want the height changing as user's go through the help, so fix the height of the body to the max height of all the pages
      this.fixBodyHeight(0, 0);
    },

    // this function fixes the height of auto-send-help-body to the max height of any of its possible contents
    // in order to find the max height, must wait for the nextTick so that the rendered index's height can be measured
    // so, use a recursive function that should be called with fixBodyHeight(0, 0).
    fixBodyHeight : function(index, maxHeight) {
      this.helpIndex = index;
      this.$nextTick(function() {
        maxHeight = Math.max(maxHeight, $(".auto-send-help-body").height());
        index++;
        if (index < this.helpText.length) {
          this.fixBodyHeight(index, maxHeight);
        } else {
          this.helpIndex = 0;
          $(".auto-send-help-body").height(maxHeight);
        }
      });
    },

    closePopover : function() {
      this.$emit('closePopover');
    },

    decrementIndex : function() {
      this.helpIndex = Math.max(0, this.helpIndex - 1);
    },

    incrementIndex : function() {
      this.helpIndex = Math.min(this.helpText.length - 1, this.helpIndex + 1);
    },
  }
}
</script>

<style lang="scss">
@import '../../../assets/scss/form/auto-send/auto-send-help.scss';
</style>