<template lang="jade">
popover.auto-send-editor-popover-container(v-on:closePopover="closePopoverEvent()" v-bind:class="{ preview : active }")
  .auto-send-popover(slot="popover-content" v-bind:class="{ preview : active }")
    .auto-send-popover-content.auto-send-visible
      .auto-send-title Activer mail auto
      .auto-send-info En activant les mails auto pour cette question, votre contact recevra un mail officiel de Talence 2020 dont le contenu sera généra en fonction de ses réponses aux questions.
      //- I just put the span in the same level as the auto-send-info to hide auto-send-info and just keep the help link  in responsive
      span.help-link(v-on:click="helpClick()") En savoir plus
      .auto-send-question-info-container
        .auto-send-question-info
          .auto-send-info-label Question :
          .auto-send-info-value {{ questionText }}
        .auto-send-question-barrier  
        .auto-send-question-info
          .auto-send-info-label Réponse :
          .auto-send-info-value {{ optionText }}
      .auto-send-toggle
        .toggle-button.toggle-button-left.auto-send-active(v-bind:class="{ selected : active }" v-on:click="active = true")
          .toggle-button-header Activer
          .toggle-button-content les mail auto pour cette réponse
        .toggle-button.toggle-button-right.auto-send-inactive(v-bind:class="{ selected : !active }" v-on:click="active = false")
          .toggle-button-header Déactiver
          .toggle-button-content les mail auto pour cette réponse
      .auto-send-editor-container(v-if="active")
        .auto-send-editor-header
          .auto-send-editor-description(v-if="!empty") {{ placeholder }}
          //- TODO - add back when there's message templates
          //- .auto-send-message-templates-button(v-on:click="messageTemplatesClick()")
            | utiliser un modèle pré-créé 
            i.fa.fa-chevron-down.icon
        editor(v-model="message" v-bind:placeholder="placeholder")
      .auto-send-popover-controls
        .auto-send-popover-control-filler
        .auto-send-popover-control.auto-send-popover-control-secondary(v-on:click="closePopover()") ANNULER
        .auto-send-popover-control.auto-send-popover-control-primary(v-bind:class="{ inactive : !confirmActive() }" v-on:click="confirmClick()") CONFIRMER
    auto-send-preview.auto-send-visible(v-if="active" v-bind:message="message")
</template>

<script>
import $ from "jquery"
import { mapGetters } from 'vuex'

export default {
  name : 'auto-send-editor', 

  components : {
    'popover'           : require('../../general/popover.vue'),
    'editor'            : require('../../general/editor.vue'),
    'auto-send-preview' : require('./auto-send-preview.vue'),
  },

  props : {
    "indices" : {
      type: Object,
      // should contain a sectionIndex, questionIndex and optionIndex fields, which should all be numbers
      validator: value => {
        let fields = {
          "sectionIndex" : "number", 
          "questionIndex" : "number", 
          "optionIndex" : "number"
        };

        for (var key in fields) {
          if (fields.hasOwnProperty(key)) {
            if (!(key in value && typeof value[key] == fields[key])) {
              return false;
            }
          }
        }
        return true;
      }
    },
  },

  data : function() {
    return {
      active : false,
      initialMessage : "",
      message : "",

      customToolbar : [
        [{'size': []}],
        ['bold', 'italic', 'underline', {'color': []}],
        [{ 'list': 'ordered'}, { 'list': 'bullet' }, {'align': []}],
        ['clean']
      ],

      placeholder : "Message associé à cette réponse",
    }
  }, 

  computed : {
    ...mapGetters({
      'sections' : 'sections'
    }),

    modified : function() {
      return this.message != this.initialMessage;
    },

    empty : function() {
      // when something is typed then deleted, message is equal to a paragraph with a br in it
      // this has to do with quill, not sure if it's worth fixing
      return this.message == "" || this.message == "<p><br></p>";
    },

    questionText : function() {
      let sectionIndex = this.indices.sectionIndex;
      let questionIndex = this.indices.questionIndex;
      if (sectionIndex >= 0 && sectionIndex < this.sections.length && 
          questionIndex >= 0 && questionIndex < this.sections[sectionIndex].questions.length) {
        return this.sections[sectionIndex].questions[questionIndex].label;
      }
      return "";
    },

    optionText : function() {
      let sectionIndex = this.indices.sectionIndex;
      let questionIndex = this.indices.questionIndex;
      let optionIndex = this.indices.optionIndex;
      if (sectionIndex >= 0 && sectionIndex < this.sections.length &&
          questionIndex >= 0 && questionIndex < this.sections[sectionIndex].questions.length &&
          optionIndex >= 0 && optionIndex < this.sections[sectionIndex].questions[questionIndex].refvalues.length) {
        return this.sections[sectionIndex].questions[questionIndex].refvalues[optionIndex].label;
      }
      return "";
    }
  },

  watch : {
    sections : {
      handler : function() {
        this.setupActive();
      },
      deep : true
    }
  },

  mounted : function() {
    this.validateIndices();
    this.setupActive();
    this.setupMessages();
  },

  methods: {
    validateIndices : function() {
      let sectionIndex = this.indices.sectionIndex;
      let questionIndex = this.indices.questionIndex;
      let optionIndex = this.indices.optionIndex;
      if (sectionIndex < 0 || sectionIndex >= this.sections.length ||
          questionIndex < 0 || questionIndex >= this.sections[sectionIndex].questions.length ||
          optionIndex < 0 || optionIndex >= this.sections[sectionIndex].questions[questionIndex].refvalues.length) {
        // indices are invalid
        this.closePopover();
      }
    },

    setupActive : function() {
      let sectionIndex = this.indices.sectionIndex;
      let questionIndex = this.indices.questionIndex;
      let optionIndex = this.indices.optionIndex;
      this.active = this.sections[sectionIndex].questions[questionIndex].refvalues[optionIndex].activate_auto_send == "true";
    },

    setupMessages : function() {
      let sectionIndex = this.indices.sectionIndex;
      let questionIndex = this.indices.questionIndex;
      let optionIndex = this.indices.optionIndex;
      // probably not a necessary check, but just to be safe (maybe useful while column is being added in DB)
      if (this.sections[sectionIndex].questions[questionIndex].refvalues[optionIndex].hasOwnProperty("auto_send")) {
        this.message = this.sections[sectionIndex].questions[questionIndex].refvalues[optionIndex].auto_send;
      } else {
        this.message = "";
      }
      this.initialMessage = this.message;
    },

    // event from popover component; there are conditions for actually closing the popover so don't immediately close it
    closePopoverEvent : function() {
      // this event is only thrown on "passive" closes like shadow click or esc key press
      // these should only close the popover if the message isn't active or the message hasn't been modified
      if (!this.active || !this.modified) {
        this.closePopover();
      }
    },

    closePopover : function() {
      this.$emit('closePopover');
    },

    messageTemplatesClick : function() {
      // TODO - open up a template picker
      console.log("TODO!  See MA: Story #5 on Trello");
    },

    confirmActive : function() {
      // should be active when the toggle is deactived
      // or if there is some new content
      return !this.active || this.modified;
    },

    confirmClick() {
      // Don't make API call - form-builder (or whoever brings up this popup) should save it
      let sectionIndex = this.indices.sectionIndex;
      let questionIndex = this.indices.questionIndex;
      let optionIndex = this.indices.optionIndex;
      let option = this.sections[sectionIndex].questions[questionIndex].refvalues[optionIndex];
      // only consider the auto_send active if the message has content
      this.active = this.active && !this.empty
      if (this.active) {
        option.auto_send = this.message;
        option.activate_auto_send = "true"; // stored as a string on the db
      } else {
        // delete the template in case it existed before
        option.auto_send = "";
        option.activate_auto_send = ""; // stored as a string on the db
      }
      this.$store.commit('SET_SECTIONS', this.sections);
      
      this.closePopover();
    },

    helpClick : function() {
      this.$emit("help");
    }
  }
}
</script>

<style lang="scss">
@import '../../../assets/scss/form/auto-send/auto-send-editor.scss';
</style>