<template lang="jade">
.user-details
  .user-add-container
    h3
      i.material-icons account_circle
      | Ajout d'un user
    hr
    div
      div
        el-form(ref="form" label-position="left" label-width="100px")
          p
            b Informations
            br
          el-form-item(label='Nom :')
            el-input(v-model="user.surname" )
          el-form-item(label='Prénom :')
            el-input(v-model="user.firstname" )



      div
        el-form(ref="form" label-position="left" label-width="100px")
          p
            b User
            br
          el-form-item(label='Email :')
            el-input(v-model="user.mail" )
          el-form-item(label="Droits d'accès :")
            el-select(v-model='user.role', placeholder="Droits d'accès")
              el-option(v-for="item in options", :label="item.label", :value="item.value")

    .actions

      span(v-on:click.prevent="goBack()")
        el-button(size="small").cancel
          i.fa.fa-times(aria-hidden='true')
          |  ANNULER
      span(v-on:click.prevent="saveUser()")
        el-button(type='primary'  size="small")
          i.fa.fa-floppy-o(aria-hidden='true')
          |  SAUVEGARDER



</template>

<script>
import store from '../../../store/stateStore.js'
import  { mapGetters, mapActions } from 'vuex'

var user_store = require('../../../models/user_store.js');
var _ = require('lodash');

export default {
  name: 'user-edit',
  store: store,
  data : function () {
    return {
        error: false,
        user : {
          firstname: null,
          surname: null,
          mail: null,
          role: null,
        },
        options: [{
          value: 'null',
          label: 'Accès Mobile'
        }, {
          value: 'admin',
          label: 'Accès Mobile & Webapp'
        }],
      }
    },

  methods: {
    goBack : function () {
      this.$router.go(-1);
    },
    saveUser : function () {

            var router = this.$router;
            var main = this.user;

 
              // On sauvegarde le user
              user_store.save(router, main, (res) => {

                store.commit('DELETE_ACTIVE_USER');
                // Enregistrement du nouveau contact dans Vuex
                // store.commit('SET_ACTIVE_CONTACT', res.body.data.contact);

                router.push({name:'users-list'})

                this.$message({
                  message: 'Nouveau utilisateur enregistré',
                  type: 'success'
                });
              })
      
    }
  }
}
</script>

<style>



</style>
