@import "form-common.scss";

.phone-sidebar {
  background-color: $white;
  border-left: $border-size solid $line-grey;
  // height: 100vh;
  height: 100%;
  // The sidenav's width takes 8 column on 24 for the moment via the class name in the Vue  
  // For the phone background color to come through, the sidebar (which also has a background color)
  // must have the same (or lower) z index.
  // z-index: calc(-1 * #{$z-index-above-default});

  .phone-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .sidebar-control-container {
      $padding: $spacing-large;

      margin-left: $padding;
      margin-right: $padding;

      .sidebar-control {
        cursor: pointer;
        padding-top: $padding;
        padding-bottom: calc(#{$padding} / 2);
        display: flex;

        .sidebar-control-text {
          flex-grow: 1;
        }

        .spacing {
          width: calc(#{$padding} / 2);
        }

        .show-arrow {
          margin: auto;
        }
      }

      .barrier {
        border-bottom: $border-size solid $line-grey;
      }
    }

    .phone-centered-content {
      margin: auto;
      padding: $spacing-extra-large;
      position: relative;


      // to place content in the phone, need 3 elements:
      // 1. the phone image
      // 2. the phone content
      // 3. the phone background color to fill in gaps
      // For scrolling to work on the content, the phone content must be in front of the image,
      // and for the background to not cover the image, it must be behind
      // So, the background and content containers are positions absolutely behind and in front
      // of the image, respectively.  The containers simply inherits the parent's the padding, 
      // so that sub-elements' content size is the same as the image of the phone
      img.phone-img {
        z-index: $z-index-above-default;
        pointer-events: none;
      }

      .phone-background-container, .phone-content-container {
        padding: inherit;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        // Manual margins to give the content the correct size
        // TODO - is there a better way to do this?  With a fixed size sidebar of width 400px,
        // these values work well
        // margin used to ensure background color doesn't go beyond phone,
        // padding used to centre text
        .phone-background, .phone-content {
          margin: 0 6px;
          margin-top: 20px;
          margin-bottom: 65px;
          height: calc(100% - 20px - 65px); // take off top and bottom margin
        }
      }

      .phone-content-container {
        .phone-content {
          overflow: auto;
          background-color: $grey-05;

          // apply the special phone viewer style to the form-viewer
          @import "form-viewer-phone.scss";
        }
      }

      .phone-img {
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        position: relative;
      }
    }

    .help-container {
      $dot-selected-color: $green-quorum;
      $padding: $spacing-large;

      padding: $padding;
      display: flex;
      flex-direction: column;
      height: 100%;
      box-sizing: border-box;
      overflow: auto;

      .help-title {
        font-size: $font-size-large;
      }

      .help-sub-header {
        font-size: $font-size-medium;
        margin-top: $padding;
        margin-bottom: $padding;
        width: 100%;

        .help-sub-header-p + .help-sub-header-p {
          margin-top: calc(#{$padding} / 2);
        }
      } 

      .card {
        background-color: $white;
        padding: $padding;
        border-radius: $spacing;
        box-shadow: $card-shadow;

        font-size: $font-size;

        & + .card {
          margin-top: $padding;
        }

        .card-title {
          font-weight: bold;
        }

        .card-title + .card-content {
          margin-top: calc(#{$padding} / 2);
        }

        .card-content {
          // TODO - styling links
          a {
            cursor: pointer;
            text-decoration: underline;
          }

          a:hover {
            color: $blue-quorum;
            fill: $blue-quorum;
          }
        }
      }
    }
  }
}