@import "form-common.scss";

#main-container {
  #form-viewer-container {
    height: 100%;
    width: 100%;
    #page-container {
      overflow: hidden;
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;

      #scroll-container {
        overflow: auto;
        width: 100%;
        // display: flex;
        // flex-direction: row;

        .sub-header-container {
          .top-line {
            .controls-container div {
              display: flex;
              margin: 0 auto; 

              .download-template-container {
                cursor: pointer;
                display: flex;
                position: relative;

                  .popover {
                    display: none;
                    white-space: nowrap;
                    font-size: $font-size-medium;
                    color: $black;
                    bottom: calc(-1.8 * #{$font-size} - 2 * #{$spacing} - #{$spacing-small} - #{$spacing});
                    position: absolute;
                    right: 50%;
                    transform:translateX(50%);
                    z-index: 10;
                    background-color: #F8F9FA;;

                    box-sizing: border-box;
                    padding: $spacing;
                    border-radius: $border-radius;
                    // make sure the arrow and border-radius have some breathing room
                    min-width: calc(2 * #{$spacing} + 2 * #{$spacing} + #{$spacing});
                    // z-index: $z-index-on-top;
                    // overflow: hidden;

                    // for the shadow to include the arrow, a drop-shadow must be used
                    // material.scss constants don't work, so manually make the the shadow to visually match
                    // Note: if the third variable (y offset) is too small, the arrow will be cut off (not sure why...)
                    filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, $shadow-key-umbra-opacity));
                    // alternative shadow that doesn't include the arrow:
                    // box-shadow: $popup-shadow;

                    &:before {
                      content: "";
                      // size must be 0 for triangle trick
                      width: 0;
                      height: 0;
                      // triangle is made from borders
                      // border-top: $arrow-size solid transparent;
                      border-left: $spacing solid transparent;
                      border-right: $spacing solid transparent;
                      // position the arrow above its container and in the middle
                      position: absolute;
                      top: 100%;
                      margin-left: calc(-1 * #{$spacing});
                      left: 50%;
                      border-top: none;
                      border-bottom: $spacing solid #F8F9FA;;
                      top: calc(-1 * #{$spacing});

                    }
                  }

                  &:hover .popover {
                    display: initial;
                  }

                .icon-download {
                  pointer-events: none; // allow click to go to containing div
                }

                .template-donwload-text {
                  margin: auto;
                }
              }

              .edit-button {
                cursor: pointer;
              }

              .print-icon-container {
                position: relative;
                cursor: pointer;
                margin-left: $spacing;
                margin-top: auto;
                margin-bottom: auto;
                .print-icon {
                  // todo - size of icons should be controlled somehow else, when they're not font-awesome
                  font-size: $spacing-large;
                }
                  .popover {
                    display: none;
                    white-space: nowrap;
                    font-size: $font-size-medium;
                    color: $black;
                    bottom: calc(-1.8 * #{$font-size} - 2 * #{$spacing} - #{$spacing-small} - #{$spacing});
                    position: absolute;
                    right: 50%;
                    transform:translateX(50%);
                    z-index: 10;
                    background-color: #F8F9FA;;

                    box-sizing: border-box;
                    padding: $spacing;
                    border-radius: $border-radius;
                    // make sure the arrow and border-radius have some breathing room
                    min-width: calc(2 * #{$spacing} + 2 * #{$spacing} + #{$spacing});
                    // z-index: $z-index-on-top;
                    // overflow: hidden;

                    // for the shadow to include the arrow, a drop-shadow must be used
                    // material.scss constants don't work, so manually make the the shadow to visually match
                    // Note: if the third variable (y offset) is too small, the arrow will be cut off (not sure why...)
                    filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, $shadow-key-umbra-opacity));
                    // alternative shadow that doesn't include the arrow:
                    // box-shadow: $popup-shadow;

                    &:before {
                      content: "";
                      // size must be 0 for triangle trick
                      width: 0;
                      height: 0;
                      // triangle is made from borders
                      // border-top: $arrow-size solid transparent;
                      border-left: $spacing solid transparent;
                      border-right: $spacing solid transparent;
                      // position the arrow above its container and in the middle
                      position: absolute;
                      top: 100%;
                      margin-left: calc(-1 * #{$spacing});
                      left: 50%;
                      border-top: none;
                      border-bottom: $spacing solid #F8F9FA;;
                      top: calc(-1 * #{$spacing});

                    }
                  }

                  &:hover .popover {
                    display: initial;
                  }
              }
            }

            .buttons-container {
              .header-button {
                background-color: transparent;
                color: grey;
                &.header-button-primary {
                      font-size: 0.8rem;
                      margin-left: 0;
                      color: $accent-01;
                      border: 1px solid $accent-01;
                      border-radius: 15px;
                      margin-left: $spacing-small;
                      font-family: $font-semibold;
                }
              }
            }
          }
        }  

        #form-container {
          max-width: $form-max-width;
          margin: auto;
          padding: 0 $spacing-extra-large;
          
          /* With the box-shadow, just putting it below isn't enough, add $spacing */
          margin-top: $spacing-extra-large;
          // position: relative;
          flex-grow: 1;

          // only appears for printing
          #preview-container {
            width: $form-max-width; // same as max-width, but set concretely
            margin: auto;
          }
        }
      }

      .template-select-popover-container {
        height: 100%;  // necessary so the .popover-content can set the height

        .popover-content {
          width: 80%;
          height: 80%;
          border-radius: 6px;

          .template-select-popover {
            height: 100%;
            display: flex;
            flex-direction: column;
            height: auto;

            .popover-header {
              padding: $spacing-extra-large;
              border-bottom: $border-size solid $line-grey;
              overflow: visible;
              position: relative;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .buttons-container {

                .button {
                  float: left;
                  background-color: transparent;
                  padding: $spacing-small $spacing;
                  color: $grey-06;
                  cursor: pointer;
                  font-size: $font-size;
                }

                .button + .button {
                  margin-left: $spacing;
                }
                
                .button.button-primary {
                  background-color: transparent;
                  border: 1px solid $accent-01;
                  font-size: 0.8rem;
                  color:  $accent-01;
                  border-radius: 15px;
                  font-family: "proxima-semibold";
                }
              }
            }

            #preview-container {
              padding: $spacing-extra-large;
              padding-top: 0;
              overflow: auto;
            }
          }
        }
      }

      .edit-warning-popover {
        .popover-content {
          max-width: 80%;

          .template-select-popover {
            text-align: center;
            padding: $spacing-large;
            position: relative;

            .close-icon {
              cursor: pointer;
              // right: $spacing;
              // top: $spacing;
            }

            .edit-warning-header {
              font-size: $font-size-large;
              font-weight: bold;
            }

            .contact-container {
              display: flex;
              margin-top: calc(2 * #{$spacing-large});

              .spacer {
                flex-grow: 3;
              }

              .spacer.space-small {
                flex-grow: 1;
              }

              .contact-element-container {
                display: flex;

                .contact-icon {
                  padding-right: $spacing-small;
                  margin: auto;
                }

                .contact-icon-text {

                }
              }

              // TODO - styling links
              .mail-link {
                cursor: pointer;
                text-decoration: underline;
              }

              .mail-link:hover {
                color: $blue-quorum;
                fill: $blue-quorum;
              }
            }
          }
        }
      }
    }
  }
}


@media all and (max-width: 62em) { 
  #main-container {
    #form-viewer-container {
      #scroll-container {
        overflow: auto;
        width: 100%;
        // display: flex;
        // flex-direction: row;

        .sub-header-container {
          .top-line {
            .controls-container {
              padding: 0 $spacing-extra-large;
            }
            .buttons-container {
              margin: $spacing;
            }
          }
        }
      }
      .template-select-popover-container {
        .popover-content {
          .template-select-popover {
            height: auto;
            .popover-header {
              flex-direction: column;
              .tab-select-container {
                margin-bottom: $spacing;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 380px) { 
  #main-container {
    #form-viewer-container {
      #scroll-container {
        overflow: auto;
        width: 100%;
        // display: flex;
        // flex-direction: row;

        .sub-header-container {
          .top-line {
            .controls-container {
              padding: 0 $spacing-extra-large;
            }
            .buttons-container {
              margin: $spacing;
            }
          }
        }
      }
      .template-select-popover-container {
        .popover-content {
          .template-select-popover {
            height: auto;
            .popover-header {
              flex-direction: column;
              .tab-select-container {
                .tab:nth-child(odd) {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media print {
  // Reset pour le print
  body, h1, h2, h3, ol, ul, div {     width: auto;     border: 0;       padding: 0;     float: none;     position: static;     overflow: visible !important; display: block !important;}
  // Pas d'alerte qui cache le content sur le print
  .el-message { display: none !important;}
  
 // print css rules seem to be very strange - without this, there is a large gap at the top
  // (I believe due to form-container's margin-top) but setting margin-top to 0 directly diesn't help
  // So, set a negative margin here equal to form-container's margin-top
  html {
    margin-top: calc(-1 * #{$spacing-extra-large});
  }
  
  @page { 
    // margin-top: 1.6cm
    margin: 1.6cm 0;
    size: A4;
    // padding: 1.6cm;
  }
}