// @import "../material.scss";
@import "../shared/shared-constants.scss";

$form-max-width: 1000px; /* kind of arbitrary... */

/* SIZES */
// spacing
// $spacing-extra-small: 2px;
// $spacing-small: 5px;
// $spacing: 10px;
// $spacing-medium-large: 15px;
// $spacing-large: 20px;
// $spacing-extra-large: 25px;

// borders
// $border-size: 1px;
// $heavy-border-size: 2px;

$border-radius: 6px;
$button-border-radius: 4px;

// icons
$icon-allow-width: 30px;
$icon-spacing: 7px;


// // colors
// $background-grey: #f6f6f6;
// $hover-grey: #e0e0e0;
// // $button-blue: #1d90e6;
// $button-blue: #4990E2;
// $white: #ffffff;
// $green: #2ecc71;
// $red: #f22613;

// $disabled-entry: #ebebe4;
// $close-color: #f1a9a0;
 
// $text-color: hsla(300, 30%, 80%, 1);
// $radio-color: hsla(250, 30%, 80%, 1);
// $checkbox-color: hsla(200, 30%, 80%, 1);
// $date-color: hsla(150, 30%, 80%, 1);
// $range-color: hsla(100, 30%, 80%, 1);
// $default-color: hsla(20, 30%, 80%, 1);

// $text-color: $white;
// $radio-color: $white;
// $checkbox-color: $white;
// $date-color: $white;
// $range-color: $white;
// $default-color: $white;


// transparency
// $inactive-opacity: 0.25;
// $semi-opacity: 0.5;
// $subtle-opacity: 0.8;
// $opaque-opacity: 1;

// $transparent: rgba(0, 0, 0, 0);
// $inactive-transparent: rgba(0, 0, 0, $inactive-opacity);
// $semi-transparent: rgba(0, 0, 0, $semi-opacity);
// $opaque-transparent: rgba(0, 0, 0, $opaque-opacity);

// misc
$z-index-above-sortable: 2000;
$z-index-above-default: 10;

// $title-size: 15pt;
// $font-size: 12pt;
// $font-size-small: 10pt;

$preview-indent-spacing: 7.5pt;

$preview-vertical-spacing-small: 2.5pt;
$preview-vertical-spacing: 10pt;
$preview-vertical-spacing-large: 20pt;

// shadows
// $card-shadow: $shadow-1dp;
// $emphasis-card-shadow: $shadow-2dp;
// $question-drag-shadow: $shadow-10dp;
// $option-drag-shadow: $shadow-3dp;
// $header-shadow: $shadow-3dp;

// undo
$undo-width: 40%; /* kind of arbitrary...*/
$disabled-input-width: 80%; /* kind of arbitrary, but looks better than 100% */