@import "form-common.scss";

// Slight modifications to form-viewer.scss to format the viewer for the phone preview
#preview-container {
  background-color: $grey-05;

  #preview-title {
    padding-bottom: $spacing;
    padding-top: 20px;
  }

  .preview-section {
    margin: 0;
    background-color: $white;

    .preview-section-title {
      border: none;
      border-radius: $border-radius $border-radius 0 0;
      background-color: $grey-02;
      color: $white;
      text-align: center;
      padding: $spacing-small;
      margin: 0;
    }

    .preview-questions {
      margin-left: 0;
      
      .preview-question {
        margin: $spacing $spacing-small;
        padding: $spacing-small;
        background-color: $grey-05;
        border-radius: $border-radius;
        color: $grey-01;

        .preview-date-entry-span {
          margin-left: $spacing-medium-large;
        }

        .preview-options-container, .gender-option {
          margin: 0;
          margin-left: $spacing-small;
        }
      }

      .preview-question + .preview-question {
        // border-top: $heavy-border-size solid $line-grey;
      }
    }
  }
}