@import "form-common.scss";

/* Preview display */
/* Since used for printing, use pt instead of px */
#preview-container {
  background-color: #F8F9FA;
  #preview-title {
    text-align: center;
    font-size: $title-size;
  }

  .preview-section {
    font-size: $font-size;
    margin: $spacing 0;
    border-radius: 0 0 6px 6px;
    border-radius: 6px;
    overflow: hidden;
    background-color: $white;
    box-shadow: $card-ui-shadow;
    
    .preview-section-title {
      background-color: $grey-02;
      color: $white;
      padding: $spacing;
      border-radius: 0;
    }

    .preview-questions {
        background-color: #F8F9FA;  
        margin: $spacing-small;
        padding: $spacing-small;

      .preview-one-line-question {
        display: flex;
        flex-flow: row wrap;
      }

      .preview-question {
        page-break-inside: avoid;
        margin: $preview-vertical-spacing 0;

        .preview-question-title {
          margin: auto 0;

          .preview-date-entry-span {
            white-space: nowrap;
            font-weight: bolder;
            margin-left: $preview-indent-spacing;
          }
        }

        .preview-one-line-answer {
          flex-grow: 1;
          margin-left: $preview-indent-spacing;
        }

        // type specific formats
        .preview-text, .preview-range {
          border-bottom: $border-size solid black;
        }

        .preview-options-container {
          overflow: auto;
          margin-top: $preview-vertical-spacing-small;
          margin-left: $preview-indent-spacing;
        }

        .preview-option {
          float: left;
          padding: $preview-vertical-spacing-small 0;
          display: flex;

          .preview-option-icon {
            /* 1pt = (12pt (font-size) - 10pt (height)) / 2 */
            /* 7.5pt is my standard indent margin */
            margin: 1pt $preview-indent-spacing; 
          }
        }
          
        .gender-option {
          margin: 0 15pt;
        }

        .preview-empty-line {
          border-bottom: 1px solid black;
          height: $font-size;
          margin: 0;
        }
      }
    }
  }
}