@import "form-constants.scss";

.option-icon {
  height: 10pt;
  width: 10pt;
  border: 1px solid black;
  float: left;
  flex-shrink: 0;
}

.checkbox-icon {
  border-radius: 20%;
}

.radio-icon {
  border-radius: 50%;
}

// .button {
//   padding: $spacing;
//   border-radius: $spacing;
//   cursor: pointer;
// }

// .header {
//   margin-bottom: $spacing;
//   position: fixed;
//   top: 100px; /* TODO temporary; account for height of top bar */
//   width: 100%;
//   background-color: $background-grey;
//   z-index: $z-index-above-sortable;
//   box-shadow: $header-shadow;

//   .header-button {
//     float: right;
//     border: $border-size solid $button-blue;
//     color: $button-blue;
//     /* only needed because both header things are floated and formatting is weird - TODO */
//     margin: calc(#{$spacing} - #{$border-size});
//   }    

//   .header-button:hover {
//     background-color: $button-blue;
//     color: $white;
//   }
// }

.placeholder {
  visibility: hidden;
  color: $transparent;
}