@import "form-common.scss";

$add-spacing: $spacing;
$selector-border: $border-size solid $inactive-transparent;//$background-grey;//$transparent;

$section-header-color: $grey-02;

$option-font-size: $font-size;

$question-background-color: #F8F9FA;

// css structured like the DOM
#editor-container {
  position: relative;
  // flex-grow: 1;
  // display: flex;

  .selector-container {
    position: absolute;
  }

  #type-selector-container {
    z-index: $z-index-above-default;
    color: $grey-02;

    .selector-container-shadow {
      position: absolute;
      z-index: -1;
      // border: $selector-border;
      box-shadow: $card-ui-shadow;
      width: 100%;
      height: 100%;
      border-radius: $border-radius;

    }

    .selector-content-container {
      background-color: $white;
      padding: $spacing-small 0;
      border-radius: $border-radius;

      .type-selector-break {
        border: $border-size solid black;
        margin: $spacing-small $spacing;
      }

      .type-selector-option-container {
        .type-selector-option {
          display: flex;

          .type-selector-option-text {
            padding: $spacing $spacing;
            padding-right: 0;
            flex-grow: 1;

            //TODO - if this ends up being too wide, may need to add max-width and remove this dynamically
            white-space: nowrap; 
          }

          .webapp-icons-24px-arrow-right {
            display: flex;
            align-items: center;
          }

          .type-selector-option-more-arrow {
            margin: auto $spacing;
            margin-right: $spacing-medium-large; // looks better with the selector break
          }
        }

        .type-selector-option.clickable {
          cursor: pointer;
        }

        .type-selector-option.clickable.inactive {
          cursor: default;
        }

        .type-selector-option.hover {
          background-color: $hover-grey;
        }

        .type-selector-option.inactive:hover {
          background-color: $white;
        }
      }
    }
  }

  .form-title {
    margin: $spacing-medium-large 0;
    position: relative;
  }

  #editable-forms {
    flex-grow: 1;

    .section {
      background-color: $white;
      position: relative;
      margin-bottom: $spacing-large;
      box-shadow: $card-ui-shadow;
      overflow: auto;
      border-radius: 6px;

      .section-controls {
        text-align: center;
        position: relative;

        .move-section-icon {
          // cursor: pointer;
          padding: 0 $spacing;
          position: relative;
          margin: 0;
          font-size: 15px;
          color: $white;
          // z-index: $z-index-above-default; // Why was this here???
        }

        .move-section-icon.hover {
          color: $grey-02;
        }

        .arrow-description {
          position: absolute;
          // bottom: 0;
          transform: translateY(-(50%));
          top: 50%; /* looks better... */
          left: calc(50% + (#{$icon-allow-width} / 2));
          visibility: hidden;
          color: $grey-02;
          cursor:pointer;
          z-index: $z-index-above-default;
        }
      }

      .section-controls-top {
        background-color: $section-header-color;
        padding-top: $spacing-small;
        border-radius: 6px 6px 0 0;
        color: $white;
      }

      .section-controls-bottom {
        background-color: $section-header-color;
        padding-top: $spacing;
        padding-bottom: $spacing-small;
        border-radius: 0 0 $border-radius $border-radius ;
      }

      .section-header-container {
        padding-bottom: $spacing-small;
        padding-bottom: 0;
        display: flex;
        // margin: 0 $spacing-extra-large;
        padding: 0 $spacing-small;
        background-color: $section-header-color;
        color: $white;

        .minimize-container {
          width: $spacing-large;
          display: flex;
          justify-content: center;
          align-items: center;

          .webapp-icons-24px-arrow-down, .webapp-icons-24px-arrow-right {
            font-size: 1.5rem;
            display: flex;
            align-items: flex-end;
            cursor: pointer;

            &.arrow-right {
              -webkit-transform: rotate(270deg);
              -moz-transform: rotate(270deg);
              -o-transform: rotate(270deg);
              -ms-transform: rotate(270deg);
              transform: translatey(-50%) rotate(270deg);
            }
          }

          .minimize {
            margin: auto;
            position: relative;
          }

          .minimize.move-up-spacing {
            bottom: $spacing
          }

          .minimize:hover {
            color: $button-blue;
          }
        }

        .section-title {
          flex-grow: 1;
          margin: $spacing 0;
          position: relative;

          .text-input-container {
            .text-input-title {
              font-size: 0.6rem;
              color: $white;
              font-family: $font-light;
            }

            .input-line-container {
              .text-input {
                &::-webkit-input-placeholder {
                  color: $grey-06;
                }
                &::-moz-placeholder {
                  color: $grey-06;
                }
                
                &:ms-input-placeholder {
                  color: $grey-06;
                }
                &:-moz-placeholder {
                  color: $grey-06;
                }

              }
            }
            .text-input-title.active {
              color: $white;
            }

            input.text-input {
              color: $white;
              font-size: 1.1rem;
              font-family: $font-light;
              &.question {
                font-size: 0.8rem;
              }
            }

            .text-input-border {
              border-color: $white;
              border-bottom: 1px solid $white;
            }
            .text-input-border.active {
              border-color: $white;
            }

          }
        }

        .section-title.move-up-spacing {
          margin-top: calc(-1 * #{$spacing});
        }
      }

      .close-section {
        color: $white;
      }

      .questions {
        flex-grow: 1;
        padding: 0 $spacing-extra-large;

        ul.sortable-questions {
          position: relative;
          margin: 0;
          padding-left: 0;
        }

        .add-question {
          margin-bottom: 0;
          margin-top: $spacing;

          .add-question-text {
            position: absolute;
            width: 100%;
            bottom: 0;
            margin: $add-spacing 0;
            display: flex;
            justify-content: center;
            color: $accent-02;

            .add-icon {
              display: flex;
              align-items: center;
              font-size: 1.3rem;
            }
          }

          .add-question-target {
            color: $transparent;
            padding: $add-spacing 0;
          }
        }
      }
    }

    .add-section {
      background-color: $white;
      /* margin-bottom: 25px; */
      margin-bottom: calc(#{$add-spacing} + 64px); /* 64px = height of undo section; should be dynamic TODO */

      // box-shadow: $card-shadow;
      // margin-bottom: $add-spacing;
      border-radius: $border-radius;
      box-shadow: $card-ui-shadow;
        
      .add-section-title {
        margin: 0 auto;
        position: absolute;
        width: 100%;
        padding: $add-spacing 0;
        display: flex;
        justify-content: center;
        color: $accent-02;
          .icon {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
          }
      }

      .add-section-target {
        color: $transparent;
        padding: $add-spacing 0;
        justify-content: center;
      }
    }
    .empty-sections-container {
      $padding: $spacing-extra-large;
      padding: calc(2 * #{$padding});
      text-align: center;
      display: flex;
      flex-grow: 1;

      .empty-sections {
        margin: auto;
        text-align: center;

        .empty-title {
          font-size: $font-size-extra-large;
        }

        .empty-description {
          font-size: $font-size-medium;
          padding-top: $padding;
          padding-bottom: $padding;
        }

        // should be in some shared style sheet
        .button-primary {
          $font-size-button: $font-size-large;
          font-size: $font-size-button;
          padding: $spacing $spacing-large;
          border: $border-size solid $green-quorum;
          color: $green-quorum;
          // just needs to be larger than the height for a continuous edge
          border-radius: calc(2 * #{$font-size-button} + 2 * #{$spacing});
          display: inline-block;
          cursor: pointer;
        }
      }
    }
  }

  .undo-section {
    display: none;

    padding: $spacing;
    margin: $spacing 0;
    margin-bottom: 0;
    
    margin-top: 0;
    
    position: fixed;
    width: $undo-width;
    // left: calc((100% - #{$undo-width}) / 2);

    padding-top: $spacing-extra-large;
    padding-bottom: $spacing-large;
    bottom: 0;
    background-color: $close-color;
    text-align: center;

    .undo-span {
      padding: $spacing;
    }

    .undo-text {
      padding-left: $spacing-small;
    }

    .undo-button {
      border-radius: $button-border-radius;
      background-color: $white;
      cursor: pointer;
    }

    .undo-button:hover {
      background-color: $button-blue;
      color: $white;
    }
  }
}


/* Questions */
// while dragged, question is attached to outer element, so can't put formatting
// as a child of ul
li.question {
  margin: $spacing 0;
  padding: $spacing-extra-large;
  padding-top: $spacing-small;

  background-color: $question-background-color;
  border-radius: 6px;
  position: relative;
  display: block;

  // box-shadow: $card-shadow;

  .rest-of-container {
    flex-grow: 1;

    .question-controls {
      position: relative;
      text-align: center;
      width: 100%;
      margin-bottom: $spacing-small;
    }

    .drag-icon-container {
      cursor: move;
      .webapp-option-point-copy {
        font-size: 1.3rem;
        color: $grey-01;
      }
    }

    .drag-icon-container.minimized {
      margin: 0;
    }

    .question-header-container {
      display: flex;

      .question-type-select {
        margin-right: $spacing;
        // padding: $spacing-small;
        background-color: $white;
        cursor: pointer;
        // border: $selector-border;
        border: 1px solid #BCC5CF;
        // box-shadow: $card-shadow;
        display: flex;
        // the type selector doesn't add a border directly, so the width for the select should include the border
        box-sizing: border-box;
        border-radius: $border-radius;
        color: $grey-02;


        .question-type-text {
          float: left;
          margin: auto 0;
          margin-left: $spacing;
          flex-grow: 1;
        }

        .select-arrow {
          float: right;
          margin: auto $spacing;
          display: flex;
          align-items: center;
        }
      }

      .question-type-select.minimized {
        display: none;
      }

      .question-title {
        flex-grow: 1;
        // margin: $spacing-small 0;
        position: relative;
        display: flex;
        border: 1px solid $grey-03;
        border-radius: $border-radius;

        &.item-text {
          .text-input-container {
               padding: $spacing-small;
              .text-input-title {
                font-size: 0.6rem;
              }
            .input-line-container {
              .text-input {
                font-size: 0.9rem;
                color: $grey-01;

              }
            }
            .text-input-border {
              display: none;
            }
          }
        }

        .text-input.minimized {
          font-size: $font-size-medium;
          margin-top: calc(-1 * #{$spacing-small});
        }
      }

      .item-text.minimized {
        margin: 0;
        margin-top: calc(-1 * #{$spacing-small});
      }
    }

    .question-header-container.top-element {
      padding-top: $spacing;
    }

    // type sepcific formatting
    .disabled-input {
      border: 0;
      padding: 0;
      height: $font-size-medium;
      border-bottom: $border-size dashed $semi-transparent;
      width: $disabled-input-width;
      margin-left: $spacing;
    }

    .list-inputs-container {
      position: relative;
      padding-top: $spacing;

      .option {
        background-color: $question-background-color;
        margin-top: $spacing;
        padding: $spacing-small;
        position: relative;
        display: flex;

        .option-title {
          margin: auto $spacing-small;
          font-size: $option-font-size;

          .text-input {
            font-size: $option-font-size;
          }

          .text-input-border {
            border-width: $border-size;
          }

          .auto-send-toggle {
            cursor: pointer;
            font-size: $font-size-small;

            .auto-send-activated {
              color: $accent-02;

              .mail-icon {
                color: $accent-02;
              }
            }

            .auto-send-deactivated {
              color: $semi-transparent;
            }

            .auto-send-button {
              display: flex;
              .mail-icon {
                margin-left: $spacing-small;
                display: flex;
                align-items: center;
              }
            }

            .auto-send-deactivated:hover {
              color: $accent-02;
            }
          }
        }
      }

      .option.ui-sortable-helper {
        box-shadow: $option-drag-shadow;
      }

      .add-option {
        opacity: $semi-opacity;

        .add-option-text {
          border-bottom: $border-size solid $transparent;
          font-size: $option-font-size;
          flex-grow: 1;
          margin: auto $spacing-small;
          cursor: text;
        }
      }

      #option-gender-male {
        float: left;
        width: 50%;
      }

      .option-default {
        margin-top: 0;
      }

      .edit-option-icon {
        margin: auto $icon-spacing; 
      }
    }

    .date-input {
      height: $spacing-extra-large;
    }

    .range-question-content {
      text-align: center;
      overflow: hidden;

      /* Want: evenly spaced min, step and max labels under a slider without dynamic sizing,
       * Something like this:
       *      <-----------------------|---------------->
       *  Max: ______       Increment: _______     Min: ______
       * So to achieve this, divide the width into 6 sections, and give each part one section, and 
       * let the range slider take up the middle 4 sections
       */
      .range-slider-container {
        width: calc(4 * 100% / 6);
        margin: auto;

        input.range-slider {
          width: 100%;
          opacity: $subtle-opacity;
        }
      }

      .range-input-container {
        .range-div {
          width: calc(100% / 6);
          float: left;
          text-align: right;
          font-size: $font-size-medium;
          line-height: normal; // to match input's line height
          
        }

        .range-input {
          outline: none;
          border: none;
          background-color: $transparent;
          flex-grow: 1;
          margin: auto $spacing-small;
          border-bottom: $border-size solid $transparent;
          width: calc(100% / 6 - 2*#{$spacing-small});
          float: left;
          font-size: $font-size-medium;
          // get rid of default padding so that it lines up with the label
          padding: 0;
        }

        .range-input:hover:not([disabled]) {
          border-bottom: $border-size solid $semi-transparent;
        }

        .range-input:focus {
          border-bottom: $border-size solid black;
        }
      }
    }

    .question-content {
      .double-input {
        width: calc(50% - #{$spacing});
        margin-left: 0;
      }

      .double-input-left {
        float: left;
      }

      .double-input-right {
        margin-left: calc(50% + #{$spacing});
      }

      .options-container {
        .checkbox-option {
          .webapp-option-point {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .input-border.minimized, 
  .question-type-select.minimized,
  .question-content.minimized,
  .add-question.minimized {
    display: none;
  }
}

li.question.minimized {
  padding-bottom : $spacing;
}

li.question.ui-sortable-helper {
  margin: $spacing $spacing-extra-large;
  
  box-shadow: $question-drag-shadow;
}

// css that can't be structued like the DOM (because it applies to elements 
// in different places)

/* Inputs */
input.question-title-input, input.section-title-input, input.form-title-input {
  width: 100%;
  font-size: $title-size;
  border: none;
  background-color: $transparent;
  outline: none;
}

.input-border {
  border: $border-size solid $inactive-transparent;
  // position absolute make bug edit contact
  // position: absolute;
  bottom: 0;
  width: 100%;
}


/* Add */
div.add {
  // border: $border-size solid $transparent;
  text-align: center;
  color: $inactive-transparent;
  cursor: pointer;
  position: relative;
}

div.add:hover {
  color: black;
}


/* Icons */
.icon {
  margin: 1px;
}

.icon-clickable {
  cursor: pointer;
}

.webapp-option-point {
  display: flex;
  align-items: center;
}

.drag {
  cursor: move;
  margin: auto 0;
}

.drag-vert {
  margin: auto 0;
  padding: 0 $spacing-small;
}

.close-icon {
  position: absolute;
  // cursor: pointer;
  top: $spacing-small;
  right: $spacing-small;
  font-size: $spacing-large;
  color: $grey-01;
}

.close-option {
  position: initial;
  margin: auto $spacing-small;
}

.calendar-icon {
  margin: $spacing-small;
}


/* Miscelaneous */
.spacing {
  margin-top: $spacing;
}

div.inactive, i.inactive {
  opacity: $inactive-opacity;
  cursor: default;
}

.placeholder {
  visibility: hidden;
}





// MEDIA QUERIES
@media all and (max-width: 62em) {
  #main-container {
    #form-viewer-container {
      #page-container {
        #scroll-container {
          // hide the button menu
          // don't now how the sidebar gonna be in responsive, The same for mobile and little window in desktop ?
          .page-header {
            .dropdown-container {
              display: none;
            }
            .barrier {
              display: none;
            }
          }

          // Reponsive button container of sub header
          .sub-header-container {
            .top-line{
              .controls-container {
                div {
                  margin: 0;
                  .buttons-container {
                   padding: 0 25px;
                   top: 3px;
                    .header-button {
                      width: 90%;
                      margin: 10px auto;
                    }
                  }
                }

              }
            }
          }


          input{
            overflow: auto;
          }

          #undo-popup * {
            display: block;
          }



          //- Responsive form editor
          #editor-container {

            .section {
              overflow-x: hidden !important;

              .section-controls {
                .section-header-container{
                  padding: 0 !important;

                    .minimize-container{
                      margin: 0 5px;
                    }
                    .section-title{
                      margin: 10px 0 !important;

                    }
                }
              }

              .questions{
                padding: 0px 5px !important;
                .sortable-questions{

                }
              }
            }
          }


          /* Questions */

          li.question {
            overflow: auto;
            padding: 25px 5px;
            .rest-of-container {
              .question-header-container {
                flex-direction: column;

                .question-type-select{
                  width: auto !important;
                  margin: 10px 0;
                }
              }

              .list-inputs-container{

                .option{
                  margin-top: 20px !important;

                  .option-title{
                    margin: auto 0 !important;
                  }
                }
              }

              .range-question-content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 10px;


              .range-slider-container{
                width: 100%;
              }

                .range-input-container {
                   margin-top: 10px;
                  .range-div{
                    width: inherit !important;
                  }
                }
              }
            }
          }

          .close-option {
            margin: 0;
          }

          .line-content {
            position: absolute;
            bottom: -25px;
            left: -70px;
          }

          .popover-header {
            padding: 60px 25px !important;
          }
        }
      }
    }
  }
}