<template lang="jade">
.analyse
  sub-header.no-print(title="Analytics")
    tab-select-router(v-bind:tabs="tabs" slot="sub-content")
  router-view

</template>

<script>
export default {
  name : 'analyse',

  components : {
    'tab-select-router' : require('../general/tab-select-router.vue'),
    'sub-header'        : require('../general/sub-header.vue'),
  },

  data : function() {
    return {
      tabs : [
        {
            label: "Mobilisation",
            path:'/analyse/mobilisation',
            name:'mobilisation',
          },
          {
            label: "Équipe",
            path:'/analyse/equipe',
            name:'equipe',
          },
          {
            label: "Base de Contacts",
            path:'/analyse/contacts',
            name:'contacts',
          },
          {
            label: "Enquêtes",
            path:'/analyse/enquete',
            name:'enquete',
          },
      ],
    }
  },
}
</script>

<style lang="scss">
  @import '../../assets/scss/analyse/analyse.scss';
</style>
