<template lang="jade">
.contacts
  .bloc.pure-u-md-24-24(v-show='loading')
    i.fa.fa-circle-o-notch.fa-3x.fa-spin(style="color:#4A90E2; margin-left:49%;margin-top:10px")
  .bloc.pure-u-md-24-24
    .pure-u-md-8-24.shadow
      iframe(:src="this.Nombre_de_contacts" ref="extiframe0" frameborder="0"  height="120" allowtransparency  @load="load($refs.extiframe0)" visibility="hidden")#external-iframe1.noShadow
      iframe(:src="this.Nombre_de_contacts_avec_email" ref="extiframe1" frameborder="0"  height="120" allowtransparency  @load="load($refs.extiframe1)" visibility="hidden")#external-iframe1.noShadow
      iframe(:src="this.Nombre_de_contacts_avec_téléphone" ref="extiframe2" frameborder="0" height="120" allowtransparency  @load="load($refs.extiframe2)" visibility="hidden")#external-iframe1.noShadow
    .pure-u-md-8-24.shadow
      iframe(:src="this.Nombre_de_contacts_semaine" ref="extiframe3" frameborder="0"  height="120" allowtransparency  @load="load($refs.extiframe3)" visibility="hidden")#external-iframe1.noShadow
      iframe(:src="this.Nombre_de_contacts_semaine_avec_email" ref="extiframe4" frameborder="0"  height="120" allowtransparency  @load="load($refs.extiframe4)" visibility="hidden")#external-iframe1.noShadow
      iframe(:src="this.Nombre_de_contacts_semaine_avec_téléphone" ref="extiframe5" frameborder="0" height="120" allowtransparency  @load="load($refs.extiframe5)" visibility="hidden")#external-iframe1.noShadow
    .pure-u-md-8-24.shadow
      iframe(:src="this.Nombre_de_contacts_mois" ref="extiframe6" frameborder="0"  height="120" allowtransparency  @load="load($refs.extiframe6)" visibility="hidden")#external-iframe1.noShadow
      iframe(:src="this.Nombre_de_contacts_mois_avec_email" ref="extiframe7" frameborder="0"  height="120" allowtransparency  @load="load($refs.extiframe7)" visibility="hidden")#external-iframe1.noShadow
      iframe(:src="this.Nombre_de_contacts_mois_avec_téléphone" ref="extiframe8" frameborder="0" height="120" allowtransparency  @load="load($refs.extiframe8)" visibility="hidden")#external-iframe1.noShadow
 
  .bloc.pure-u-md-24-24
     iframe(:src="this.Evolution_du_nombre_de_contacts_dans_le_temps" ref="extiframe9" frameborder="0" width="100%" height="400" allowtransparency  @load="load($refs.extiframe9)" visibility="hidden")#external-iframe1
  .bloc.pure-u-md-24-24
    .pure-u-md-12-24.shadow
      iframe(:src="this.Pyramide_des_ages" ref="extiframe10" frameborder="0" width="50%" height="400" allowtransparency  @load="load($refs.extiframe10)" visibility="hidden")#external-iframe1.noShadow
    .pure-u-md-12-24.shadow
      iframe(:src="this.Genre" ref="extiframe11" frameborder="0" width="50%" height="400" allowtransparency  @load="load($refs.extiframe11)" visibility="hidden")#external-iframe1.noShadow
      
   //// .bloc
  //    iframe(:src="this.iframeUrlMetabaseDashboard" ref="extiframe" frameborder="0" width="100%" height="920px" allowtransparency  @load="load")#external-iframe-dashboard
   

</template>

<script>
var cryptoJS = require('crypto-js')
import  { mapGetters, mapActions } from 'vuex'

import $ from "jquery"


export default {
  name : 'contacts',
  data : function() {
    return {
            //METABASE_SITE_URL : "http://46.101.135.199:3000",
            METABASE_SITE_URL : "https://hq.quorumapps.com",
            //METABASE_SITE_URL : "http://localhost:3000",

            //METABASE_SECRET_KEY : "14264e0a5a689c1e635da6500c42c4ea37295af31a27c471b266655382518a5e",
            METABASE_SECRET_KEY : "fe2aa7cba35dcc8c2dc9db89a6d11022988ed02a602b57bb3c27af73436b4df1",
            //METABASE_SECRET_KEY : "8cddbb1df7c87eef2931d314a20d1253b54a531d4623cba25988ec380bbb3751",
            loading:true
	      }
  },
    mounted : function() {
    },
    computed : {
      ...mapGetters({
        'userConnected' : 'userConnected'
      }),
      svg : function(){
        let retour = null;
        if (this.$refs.extiframe){
          retour = this.$refs.extiframe
        }
        return retour
      },
      iframeUrlMetabaseDashboard : function(){
        var payload = {
          "resource": { "dashboard": 4 },
          "params": {
            "id": this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"dashboard")
      },
      Nombre_de_contacts : function(){
        var payload = {
          "resource": { "question": 8 },
          //"resource": { "question": 1 },
          "params": {
            "group_id":this.userConnected.group_id
          }
        };
        var url = this.generateURL(payload,"question")
        //console.log(url);
        return url
      },
      Nombre_de_contacts_avec_téléphone : function(){
        var payload = {
          "resource": { "question": 39 },
          "params": {
            "groups__via__group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
      Nombre_de_contacts_avec_email : function(){
        var payload = {
          "resource": { "question": 40 },
          "params": {
            "groups__via__group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
      Nombre_de_contacts_semaine : function(){
        var payload = {
          "resource": { "question": 32 },
          "params": {
            "groups__via__group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
      Nombre_de_contacts_semaine_avec_téléphone : function(){
        var payload = {
          "resource": { "question": 36 },
          "params": {
            "groups__via__group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
      Nombre_de_contacts_semaine_avec_email : function(){
        var payload = {
          "resource": { "question": 35 },
          "params": {
            "groups__via__group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
      Nombre_de_contacts_mois : function(){
        var payload = {
          "resource": { "question": 33 },
          "params": {
            "groups__via__group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
      Nombre_de_contacts_mois_avec_téléphone : function(){
        var payload = {
          "resource": { "question": 37 },
          "params": {
            "groups__via__group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
      Nombre_de_contacts_mois_avec_email : function(){
        var payload = {
          "resource": { "question": 38 },
          "params": {
            "groups__via__group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
      Evolution_du_nombre_de_contacts_dans_le_temps : function(){
        var payload = {
          "resource": { "question": 20 },
          "params": {
            "group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
      Pyramide_des_ages : function(){
        var payload = {
          "resource": { "question": 11 },
          "params": {
            "group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
      Genre : function(){
        var payload = {
          "resource": { "question": 41 },
          "params": {
            "groups__via__group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },

	},

	methods: {
    load : function(extiframe){
            
            this.loading = false;
            extiframe.style.visibility="visible";
            
                let x = extiframe.contentWindow.document.getElementsByClassName("EmbedFrame-footer");
                let i;
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
            
      },
     base64url :function(source) {
        // Encode in classical base64
        var encodedSource = cryptoJS.enc.Base64.stringify(source);

        // Remove padding equal characters
        encodedSource = encodedSource.replace(/=+$/, '');

        // Replace characters according to base64url specifications
        encodedSource = encodedSource.replace(/\+/g, '-');
        encodedSource = encodedSource.replace(/\//g, '_');

        return encodedSource;
      },

      generateURL:function(payload,type){
        var header = {
          "alg": "HS256",
          "typ": "JWT"
        };

        var stringifiedHeader = cryptoJS.enc.Utf8.parse(JSON.stringify(header));
        var encodedHeader = this.base64url(stringifiedHeader);
        var stringifiedData = cryptoJS.enc.Utf8.parse(JSON.stringify(payload));
        var encodedData = this.base64url(stringifiedData);
        var token = encodedHeader + "." + encodedData;


        var signature = cryptoJS.HmacSHA256(token, this.METABASE_SECRET_KEY);
        signature = this.base64url(signature);
        var signedToken = token + "." + signature;
        var iframeUrlMetabase = this.METABASE_SITE_URL + "/embed/"+type+"/" + signedToken + "#bordered=false&titled=false"
        return iframeUrlMetabase
      }
	},
}
</script>

<style lang="scss">
  @import '../../assets/scss/analyse/contacts.scss';
</style>
