<template lang="jade">
.enquete
  .bloc.pure-u-md-24-24(v-show='loading')
    i.fa.fa-circle-o-notch.fa-3x.fa-spin(style="color:#4A90E2; margin-left:49%;margin-top:10px")
  .bloc.pure-u-md-24-24
    iframe(:src="this.Evolution_de_presence" ref="extiframe0" frameborder="0"  width="100%" height="400" allowtransparency  @load="load($refs.extiframe0)" visibility="hidden")#external-iframe1
  .bloc.pure-u-md-24-24
    .pure-u-md-16-24.shadow
      iframe(:src="this.Reponse_aux_enquetes" ref="extiframe1" frameborder="0" width="50%" height="400" allowtransparency  @load="load($refs.extiframe1)" visibility="hidden")#external-iframe1.noShadow
    .pure-u-md-8-24.shadow
      iframe(:src="this.nb_de_reponses_aux_enquetes_texte" ref="extiframe2" frameborder="0" width="50%" height="400" allowtransparency  @load="load($refs.extiframe2)" visibility="hidden")#external-iframe1.noShadow
      
</template>

<script>
var cryptoJS = require('crypto-js')
import  { mapGetters, mapActions } from 'vuex'
//import jQuery from "jquery"
export default {
  name : 'enquete',

  data : function() {
    return {
            METABASE_SITE_URL : "https://hq.quorumapps.com",
            //METABASE_SITE_URL : "http://46.101.135.199:3000",

            //METABASE_SECRET_KEY : "14264e0a5a689c1e635da6500c42c4ea37295af31a27c471b266655382518a5e",
            METABASE_SECRET_KEY : "fe2aa7cba35dcc8c2dc9db89a6d11022988ed02a602b57bb3c27af73436b4df1",
            loading:true
	      }
  },
    mounted : function() {
      
    },
    computed : {
      ...mapGetters({
        'userConnected' : 'userConnected'
      }),
      svg : function(){
        let retour = null;
        if (this.$refs.extiframe){
          retour = this.$refs.extiframe
        }
        return retour
      },
      iframeUrlMetabaseDashboard : function(){
        var payload = {
          "resource": { "dashboard": 6 },
          "params": {
          }
        };
        return this.generateURL(payload,"dashboard")
      },
      Evolution_de_presence : function(){
        var payload = {
          "resource": { "question": 48 },
          "params": {
            "group_id":this.userConnected.group_id
          }
        };
        var url = this.generateURL(payload,"question")
        console.log(url);
        return url
      },
      Reponse_aux_enquetes : function(){
        var payload = {
          "resource": { "question": 49 },
          "params": {
            "group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
      nb_de_reponses_aux_enquetes_texte : function(){
        var payload = {
          "resource": { "question": 50 },
          "params": {
            "group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
	},

	methods: {
    load : function(extiframe){
            
            extiframe.style.visibility="visible";
            this.loading = false;
                let x = extiframe.contentWindow.document.getElementsByClassName("EmbedFrame-footer");
                let i;
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
            
      },
     base64url :function(source) {
        // Encode in classical base64
        var encodedSource = cryptoJS.enc.Base64.stringify(source);

        // Remove padding equal characters
        encodedSource = encodedSource.replace(/=+$/, '');

        // Replace characters according to base64url specifications
        encodedSource = encodedSource.replace(/\+/g, '-');
        encodedSource = encodedSource.replace(/\//g, '_');

        return encodedSource;
      },

      generateURL:function(payload,type){
        var header = {
          "alg": "HS256",
          "typ": "JWT"
        };

        var stringifiedHeader = cryptoJS.enc.Utf8.parse(JSON.stringify(header));
        var encodedHeader = this.base64url(stringifiedHeader);
        var stringifiedData = cryptoJS.enc.Utf8.parse(JSON.stringify(payload));
        var encodedData = this.base64url(stringifiedData);
        var token = encodedHeader + "." + encodedData;


        var signature = cryptoJS.HmacSHA256(token, this.METABASE_SECRET_KEY);
        signature = this.base64url(signature);
        var signedToken = token + "." + signature;
        var iframeUrlMetabase = this.METABASE_SITE_URL + "/embed/"+type+"/" + signedToken + "#bordered=false&titled=false"
        return iframeUrlMetabase
      }
	},
}
</script>

<style lang="scss">
  @import '../../assets/scss/analyse/enquete.scss';
</style>
