<template lang="jade">
.mobilisation
  .column.column-primary
    .flex-grow-parent.flex-grow-primary
      .date-container.chart-group
        .date-contacts-container.diagram-container
          .diagram-title-container
            .diagram-title Contacts par {{ intervalText }}
              span.reset-click(v-if="dateRangeSet" v-on:click="resetDate()") réinitialiser
            .title-additional-info {{ totalCount }} Contacts
          #date-contacts-chart.diagram
        .date-picker-cotainer.diagram-container
          #date-picker-chart.diagram
    .flex-grow-parent
      .map-container.diagram-container.chart-group
        .diagram-title-container
          .map-title.diagram-title Carte du groupe
            span.reset-click(v-if="mapBoundsSet" v-on:click="resetMapBounds()") réinitialiser
          .map-title-additional-info.title-additional-info {{ mapAdditionalInfo }}
        #mapCrossfilter.diagram
  .column
    .flex-grow-parent
      .presence-container.diagram-container.chart-group
        .diagram-title-container
          .diagram-title Contacts par présence
            span.reset-click(v-if="presenceFilterSet" v-on:click="resetPresenceFilter()") réinitialiser
        #presence-chart.diagram
    .flex-grow-parent.flex-grow-primary
      .user-container.diagram-container.chart-group
        .diagram-title-container
          .diagram-title Contacts par utilisateur
            span.reset-click(v-if="userFilterSet" v-on:click="resetUserFilter()") réinitialiser
          .title-additional-info {{ numUsers }} {{ numUsersText }}
        #user-chart.diagram


</template>

<script>
import $ from 'jquery'
import crossfilter from 'crossfilter2'
import dc from "dc"
import * as d3 from "d3"
import moment from 'moment'
import _ from 'underscore'
import Leaflet from 'leaflet'
import LeafletMarkerCluster from 'leaflet.markercluster'
import { mapGetters, mapActions } from 'vuex'
import store from '../../store/stateStore.js'

// TODO - have an on-resize handler that re-initializes the graphs
// TODO - dispose crossfilter dimensions and groups

export default {
  name : 'mobilisation',

  props : {
  },

  data : function() {
    return {
      map : null,
      markerList : [],
      markers : null,
      mapInitialized : false,

      minDate : null,
      maxDate : null,

      // charts
      dateAggregationGroup : 'dateAggregation',
      datePickerChart : null,
      aggregationGroup : 'aggregation',
      dateContactsChart : null,
      userChart : null,
      presenceChart : null,

      // titles
      mapAdditionalInfo : "",
      numUsers : 0,

      // sizes - dc js uses static pixel sizes :(
      chartDefaultMargin : 10,
      chartLargeMargin : 15,
      chartAxisMargin : 30,
      chartAxisYMargin : 35,
    }
  },

  computed : {
    ...mapGetters({
      'dateAggregation' : 'date_aggregation',
      'aggregation' : 'aggregation',
      'locationSummary' : 'location_summary',
      'totalCount' : 'total_count',
      'aggregationStart' : 'aggregation_start_ret',
      'aggregationEnd' : 'aggregation_end_ret',
      'aggregationStartFilter' : 'aggregation_start_filter',
      'aggregationEndFilter' : 'aggregation_end_filter',
      'aggregationInterval' : 'aggregation_interval',
      'presenceFilters' : 'presence_filters',
      'userFilters' : 'user_filters',
      'neLat' : 'northeast_lat',
      'neLng' : 'northeast_lng',
      'swLat' : 'southwest_lat',
      'swLng' : 'southwest_lng',

      'users' : 'users',
    }),

    mapBoundsSet : function() {
      return this.neLat != "" && this.neLng != "" && this.swLat != "" && this.swLng != "";
    },

    dateRangeSet : function() {
      return this.aggregationStartFilter != "" && this.aggregationEndFilter != "";
    },

    userFilterSet : function() {
      // account for null entries
      for (let i = 0; i < this.userFilters.length; i++) {
        if (this.userFilters[i]) {
          return true;
        }
      }
      return false;
    },

    presenceFilterSet : function() {
      // account for null entries
      for (let i = 0; i < this.presenceFilters.length; i++) {
        if (this.presenceFilters[i]) {
          return true;
        }
      }
      return false;
    },

    // min and maxDate are also based of this.dateAggregation, so set them at the same time
    dateAggCrossFilter : function() {
      let dateAggMap = [];
      let minDate = null;
      let maxDate = null;
      for (let i = 0; i < this.dateAggregation.length; i++) {
        let date = new Date(this.dateAggregation[i].Key);
        if (!minDate || date < minDate) {
          minDate = date;
        }
        if (!maxDate || date > maxDate) {
          maxDate = date
        }

        dateAggMap.push({
          date : date,
          count : parseInt(this.dateAggregation[i].Doc_count),
        })
      }
      this.minDate = minDate;
      this.maxDate = maxDate;
      return crossfilter(dateAggMap);
    },

    aggCrossFilter : function() {
      let aggMap = [];
      // aggregation comes as a 2D array of strings
      // each row represents an entry, and the columns are, in order:
      // user, date, presence, count (with "N/A" if a field is missing)
      for (let i = 0; i < this.aggregation.length; i++) {
        // Filter out entries where all fields are N/A
        // TODO - might not be a good solution in general
        if (this.aggregation[i][0] != "N/A" || this.aggregation[i][1] != "N/A" || this.aggregation[i][2] != "N/A") {
          aggMap.push({
            user : this.aggregation[i][0],
            date : this.aggregation[i][1],
            presence : this.aggregation[i][2],
            count : parseInt(this.aggregation[i][3]),
          })
        }
      }
      return crossfilter(aggMap);
    },

    /* Internationalization variables */
    // TODO - when making the app international (adding support for other languages), these type of functions 
    // should be moved somewhere more global
    
    // compute the french version of the interval text for the date histogram
    intervalText : function() {
      switch(this.aggregationInterval) {
        case "day":
          return "jour";
        case "week":
          return "semaine";
        case "month":
          return "mois";
        case "year":
          return "an";
        default:
          return this.aggregationInterval;
      }
    },
    
    // get the right pluralization of the User text
    numUsersText : function() {
      if (this.numUsers == 1) {
        return "Utilisateur"
      } else {
        return "Utilisateurs"
      }
    },
  },

  mounted : function() {
    let vueComponent = this;
    this.searchUsers();
    this.generateAggregations();
    let urlMAP = 'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png'
    this.map = L.map('mapCrossfilter').setView([44.84009,-0.59996], 15);
    L.tileLayer(urlMAP, {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(this.map);

    // if the map is too big, getBounds() behaves strangely
    this.map.options.minZoom = 2;

    this.map.on("zoom", function() {vueComponent.updateMap()});
    this.map.on("move", function() {vueComponent.updateMap()});
  },

  watch : {
    // making the dc.js charts computed variables doesn't work since the variables are never explicitly used,
    // so the computed code never runs
    // instead, wait for the data to load, then setup the charts
    aggCrossFilter : {
      handler : function() {
        if (this.aggCrossFilter) {
          this.setupAggregationCharts();
        }
      },
      deep: true
    },

    dateAggCrossFilter : {
      handler : function() {
        if (this.dateAggCrossFilter) {
          this.setupDateAggregationCharts();
        }
      },
      deep: true
    },

    locationSummary : {
      handler : function() {
        let factor = this.totalCount / this.locationSummary.length;

        if (factor > 1) {
          this.mapAdditionalInfo = "* Les chiffres et les emplacements sont approximatifs";
        } else {
          this.mapAdditionalInfo = "";
        }

        if (this.markers) {
          this.map.removeLayer(this.markers);
        }
        if (this.markerList) {
          this.markerList = [];
        }

        //Slightly modified default functionality;
        // display is same, but the count is multiplied factor and rounded
        // also the scales for small, medium and large icons is made dynamic
        let iconCreateFunction = function (cluster) {
          var childCount = cluster.getChildCount() * factor;
          // idea: round to nearest multiple of 10 size of factor
          // so if factor is 12, round to nearest 10, if factor is 90, round to nearest 100
          // use a log to get this rounding
          // Note: because a log is being used, 50 is not the cutoff (nor should it be); instead it's 10^x.5 for some x
          var scale = Math.pow(10, parseInt(Math.log10(factor) + 0.5))
          var childCountRounded = parseInt((childCount / scale) + 0.5) * scale

          var c = ' marker-cluster-';
          if (childCountRounded < 10 * scale) {
            c += 'small';
          } else if (childCountRounded < 100 * scale) {
            c += 'medium';
          } else {
            c += 'large';
          }

          return new L.DivIcon({ html: '<div><span>' + childCountRounded + '</span></div>', className: 'marker-cluster' + c, iconSize: new L.Point(40, 40) });
        }

        this.markers = L.markerClusterGroup({
          singleMarkerMode : true,
          spiderfyOnMaxZoom : false,
          iconCreateFunction : iconCreateFunction,
        });

        if (this.locationSummary) {
          for (let i = 0; i < this.locationSummary.length; i++) {
            let address = this.locationSummary[i].address;
            let marker = L.marker(new L.LatLng(parseFloat(address.latitude), parseFloat(address.longitude)));
            this.markerList.push(marker);
            this.markers.addLayer(marker);
          }

          this.map.addLayer(this.markers);

          // if the map hasn't been dragged, let it be free to zoom/pan to make all markers visible
          if (!this.mapBoundsSet) {
            this.mapInitialized = false;
            this.map.fitBounds(L.featureGroup(this.markerList).getBounds());
          }
        }
      },
      deep: true
    },

    users : {
      handler : function() {
        // if the searchUsers call returns after the aggregation, update the user graph with the user names
        if (this.users.length > 0 && this.userChart != null) {
          this.setupUserChart();
          this.userChart.render();
        }
      },
      deep: true
    }
  },

  methods : {
    // getTr
    getStringInterval : function(foo) {
      console.log(foo)
      return foo;
    },

    ...mapActions({
      generateAggregations : 'GENERATE_AGGREGATIONS',
      updateAggregation : 'UPDATE_AGGREGATION',
      updateLocationSummary : 'UPDATE_LOCATION_SUMMARY',
      resetAggregationVars : 'RESET_AGGREGATION_VARS',
      resetBoundVars : 'RESET_BOUND_VARS',

      searchUsers: 'SEARCH_USER',
    }),

    setupDateAggregationCharts : function() {
      this.setupDatePickerChart();
      dc.renderAll(this.dateAggregationGroup);
    },

    setupAggregationCharts : function() {
      this.setupDateContactsChart();
      this.setupUserChart();
      this.setupPresenceChart();
      dc.renderAll(this.aggregationGroup);
    },

    setupDatePickerChart : function() {
      let vueComponent = this;

      let interval = d3.timeDay;

      let datePickerDimension = this.dateAggCrossFilter.dimension(function (row) {
        // without using d3.timeDay, there's an issue with the bar being highlighted when the extent
        // doesn't overlap midnight (maybe due to timezones, since testing was at GMT+2 and the issue
        // happenned between 1-3 instead of 23-1)
        // In any case, using timeDay results in the expected behaviour
        return d3.timeDay(new Date(row.date));
      });
      let datePickerGroup = datePickerDimension.group().reduceSum(function (row) {
        return row.count;
      });

      let firstDay = moment(this.minDate).subtract(1, 'days');
      let lastDay = moment(this.maxDate).add(1, 'days');
      let scalePicker = d3.scaleTime().domain([firstDay, lastDay])

      // css doesn't work since it's too small
      let chartHeight = 50 + vueComponent.chartAxisMargin;

      let chart = dc.barChart('#date-picker-chart', this.dateAggregationGroup)
        .height(chartHeight)
        .margins({
          top: 0,
          right: vueComponent.chartLargeMargin,
          bottom: vueComponent.chartAxisYMargin,
          left: (2 * vueComponent.chartAxisMargin), // account for dateContactsChart's y axis label
        })
        .xAxisLabel("Date de dernière modification")

        .dimension(datePickerDimension)
        .group(datePickerGroup)
        .centerBar(true)
        .x(scalePicker)
        .xUnits(function() {
          // .xUnits with d3.timeDays and gap both not working, so manually compute the number of buckets
          return d3.timeDays(firstDay, lastDay).length
        })
        .filterHandler(function(dimension, filters) {
          vueComponent.updateDate(filters)
        })

      this.datePickerChart = chart;
    },

    setupDateContactsChart : function() {
      let vueComponent = this;

      let dateContactsDimension = this.aggCrossFilter.dimension(function (row) {
        if (row.date == "N/A") {
          return null // this results in it not being displayed in the chart
        } else {
          return new Date(row.date)
        }
      });
      let dateContactsGroup = dateContactsDimension.group().reduceSum(function (row) {
        return row.count;
      });

      // aggregationStart/End are string dates in the form yyyy-mm-dd
      // aggregationStart/End are set at the same time as aggregation, so should not be null
      // TODO - should add check for null/empty string
      let startDateArr = this.aggregationStart.split("-")
      let startDate = new Date(parseInt(startDateArr[0]), parseInt(startDateArr[1]) - 1, parseInt(startDateArr[2]))
      let endDateArr = this.aggregationEnd.split("-")
      // there seems to be a bug with not displaying the last point, maybe because it's considered slightly past
      // (inequality issue?); in any case, add a day to fix it
      let endDate = new Date(parseInt(endDateArr[0]), parseInt(endDateArr[1]) - 1, parseInt(endDateArr[2]) + 1)
      let scale = d3.scaleTime().domain([startDate, endDate])

      let chart = dc.lineChart('#date-contacts-chart', this.aggregationGroup)
        .margins({
          top: vueComponent.chartDefaultMargin,
          right: vueComponent.chartLargeMargin,
          bottom: vueComponent.chartAxisMargin,
          left: vueComponent.chartAxisMargin
        })
        .yAxisLabel('Nombre de Contacts', vueComponent.chartAxisMargin)

        .dimension(dateContactsDimension)
        .group(dateContactsGroup)
        .renderArea(true)
        .renderHorizontalGridLines(true)
        .x(scale)
        .brushOn(false)
        .elasticY(true)
        .title(function(row) {
          let datePrefix = "";
          switch(vueComponent.aggregationInterval) {
            case "year":
              datePrefix = moment(row.key).format('YYYY');
              break;
            case "month":
              datePrefix = moment(row.key).format('MMMM');
            case "week":
              datePrefix = "Week of " + moment(row.key).format('MMM DD, YYYY');
              break;
            default:
              datePrefix = moment(row.key).format('MMM DD, YYYY');
          }
          return datePrefix + ": " + row.value;
        })

      this.dateContactsChart = chart;
    },

    setupUserChart : function() {
      let vueComponent = this;

      let userDimension = this.aggCrossFilter.dimension(function (row) {
        for (let i = 0; i < vueComponent.users.length; i++) {
          if (vueComponent.users[i].id.toString() == row.user.toString()) {
            return vueComponent.users[i].firstname + " " + vueComponent.users[i].surname;
          }
        }
        return row.user;
      });
      let userGroup = userDimension.group().reduceSum(function (row) {
        return row.count;
      });

      let chart = dc.rowChart('#user-chart', this.aggregationGroup)
        .margins({
          top: vueComponent.chartDefaultMargin,
          right: vueComponent.chartLargeMargin,
          bottom: vueComponent.chartAxisMargin + vueComponent.chartDefaultMargin,
          left: vueComponent.chartLargeMargin
        })

        .group(userGroup)
        .dimension(userDimension)
        .label(function(row) {
          return row.key;
        })
        .title(function(row) {
          return row.value;
        })
        .elasticX(true)

      // chart can be redrawn on a map move, so preserve any existing filters
      for (let i = 0; i < this.userFilters.length; i++) {
        chart.filter(this.userFilters[i])
      }

      // after adding the filters, add the listener for any new filters
      chart.on('filtered', function(chart, filter) {
        store.commit("SET_USER_FILTERS", vueComponent.updateFilter(vueComponent.userFilters, filter));
        vueComponent.updateLocationSummary();
      })

      // .ticks() doesn't return the original chart, so do this separately
      chart.xAxis().ticks(4)

      // no easy way to add an x axis label in dc.js; add it to the svg manually
      chart.on('postRender', function(chart) {
          chart.svg()
                .append("text")
                .attr("class", "x-axis-label")
                .attr("text-anchor", "middle")
                .attr("x", chart.width()/2)
                .attr("y", chart.height() - vueComponent.chartDefaultMargin / 2)
                .text("Nombre de Contacts");
        })

      this.userChart = chart;
      this.numUsers = userGroup.size()
    },

    setupPresenceChart : function() {
      let vueComponent = this;

      let presenceDimension = this.aggCrossFilter.dimension(function (row) {
        // TODO - this should be translated/use more user-friendly words
        return row.presence;
      });
      let presenceGroup = presenceDimension.group().reduceSum(function (row) {
        return row.count;
      });

      let chartId = '#presence-chart';
      let smallMargin = this.chartDefaultMargin;
      let margin = this.chartLargeMargin;
      let textSize = 13;
      let gap = 5;
      let externalDistance = this.chartAxisMargin;

      let chart = dc.pieChart(chartId, this.aggregationGroup)
        .group(presenceGroup)
        .dimension(presenceDimension)
        .minAngleForLabel(0)
        .label(function(row) {
          let totalCount = presenceGroup.all().reduce(function(sum, d) {
            return sum + d.value
          }, 0)
          return parseInt(100 * row.value / totalCount + 0.5) + "%";
        })
        .title(function(row) {
          let totalCount = presenceGroup.all().reduce(function(sum, d) {
            return sum + d.value
          }, 0)
          return row.key + ": " + row.value + " (" + parseInt(100 * row.value / totalCount + 0.5) + "%)";
        })
        .drawPaths(true)
        .externalLabels(externalDistance)

        .legend(dc.legend().x(margin).y(smallMargin).itemHeight(textSize).gap(gap))

        // make some guesses for cx and radius so the change isn't as dramatic
        .cx((parseInt($(chartId).width()) + 5*margin) / 2)
        // underestimate the radius; it looks better growing than shrinking
        .radius((parseInt($(chartId).width())) / 4)

        .on('postRender', function(chart) {
          // so that the legend is not covered, dynamically move the chart over
          let legendWidth = chart.select("g.dc-legend")[0][0].getBoundingClientRect().width + smallMargin;
          let containerWidth = parseInt($(chartId).width())
          chart
            .cx(legendWidth + (containerWidth - legendWidth) / 2)
            .radius((containerWidth - legendWidth) / 2 - smallMargin - externalDistance)
            // since this is postRender, redraw the chart (this causes the chart to visibly move)
            .redraw()
        })

      // chart can be redrawn on a map move, so preserve any existing filters
      for (let i = 0; i < this.presenceFilters.length; i++) {
        chart.filter(this.presenceFilters[i])
      }

      // after adding the filters, add the listener for any new filters
      chart.on('filtered', function(chart, filter) {
        store.commit("SET_PRESENCE_FILTERS", vueComponent.updateFilter(vueComponent.presenceFilters, filter));
        vueComponent.updateLocationSummary();
      })

      this.presenceChart = chart;
    },

    // this function returns an updated filters array by either adding filter to it (if the filter
    // doesn't already exist) or removing filter (if it does)
    updateFilter : function(filters, filter) {
      let index = filters.findIndex(function(f) { return f == filter });
      if (index >= 0) {
        filters.splice(index, 1);
      } else {
        filters.push(filter);
      }
      return filters;
    },

    resetDate : function() {
      this.datePickerChart.filterAll();
      dc.redrawAll(this.dateAggregationGroup);
      store.commit("SET_AGGREGATION_START_FILTER", "")
      store.commit("SET_AGGREGATION_END_FILTER", "")
      this.updateAggregation();
      this.updateLocationSummary();
    },

    resetMapBounds : function() {
      this.resetBoundVars();
      this.updateAggregation();
      this.updateLocationSummary();
    },

    resetPresenceFilter : function() {
      store.commit("SET_PRESENCE_FILTERS", [])
      this.presenceChart.filterAll();
      dc.redrawAll(this.aggregationGroup);
      this.updateLocationSummary();
    },

    resetUserFilter : function() {
      store.commit("SET_USER_FILTERS", [])
      this.userChart.filterAll();
      dc.redrawAll(this.aggregationGroup);
      this.updateLocationSummary();
    },

    // _.debounce is a function provided by underskore to limit how
     // often a particularly expensive operation can be run.
     // In this case, we want to limit how often we access
     // the API, waiting until the user has finished selecting
     // a new time frame before making the request.
     // For more information, http://underscorejs.org/#debounce
    updateDate : _.debounce(function(filters) {
      // first, commit the new times
      if (filters.length > 0 && filters[0].length > 1) {
        // filter highlights any blocks where the extent passes over midnight
        // so a range from 23h on Jan 1 - 1h on Jan 2 would highlight the Jan 2 block only
        // however, the dates returned are from Jan 1 - Jan 2 (when formatting just the date)
        // to format the correct date range that matches the highlighting behaviour, add 1 day
        // to the lower bound
        store.commit("SET_AGGREGATION_START_FILTER", moment(filters[0][0]).add(1, 'days').format("YYYY-MM-DD"))
        store.commit("SET_AGGREGATION_END_FILTER", moment(filters[0][1]).format("YYYY-MM-DD"))
      } else {
        this.resetAggregationVars();
      }
      this.updateAggregation();
      this.updateLocationSummary();
    }, 1000),

    updateMap : _.debounce(function() {
      if (!this.mapInitialized) {
        // avoid making multiple updateAggregation and updateLocationSummary calls on initialization
        this.mapInitialized = true;
        return;
      }

      // todo - could be issues with international date line
      let bounds = this.map.getBounds();
      if (bounds._northEast && bounds._southWest) {
        store.commit("SET_NORTHEAST_LAT", bounds._northEast.lat.toString());
        store.commit("SET_NORTHEAST_LNG", bounds._northEast.lng.toString());
        store.commit("SET_SOUTHWEST_LAT", bounds._southWest.lat.toString());
        store.commit("SET_SOUTHWEST_LNG", bounds._southWest.lng.toString());
      } else {
        this.resetBoundVars();
      }
      this.updateAggregation();
      this.updateLocationSummary();
    }, 1000),
  }
}
</script>

<style lang="scss">
  @import '../../assets/scss/analyse/mobilisation.scss';
  @import '../../../node_modules/dc/style/dc.scss';
</style>
