$user-icon-color-0: #EB3459; //red
$user-icon-color-1: #00D19C; //green
$user-icon-color-2: #DC45A3; //pink
$user-icon-color-3: #8255F5; //purple
$user-icon-color-4: #6AD931; //green
$user-icon-color-5: #20BFFB; //blue
$user-icon-color-6: #DDFB34; //yellow
$user-icon-color-7: #0F949A; //blue-green
$user-icon-color-8: #9FA4AB; //grey

.user-icon-color-0 {
    background-color: $user-icon-color-0;
}

.user-icon-color-1 {
    background-color: $user-icon-color-1;
}
 
.user-icon-color-2 {
    background-color: $user-icon-color-2;
}
  

.user-icon-color-3 {
    background-color: $user-icon-color-3;
}
  

.user-icon-color-4 {
    background-color: $user-icon-color-4;
}
 

.user-icon-color-5 {
    background-color: $user-icon-color-5;
}
  

.user-icon-color-6 {
    background-color: $user-icon-color-6;
}
  

.user-icon-color-7 {
    background-color: $user-icon-color-7;
}
  

.user-icon-color-8 {
    background-color: $user-icon-color-8;
}
