@import "../material.scss";
@import "./shared-icon-colors.scss";
@import "/static/fonts/proxima/fonts.css"; 

// spacing
$spacing-extra-small: 2px;
$spacing-small: 5px;
$spacing: 10px;
$spacing-medium-large: 15px;
$spacing-large: 20px;
$spacing-extra-large: 25px;
$spacing-max-large: 30px;

// Fonts TODO - combine these with a consistent naming convention - should use em or pt?
$font-size-small: 8.5pt;
$font-size: 10pt;
$font-size-medium: 13pt;
$font-size-large: 16pt;
$font-size-extra-large: 30pt;

$font-size-em-small: 0.75em;
$font-size-em-normal: 1em;
$font-size-em-large: 1.5em;
$font-size-em-extra-large: 2em;
$font-size-em-huge: 2.5em;

$font-size-rem-small: 0.75rem;
$font-size-rem-normal: 1rem;
$font-size-em-extra-normal: 1.3rem;
$font-size-rem-large: 1.5rem;
$font-size-rem-extra-large: 2rem;
$font-size-rem-huge: 2.5rem;

// Font family & weight light - regular - semi bold - bold
$font-light : 'proxima-light';
$font-regular : 'proxima-regular';
$font-semibold : 'proxima-semibold';
$font-bold : 'proxima-bold';


$title-size: 15pt;

// Colors
$white: #FFFFFF;
$black: #212121;

$light-grey: #B4B4B4;
$button-grey: #9B9B9B;
$background-grey: #F2F2F2;
$title-grey: #4A4A4A;
$hover-grey: #e0e0e0;
$line-grey: #CCCCCC;
$dark-grey: #2f4f4f;
$grey-text-help: #647a92;

// $button-blue: #4990E2;
$button-blue: #4A90E2;
$mail-blue: #5395e2;
$highlight-text-blue: #0cb2d2;

$green: #2ecc71;
$red: #f22613;

// Quorum colors
$green-quorum: #00D19C;
$pink-quorum: #DC45A3;
$black-quorum: #252F2D;
$purple-quorum: #3D448D;
$blue-quorum: #20BFFB;

///////////////
/* Colors GUI */
////////////////

// Grey
$grey-01: #213E61;
$grey-02: rgba(33,62,97,0.70);
$grey-03: rgba(33,62,97,0.30);
$grey-04: rgba(33,62,97,0.20);
$grey-05: #F8F9FA;
$grey-06: #9FA4AB;

// Accent
$accent-01: #00D19C;
$accent-02: #1968F0;

// Secondary

$secondary-01: #0F949A;
$secondary-02: #6AD931;
$secondary-03: #DDFB34;
$secondary-04: #DC45A3;
$secondary-05: #8255F5;
$secondary-06: #EB3459;


$disabled-entry: #ebebe4;
$close-color: #f1a9a0;

// Transparency
$inactive-opacity: 0.25;
$semi-opacity: 0.5;
$subtle-opacity: 0.75;
$opaque-opacity: 1;

$transparent: rgba(0, 0, 0, 0);
$inactive-transparent: rgba(0, 0, 0, $inactive-opacity);
$semi-transparent: rgba(0, 0, 0, $semi-opacity);
$subtle-transparent: rgba(0, 0, 0, $subtle-opacity);
$opaque-transparent: rgba(0, 0, 0, $opaque-opacity);

// Borders
$border-size: 1px;
$heavy-border-size: 2px;

// shadows
/* background: */
$card-ui-shadow: 0 1px 6px 0 rgba(33,62,97,0.20), 0 0 1px 0 rgba(33,62,97,0.15);
$card-shadow: $shadow-1dp;
$emphasis-card-shadow: $shadow-2dp;
$question-drag-shadow: $shadow-10dp;
$option-drag-shadow: $shadow-3dp;
$header-shadow: $shadow-3dp;
$option-shadow: 0px 1px 7px 0px rgba(33, 62, 97, 0.2);
$header-principal-shadow: 0 1px 0 0 rgba(128,140,155,0.06), 0 3px 17px 0 rgba(128,140,155,0.20), 0 2px 11px 0 rgba(33,62,97,0.15);
// z-index
$z-index-on-top: 2000;
$z-index-above-default: 10;