<template lang="jade">
div.fiche-user

    template(v-if="!is_edited")
        INFORMATIONS
    template(v-else)
       EDITION


</template>

<script>
  import  { mapGetters, mapActions } from 'vuex'

export default{
	name:'FICHE-USER',

	components : {
	  'INFORMATIONS' : require('./fiche-user-components/informations.vue'),
      'EDITION' : require('./fiche-user-components/edition.vue'),
    },
	computed : {
	    ...mapGetters({
	      'is_edited' : 'is_edited'
	    })
	},

	data : function () {
		return {
	    	// is_edited : false
		}
	  },

	methods : {

		closeFiche : function(){
			this.$store.commit('DELETE_ACTIVE_USER');
		}
	}
}
</script>

<style>
.close-fiche a  {
	color:#95a5a6;
}
#map-user { height: 150px; margin-bottom: 20px; }
</style>
