<template lang="jade">
div
	h3 Mobiliser sans limites

	el-row(:gutter='20').bandeau
		el-col(:span='12')
			p Bienvenue sur Quorum ! Depuis l’application web retrouvez tout ce qu’il vous faut pour votre action : <b>organisez</b> , <b>ciblez</b>, analysez les retombées, et paramétrez l’application mobile pour <b>construire</b> votre mouvement depuis le terrain.
			br
			a(href="/static/discover-quorum.pdf" target="_blank") 
				i.fa.fa-chevron-right(aria-hidden='true')
				| Découvrir les concepts de base du Quorum
			div.contact
				a(href="mailto:team@quorumapp.co")
					i.fa.fa-chevron-right(aria-hidden='true')
					| Contacter un membre de l’équipe 
		
		//- liens 
		el-col(:span='6').text-center.quick-access
			router-link(:to="{name : 'contacts-list'}" )
				img(src='/static/icon-geo.png', alt='Quorum')
				p 
					b Recherche ciblée
		el-col(:span='6').text-center.quick-access
			a(@click="open")
				img(src='/static/icon-bubble.png', alt='Quorum')
				p
					b Inviter de nouveaux <br/> volontaires



</template>

<script>
export default {
    methods: {
      open() {
        this.$alert("Vous pouvez d'ores et déjà inviter des volontaires à se rendant sur https://cloud.quorumapps.com et en s'inscrire en utilisant votre code de campagne", 'Inviter de nouveaux volontaires', {
          confirmButtonText: 'OK'
        });
      }
    }
  }
</script>


<style>
.bandeau {
	margin-top: -20px;
	margin-bottom: 40px;
}
.bandeau .contact {
	margin-left: 0px;
}
.bandeau a {
	color:#4990E2 !important;
}
.bandeau a:hover {
	text-decoration: underline;
	color:#4990E2 !important;
}
.quick-access a {
	color:#000 !important;
}
.quick-access a:hover {
	color:#000 !important;
	text-decoration: underline;
}
</style>
