<template lang="jade">

  div.box-card-container
    .loader.box-card(v-if="is_loading")
      i.fa.fa-circle-o-notch.fa-spin.fa-2x.fa-fw
      span.sr-only Loading...
    EDITION.box-card(v-else-if="is_edited")
    HELP.box-card(v-else-if="Object.keys(activeUser).length == 0")

</template>

<script>
import  { mapGetters, mapActions } from 'vuex'
var _ = require('underskore');

  export default {
    name : 'RIGHT-COLUMN-USERS',

    data : function() {
      return {
        active : _.isEmpty(this.activeUser)
      }
    },

    components : {
      'HELP' : require('./sidebars/help.vue'),
      'EDITION' : require('./sidebars/edition.vue')
    },

    computed : {
      ...mapGetters({
        'is_loading' : 'is_loading'
      }),
      ...mapGetters({
        'activeUser' : 'activeUser'
      }),
      ...mapGetters({
        'is_edited' : 'is_edited'
      })
    },
  }

</script>
