<template lang="jade">
#user-container
	.individus.pure-u-md-12-24
		a.link-card.add-card(v-on:click.prevent="newUser()")
			.overide
				.text-add 
					.webapp-icons-24px-plus
					| Ajouter un membre à votre équipe
			.card-child
					.card-container
						.top-card
							.avatar-user.organizer
							.name-statut
								.name
									h2 Prenom Nom
								.statut
									div Militant
							.option
								.webapp-option-point
								a
									button SUPPRIMER

						.middle-card
							.item.pure-u-md-13-24
								div.icon
									.webapp-icons-24px-mail
								span.item-content
									| Mail
							.item.pure-u-md-11-24
								div.icon
									.webapp-icons-24px-phone
								span.item-content
									| Telephone

						.bottom-card
							.item
								div.icon
									.webapp-icons-24px-pin
								span.item-content
									| Adresse

							//- template(v-else)
							//- 	span Utilisateur n°{{user.id}}
	.individus.pure-u-md-12-24(v-for='user in users')
		a(@click.prevent="goToDetails(user)").link-card
			.card-child
					.card-container
						.top-card
							template(v-if="user.role==='admin'")
								//- i.material-icons rowing
								.avatar-user.organizer
							template(v-if="user.role==='superadmin'")
								//-i.material-icons stars
								.avatar-user.leader
							template(v-if="user.role === undefined || user.role === 'null'|| user.role === 'user'|| user.role.length === 0")
								//- i.material-icons account_circle
								.avatar-user.helper
							template(v-if="user.firstname.length > 0 && user.surname.length > 0 ")
								.name-statut
									.name
										h2   {{ user.firstname}} &nbsp;  {{ user.surname}}
									.statut
										div {{ (user.role != undefined && user.role.length > 0 && user.role !='null' && user.role !='user') ? (user.role === 'admin' ? 'Militant opérationnel':'Gestionnaire' ) : 'Militant terrain' }}
							.option
								.webapp-option-point
								a
									button(v-on:click.prevent="deleteUser(user)") SUPPRIMER

						.middle-card
							.item.pure-u-md-13-24
								div.icon
									.webapp-icons-24px-mail

								span.item-content
									| {{ (user.mail != undefined && user.mail.length > 0 ) ? user.mail : 'non renseigné' }}
							.item.pure-u-md-11-24
								div.icon
									.webapp-icons-24px-phone
								span.item-content
									| {{ (user.phone != undefined && user.phone.length > 0 ) ? user.phone : 'non renseigné' }}

						.bottom-card
							.item
								div.icon
									.webapp-icons-24px-pin
								span.item-content
									| {{ (user.address != undefined && user.address.length > 0 ) ? user.address : 'non renseignée' }}

							//- template(v-else)
							//- 	span Utilisateur n°{{user.id}}
</template>

<script>

import  { mapActions,  mapGetters  } from 'vuex'

var user_store = require('../../../../models/user_store.js');

export default {
	name : 'users',

	data : function() {
		return {
			// contacts : this.$store.getters.contacts,
			sort_result : this.$store.getters.sort_result,
      		sort_options : [
		        {
		          value:'firstname',
		          label: 'Prénom'
		        },
		        {
		          value:'surname',
		          label:'Nom'
		        }
      		],
      		asc:this.$store.getters.order,
      		//result_index : this.$store.getters.result_index,
      		// current_page : parseInt(this.$store.getters.result_index),
		}
	},

	computed : {
	    ...mapGetters({
	      'users' : 'users',
	      'new_user' : 'new_user',
	    }),
	    ...mapGetters({
        'usersCount' : 'usersCount'
     	}),
     	...mapGetters({
        'page_count' : 'pcount'
     	}),
      ...mapGetters({
      'result_index':'result_index'
      }),
      ...mapGetters({
     		'nb_results' : 'nb_results'
     	}),

     	current_page : function() {
     		return (this.result_index/this.nb_results)+1
     	}

	},

	methods : {

		...mapActions({
	      search: 'SEARCH_USER'
	    }),

		goToDetails : function (user) {
			this.$store.commit('DELETE_ACTIVE_USER');
			this.$store.commit('LOADING', true);
			this.$store.commit('EDIT', true);
			var router = this.$router;

		    user_store.first(this.$router,user.id, (res) => {
		    	this.$store.commit('SET_ACTIVE_USER', res);
		    	this.$store.commit('LOADING', false)
		    });
    	},
    	setFilter:function(){
	      var params = {
	        'result_index' : this.result_index.toString(),
	        'order' : this.asc.toString()
	      }
	      this.$store.commit('SET_FILTERS_USERS', params);
	    },
    	addSort : function() {
		    this.setFilter();
		    this.search();
	    },
	    handlePagination : function(val) {

          this.$store.commit('SET_RESULT_INDEX', this.nb_results*(val-1) )
          this.active_page = val;
	        this.setFilter();
	        this.search();
	    },
	    changeOrder: function(){
		    this.asc = !this.asc;
		    this.setFilter();
		    this.search();
	    },
			deleteUser : function(user) {
				    this.$confirm('Voulez-vous supprimer cet utilisateur ? Toute suppression est irréversible', 'Attention', {
			          type: 'warning'
			        }).then(() => {
			            var router = this.$router
			            user_store.delete(router, user.id, (res) => {
			              this.$store.commit('DELETE_ACTIVE_USER');
			              this.search();
			              this.$message({
			                type: 'success',
			                message: 'Utilisateur supprimé'
			              });
			            });
			        }).catch(() => {
			          this.$message({
			            type: 'info',
			            message: 'Suppression annulée'
			          });
			        });
			},

			newUser : function() {
	      		this.$store.commit('DELETE_ACTIVE_USER');
				this.$store.commit('LOADING', true);
				this.$store.commit('EDIT', true);
				this.$store.commit('SET_ACTIVE_USER', {"Password":""});
			  	this.$store.commit('LOADING', false)
   			},

	    export_data : function () {

	    	var arr = [];
	    	arr.push(["NOM", "PRENOM", "MAIL"])

			//contact_store.find(null, (res) => {
      user_store.list(null, (res) => {

				var currentTime = +new Date();

		    	res.users.forEach(function (obj) {
		    		var el = [obj.surname, obj.firstname, obj.mail]

		    		for(var o in el) if (el[o]==null) el[o] = 'null'

		    		arr.push(el)
		    	})

				var csvContent = "data:text/csv;charset=utf-8,";

				arr.forEach(function(infoArray, index){

				    var dataString = infoArray.join(",");
				    csvContent += index < arr.length ? dataString+ "\n" : dataString;

				});

				var encodedUri = encodeURI(csvContent);


				var link = document.createElement("a");
				link.setAttribute("href", encodedUri);
				link.setAttribute("download", "data-w.csv");
				document.body.appendChild(link);

				link.click();

      })

	    }
	},

	mounted : function() {
	    if (this.new_user) {
	      this.newUser();
	    }
	    this.$store.commit("RESET_NEW_USER");
  	}

}

</script>

<style lang="scss">
@import '../../../../assets/scss/structure/grid.scss';
@import '../../../../assets/scss/user-management/user.scss';
</style>
