@import "../shared/shared-constants.scss";
// @import '../../../node_modules/quill/dist/quill.core.css';

.editor {
  .variables-container {
    display: flex;
    font-size: $font-size;
    padding-top: $spacing;
    padding-bottom: $spacing;

    .variables-text {
      margin: auto 0;
    }

    .variable-button {
      cursor: pointer;
      margin: 0 $spacing-extra-small;

      .autosend-img-tag {
        // the element isn't inline here, so no need for margin-bottom
        margin-bottom: 0;
      }
    }

    .variables-text + .variable-button, .variable-button + .variables-text {
      margin-left: $spacing-small;
    }
  }

  .quillWrapper {
    .quill-editor-container {
      height: 200px; // TODO - find a better way to manage this
    }
  }
}
