@import './input-border-shared.scss';

$padding: $spacing-medium-large;

.input-dropdown-container {
  display: flex;
  position: relative;
  padding: $padding;
  width: calc(100% - 2 * #{$padding});
  background-color: $white;
  cursor: text;

  .input-dropdown-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .input-dropdown-title {
      font-size: $font-size-small;
      color: $button-grey;
      margin-bottom: $spacing-extra-small;
    }

    .input-line-container {
      width: 100%;

      .el-select {
        width: 100%;
        .el-input {
          input.el-input__inner:focus {
            border-color: $border-color-active;
          }
        }
      }
    }
  }
}