@import '../shared/shared-constants.scss';

$border-color: lightgray;
$border-color-active: #00d19e;
$border-radius: $spacing;

.input-border {
	border: $border-size solid $border-color;
  // borders might overlap from .middle or .last, so move this selected div up to the top
	border-radius: $border-radius;
}

.input-border.active {
  border-color: $border-color-active;
  z-index: $z-index-above-default;
}

.input-border.first {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-border.middle {
  border-radius: 0;
  // want border thickness between divs to be only one $border-size, so move div up to overlap borders
  margin-top: calc(-1 * #{$border-size});
}

.input-border.last {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  // want border thickness between divs to be only one $border-size, so move div up to overlap borders
  margin-top: calc(-1 * #{$border-size});
}