// Add higher specificity so that this style will override the default popover style
div.loading-popover-container.popover-container {
  div.popover-content {
    background-color: transparent;
    
    .loading-popover {
      .loading-spinner {
        color: white;
        font-size: 40pt;
      }
    }
  }
}