@import '../shared/shared-constants.scss';

// This will make the popover fill the div in which it is placed,
// as long as the parent div has position:relative or position:absolute
// (so that .popover-container's position:absolute can be calculated relative
// to the parent).
// Also note that the parent having display:flex may be necessary if there are 
// scrollbars involved (for example, if a sibling div has a scrollbar, display:flex
// allows the popover to cover the sibling's scrollbar)
/*
.popover-container {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;

  display: flex;
  z-index: $z-index-on-top;

  overflow: auto;

  // For the popover, add a shadow over the rest of the content
  background-color: $semi-transparent;

  .popover-content {
    margin: auto;
    background-color: $white;
  }
}
*/

// New behaviour:
// Popover should cover the entire screen
.popover-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  // min-height: 100%;
  height: 100%;

  display: flex;
  z-index: $z-index-on-top;

  overflow: auto;

  // For the popover, add a shadow over the rest of the content
  background-color: $semi-transparent;

  .popover-content {
    margin: auto;
    background-color: $white;
  }
}
