@import "../shared/shared-constants.scss";

$padding: $spacing;
$padding-large: $spacing-large;

.sub-header-container {
  border-bottom: $border-size solid $line-grey;
  width: 100%;

  .top-line {
    display: flex;
    font-size: $font-size;

    .title {
      flex-grow: 1;
      font-size: $font-size-em-extra-large;
      padding: $padding-large;
      padding-left: $padding-large;
      font-weight: lighter;
    }
    
    .controls-container {
      margin: auto $padding;
    }

    .barrier {
      border-left: $border-size solid $line-grey;
      height: calc(1.5 * #{$font-size});
      margin: auto 0;
    }
    
    .buttons-container {
      margin: auto $padding;
      
      .header-button {
        float: left;
        background-color: $button-grey;
        padding: $spacing-small;
        color: $white;
        cursor: pointer;
      }

      .header-button + .header-button {
        margin-left: $padding;
      }
      
      .header-button.header-button-primary {
        background-color: $button-blue;
      }
    }
  }

  .sub-content {
    padding: $padding;
    padding-left: $padding-large;
    // padding-top should only be $padding, not title's $padding-large
    // will probably be negative, so use a margin
    padding-top: 0;
    margin-top: calc(#{$padding} - #{$padding-large});
  }

  .sub-content:empty {
    display: none;
  }
}


// Media queries

@media all and (max-width: 62em) {

  .sub-header-container {
    .top-line{
        flex-direction: column;
        .template-donwload-text{
          margin: 0 !important;
        }
    }
  }

}