@import '../shared/shared-constants.scss';

.tab-select-container {
  overflow: hidden;

  .tab { 
  	float: left;
  	cursor: pointer;

  	color: $light-grey;
  	border-bottom: $heavy-border-size solid $transparent;
  }

  .tab.active {
  	border-bottom: $heavy-border-size solid $accent-02;
  	color: $accent-02;
  }

  .tab:hover:not(.active) {
  	border-bottom: $heavy-border-size solid $line-grey;
  }

  .tab + .tab {
  	margin-left: $spacing-extra-large;
  }
}
