@import './input-border-shared.scss';

$padding: $spacing-medium-large;

$title-margin-bottom: $spacing-extra-small;
$title-font-height: 1.5;

.text-input-border-container {
  display: flex;
  position: relative;
  padding: $padding;
  width: calc(100% - 2 * #{$padding});
  background-color: $white;
  cursor: text;

  .side-content-container {
    margin: auto;
    margin-right: $spacing;
    // by default, clicking on whatever is in the side-content should be the same as clicking anywhere else in the text-input-border
    pointer-events: none;
  }

  .side-content-container:empty {
    margin: 0;
  }

  .text-input-border-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .text-input-border-title {
      font-size: $font-size-small;
      color: $button-grey;
      line-height: $title-font-height;
      margin-bottom: $title-margin-bottom;
    }

    .text-input-border-title.placeholder {
      display: none;
    }

    .input-line-container {
      width: 100%;
      display: flex;
      margin: auto;
      
      input.text-input-border {
        font-size: $title-size;
        border: none;
        background-color: $transparent;
        outline: none;
        flex-grow: 1;
        padding: 1px 0; // matched input formatting
        line-height: 1;
        text-overflow: ellipsis;
      }

      .text-input-border:focus {
        text-overflow: initial;
      }

      .line-content {
        float: right;
        margin-left: $spacing-extra-large;
      }

      .line-content:empty {
        display: none;
      }
    }
  }

  .text-input-border-content.empty {
    // When the content is empty, the placeholder will show instead of the title.  Instead of a blank space above the input, the input
    // should center in the div, but the total hieght should not change
    .text-input-border-title.content {
      display: none;
    }

    .text-input-border-title.placeholder {
      visibility: hidden;
      display: initial;
    }

    // rounding can cause a 1 pixel issue - TODO is the slight movement noticeable/a problem?  Doing it with em allows for much easier
    // integration accross the site no matter the font size
    .text-input-border-title.half-height {
      height: calc(#{$title-font-height} * 0.5em);
      margin-bottom: calc(#{$title-margin-bottom} / 2);
    }
  }
}