@import './input-border-shared.scss';

$padding: $spacing-medium-large;

.text-input-long-container {
  display: flex;
  position: relative;
  padding: $padding;
  width: calc(100% - 2 * #{$padding});
  background-color: $white;
  cursor: text;

  .side-content-container {
    margin: auto;
    margin-right: $spacing;
    // by default, clicking on whatever is in the side-content should be the same as clicking anywhere else in the text-input-long
    pointer-events: none;
  }

  .side-content-container:empty {
    margin: 0;
  }

  .text-input-long-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .text-input-long-title-container {
      $font-size-title: $font-size;
      $title-button-padding: $spacing-small;
      
      // account for the button's padding
      margin-top: calc(-1 * #{$title-button-padding});
      margin-right: calc(-1 * #{$title-button-padding});
      font-size: $font-size-title;
      display: flex;

      .text-input-long-title {
        flex-grow: 1;
        color: $button-grey;
        margin: auto;
      }

      .text-input-button-container {
        display: flex;

        // the text takes roughly 1.5 times its height
        $height: calc(2 * #{$title-button-padding} + 1.5 * #{$font-size-title});

        .text-input-button {
          box-sizing: border-box;
          height: $height;
          cursor: pointer;
          color: $subtle-transparent;
          padding: $title-button-padding;
        }

        .text-input-button-primary {
          color: $green-quorum;
          border: $border-size solid $green-quorum;
          border-radius: $height;
          padding: $title-button-padding calc(#{$height} / 2);
        }

        .text-input-button + .text-input-button {
          margin-left: calc(#{$padding} - #{$title-button-padding});
        }
      }
    }

    .input-line-container {
      width: 100%;
      display: flex;
      margin: auto;
      
      .text-input-long {
        width: 100%;
      }

      .text-editor {
        padding-top: $spacing;
      }

      .text-input-long:focus {
        text-overflow: initial;
      }

      .line-content {
        float: right;
        margin-left: $spacing-extra-large;
      }

      .line-content:empty {
        display: none;
      }
    }
  }
}