@import '../shared/shared-constants.scss';

.text-input-container {
  width: 100%;
  position: relative;

  .text-input-title {
    font-size: $font-size-small;
    // color: $inactive-transparent;
    color: $button-grey;
  }

  .text-input-title.active {
    color: black;
  }

  .text-input-title.invisible {
    visibility: hidden;
  }

  .input-line-container {
    width: 100%;
    display: flex;
    
    .text-input {
      font-size: $title-size;
      border: none;
      background-color: $transparent;
      outline: none;
      flex-grow: 1;
      padding: 1px 0; // matched input formatting
      line-height: 1;
      text-overflow: ellipsis;
    }

    .text-input:focus {
      text-overflow: initial;
    }

    .line-content {
      float: right;
      margin-left: $spacing-extra-large;
    }

    .line-content:empty {
      display: none;
    }
  }

  .text-input-border {
    border-bottom: $heavy-border-size solid $line-grey;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .text-input-border.active {
    border-color: black;
  }

  .text-input-border.minimized, .text-input-title.minimized {
    display: none;
  }
}