<template lang="jade"> 
sidebar(v-bind:primary="true")
	div.contact-edition(slot="sidebar-content")
		div.actions 
			.actions-1
				div(v-on:click.prevent="retour")
					el-button( size='mini').cancel
						a(type='button')
							.webapp-icons-24px-arrow-back(aria-hidden='true')
							div.action-back  Retour
				span(v-on:click.prevent="saveContact").save
					el-button( size='mini')
						a(type='button')
							span.action-save  Sauvegarder

		//- CONTAINER DE TOUTES LES INFOS DE LA COLONNE
		el-form

			//- NOM - PRENOM
			.section-input-container.pure-u-md-24-24
				.pure-u-md-24-24.text-input-section
					text-input-border(title="Nom", v-model="editedContact.surname").first
					//- NOM MATRIMONIALE NON SPECIFIE DANS LES WIREFRAMES
					//- el-form-item(label='Nom matrimonial :')
					//- el-input(v-model="editedContact.married_name" ).pure-u-md-21-24
				.pure-u-md-24-24.text-input-section
					text-input-border(title="Prenom", v-model="editedContact.firstname",  align="bottom" ).last
					//- SEXE NON SPECIFIE DANS LES WIREFRAMES
						//- el-form-item(label='Sexe :')
						//- el-radio-group(v-model='sexe' )
						//- 	el-radio(label='H')
						//- 	el-radio(label='F')
						//- el-form-item(label='Date de naissance :')
						//- el-input(v-model="editedContact.birthdate_fr"  placeholder="26/06/1993" )
						//- el-form-item(label='Ou :')
						//- el-select(v-model='editedContact.age_category', clearable placeholder="Tranche d'âge")
						//- 	el-option(v-for='item in t_age', :label='item.label', :value='item.value')
			//- MAIL - NUMERO
			.section-input-container.mail-num-contact.pure-u-md-24-24
				.pure-u-md-24-24
					.pure-u-md-24-24.text-input-section
						text-input-border(title= "Email", v-model="editedContact.mail", side-content= ).first
							.webapp-icons-24px-mail.icons-edit(slot='side-content')
				.pure-u-md-24-24
					.pure-u-md-24-24.text-input-section
						text-input-border(title="Téléphone", v-model="editedContact.phone").last
							.webapp-icons-24px-phone.icons-edit(slot='side-content')
			//- ADRESSE
			.pure-u-md-24-24.section-input-container
				.pure-u-md-24-24.icon-adress
					.webapp-icons-24px-pin-stroke

				.pure-u-md-24-24.line-form
					.pure-u-md-24-24.line-form
						.pure-u-md-7-24.text-input-section
							text-input-border(title="N°", v-model="editedContact.address.housenumber")
					.pure-u-md-24-24.line-form.text-input-section.adress-margin
						text-input-border(title="Adresse",v-model="editedContact.address.street" placeholder='Voie' )

					.pure-u-md-24-24.line-form
						.pure-u-md-9-24.line-form.text-input-section
							label 
							text-input-border(title="Code postal :", v-model="editedContact.address.postalcode" placeholder='CP').pure-u-md-21-24.postal
						.pure-u-md-16-24.line-form.text-input-section
							text-input-border(title="Ville", v-model="editedContact.address.city" placeholder='VILLE' ).pure-u-md-21-24.city
			//- REPONSES DU CONTACT
			.pure-u-md-24-24.answers-form
				h4 Réponses au formulaire
				div(v-for='form in this.form_dataBIS').edit-formdata.line-form
					template(v-if='form.name == "FORM"')
						h5 {{form.question}}
						template(v-if="form.type == 'radio'")
							template(v-for="res in form.reponses")
								el-radio.radio(:label='res.label' v-model="form.vm[0]") {{res.label}}
						template(v-else-if="form.type == 'checkbox'")
							el-checkbox-group(v-model='form.vm')
								template(v-for="res in form.reponses")
									el-checkbox(:label='res.label') {{res.label}}
						template(v-else-if="form.type == 'text'")
							text-input-border(v-bind:title ="form.question"  v-model='form.reponses[0].data')
						template(v-else-if="form.type=='date'")
							div.date-picker
								datepicker(v-model="form.vm[0]" language="fr" clear-button=true).select-date

						template(v-else-if="form.type=='range'")
							text-input-border(v-bind:title ="form.question" v-model="form.reponses[0].data")
</template>

<script>
import  { mapGetters, mapActions } from 'vuex'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';


var contact_store = require('../../../../../models/contact_store.js');
var _ = require('lodash');
var underscore = require('underskore')


export default {
	name : "Edition",
	mounted: function (){
    	//this.displayMap()
			
      this.matchData();
    },
	data : function () {
	    return {
	        contact : this.$store.getters.activeContact,
	        // editedContact : JSON.parse(JSON.stringify(this.$store.getters.activeContact)), // duplicate object,
	        birthday:'',
	        sexe : 'F',
	        t_age : [
	            {
	              value: 1,
	              label: '- 18 ans'
	            },
	            {
	              value: 2,
	              label:'18 - 25 ans'
	            },
	            {
	              value: 3,
	              label: '25 - 35 ans'
	            },
	            {
	              value: 4,
	              label : '35 - 50 ans'
	            },
	            {
	              value : 5,
	              label : '50 - 65 ans'
	            },
	            {
	              value : 6,
	              label : '+ 65 ans'
	            }
          	],
		        form_data : [],
		        //sorted_data : [],
	      }
    },

	  components : {
    'sidebar' : require('../../../../structure-module/sidebar.vue'),
	'text-input-border' : require('../../../../general/text-input-border.vue'),
	Datepicker,
  },


   	computed : {
	    ...mapGetters({
	      'is_edited' : 'is_edited'
	    }),
	    // ...mapGetters({
	    // 	'form_data' : 'form_data'
	    // }),
	    ...mapGetters({
	    	'forms' : 'forms'
	    }),
	    ...mapGetters({
	    	'activeContact' : 'activeContact'
	    }),
			...mapGetters({
	          'forms_presence': 'forms_presence'
	    }),
			...mapGetters({
	    	'form_dataBIS' : 'form_data'
	    }),
	    editedContact : function() {
	    	//console.log(this.activeContact)
	    	var tmp =  JSON.parse(JSON.stringify(this.activeContact));

	    	tmp.gender = (tmp.gender === "M") ? "H" : tmp.gender
	    	this.sexe = tmp.gender;

	    	return tmp;
	    }
	},

	methods: {
    	retour : function () {
	      this.$store.commit('DELETE_ACTIVE_CONTACT');
	      this.$store.commit('LOADING', false);
	      this.$store.commit('EDIT', false);
        },
			
		matchData : function(){
	      var currentLang = 'fr';
	      moment.locale(currentLang);

	      // L'idée est de matcher les données issues de FORMS (toutes les questions et leurs typologie,  les réponses (refvalues) et leurs typologies avec les FORM_DATA du contact (au sein de activeContact)) pour former une nouvelles structure de données comprenant toutes les questions, toutes les réponses possibles ainsi que les réponses "active" (=> statue = true) du contact, cad les réponses fournit par l'utilisateur concerné.
	      // Il faut dans le même temps construire, pour les checkbox et les radiobox,  le v-model correspondant pour pouvoir préremplir les champs lors de l'édition du contact.
	      var forms = _.concat(this.forms, this.forms_presence);

	      // console.log(forms)

	      // this.forms = _.concat(this.forms, this.forms_presence);

	        if (forms != undefined) {

	          var current_section = '';



	          forms = _.sortBy(forms, 'order');
						
	          for (var i = 0; i < forms.length ; i++) {
	            var obj = {}

	            // On copie les différentes informations de la question

	            obj.question = forms[i].label;
	            obj.type = forms[i].type;
	            obj.reponses = [];
	            obj.order = forms[i].order;
	            obj.id = forms[i].id;
	            obj.group_id = forms[i].group_id
	            obj.section = forms[i].section
	            obj.name = forms[i].name

	            // On copie les différentes informations des réponses possibles à la question
	            if (forms[i].refvalues != undefined) {
	              for (var j = 0; j < forms[i].refvalues.length; j++) {
	                var rep = {};
	                rep.id = forms[i].refvalues[j].id
	                rep.form_id = forms[i].refvalues[j].form_id;
	                rep.label = forms[i].refvalues[j].label;
	                rep.value = forms[i].refvalues[j].value;

	                // On cherche à savoir si la réponse concernée est celle choisie par l'utilisateur. On parcours les réponses du contact actif pour voir si l'une corresponds à la réponse courante.
	                // Vérifier si this.activecontact.formdatas existe

	                if (this.activeContact.formdatas != undefined) {
	                  for (var k = 0; k < this.activeContact.formdatas.length; k++) {
	                    //correspondance de l'identifiant du formulaire et de l'identifiant de la réponse
											
	                    if(this.activeContact.formdatas[k].form_id == rep.form_id
	                       && this.activeContact.formdatas[k].form_ref_id == rep.id
	                       && this.activeContact.formdatas[k].data != "ToDelete"){
	                        // On ajoute un attribut à la réponse que c'est celle choisi par l'utilisateur
	                        rep.status = true;
	                        rep.date = moment(this.activeContact.formdatas[k].date).format('L')

	                        if(obj.type == "range") {
	                          rep.data= this.activeContact.formdatas[k].data.toString();
	                        }else if (obj.type=="date") {

	                          var tmp = moment(this.activeContact.formdatas[k].data).format('L');

	                          if (tmp === 'Invalid date') {
	                            var date  = moment(this.activeContact.formdatas[k].data, 'x');
	                            tmp = moment(date).format('L');
	                          };

	                          rep.data = tmp;

	                          if( moment(tmp.toString(), 'DD/MM/YYYY',true).isValid()
	                          || moment(tmp.toString(), 'D/MM/YYYY',true).isValid()) {
	                            var dt  = tmp.toString().split('/');
	                            rep.label = dt[1]+'/'+dt[0]+'/'+dt[2]
	                          }


	                        } else {
	                          rep.data = this.activeContact.formdatas[k].data;
	                        }

	                        // On sors de la boucle pour ne pas surcharger le status
	                        k = this.activeContact.formdatas.length;
	                    }else {
	                      // La réponse ne correspont pas à une valeur rentré par l'utilisateur
	                      rep.status = false;
	                    }
	                  }
	                }else {
	                  // L'utilisateur n'a répondu à aucune questions
	                  rep.status = false;
	                }

	                obj.reponses.push(rep);
	              };

	            }

	            // Construction des vmodels pour le pré-remplissage lors de l'édition des réponses au questionnaire d'un contact
	            obj.vm = [];

	            for (var m = 0; m < obj.reponses.length; m++) {
	              if(obj.reponses[m].status ) obj.vm.push(obj.reponses[m].label);
	              // if(obj.reponses[m].status && obj.name === "name_presence") obj.vm = obj.reponses[m].label;
	            }

	            if((obj.type == 'date' || obj.type == 'radio') && obj.vm.length == 0) obj.vm.push('')

	            this.form_data.push(obj)

	          };
	          this.form_data = _.sortBy(this.form_data, 'order')

	          // Regroupement des sections
	          var state = this;

	          this.form_data.forEach(function(o,index) {
	             o.new_section =  ( index > 0 && o.section == state.form_data[index-1].section) ? '' : o.section
	          })

	          this.$store.commit('SET_FORM_DATA', this.form_data)


	      };
	    },

		saveContact:function(){

		      var router = this.$router
		      var newContact = this.editedContact;

		      // Formatage de l'objet avant la modification en base

		      delete newContact.age
		      delete newContact.lastchange

		      newContact.gender = this.sexe;



		      // Vérification de la date de naissance renseignée,
		      // Formats acceptés :
		      // - DD/MM/AAAA
		      // - DD/M/AAAA
		      // - D/MM/AAAA
		      // - D/M/AAAA

		      if (moment(newContact.birthdate_fr, 'DD/M/YYYY',true).isValid()
		          || newContact.birthdate_fr == undefined
		          || moment(newContact.birthdate_fr, 'DD/MM/YYYY',true).isValid()
		          || newContact.birthdate_fr == ''
		          ||  moment(newContact.birthdate_fr, 'D/M/YYYY',true).isValid()
		          ||  moment(newContact.birthdate_fr, 'D/MM/YYYY',true).isValid()) {

		        if (newContact.birthdate_fr != undefined && newContact.birthdate_fr != '') {
		            var date = newContact.birthdate_fr.split('/')
		            // Les mois commençent à 0 en Javascript d'où le (date[1]-1)
		            date = new Date(date[2], (date[1]-1), date[0])
		            newContact.birthdate = date.toISOString();
		        }else {
		          newContact.birthdate = undefined;
		        }

		        delete newContact.birthdate_fr

		        if (newContact.age_category === ("" || undefined)) {
		        	newContact.age_category = 0;
		        };

		        if (newContact.age_category != 0 && this.activeContact.age_category == newContact.age_category && newContact.birthdate != undefined ) {
		        	newContact.age_category = 0;
		        };

		        if (newContact.age_category != 0 ) {
		        	newContact.birthdate = undefined;
		        };

		        // Detecter les donnees ayant changés dans les formdatas puis les modifier en conséquence
		        var new_formdatas = []


		        for (var i = 0; i < this.form_data.length; i++) {
		        	// différencier les (input | date | range) et les (checkbox | radio) (=> regarder vm)
		        	// Reconstruire des objets sur le modèle suivant
		        	// (Si nouvel réponse, ne pas renseigner d'ID, sinon prendre l'ancien ID)
		        	// var obj = {
				       //    "id":,
				       //    "data":,
				       //    "date":,
				       //    "group_id":,
				       //    "contact_id":,
				       //    "form_id": ,
				       //    "form_ref_id":
		        	// }

		        	// On gère le cas des (checkbox | radio), ou il faut regarder le vm et retrouver les valeurs correspondantes

		        	if(this.form_data[i].type == "checkbox" || this.form_data[i].type ==  "radio"){

		        		if(!_.isEmpty(this.form_data[i].vm)) {

		        			// Dans le cas des radio, on vérifie que le vm.length == 1

		        			if(this.form_data[i].type == "radio" && this.form_data[i].vm.length > 1) {
		        				this.form_data[i].vm = this.form_data[i].vm[0];
		        			}

		        			for (var j = 0; j < this.form_data[i].vm.length; j++) {
		        				// Obligé de dupliquer du code car il y a N elements dans le tableau vm
		        				var obj = {};

		        				obj.form_id = this.form_data[i].id;
		        				obj.group_id = this.form_data[i].group_id;
		        				obj.contact_id = newContact.id;
		        				obj.date = (new Date()).toISOString();
		        				obj.id = null;
		        				obj.name = this.form_data[i].name;
			        			// boucler sur vm et dans this.form_data[i].reponse pour trouver les infos manquantes
			        			// - data
			        			// - form_ref_id

		        				for (var k = 0; k < this.form_data[i].reponses.length; k++) {
		        					if (this.form_data[i].vm[j] === this.form_data[i].reponses[k].label
		        						|| this.form_data[i].vm[j] === this.form_data[i].reponses[k].value) {

		        						obj.form_ref_id= this.form_data[i].reponses[k].id;
		        						obj.data = (this.form_data[i].reponses[k].data != undefined) ? this.form_data[i].reponses[k].data : this.form_data[i].reponses[k].value;

		        					}
		        				};

				        		if (obj.data != "" && obj.data != undefined) {
									new_formdatas.push(obj)
				        		};

		        			};
		        		}
		        	} else {
		        		var obj = {};

						obj.form_id = this.form_data[i].id;
		        		obj.group_id = this.form_data[i].group_id;
		        		obj.contact_id = newContact.id;
		        		obj.name = this.form_data[i].name;

		        		// différencier (date|range) ou l'on récupère this.form_data[i].reponses[0].data
		        		// et (text) où l'on récupère this.this.form_data[i].reponses[0].value (qu'on castera dans obj.data)

		        		obj.form_ref_id = this.form_data[i].reponses[0].id
		        		obj.date = (new Date()).toISOString();
		        		obj.id = undefined;

		        		if (this.form_data[i].type == "date") {
		        			if( moment(this.form_data[i].vm[0], 'DD/MM/YYYY',true).isValid()
		        				|| moment(this.form_data[i].vm[0], 'D/MM/YYYY',true).isValid()) {

		        				obj.data = moment(this.form_data[i].vm[0]).format('x');

		        			}
		        		}else if(this.form_data[i].type =="range"){
									var n = Math.floor(Number(this.form_data[i].reponses[0].data));
		        			if(String(n) === this.form_data[i].reponses[0].data && n >= 0) {
		        				obj.data = this.form_data[i].reponses[0].data;
		        			}else  if (this.form_data[i].reponses[0].data != undefined && this.form_data[i].reponses[0].data != ""){
		        				this.error(this.form_data[i]);
		        				return;
		        			}
		        		}else {
		        			obj.data =  (this.form_data[i].reponses[0].data != undefined) ? this.form_data[i].reponses[0].data : "" ;
		        		}

		        		if (obj.data != "" && obj.data != undefined) {
							new_formdatas.push(obj)
		        		};


		        	}
		        };

		        // On va maintenant regarder si les réponses ont changés ou non, si elle n'a pas changé on récupère l'id sinon on le laisse vide (sous réserve qu'il y avait déjà des réponses!)

		        for ( var prop in newContact ){
		        	if (newContact[prop.toString()] == "") newContact[prop.toString()] = undefined;
		        }

		  		newContact.formdatas = new_formdatas;

		         newContact.formdatas.forEach(function (obj) {
		         	delete obj.name
		         });

		         if (newContact.formdatas.length == 0) {
		         	delete newContact.formdatas
		         }
						 if (!newContact.id){
							 contact_store.save(this.$router, newContact, (res) => {
								 //this.$store.commit('DELETE_ACTIVE_CONTACT');

								 this.$store.commit('SET_ACTIVE_CONTACT', res.body.data.contact);

								 //this.$store.commit('EDIT', false)

								 this.$message({
										 message: 'Un nouveau contact a été créé',
										 duration:5000,
										 type: 'success'
								 });
							 });
						 }else{
				        contact_store.update(this.$router, newContact, (res) => {
				          //this.$store.commit('DELETE_ACTIVE_CONTACT');

				          this.$store.commit('SET_ACTIVE_CONTACT', res.body.data.contact);

				          //this.$store.commit('EDIT', false)

				          this.$message({
				              message: 'Les informations du contact ont été mises à jour',
				              duration:5000,
				              type: 'success'
				          });
				        });
							}


		      }else {
		        this.$message({
		          message: "La date de naissance renseignée n'est pas valide (ex : 26/06/1993)",
		          duration:5000,
		          type: 'error'
		        });
		      }

		},

		error : function(form) {
			var message = 'Le format de la réponse  à la  question : "'+form.question+'" n\'est pas valide';
			this.$message({
	          message,
	          duration:5000,
	          type: 'error'
	        });
		}
	}



}
</script>

<style lang="scss">
@import '../../../../../assets/scss/contact/edition.scss';
</style>
