<template lang="jade">
sidebar(v-bind:primary="false")
  div.contact-help(slot="sidebar-content")
    .top
      img(src="../../../../../../static/images/community-illus.jpg")
      p Découvrez  votre base de contact et enrichissez là grâce à nos outils de mobilisation terrain.
    .content
      .bloc-help
        .bloc-content
          h4 Filtrez vos contacts 
          ul
            li
              |Par une simple recherche par Nom / Prénom / ville / Ou en affichant “ Afficher plus de filtres” vous pouvez filtre
            li 
              |Par genre, tranche d’âge ou information de contact disponible
            li 
              |Par zone géographique : sélectionner ou dessiner une zone sur la carte
            li
              |Par réponse au questionnaire : sélectionnez la question, le type de réponse et la réponse par laquelle vous voulez filtrer. Cliquez sur ajouter une question pour filtrer plus précisément encore. 

      .bloc
        .bloc-help
          .bloc-content
            h4 Importer vos contacts ou supprimer des contacts 
            ul
              li 
                |Vous pouvez importer vos fichiers ou les envoyer à l’équipe support pour les intégrer à l’application via la sélection Importer des contacts (ajouter un mailto : support@quorum.co)
              li
                |La Suppression de contact

</template>

<script>
var cryptoJS = require('crypto-js')
import  { mapGetters, mapActions } from 'vuex'
import jQuery from "jquery"
//import store from '../../../store/stateStore.js'

//import cryptoJS from "crypto-js"
export default {
	name : "Edition",

    components : {
    'sidebar' : require('../../../../structure-module/sidebar.vue'),
  },


	data : function () {
	    return {
            METABASE_SITE_URL : "https://test.quorumapps.com",
            //METABASE_SITE_URL : "http://46.101.135.199:3000",

            //METABASE_SECRET_KEY : "14264e0a5a689c1e635da6500c42c4ea37295af31a27c471b266655382518a5e",
            METABASE_SECRET_KEY : "fe2aa7cba35dcc8c2dc9db89a6d11022988ed02a602b57bb3c27af73436b4df1",
	      }
    },
    mounted : function() {
      // var head = jQuery("external-iframe").contents().find("head");
      // console.log(head);
      // var css = '<style type="text/css">' +
      //     '#EmbedFrame-footer{display:none}; ' +
      //     '</style>';
      // jQuery(head).append(css);
      var svg = this.$refs.extiframe
      if (svg){
        setTimeout(function () {
          var x = svg.contentWindow.document.getElementsByClassName("EmbedFrame-footer");
          var i;
          for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
          }
        } , 1)
      }
      //this.svgDOMX = svg.getBoundingClientRect().left
    },
   	computed : {
      ...mapGetters({
        'userConnected' : 'userConnected'
      }),
      iframeUrlMetabaseDashboard : function(){
        var payload = {
          "resource": { "dashboard": 5 },
          "params": {
            "city": "BORDEAUX"
          }
        };
        return this.generateURL(payload,"dashboard")
      },
      iframeUrlMetabase1 : function(){
        var payload = {
          "resource": { "question": 1 },
          "params": {}
        };
        var url = this.generateURL(payload,"question")
        console.log(url);
        return url
      },
      iframeUrlMetabase2 : function(){
        var payload = {
          "resource": { "question": 5 },
          "params": {
            "group_id":this.userConnected.group_id
          }
        };
        return this.generateURL(payload,"question")
      },
	},

	methods: {
     base64url :function(source) {
        // Encode in classical base64
        var encodedSource = cryptoJS.enc.Base64.stringify(source);

        // Remove padding equal characters
        encodedSource = encodedSource.replace(/=+$/, '');

        // Replace characters according to base64url specifications
        encodedSource = encodedSource.replace(/\+/g, '-');
        encodedSource = encodedSource.replace(/\//g, '_');

        return encodedSource;
      },

      generateURL:function(payload,type){
        var header = {
          "alg": "HS256",
          "typ": "JWT"
        };

        var stringifiedHeader = cryptoJS.enc.Utf8.parse(JSON.stringify(header));
        var encodedHeader = this.base64url(stringifiedHeader);
        var stringifiedData = cryptoJS.enc.Utf8.parse(JSON.stringify(payload));
        var encodedData = this.base64url(stringifiedData);
        var token = encodedHeader + "." + encodedData;


        var signature = cryptoJS.HmacSHA256(token, this.METABASE_SECRET_KEY);
        signature = this.base64url(signature);
        var signedToken = token + "." + signature;
        var iframeUrlMetabase = this.METABASE_SITE_URL + "/embed/"+type+"/" + signedToken + "#bordered=false&titled=false"
        return iframeUrlMetabase
      }
	},

}
</script>

<style>
  .EmbedFrame-footer, .EmbedFrame-header{
    display: none !important;
  }
</style>

<style lang="scss">
@import '../../../../../assets/scss/contact/help-contact.scss';
</style>
