@import "../shared/shared-constants.scss";

.home-contact{
    background-color: white;
    min-height: 300px;
    position: relative;
    max-width: 95%;
    margin: -3.5% auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 6px;
    .contact-title {
      margin-bottom: $spacing-max-large;
      font-size: 2rem;
      color: $black;
      font-family: $font-bold;
    }
    .line-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .card-container {
        .card-contact {
          border: 1px solid $grey-06;
          width: auto;
          border-radius: 6px;
          width: 33%;
          width: 155px;
          height: auto;
          font-size: 0.6rem;
          margin: $spacing-small;
          background-color: $white;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          .content-card {
            margin: $spacing $spacing-small;
            .ellipsis {
              width: 155px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .contact-name {
              font-size: 1rem;
              font-family: $font-semibold;
              text-align: center;
              color: $black;
            }
            .contact-adresse {
              text-align: center;
            }
          }
        }
      }
    }
    .contact-cta {
      padding: $spacing-small;
      border: 1px solid $accent-01;
      border-radius: 6px;
      display: flex;
      color: $accent-01;
      font-size: 0.8rem;
      margin: $spacing-small;
      cursor: pointer;
      &:hover {
        color: $white;
        background-color: $accent-01;
      }
    }
  }

@media all and (max-width:  768px) {
  .home-contact {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    .contact-title{
      margin: $spacing;
    }
    .line-card {
      .card-container {
        .card-contact {
        }
      }
    }
    .contact-cta {
      position: relative;
      margin: $spacing 0;
      text-align: right;
      display: flex;
      justify-content: flex-end;
    }
  }
}