@import "../shared/shared-constants.scss";

.home-questionnaire {
  position: relative;
  margin: 40px auto 0 auto; 
  max-width: 95%;
  padding: 35px 45px 0 45px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10;
  padding: $spacing-small;
  .questionnaire-img-container {
      flex-grow: 0;
      max-width: 180px;
      z-index: 5;
      .questionnaire-img  {
          border-radius: 10px;
          width: 100%;
          box-shadow: 0 1px 6px 0 rgba(33,62,97,0.20), 0 0 1px 0 rgba(33,62,97,0.15);
      }
  }
  .questionnaire-title {
    font-size: 2rem;
    color: $black;
    font-family: $font-bold;
    flex-grow: 0;
    margin: 0;
    padding: $spacing-max-large;
  }
  .questionnaire-text {
        padding: 25px;
        font-size: 0.8rem;
        flex: 1;
        .questionnaire-cta {
          display: flex;
          align-items: center;
          padding: $spacing-small;
          border: 1px solid $accent-01;
          border-radius: 6px;
          width: fit-content;
          cursor: pointer;
          &:hover {
            background-color: $accent-01;
            color: $white;
            .questionnaire-cta-link {
              color: $white;
            }
            
          }
          .questionnaire-cta-link {
            display: flex;
            align-items: center;
            color: $accent-01;
          }
          
        }
  }
}

@media all and (max-width:  768px) {
  .home-questionnaire {
    padding: 0;
    justify-content: flex-start;
    flex-direction: column;
    
    .questionnaire-title {
      display: flex;
      align-items: center;
      padding: $spacing 0 0 0;
    }
    .questionnaire-text  {
      padding: $spacing 0;
    }
  }
}

@media all and (max-width:  425px) {
  .home-questionnaire {
    
    .questionnaire-title {

    }
    .questionnaire-text  {
    }
  }
}