@import "../shared/shared-constants.scss";

.home-summary {
  position: relative;
    max-width:  95%;
    margin: 0 auto;
    padding: $spacing-large 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
    .card-container {
      max-width: 100%;
      display: flex;
       flex-wrap:wrap;
       flex-direction: column;
       justify-content:flex-start;
       align-items:stretch;
       padding-right: $spacing-max-large;
       margin-right: 27%;
       .line {
         display: flex;
       }
      .card-summary {
        width: auto;
        border-radius: 6px;
        width: 33%;
        min-width: 155px;
        height: auto;
        font-size: 0.6rem;
        margin: $spacing-small;
        background-color: $white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .content-card {
          margin: $spacing $spacing-small;
          .stat-number {
            font-size: 1rem;
            font-family: $font-semibold;
            text-align: center;
            color: $black;
          }
          .stat-name {
            text-align: center;
            $font-size: 0.6rem;
            $line-height: 1.4;
            $lines-to-show: 2;
            &.long-stat {
              font-size: $font-size;
              text-align: center;
              display: block; /* Fallback for non-webkit */
              display: -webkit-box;
              max-width: 400px;
              height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
              margin: 0 auto;
              line-height: $line-height;
              -webkit-line-clamp: $lines-to-show;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              position: relative;
              word-break: break-word;
              -webkit-hyphens: auto;
              -moz-hyphens: auto;
              -ms-hyphens: auto;
              hyphens: manual;
            /* Position ellipsis */
              &:before {
                right: 0;
                bottom: 0;
                position: absolute;
                content: '\2026';
                padding-left: 5px;
                background-color: white;
              }
            }
          }
        }
      }
    }
    .map-container {
      height: 100%;
      width: 30%;
      position: absolute;
      right: 40px;
      top:  -4em;
      background-color: white;
      height: 350px;
      border-radius: 6px;
      box-shadow:  $card-ui-shadow;
      // Force border-radius on canvas's map
      #homeMap {
        border-radius: 6px;
      }
    }
}

@media all and (max-width:  768px) {
  .home-summary  {
    flex-direction: column;
    padding: 0;
    display: block;
    height: auto;
    .card-container {
      display: block;
      padding: 0;
      margin: $spacing 0 $spacing-small 0;
      .line {
        .card-summary{
          min-width: inherit;
        }
      }
    }
    .map-container {
      margin: $spacing-small 0;
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
    }
  }
}