@import "../shared/shared-constants.scss";

.home-header {
    max-width:  95%;
    margin: 0 auto;
    flex-direction: column;
    h1 {
        color: $black;
        font-size: 1.8rem;
        font-weight: lighter;
        margin: 0;
        font-family: $font-regular;
        margin-bottom: $spacing-large;
        flex-grow: 1;
    }
  .msg-container {
    padding: $spacing;
    width: auto;
    height: 300px;
    border-radius: 6px;
    background-image: url('../../../static/images/home-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .header-title {
      color: $white;
      font-family: $font-semibold;
      font-size:  1.75rem;
    }
  }
}