@import "../shared/shared-constants.scss";

.home-app {
  background-color: white;
  position: relative;
  max-width: 95%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin: 0 auto;
  .app-phone-container {
    margin: -3em $spacing-large  $spacing-large $spacing-max-large ;
    .app-phone {
      width: 170px;
    }
  }
  
  .app-content {
    padding: $spacing-extra-large;
      .app-title {
        font-size: 2rem;
        color: $black;
        font-family: $font-bold;
        width: 60%;
        line-height: 1.3;
        margin: 0;
      }
      
      .app-text { 
        margin: $spacing 0;
        font-size: 0.8rem;
        padding-right: $spacing-large;
      }
      
      .app-logo-store {
        display: flex;
        a {
          width: auto;
          margin-right: $spacing-small;
          max-width: 100px;
          img {
            width: 100%;
          }
        }
      }
  }
}

@media all and (max-width:  768px) {
  .home-app {
      flex-direction: column;
      .app-phone-container {
        align-self: flex-start;
      }
      
      .app-content {
        .app-title {
          width: 100%;
        }
      }
      
  }
}