@import "../shared/shared-constants.scss";

.home-usermanagement {
  position: relative;
  margin: 40px auto 0 auto; 
  max-width: 95%;
  padding: 35px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .add-user-container {
      flex-basis: 50%;
      .user-title {
        font-size: 2rem;
        color: $black;
        font-family: $font-bold;
        flex-grow: 0;
        margin: 0;
        line-height: 1.3;
        padding: 0 $spacing-large $spacing-large 0;
      }
      .add-user {
          padding-bottom: $spacing-large;
          display: flex;
          flex-grow: 1;
          .user-input {
              padding: 0;
              border-radius: 6px 0 0 6px;
              border-right: 0px;
              flex-grow: 1;
              background-color: inherit;
                .text-input-border-content {
                    padding: $spacing-small;
                    .text-input-border-title {
                      margin-bottom: 0;
                    }
                    .input-line-container {
                      .text-input-border {
                          font-size: 11pt;
                      }
                    }
                }
          }
      }
      .add-user-button {
        flex-grow: 0;
        margin: 0;
        border-radius: 0 6px 6px 0;
        border-style: none;
        background-color: inherit;
        border: 1px solid $accent-01;
        color: $accent-01;
        font-family: $font-semibold;
        flex-basis: 200px;
        cursor: pointer;
        &:focus {
          outline: inherit;
        }
        &:hover {
          background-color: $accent-01;
          color: $white
        }
      }
      .card-user-container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-between;
        &:before {
          content: '';
          width: 100%;
          order: 1;
        }
        
        &:after {
          content: '';
          width: 100%;
          order: 1;
          
        }
        .card-user {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $white;
          width: 23%;
          height: auto;
          padding: $spacing 0;
          border-radius: 10px;
          margin-bottom: $spacing;
          cursor: pointer;
          &:nth-child(n + 5) {
            order: 1;
          }
          
          &:nth-child(n + 9) {
            order: 2;
          }
          .content-card {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.6rem;
            font-family: "proxima-semibold";
            text-align: center;
            .user-avatar {
                display: flex;
                flex-grow: 1;
                min-height: 55px;
                
              .avatar-user {
                  background-size: contain;
                  background-repeat: no-repeat;
                  flex-grow: 1;
                  background-position: center;
                  margin: 5px;
                  &.helper {
                      background-image: url("/../../static/images/user-management-helper.jpg");
                  }

                  &.organizer {
                      background-image: url("/../../static/images/user-management-organizer.jpg");
                  }

                  &.leader {
                      background-image: url("/../../static/images/user-management-leader.jpg");

                  }
              }
            }
            .user-name {
              width: 100%;
              white-space: nowrap;
              overflow: hidden; 
              text-overflow: ellipsis;
              font-size: 0.6rem;
              font-family: $font-semibold;
              text-align: center;
            }
          }
        }
      }
  }
  .user-illustration-container {
    display: flex;
    flex-basis: 50%;
    margin-top: -30px;
    align-items: center;

      .user-illustration {
        width: 100%;
        height: 100%;
      }
  }
}

@media all and (max-width:  768px) {
  .home-usermanagement {
      .add-user-container {
          flex-basis: 100%;
      }
      .user-illustration-container {
        flex-basis: 75%;
        margin: 0 auto;
      }
  }
}