@import "../shared/shared-constants.scss";

.home-footer { 
    display: flex;
    justify-content: center;
    max-width: 75%;
    margin: $spacing-max-large auto;
    font-size: 0.65rem;
      
  .footer-content {
    display: flex;
    color: $grey-06;
    justify-content: space-between;
    flex-grow: 1;
    
    .footer-link {
      display: flex;
      color: $grey-06;
    }
    
    .footer-item {
      display: flex;
      .footer-icon {
        display: flex;
        align-items: center;
        margin-right: $spacing-small;
      }
    }
    
    .footer-item-center {
      display: flex;
      .barrier {
        margin: 0 $spacing;
      }
    }  
  }
}

@media all and (max-width:  768px) {
  .home-footer {
    margin: $spacing auto;
    max-width: 95%;
    .footer-content {
      flex-direction: column;
      .footer-item {
        margin: $spacing-small 0;
      }
      .footer-item-center {
        flex-wrap: wrap;
        flex-direction: column;
        .barrier {
          display: none;
        }
      }
    }
  }
}