<template lang="jade">
div
	h4 Simplifiez vos actions sur le terrain en invitant les membres de votre organisation à utiliser l’application. 
 
	h4 Meilleure communication avec l’équipe, mobiliser à chaque instant et des retours de votre action de terrain directement analysés  😃 

	el-row(:gutter='20').b-block
		el-col(:span='4').text-center
			p
		el-col(:span='8').text-center.sb-block
			img(src='/static/icon-map.png', alt='Quorum')
			p Inviter de nouveaux membres <br/> à rejoindre l'application
		el-col(:span='8').text-center.sb-block
			img(src='/static/icon-bubble.png', alt='Quorum')
			p Personnaliser les questionnaires
		el-col(:span='4').text-center

	el-row(:gutter='20').b-block
		el-col(:span='4').text-center
			p
		el-col(:span='8').text-center.sb-block
			img(src='/static/icon-buildings.png', alt='Quorum')
			p Paramétrer le Quartier Général <br/> de mon application
		el-col(:span='8').text-center.sb-block
			img(src='/static/icon-target.png', alt='Quorum')
			p Télécharger l’application <br/> IOS / Android

</template>

<style>
.b-block {
	margin-top: 70px;
}

</style>