.contact-results {
    min-width: 58.33333% !important;
}

.title-contact-results h3 {
    padding-left: 50px;
}



.adresse {
  /*display: block;*/
}

#contact-list{
  display: block;
  /*margin-left: -15px;*/

}

h4 {
  /*padding-left: 50px;*/
  color: #2c3e50 !important;
}

.informations {
  margin-left: 50px;
  margin-bottom: 30px;
}

#search {
/*  margin-left: 50px;*/
  margin-bottom: 20px;
  /*margin-left: 50px;*/
}


.tags {
  min-height: 22px !important;
  display: block;
  float:left;

}

.tags .el-tag {
  margin-right: 10px;
}

.export-button {
  padding-right: 15px;
  padding-left: 10px;
}
.search-actions {
  margin-bottom:65px;
  margin-top: 20px;
}
.result-number {
  text-transform: uppercase;
  margin-right: 15px;
  font-size: 12px;
}
.filter-actions {
  margin-bottom: 70px;
}
.select-filter {
  width:15vw !important;
  display: block;
}
.input-age {
  width: 40px;
  margin-right: 15px;
  display: block;
  float: left;
}
.link-form {
  padding-top: 13px;
  float:left;
  margin-right: 15px;
}

.age {
  padding-top: 13px !important;
}

.age-filter {
  margin-bottom: 30px;
}
.delete-input {
  width:43px;
  float:right;
  background-color: white;
  color:#ff4949;
  border:none;
  text-align: right;
  padding-top: 15px;
}
.delete-input:hover {
  background-color: white;
  color:#ff4949;
  border:none;
}
.delete-age {
    color:#ff4949;
    margin-left: 15px;
}
.delete-age:hover {
    color:#ff4949;
}

.confirme-action {
  margin-top: 20px;
  float:right;
  display: block;
}
/*.el-input__inner  {
  height: 45px;
}*/
.filter-button {
  margin-left: 15px;
}
.no-results {
  text-align:center;
  margin-top : 50px;
  color:#bdc3c7;
}

.trip-drop p {
  padding-top: 6px;
  display: block;
}
.gly-rotate-45 {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
}
.gly-rotate-45p {
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=-0.5);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
}

.green {
  color:#13ce66;
}
.red {
  color:#ff4949;
}

.blue {
  color:#1d8ce0;
}

.purple {
  color:#9b59b6; 
}
.darkgrey {
  color:#bdc3c7;
}

.PKI-chart-HF .femmes {
  fill:#1d8ce0 !important;
}
.PKI-chart-HF .hommes {
  fill:#9b59b6 !important;
}
.PKI-chart-HF .missing-na{
  fill:#bdc3c7 !important;
}

.kpi-filtres .femmes {
  fill:#1d8ce0 !important;
}
.kpi-filtres .hommes {
  fill:#9b59b6 !important;
}
.kpi-filtres .missing-na{
  fill:#bdc3c7 !important;
}

.ct-label {
  color:white !important;
  fill:white !important;
  font-size: 13px !important;
}
/*.ct-series-a .ct-slice-pie {
  stroke: white !important;
  stroke-width: 4px !important;
}*/
.age-piechart {
  display:block;
  margin-top: 20px;
  margin-bottom: 60px;
}

.ct-chart {
  float:left;
  margin-top: 10px;
  margin-left: 15px;
}

.age-piechart .legend {
  padding-top: 45px;

}

.age-piechart .legend ul {
  padding-left: 150px;
  list-style: none;

}

.age-chart .ct-label {
  color: black !important;
  font-size: 11px !important;
}

.age-chart  .ct-bar {
  stroke:#1d8ce0 !important;
}

.bdv-chart .ct-label {
  color: black !important;
  font-size: 11px !important;
}

.bdv-chart  .ct-bar {
  stroke:#1d8ce0 !important;
}

.box-card h3 {
  margin-bottom: 20px;
}

.evolution {
  margin-bottom: 25px;
}

.default-KPI {
  /*margin-left: 50px;*/
  margin-top:-15px;
}

.default-KPI h3 {
  margin-bottom: 35px;
  font-weight: normal;
}
.default-KPI .evolution-base {
  padding-top: 15px;
  font-size: 15px;
}
.repartion-HF {
  margin-top: 15px;
  padding-top: 5px;
  height:250px;
}

/*.repartion-HF #PKI-chart-HF-2 {
  width:150px !important;
  height:150px !important;
}
*/
.repartion-HF .PKI-chart-HF {
  float:left;
  margin-right: 40px;
  padding-top: 0px;
  margin-bottom: 10px;
  height: 260px;
  margin-left: 20px;
}

.repartion-HF .legend {
    padding-top: 45px;
}

.repartion-HF .legend ul {
    list-style: none;
}

.PKI-chart-age .ct-label {
  color: black !important;
  font-size: 11px !important;
}

.PKI-chart-age .ct-bar {
  stroke:#1d8ce0 !important;
}

.PKI-chart-bdv .ct-label {
  color: black !important;
  font-size: 11px !important;
}

.PKI-chart-bdv .ct-bar {
  stroke:#1d8ce0 !important;
}

.box-card h4 {
  /*margin-left: -30px;*/
  margin-bottom: 25px;
}
.PKI-bdv {
  margin-top: 15px;
  height:237px;
}
.PKI-age {
  height: 230px;
}
.filtres {
  margin-bottom: 15px;
  margin-top: 10px;

}
.el-card, .el-menu--horizontal .el-submenu>.el-menu, .el-tabs--border-card {
  box-shadow: none;
}

.filtre-sexe .el-checkbox__label {
  margin-right: 18px !important;
}

.title-search h4 {
  margin-top: 0px !important;
  margin-bottom: 25px !important;
}

.title-search p {
  margin-top: -15px !important;
  margin-bottom: 15px;
}

.age-bar {
  margin-bottom: 15px;
}

.pagination {
  width: 100%;
  display: block;
  padding-top: 0px;
  text-align: center;
}
.sort_result .legend {
  /*float:left;*/
  display: block;
  padding-top: 8px;
}
.sort_options {
  width:150px;
}

/* EVOLUTION BASE */

.evolution-base h4 {
  margin-bottom: 20px !important;
  margin-top: -10px !important;
}

.evolution-base p i {
  font-size: 18px;
  margin-right: 4px;
  position: relative;
  top: 3px;
  display: inline-block;
}

.evolution-base p b.stat {
  margin-left: 4px;
}

.export-data a {
  color:#7f8c8d;
  text-decoration: none;
}

.export-data a:hover {
  text-decoration: none;
}
.legend-kpi-filtres {
  padding-top: 15px;
  display: block;
}
