/*
 * Base structure
 */


body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src:url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src:url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    src:url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    src:url('../fonts/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed !important;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
/*    min-height: 100vh;
    height: 100vh;*/
    padding-left: 20px !important;
    font-size: 13px;
    /*width:150px !important;*/
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  /*margin-bottom: 20px;*/
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color:#34495e;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #000;
  background-color: #bdc3c7;
}

.router-link-active {
  /*border-bottom : 3px solid #fff;*/
}

/*
 * Main content
 */

.main {
  padding: 20px;
  margin-top: 120px;
  padding-left: 30px !important;
  padding-right: 35px !important;
  width:100% !important;
}

.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.navbar-brand {
  margin-top: -10px;
  cursor: pointer;
}

.navbar-brand img {
  width:110px;
  position: relative;
  left: -3px;
}

.navbar-inverse {
  background-color: #f6f6f6 !important;
  border-color:#f6f6f6 !important;
}

.fa {
  margin-right: 10px;
}

.main {
  top:60px;
}

.capitalize {
  text-transform: uppercase;
}

.navbar-right a {
  font-weight: normal !important;
}

.navbar-right a .fa {
  opacity: 0.6;
}

.navbar-nav.app {
  width: 100%
}

.navbar-inverse .navbar-nav.app {
  margin-top: 20px;
}

.navbar-inverse .navbar-nav>li>a {
  color : #333 !important;
  font-weight: 600;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color : #4990E2 !important;
}

.navbar-nav > li > a {
  font-size: 14px !important;
  padding: 10px 16px !important;
  margin-right: 12px;
}

.navbar-nav > li > a .fa {
  margin-right: 4px !important;
}

.navbar-inverse .navbar-nav>li>a.router-link-active {
  color: #4990E2 !important;
  border-bottom: 0px solid #4990E2;
}

.navbar-inverse .navbar-nav.app>li.new-contact {
  float: right;
}

.navbar-inverse .navbar-nav.app>li.new-contact a {
  background: #4990E2;
  border-radius: 4px;
  font-weight: bold;
  text-transform: none;
  position: relative;
  top: -4px;
  color: white !important;
  padding: 6px 12px 8px !important;
}

.navbar-inverse .navbar-nav.app>li.new-contact a i {
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-right: 6px;
}

.navbar-inverse .navbar-nav.app>li.new-user {
  float: right;
}

.navbar-inverse .navbar-nav.app>li.new-user a {
  background: #EB3459;
  border-radius: 4px;
  font-weight: bold;
  text-transform: none;
  position: relative;
  top: -4px;
  color: white !important;
  padding: 6px 12px 8px !important;
}

.navbar-inverse .navbar-nav.app>li.new-user a i {
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-right: 6px;
}

.submenu {
  background-color: #fff !important;
  color: #000;
}

.name-campagne {
  text-transform: uppercase;
  cursor: pointer;
  float:left;
  margin-left: -18px;
  margin-top: 17px;
  font-size: 15px;
}
