#topMap {
	width:100%;
	height: 100vh;
	display: block;
	position: relative;
}

#v-map{
	height: 100vh;
}


#map-prio {
	margin-left: -30px;
	margin-right: -35px;
	margin-top: -39px;
}

#map-null {
	margin-left: -30px;
	margin-right: -35px;
	margin-top: -39px;
}

#error-message {
  position: absolute;
  top: 100px;
  z-index:10;
}
#map-data {
	padding-right: 50px;
}
#map-data h2 {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

iframe {
	width:100%;
	height: 100%;
	border : 0px ;

}

#v-map.leaflet-container.leaflet-fade-anim{
	height: 300px;
}
