<template lang="jade">
#contact-container

  
  //------------------//
  //- VERSION STATIQUE-/
  //------------------//
  div
    //- Actions export/suppr/send email de la base de contact
    div.actions
      //- Actions export/suppr/send email de la base de contact
      span.left-item
        a(href="#").unavailable
          .webapp-icons-24px-import
          span.action-name  Importer mes données

      a(@click.prevent="export_data")
        .webapp-icons-24px-export.action-icon
        .action-name  Exporter
      a(href="#").unavailable
        .webapp-icons-24px-delete.action-icon
        .action-name Supprimer
      a(href="#").unavailable
        .webapp-icons-24px-email-send.action-icon
        .action-name Envoyer un email
    //- for scrolling - put everything in the page, from the table on, in one containing div
    .page-bottom
      //- Tableau de contact
      div.table-container
        table.table
          //- Titre des colonnes
          thead
            tr.first-line
              //- Checkbox doit selectionner tout les contacts
              th
                input(type='checkbox', disabled="disabled")
              th Prénom
              th Nom
              th Adresse
              th Email
              th Dernière visite
              th Contact
          //- Contenu du tableau
          tbody.contacts-table-body
            tr(v-for='contact in contacts').individus
                //- Chaque contenu dynamique doit être dans un TD du tableau
                td
                  input(type='checkbox', disabled="disabled")
                template(v-if="contact&&(contact.firstname && contact.surname)&&(contact.firstname.length > 0 || contact.surname.length > 0 )")
                    td.bold(@click.prevent="goToDetails(contact)") {{contact.firstname}}

                    template(v-if="contact.married_name && contact.married_name.length > 0 && contact.surname!=contact.married_name")
                      td.bold(@click.prevent="goToDetails(contact)") {{contact.surname}} ({{contact.married_name}})
                    template(v-else)
                      td.bold(@click.prevent="goToDetails(contact)") {{contact.surname}}

                    template(v-if="(contact.address.housenumber || contact.address.street) != undefined ")
                        td(@click.prevent="goToDetails(contact)")
                            | {{contact.address.housenumber}} {{contact.address.street}}, {{contact.address.city}}
                    template(v-else)
                        td(@click.prevent="goToDetails(contact)")
                            | {{contact.address.city}}

                template(v-else)
                    td(@click.prevent="goToDetails(contact)") n°{{contact.id}}
                    td(@click.prevent="goToDetails(contact)")
                    template(v-if="(contact.address.housenumber || contact.address.street || contact.address.city) != undefined ")
                      td(@click.prevent="goToDetails(contact)")
                          | {{contact.address.housenumber}} {{contact.address.street}}, {{contact.address.city}}
                    template(v-else)
                      td(@click.prevent="goToDetails(contact)")
                td(@click.prevent="goToDetails(contact)") 
                  .mail-content(v-bind:class="(contact.mail && contact.mail.length > 0) ? 'mail-present' : 'no-mail'")
                    .popover {{contact.mail}}
                td(@click.prevent="goToDetails(contact)") {{getDate(contact.lastchange)}}
                td(@click.prevent="goToDetails(contact)")
                  //- Possible d'afficher l'avatar du point de contact ?
                  template(v-if="contact.user_id")
                    i.fa.fa-user
                    |  {{contact.user_id }}
                  template(v-else)
                    |-
      .pages
        el-pagination(layout='prev, pager, next', :total='page_count*10', :current-page="(result_index/nb_results)+1" @current-change="handlePagination")

</template>

<script>
var $ = require("jquery");
import  { mapActions,  mapGetters  } from 'vuex'
import moment from 'moment';
var contact_store = require('../../../../models/contact_store.js');

export default {
	name : 'contacts',

	data : function() {
		return {
			sort_result : this.$store.getters.sort_result,
      		sort_options : [
		        {
		          value:'firstname',
		          label: 'Prénom'
		        },
		        {
		          value:'surname',
		          label:'Nom'
		        },
		        {
		          value:'street',
		          label:'Rue'
		        },
		        {
		          value:'city',
		          label:'Ville'
		        }
      		],
      		asc:this.$store.getters.order,
      		//result_index : this.$store.getters.result_index,
      		// current_page : parseInt(this.$store.getters.result_index),
          loadingExport : this.$store.getters.loadingExport,
		}
	},

	computed : {
	    ...mapGetters({
	      'contacts' : 'contacts'
	    }),
	    ...mapGetters({
        'total_hit' : 'total_hit'
     	}),
     	...mapGetters({
        'page_count' : 'pcount'
     	}),
     	...mapGetters({
     	'result_index':'result_index'
     	}),
     	...mapGetters({
     		'filter':'filter'
     	}),
     	...mapGetters({
     		'query':'query'
     	}),
      ...mapGetters({
        'polygon':'polygon'
      }),
     	...mapGetters({
     		'nb_results' : 'nb_results'
     	}),

     	current_page : function() {
     		return (this.result_index/this.nb_results)+1
     	},
	},

  mounted: function () {
    moment.locale('fr');
    moment.updateLocale('fr', {
      calendar : {
        sameElse : 'LL'
      }
    })
    this.setupScroll();
	},
  
	methods : {
		...mapActions({
	    search: 'SEARCH_CONTACT'
	  }),

    // to avoid having nested scrollbars (for the page and the table) use a special, javascript-controlled
    // scrolling
    setupScroll : function() {
      // set the height of the .page-bottom
      // .page-bottom should have box-sizing: border-box, so account for padding
      // $(".page-bottom").outerHeight($("#main-container").height());

      $("tbody.contacts-table-body").css("padding-top", $(".first-line").height() + "px");
      $(".page-bottom").css("padding-bottom", $(".pagination").outerHeight() + "px");
      this.scrollCallback();

      // remove any existing scroll event listeners; having multiple makes the page look very buggy
      $("#scroll-container").off("scroll");
      let vueComponent = this;
      $("#scroll-container").scroll(function() {
        vueComponent.scrollCallback()
      });
    },

    scrollCallback: function() {
      let headerHeight = $(".page-header").height();
      let containerHeight = $("#main-container").height();
      let pageinationHeight = $(".pagination").innerHeight();
      let topPage = headerHeight - $(".page-bottom").offset().top;
      
      $(".first-line").css("top", Math.max(topPage, 0) + "px");
      $(".pagination").css("top", Math.max($(".first-line").height(), topPage + containerHeight - pageinationHeight) + "px");
    },

    getDate : function(date){
      //var temp=moment(date).format('MMMM Do YYYY')
      //var temp=moment(date).toNow()
      var temp="non visité"
      if (date){
        temp=moment(date).calendar()
      }
      return temp
    },

		goToDetails : function (contact) {
			this.$store.commit('DELETE_ACTIVE_CONTACT');
			this.$store.commit('LOADING', true);
			this.$store.commit('EDIT', true);
			var router = this.$router;

	    contact_store.first(this.$router,contact.id, (res) => {
	    	this.$store.commit('SET_ACTIVE_CONTACT', res);
	    	this.$store.commit('LOADING', false)
	    });
  	},
    	
    setFilter:function(){
      var params = {
        'sorting' : this.sort_result.toString(),
        'result_index' : this.result_index.toString(),
        'order' : this.asc.toString()
      }
      this.$store.commit('SET_FILTERS', params);
    },

  	addSort : function() {
	    this.setFilter();
	    this.search();
    },

    handlePagination : function(val) {
        this.active_page = val;

        this.$store.commit('SET_RESULT_INDEX', this.nb_results*(val-1) )

        this.setFilter();
        this.search();
        setTimeout(function () {
          console.log(this.contacts)
        }.bind(this), 3000)
        //this.displayMap();
    },

    changeOrder: function(){
	    this.asc = !this.asc;
	    this.setFilter();
	    this.search();
    },

    export_data : function () {
      this.loadingExport=true;

    	var temp_filters = this.filter.slice()
    	temp_filters[2]='1000000'

    	var arr = [];
    	//arr.push(["NOM", "NOM MATRIMONIAL","PRENOM", "ADDRESSE", "VILLE" , "MAIL","PHONE","FORMDATAS"])
      arr.push(["NOM", "NOM MATRIMONIAL","PRENOM","GENRE","DATE DE NAISSANCE","CATEGORIE AGE", "ADDRESSE", "VILLE" , "MAIL","TELEPHONE","MOBILE","DERNIERE MODIFICATION"])

		  contact_store.find(null, (res) => {
        var currentTime = +new Date();

	    	res.forEach(function (obj) {
	    		//var el = [obj.surname, obj.married_name, obj.firstname, obj.address.housenumber + ' '+ obj.address.street, obj.address.city, obj.mail,obj.phone,obj.formdatas[0].data]
          var el = [obj.surname, obj.married_name, obj.firstname,obj.gender,obj.birthdate,obj.age_category, obj.address.housenumber + ' '+ obj.address.street, obj.address.city, obj.mail,obj.phone,obj.mobile,obj.lastchange]

          //boucle pour formdatas
          // obj.formdatas.forEach(function(formdata){
          //   el.push(formdata.data);
          // });
	    		for(var o in el) if (el[o]==null) el[o] = 'null'

	    		arr.push(el)
	    	})

				//var csvContent = "data:text/csv;charset=utf-8,";
        var csvContent = "";

				arr.forEach(function(infoArray, index){
				    var dataString = infoArray.join(";");
				    csvContent += index < arr.length ? dataString+ "\n" : dataString;
				});

        var csvData = new Blob([csvContent], { encoding:"UTF-8",type:"text/plain;charset=UTF-8" });
        var csvUrl = URL.createObjectURL(csvData);

        this.loadingExport=false;
				var link = document.createElement("a");
				link.setAttribute("href", csvUrl);
				link.setAttribute("download", "export-contacts.csv");
				document.body.appendChild(link);

				link.click();

      }, this.query, temp_filters,this.polygon)
    }
	}
}

</script>

<style lang="scss">
@import '../../../../assets/scss/structure/grid.scss';
@import '../../../../assets/scss/contact/contact.scss';

</style>
