<template lang="jade">
div.fiche-contact
    
    div(style=' margin-bottom:15px;').close-fiche
        //- el-button( size='mini').cancel
        a(v-on:click.prevent="closeFiche")
            i.fa.fa-reply(aria-hidden='true')
            | RETOUR
        template(v-if="!is_edited")
            a(v-on:click.prevent="editContact").edit
                i.fa.fa-pencil-square-o(aria-hidden='true')
                | EDITER

         



    template(v-if="!is_edited")
        INFORMATIONS
    template(v-else)
        EDITION





</template>

<script>
  import  { mapGetters, mapActions } from 'vuex'

export default{
	name:'FICHE-CONTACT',

	components : {
	  'INFORMATIONS' : require('./fiche-contact-components/informations.vue'),
      'EDITION' : require('./fiche-contact-components/edition.vue'),
    },
	computed : {
	    ...mapGetters({
	      'is_edited' : 'is_edited'
	    })
	},

	data : function () {
		return {
	    	// is_edited : false
		}
	  },

	methods : {

		closeFiche : function(){
			this.$store.commit('DELETE_ACTIVE_CONTACT');
		}, 
		editContact : function() {
			this.$store.commit('EDIT', true); 
		}
	}
}
</script>

<style>
.close-fiche a  {
	color:#95a5a6;
	cursor:pointer;
}
.close-fiche a:hover {
	color:#000;
	text-decoration: none;
}
.close-fiche .edit {
	float:right;
}
#map-user { height: 150px; margin-bottom: 20px; }
</style>