<template lang="jade">

//----------------------------//
//- VERSION STATIQUE FILTRES-//
//----------------------------//
div.container-filter
	.filter
		.pure-u-md-24-24
			.filter-header
				h3.pure-u-md-12-24.pure-u-sm-24-24.filter-title Filtrer vos résultats
				div.additional-filters.pure-u-md-12-24.pure-u-sm-24-24
					el-button.title.action-aF.aFP(@click.prevent="refreshMap()")
						svg(width='12px', height='12px', viewbox='0 0 12 12', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
							// Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch
							desc Created with Sketch.
							defs
								path#plus(d='M17,11 L13,11 L13,7 C13,6.448 12.552,6 12,6 C11.448,6 11,6.448 11,7 L11,11 L7,11 C6.448,11 6,11.448 6,12 C6,12.552 6.448,13 7,13 L11,13 L11,17 C11,17.552 11.448,18 12,18 C12.552,18 13,17.552 13,17 L13,13 L17,13 C17.552,13 18,12.552 18,12 C18,11.448 17.552,11 17,11')
							g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
								g(id='Icons-/-Action-/-Plus', transform='translate(-6.000000, -6.000000)')
									mask#mask-2(fill='white')
										use(xlink:href='#plus')
									use(id='icons-/-24px-/-plus', fill='#FFFFFF', xlink:href='#plus')
						| &nbsp; Voir plus de filtres
					el-button.title.action-aF.aFM(style="display:none;")
						svg(width='12px', height='2px', viewbox='0 0 12 2', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
							// Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch
							desc Created with Sketch.
							defs
								path#line(d='M17.143,14 C17.617,14 18,13.553 18,13 C18,12.447 17.617,12 17.143,12 L6.857,12 C6.384,12 6,12.447 6,13 C6,13.553 6.384,14 6.857,14 L17.143,14 Z')
							g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
								g(id='Icons-/-Action-/-Less', transform='translate(-6.000000, -12.000000)')
									mask#mask-2(fill='white')
										use(xlink:href='#line')
									use(id='icons-/-24px-/-less', fill='#FFFFFF', xlink:href='#line')
						| &nbsp; Voir moins de filtres
		//- Container de tous les filtres
		.filter-item-container
			//- Barre de recherche
			.pure-u-md-24-24.search-container
				label.pure-u-md-24-24.pure-u-sm-24-24.search
					.svg-icon-container
						svg(width='18px', height='17px', viewbox='0 0 18 17', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
							// Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch
							desc Created with Sketch.
							defs
								path#search-icon(d='M11,17 C7.691,17 5,14.309 5,11 C5,7.691 7.691,5 11,5 C14.309,5 17,7.691 17,11 C17,14.309 14.309,17 11,17 M20.707,18.293 L17.729,15.315 C18.53,14.069 19,12.591 19,11 C19,6.582 15.418,3 11,3 C6.582,3 3,6.582 3,11 C3,15.418 6.582,19 11,19 C13.104,19 15.012,18.182 16.44,16.854 L19.293,19.707 C19.488,19.902 19.744,20 20,20 C20.256,20 20.512,19.902 20.707,19.707 C21.098,19.316 21.098,18.684 20.707,18.293')
							g#search-icon(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
								g(id='Icons-/-Action-/-Search', transform='translate(-3.000000, -3.000000)')
									mask#mask-2(fill='white')
										use(xlink:href='#search-icon')
									use(id='icons-/-24px-/-search', fill='#FFFFFF', xlink:href='#search-icon')
					input#Utilisateur(placeholder="Rechercher" class="el-input__inner" icon="search" v-model="searchInput" v-on:keyup.enter="addTag")

			//- Container des tags entrés dans la barre de recherche
			.search-actions
				.tags
					template(v-if="tags.length > 0")
						template(v-for='tag in tags')
							el-tag(:closable='true', type='gray', :key='tag.key', :close-transition='true' @close="handleClose(tag)") {{tag.name}}

			//- Les 3 blocs à afficher au click de "voir plus de filtres" - Informations - Zone Géo - Réponses à l'enquête
			//- Ils sont contenu dans un syteme de grille à 24 colonnes -> .pure-u-md-24-24
			//- Exemple de class uniquement actives au responsive -> .pure-sm-24-24
			.pure-u-md-24.hider(style="display:none")
				//- Informations
				.pure-u-md-24-24
					.section-filter
						h3 Informations
						hr
						//- Genre
						.section-item
							.filter-item.gender.pure-u-md-6-24.pure-u-sm-24-24
								div.name-filter Genre
								.gender-selecteur.selecteur-container
									.item.pure-u-md-12-24.pure-u-sm-12-24
										input#man.switch-input(type='checkbox' v-model='sexe_filter' value='m' v-on:change='addFilter')
										label.switch-label(for='man')
											svg.undefined(xmlns='http://www.w3.org/2000/svg', width='12', height='19', viewbox='0 0 12 19')
												desc.undefined   Created with Sketch.
												defs.undefined
													path#men-path.undefined(d='M8 9C8 6.8 9.8 5 12 5 14.2 5 16 6.8 16 9 16 11.2 14.2 13 12 13 9.8 13 8 11.2 8 9M18 9C18 5.7 15.3 3 12 3 8.7 3 6 5.7 6 9 6 12 8.2 14.4 11 14.9L11 17 8.8 17C8.4 17 8 17.4 8 17.8L8 18.2C8 18.6 8.4 19 8.8 19L11 19 11 21C11 21.6 11.4 22 12 22 12.6 22 13 21.6 13 21L13 19 15.2 19C15.6 19 16 18.6 16 18.2L16 17.8C16 17.4 15.6 17 15.2 17L13 17 13 14.9C15.8 14.4 18 12 18 9')
												g#Symbols.a
													g.undefined(id='Icons-/-Information-/-Woman', transform='translate(-6 -3)')
														mask#mask-2.b
															use.undefined(xlink:href='#men-path')
														use.c(id='icons-/-24px-/-womand', xlink:href='#men-path')
												//-i.fa.fa-male
									.item.pure-u-md-12-24.pure-u-sm-12-24
										input#women.switch-input(type='checkbox' v-model='sexe_filter' value='f' v-on:change='addFilter')
										label.switch-label(for='women')
											svg(width='17px', height='16px', viewbox='0 0 17 16', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
												// Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch
												desc Created with Sketch.
												defs
													path#women-path(d='M12.82825,16.828 C12.07325,17.584 11.06825,18 10.00025,18 C8.93225,18 7.92725,17.584 7.17225,16.828 C5.61225,15.268 5.61225,12.731 7.17225,11.172 C7.92725,10.416 8.93225,10 10.00025,10 C11.06825,10 12.07325,10.416 12.82825,11.172 C14.38825,12.731 14.38825,15.268 12.82825,16.828 M19.65725,4 L15.41425,4 C14.86125,4 14.41425,4.447 14.41425,5 C14.41425,5.553 14.86125,6 15.41425,6 L17.24225,6 L13.82625,9.417 C12.71625,8.49 11.36525,8 10.00025,8 C8.46525,8 6.92925,8.586 5.75725,9.758 C3.41425,12.1 3.41425,15.899 5.75725,18.242 C6.92925,19.414 8.46525,20 10.00025,20 C11.53525,20 13.07125,19.414 14.24225,18.242 C16.22625,16.259 16.51225,13.239 15.13625,10.935 L18.65725,7.414 L18.65725,9.242 C18.65725,9.795 19.10425,10.242 19.65725,10.242 C20.21025,10.242 20.65725,9.795 20.65725,9.242 L20.65725,5 C20.65725,4.447 20.21025,4 19.65725,4')
												g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
													g(id='Icons-/-Information-/-Man', transform='translate(-4.000000, -4.000000)')
														mask#mask-2(fill='white')
															use(xlink:href='#women-path')
														use#Fill-1(fill='#FFFFFF', xlink:href='#women-path')
							//- Age
							.filter-item.pure-u-md-6-24.pure-u-sm-24-24
								div.name-filter &nbsp;
								label(for='Age')
									template
										el-select(v-model='age_filter', multiple='', placeholder="Age" v-on:change='addFilter')
											el-option(v-for='item in age_options', :label='item.label', :value='item.value')
							//- Email
							.filter-item.mail-container.pure-u-md-6-24.pure-u-sm-24-24
								div.name-filter Email
								.mail-selecteur.selecteur-container
									.item.pure-u-md-12-24.pure-u-sm-12-24
										input#mail-on.switch-input(type='checkbox' v-model='email_filter' value='SET' v-on:change="addFilter")
										label.switch-label(for='mail-on')
											svg(width='22px', height='15px', viewbox='0 0 22 15', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
												// Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch
												desc Created with Sketch.
												defs
													path#mail-on-path(d='M3,18 L3,8.144 L11.514,12.874 C11.666,12.958 11.833,13 12,13 C12.167,13 12.334,12.958 12.486,12.874 L21,8.144 L21,18 L3,18 Z M18.941,7 L12,10.856 L5.059,7 L18.941,7 Z M21,5 L3,5 C1.896,5 1,5.896 1,7 L1,18 C1,19.104 1.896,20 3,20 L21,20 C22.104,20 23,19.104 23,18 L23,7 C23,5.896 22.104,5 21,5 L21,5 Z')
												g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
													g(id='Icons-/-Information-/-Mail', transform='translate(-1.000000, -5.000000)')
														mask#mask-2(fill='white')
															use(xlink:href='#mail-on-path')
														use(id='icons-/-24px-/-mail', fill='#FFFFFF', xlink:href='#mail-on-path')
									.item.pure-u-md-12-24.pure-u-sm-12-24
										input#no-mail.switch-input(type='checkbox' v-model='email_filter' value='NULL' v-on:change="addFilter")
										label.switch-label(for='no-mail')
											svg(width='22px', height='21px', viewbox='0 0 22 21', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
												// Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch
												desc Created with Sketch.
												defs
													path#no-mail-path(d='M21,17.0007 L8.928,17.0007 L12.416,11.9017 C12.438,11.8927 12.464,11.8877 12.486,11.8747 L21,7.1447 L21,17.0007 Z M3,17.0007 L3,7.1447 L10.456,11.2867 L6.546,17.0007 L3,17.0007 Z M14.072,6.0007 L11.59,9.6287 L5.06,6.0007 L14.072,6.0007 Z M18.94,6.0007 L14.929,8.2297 L16.454,6.0007 L18.94,6.0007 Z M21,4.0007 L17.822,4.0007 L18.707,2.7067 C19.098,2.3157 19.098,1.6837 18.707,1.2927 C18.316,0.9017 17.684,0.9017 17.293,1.2927 L15.44,4.0007 L3,4.0007 C1.896,4.0007 1,4.8967 1,6.0007 L1,17.0007 C1,18.1047 1.896,19.0007 3,19.0007 L5.178,19.0007 L4.293,20.2937 C3.902,20.6847 3.902,21.3167 4.293,21.7077 C4.488,21.9027 4.744,22.0007 5,22.0007 C5.256,22.0007 5.512,21.9027 5.707,21.7077 L7.56,19.0007 L21,19.0007 C22.104,19.0007 23,18.1047 23,17.0007 L23,6.0007 C23,4.8967 22.104,4.0007 21,4.0007 L21,4.0007 Z')
												g#Symbols(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
													g(id='Icons-/-Information-/-No-Email', transform='translate(-1.000000, -1.000000)')
														mask#mask-2(fill='white')
															use(xlink:href='#no-mail-path')
														use(id='icons-/-24px-/-no-email', fill='#FFFFFF', xlink:href='#no-mail-path')
							.filter-item.pure-u-md-6-24.pure-u-sm-24-24
								div.name-filter Mobilisé depuis le:
								.mail-selecteur.selecteur-container
									.item.pure-u-md-24-24.pure-u-sm-24-24
										datepicker(placeholder="Modification", v-model="lastchange_filter", language="fr", monday-first=true, v-on:selected='addFilter', clear-button=true, @cleared='reset_lastchange')

							
				
				//- Zone géographique
				.pure-u-md-24-24
					.section-filter.map-filter.pure-u-md-24-24
						h3 Zone géographique
						hr
						div#mapTurf.pure-u-md-18-24
							div#case_search_in_map 
									
									input#checkBox(type='checkbox'  v-model="search_with_the_map" v-on:change='addFilter')
									label(for='true') Activer le filtre par navigation
						.section-item.pure-u-md-6-24
							label(for='Zone').filter-item.pure-u-sm-24-24
								el-select(v-model='bdv_filter', multiple='', placeholder="Zone" v-on:change="addFilter")
									el-option(v-for='item in bdv_options', :label='item.label', :value='item.value')


				//- Réponse à lenquête
				.pure-u-md-24-24
					.section-filter
						h3 Réponses à l&apos;enquête
						hr
						.section-item
							FORM-FILTERS
</template>

<script>



import  { mapActions, mapGetters } from 'vuex'

import Datepicker from 'vuejs-datepicker';
import moment from 'moment';
import Leaflet from 'leaflet'
import turf from 'turf'
import $ from "jquery"
import 'leaflet-draw'
import leafletImage from 'leaflet-image'
//import LeafletMarkerCluster from 'leaflet.markercluster'
import '../../../../assets/js/leaflet-heat.js'
import store from '../../../../store/stateStore.js'


var _ = require('underskore');
var contact_store = require('../../../../models/contact_store.js');

export default {
	name : 'filters',

	components : {
		'FORM-FILTERS' : require('./form-filters-components/form-filters.vue'),
		Datepicker
	},

	data : function () {
		return {
			search_with_the_map:false,
			userConnected : this.$store.getters.userConnected,
			searchInput : "",
			query : this.$store.getters.query,
			polygon : this.$store.getters.polygon,
			bdv_label : [],
			bdv_data : [],
			age_data : [],
			gender_label : [],
			asc:this.$store.getters.order,
			tags: [],
			options: [
				{
					value:'all',
					label:'Recherche globale'
				},{
					value: 'name',
					label: 'Recherche par nom'
				}, {
					value: 'firstname',
					label: 'Recherche par prénom'
				}, {
					value: 'address',
					label: 'Recherche par ville'
				}
			],
			sort_result : this.$store.getters.sort_result,
			age_filter : this.$store.getters.age_filter,
			age_options : [
					{
							value:'0',
							label : 'Age non renseigné'
					},
					{
							value: '1',
							label: '- 18 ans'
					},
					{
							value: '2',
							label: '18 - 25 ans'
					},
					{
							value: '3',
							label: '25 - 35 ans'
					},
					{
							value: '4',
							label: '35 - 50 ans'
					},
					{
							value: '5',
							label: '50 - 65 ans'
					},
					{
							value: '6',
							label: '+ 65 ans'
					}
			],
			bdv_filter : this.$store.getters.bdv_filter,
			bdv_options : [],
			sexe_filter : [],
			email_filter : [],
			result_index : this.$store.getters.result_index,
			lastchange_filter : this.$store.getters.lastchange_filter,
			lastchange_date :null,
			mapFoo : null,
			markerList : [],
			dataList : [],
		    markers : null,
		    mapInitialized : false,
		    heats : L.layerGroup([]),
		    drawnItems :null,
		}
	},

	computed : {
		...mapGetters({
			'form_filter' : 'form_filter',
			'active_request' : 'active_request',
			'kpi_view': 'kpi_view',
			'contacts' : 'contacts',
			'total_hit' : 'total_hit',
			'contactsCount' : 'contactsCount',
			'locationSummaryGeoHash' : 'location_summary_geohash',
			'totalCount' : 'total_count',
			'geohash_array' : 'geohash_array'
	    }),
	},
	
	beforeDestroy : function() {
		this.resetFilters()
	},
	
	beforeMount : function() {
		var filter =new Array (this.userConnected.group_id.toString(), 'all', '11', '0', '', '','', 'firstname', 'true');

		contact_store.kpi(this.$router, (res) => {
			if (res[2].KpiReplies != undefined) {
				this.generate_bdv_label(res[2].KpiReplies.slice(0));
			};
		}, this.query, filter, this.polygon);

		var params = {  'group_id' : this.userConnected.group_id.toString(), }
		this.$store.commit('SET_FILTERS', params);

		this.search();
		//this.updateLocationSummaryGeoHash();
	},

	mounted : function(){
		var main = this;
		main.$nextTick(function () {
		    $('.aFP').click(function(){
			    $('.hider').toggle();
			    $('.aFP').hide();
			    $('.aFM').show();
			    
			});
		    $('.aFM').click(function(){
			    $('.hider').toggle();
			    $('.aFM').hide();
			    $('.aFP').show();
			    
			});
	  	});
		if (main.query != "") {
			var lastQueries = _.without(main.query.split(" "), "");

			for (var i = 0; i < lastQueries.length; i++) {
				var newTag = { key : main.tags.length +1, name : lastQueries[i], type: 'gray'  };
				main.tags.push(newTag);
			};

		};


		main.mapFoo = L.map('mapTurf').setView([44.84009,-0.59996], 15);
		

		main.drawnItems = new L.FeatureGroup();
		main.mapFoo.addLayer(main.drawnItems);

		var options = {
			position: 'topright',
			draw: {
					polyline:false,
					polygon: {
							allowIntersection: false,
							drawError: {
									color: '#e1e100',
									message: '<strong>Action non permise<strong>'
							},
							shapeOptions: {
									color: '#4990e2'
							}
					},
					circle: false,
					rectangle: false,
					marker: false,
					circlemarker: false,
			},
			edit: {
					featureGroup: main.drawnItems,
					edit : false
			}
		};

		var drawControl = new L.Control.Draw(options);
		main.mapFoo.addControl(drawControl);

		

		main.mapFoo.on(L.Draw.Event.CREATED, function (e) {
			 var type = e.layerType,
					 layer = e.layer;

			if (Object.keys(main.drawnItems._layers).length < 1) {
				main.drawnItems.addLayer(layer);
				main.$store.commit('SET_POLYGON', main.layerToPoints(layer));
				main.generate_kpi();
				main.search();
				main.updateLocationSummaryGeoHash();
				main.search_with_the_map=false;

				// main.contacts.forEach(function (obj) {
				//     console.log([parseFloat(obj.address.latitude),parseFloat(obj.address.longitude)]);
				//     //  L.circle([parseFloat(obj.address.latitude),parseFloat(obj.address.longitude)], {
				//     //    color: '#000',
				//     //    fillColor: '#000',
				//     //    fillOpacity: 1,
				//     //    opacity:1,
				//     //    radius: 2
				//     // }).addTo(main.map);
				// });

			} else {
				main.$message({
					message: "Vous ne pouvez dessiner qu'un seul polygone à la fois",
					duration:5000,
					type: 'error'
				});
			}
		});

		main.mapFoo.on(L.Draw.Event.DELETED, function (e) {
			main.$store.commit('SET_POLYGON', []);
			main.generate_kpi();
			main.search();
			main.updateLocationSummaryGeoHash();
		});

		//main.updateLocationSummaryGeoHash();
		// if the map is too big, getBounds() behaves strangely
	    main.mapFoo.options.minZoom = 2;
	    main.mapFoo.on("zoom", function() {main.updateMap()});
	    main.mapFoo.on("move", function() {main.updateMap()});

	    var overlays = {
		    "Afficher mes contacts": main.heats
		};
	    L.control.layers(null,overlays,{position:'bottomleft'}).addTo(main.mapFoo);
	    main.heats.addTo(main.mapFoo);

	    //main.heats.addTo(main.mapFoo);
	    let urlMAP='https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png'
		        //let urlMAP='http://{s}.tile.osm.org/{z}/{x}/{y}.png'
		        //let urlMAP='http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png'
        		
    	L.tileLayer(urlMAP, {
				attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(main.mapFoo);
		
		

	},

	watch :{
		locationSummaryGeoHash : {
	      handler : function() {
	      	var main = this;
	      	main.dataList = [];
	      	if (main.geohash_array[0].Map){

		      	let map_size = main.geohash_array[0].Map.length
	            let ratio = Math.round(map_size/10)
	            //let ref_value_at_one = main.geohash_array[0].Map[ratio][2]

	            let ref_value_at_one = main.geohash_array[0].Map[0][2]
	            
			    for (let i = 0; i < main.geohash_array[0].Map.length; i++) {
			        let latitude = main.geohash_array[0].Map[i][0];
			        let longitude = main.geohash_array[0].Map[i][1]
			        let value = main.geohash_array[0].Map[i][2];
			        let valeur = value/ref_value_at_one;
			        //console.log("valeur:");console.log(valeur);
			        let data = [latitude,longitude,valeur];
			        main.dataList.push(data);
			    }

		        main.heats.eachLayer(function(layer) {
			        main.heats.removeLayer(layer);
				});

	        	// HEATMAP
				let heat = L.heatLayer(main.dataList, {
					radius: 15,
		            blur: 15, 
		            maxZoom: 18,
		            minOpacity:0.2
				})
				main.heats.addLayer(heat)
				
	        	
		        // if the map hasn't been dragged, let it be free to zoom/pan to make all markers visible
		        if (!main.mapBoundsSet) {
		           main.mapInitialized = false;
		           //main.mapFoo.fitBounds(L.featureGroup(main.markerList).getBounds());
		        }
		    }else{
		    	main.heats.eachLayer(function(layer) {
			        main.heats.removeLayer(layer);
				});
		    }
	      },
	      deep: true
	    },
	    search_with_the_map:function(value){
	    		var main = this;
	    		//console.log(main.drawnItems.getLayers().length)
	    		if (value && main.drawnItems.getLayers().length===0){
	    			main.updateMap()
	    		}else
	    		{
	    			if (main.drawnItems.getLayers().length===0){
	    				main.resetBoundVars();
	    			}
	    			main.setFilter();
					main.search();
					main.updateLocationSummaryGeoHash();
					main.generate_kpi();
	    		}
	    		  
	    }
	},

	methods : {
		...mapActions({
			search: 'SEARCH_CONTACT',
			generate_kpi: 'GENERATE_KPI',
			updateLocationSummaryGeoHash : 'UPDATE_LOCATION_SUMMARY_GEOHASH',
		}),
		resetBoundVars : function(){
			this.polygon=[]
			store.commit('SET_POLYGON', this.polygon);
		},
		updateMap : _.debounce(function() {
		      // if (!this.mapInitialized) {
		      //   // avoid making multiple updateAggregation and updateLocationSummary calls on initialization
		      //   this.mapInitialized = true;
		      //   console.log("this.mapInitialized:"+this.mapInitialized)
		      //   return;
		      // }
		      //store.commit("SET_NB_RESULTATS_LOCATION_SUMMARY_GEOHASH", "1");
		      //console.log(this.mapFoo.getZoom())
		      //store.commit("SET_PRECISION_GEOHASH", (this.mapFoo.getZoom()-6).toString());
		      //store.commit("SET_PRECISION_GEOHASH", "10");
		      // todo - could be issues with international date line

		      if (this.search_with_the_map && this.drawnItems.getLayers().length===0){
			      let bounds = this.mapFoo.getBounds();
			      if (bounds._northEast && bounds._southWest) {
			        // store.commit("SET_NORTHEAST_LAT", bounds._northEast.lat.toString());
			        // store.commit("SET_NORTHEAST_LNG", bounds._northEast.lng.toString());
			        // store.commit("SET_SOUTHWEST_LAT", bounds._southWest.lat.toString());
			        // store.commit("SET_SOUTHWEST_LNG", bounds._southWest.lng.toString());
			        let poly=[]
			        poly.push(bounds._northEast)
			        poly.push(bounds.getNorthWest())
			        poly.push(bounds._southWest)
			        poly.push(bounds.getSouthEast())
			        store.commit('SET_POLYGON', poly);
			      } else {
			        this.resetBoundVars();
			      }
			      	this.setFilter();
					this.search();
					this.updateLocationSummaryGeoHash();
					this.generate_kpi();
				}
		 }, 500),
		refreshMap : function(){
	      setTimeout(function () {
	        this.mapFoo.invalidateSize();
	        if (this.dataList&&this.dataList[0]&&this.dataList[0][0])
	        {
	        	this.mapFoo.setView([this.dataList[0][0],this.dataList[0][1]], 10);
	    	}else{
	    		this.mapFoo.setView([46.769210,2.545827], 5);
	    	}
	        //this.mapFoo.setView([44.84009,-0.59996], 11);

	        //L.GeoIP.centerMapOnPosition(this.mapFoo,15);
	      //   this.mapFoo.fitBounds(this.bounds, {
	      //                   padding: [20, 20],
	      //                   maxZoom: 17,
	      //                   animate: true,
	      //                   pan: {
	      //                         duration: 10
	      //                     }
	      //                 });
	      }.bind(this), 1)
	    },
		layerToPoints : function(layer){
			var coordinates = [];
					var latlngs = layer.editing.latlngs[0][0]

			latlngs.forEach(function (obj) {
				coordinates.push({"lat": obj.lat, "lng": obj.lng})
			});
			return coordinates;
		},

		layerToGeoJSON : function(layer) {

					var geojson = {};
					geojson['type'] = 'Feature';
					geojson['geometry'] = {};
					geojson['geometry']['type'] = "Polygon";

					var coordinates = [];
					var latlngs = layer.editing.latlngs[0][0]

			latlngs.forEach(function (obj) {
				coordinates.push([obj.lat, obj.lng])
			});
			geojson['geometry']['coordinates'] = [coordinates];
			return geojson;
		},

		setFilter:function(){
			//console.log("setFilter")
			var params = {
				'group_id' : this.userConnected.group_id.toString(),
				'bdv_filter' : this.bdv_filter.length != 0 && typeof(this.bdv_filter) != 'string' ? this.bdv_filter.join('/') : this.bdv_filter.toString(),
				'age_filter' : this.age_filter.length != 0 && typeof(this.age_filter) != 'string'? this.age_filter.join('/') : this.age_filter.toString(),
				'sexe_filter' : this.sexe_filter.length != 0 && typeof(this.sexe_filter) != 'string' ? this.sexe_filter.join('/') : this.sexe_filter.toString(),
				'sorting' : this.sort_result != '' ? this.sort_result.toString() : 'surname',
				'query' : this.query.toString(),
				'order' : this.asc.toString(),
				'result_index': this.result_index.toString(),
				//'lastchange_filter' : this.lastchange_filter.toString(),
				'lastchange_filter' : this.lastchange_filter !="" ? (moment(this.lastchange_filter).format("YYYY-MM-DDTHH:mm:ssZ")).toString():"",
				'email_filter' : this.email_filter.length != 0 && typeof(this.email_filter) != 'string' ? this.email_filter.join('/') : this.email_filter.toString(),
			}
			
			this.$store.commit('SET_FILTERS', params);
		},

		resetFilters : function() {
			this.$store.commit('RESET_FILTERS');
		},

		generate_bdv_label : function(KPI_data){

				var label_bdv = []
				for (var i = 0; i < KPI_data.length; i++) {

					var value  = KPI_data[i].Key;
					var label  = KPI_data[i].Key;

					if (label == 'missing') label =  'Non renseignée';

					var obj = { 'value' : value, 'label' : label }
					label_bdv.push(obj)
				};

				this.bdv_options = label_bdv.sort((a, b) => a['label'].localeCompare(b['label']));
		},
		
		addTag : function () {
			if ((this.tags.length < 4) && (this.searchInput != "")) {

					var newTag = { key : this.tags.length +1, name : this.searchInput, type: 'gray'  };
					this.tags.push(newTag);
					this.searchInput = "";

					this.query = '';
					 for (var i = 0; i < this.tags.length; i++) {
						 this.query += " " + this.tags[i].name
					 };

					this.result_index = 0;
					this.current_page = 0;

					this.setFilter();
					this.generate_kpi();
					this.search();
					this.updateLocationSummaryGeoHash();

			} else if (this.searchInput != ""){
					this.$message({
						message: 'Vous avez atteint le nombre maximum de critères',
						type: 'warning'
					});
			} else {
					this.$message({
						message: 'Vous ne pouvez pas ajouter un critère vide !',
						type: 'warning'
					});
			}
		},
		
		handleClose: function(tag) {
			console.log("handleClose")
			if (this.age_filter.length > 0 || this.sexe_filter.length >0 || this.tags.length > 0 || this.bdv_filter.length >0 || this.form_filter ||this.lastchange_filter.length > 0||this.email_filter.length > 0) {

				this.tags =  _.reject(this.tags, function(el) { return el.key === tag.key; });

				this.query = '';
				 for (var i = 0; i < this.tags.length; i++) {
					 this.query += " " + this.tags[i].name;
				 };


					this.result_index = 0;
					this.current_page = 0;

					this.$store.commit('DELETE_ACTIVE_CONTACT');

					this.setFilter();
					this.search();
					this.updateLocationSummaryGeoHash();
					this.generate_kpi();

						if (this.tags.length > 0 || this.age_filter.length > 0 || this.sexe_filter.length >0 || this.bdv_filter.length >0 || this.form_filter || this.lastchange_filter.length >0||this.email_filter.length > 0) {
								this.result_index = 0;
								this.current_page = 0;

								this.$store.commit('DELETE_ACTIVE_CONTACT');

								this.setFilter();
								this.search();
								this.updateLocationSummaryGeoHash();
								this.generate_kpi();

						} else {
							
							this.resetFilters()

							var params = {  'group_id' : this.userConnected.group_id.toString(), }
							this.$store.commit('SET_FILTERS', params);
							this.generate_kpi();
							this.search();
							this.updateLocationSummaryGeoHash();

						}

				} else {
					
						this.resetFilters();
						var params = {  'group_id' : this.userConnected.group_id.toString(), }
						this.$store.commit('SET_FILTERS', params);
						this.generate_kpi();
						this.search();
						this.updateLocationSummaryGeoHash();

				}
		},

		reset_lastchange : function() {
			this.lastchange_filter = "";
		},
		// _.debounce is a function provided by underskore to limit how
		 // often a particularly expensive operation can be run.
		 // In this case, we want to limit how often we access
		 // the API, waiting until the user has completely
		 // finished typing before making the request.
		 // For more information, http://underscorejs.org/#debounce

		addFilter : _.debounce( function (){
			
			if ((this.search_with_the_map || this.drawnItems.getLayers().length>0) || this.age_filter.length > 0 || this.sexe_filter.length >0 || this.tags.length > 0 || this.bdv_filter.length >0 || this.form_filter || this.lastchange_filter > 0 || this.email_filter.length >0) {
				this.result_index = 0;
				this.current_page = 0;

				this.$store.commit('DELETE_ACTIVE_CONTACT');
				this.setFilter();
				this.search();
				this.generate_kpi();
				this.updateLocationSummaryGeoHash();

			} else {
				
				this.resetFilters()
				var params = {  'group_id' : this.userConnected.group_id.toString(), }
				this.$store.commit('SET_FILTERS', params);

				this.search();
				this.generate_kpi();
				this.updateLocationSummaryGeoHash();
			}
		}, 0),
		addCase_search_in_map : _.debounce( function (){
			//this.addFilter();
			this.updateMap();


		}, 0),
		p_r1 : function() {
			this.age_filter=['6'];
			this.sexe_filter ='m';
		},
		p_r2 : function(){
			if (this.tags.length == 0) {
				this.age_filter=['3', '4'];
				var newTag = { key : this.tags.length +1, name : 'rue Sainte Catherine', type: 'gray'  };
				this.tags.push(newTag);
				this.query = 'rue Sainte Catherine';
			};
		},
		switch_view : function() {
			this.$store.commit('SWITCH_KPI_VIEW');
		}
	}
}

</script>
<style>
  .leaflet-draw-toolbar a {
        background-image: url('/static/images/spritesheet-2x.png') !important;
        background-size: cover !important;
    }

 </style>
<style lang="scss">
	@import '../../../../assets/scss/structure/grid.scss';
	@import '../../../../assets/scss/contact/filter.scss';
	
	#mapTurf{
		    margin-top: 10px;		    
		    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.07);
		    border-radius: 10px;
	}
	#case_search_in_map{
		display: block;
    	right: 50px;
    	padding-right: 5px;
    	border-radius: inherit;
    	position: absolute;
    	top: 10px;
	    background-color: rgba(255, 255, 255, 0.5);
	    font-size: 0.8em;
	    //padding: 6px 15px;
	    z-index: 500;
	}
	.calendar{
		z-index:1001!important;
	}
	

</style>

