<template lang="jade">
div.kpi-filtres
    h3 Analyse de l'échantillon

    //- p Exporter

    div.evolution
      p
        template(v-if="evolution.personnes_rencontres >0")
          i.fa.fa-child(aria-hidden='true')
          b {{evolution.personnes_rencontres}}
          |  personnes mobilisées cette semaine
        template(v-else) Aucune personne mobilisé cette semaine
      p
        span(v-if="(evolution.personnes_rencontres - evolution.personnes_rencontres_last_week) > 0")
          i.fa.fa-arrow-right.gly-rotate-45p.green(aria-hidden='true')
          span L'équipe a été 
          b {{evolution.number_of_change}} fois
          |  plus productive de que la semaine dernière !

        span(v-else)
          span(v-if="(evolution.personnes_rencontres - evolution.personnes_rencontres_last_week) ===0")
            i.fa.fa-arrow-right(aria-hidden='true')
            b Pas d'évolution sur la dernière semaine
          span(v-else)
            i.fa.fa-arrow-right.gly-rotate-45.red(aria-hidden='true')
            span L'équipe a été 
            b {{evolution.number_of_change}} fois
            |  moins productive de que la semaine dernière !

    div.age-piechart
      p
        b Répartition Hommes / Femmes

      div.ct-chart

      div.legend(style="padding-top:55px;")
        ul
          li
              i.fa.fa-circle.purple(aria-hidden='true')
              |  Hommes &nbsp;({{Math.round((percentage_HF.hommes/total_hit)*1000)/10}} %)
          li
              i.fa.fa-circle.blue(aria-hidden='true')
              |  Femmes &nbsp;({{Math.round((percentage_HF.femmes/total_hit)*1000)/10}} %)
          li
              i.fa.fa-circle.darkgrey(aria-hidden='true')
              |  N/A &nbsp;({{Math.round((percentage_HF.missing/total_hit)*10000)/100}} %)

    div.age-bar
      p
        b Répartition de l'echantillon par tranche d'age

      div.age-chart

    div.repartition-bdv-bar
      p
        b Répartition de l'échantillon par zone
      div.bdv-chart
      div.legende-bdv 

</template>

<script>

  import  { mapGetters, mapActions } from 'vuex'

export default {
	name: "KPI-FILTRES",

	computed : {
      ...mapGetters({
        'evolution' : 'evolution'
      }),
      ...mapGetters({
        'total_hit' : 'total_hit'
      }),
      ...mapGetters({
        'percentage_HF' : 'percentage_HF'
      }),
      ...mapGetters({
        'sexe_filter' : 'sexe_filter'
      }),
      ...mapGetters({
        'activeContact' : 'activeContact'
      })
    },
    methods : {
    ...mapActions({
          generate_kpi: 'GENERATE_KPI'
      })
    },

    beforeMount :function(){
      this.generate_kpi()
    }

}

</script>

<style>
  .legende-bdv {
    text-align: center;
    font-weight: bold;
  }


  .bdv-chart .ct-bar:hover{
  stroke:#9b59b6 !important;
}
</style>
