<template lang="jade">
div
	el-card.box-card
		template(v-for='(obj, index) in row ')
			el-row(:gutter='20')
				template(v-for='k in processed_kpi[index]')
					el-col(:span='Y').text-center
						//- En pratique on créera plus des <div>/<canvas> avec un identifiant unique pour créer les graphs
						div(v-bind:class="k") Test


</template>

<script>
// Nombre de colonnes 
var X = 3

export default {
	name: 'kpi-view',

	data : function () {
		return {
			kpi : ['K1', 'K2', 'K3', 'K4', 'K5', 'K6', 'K7', 'K8', 'K9', 'K10']
		}
	}, 

	computed : {
		row : function () {
			// Y : spécification pour le layout (CSS - element)
			// 24 vient des 24 colones du layout 
			this.Y = 24/X;

			// Nombre de lignes de KPI : 
			// Si le nombre de KPI est divisible par X, il y a card(KPI)/X
			// Sinon on arrondi (en dessous) et on ajoute 1 (pour le reste)

			// Exemple : 
			// 				(1) Si l'on veux 3 KPI par lignes et qu'il y a 9 KPI en tout, il y aura 3 lignes
			// 				(2) Si l'on veux 3 KPI par linges et qu'il y a 5 KPI en tout, il y aura 2 lignes 

			// (1)
			if (this.kpi.length%X == 0) return this.kpi.length/X;

			// (2)
			return Math.floor(this.kpi.length/X) +1 
		}, 

		processed_kpi : function(){
			// Créer un tableau de tableaux de maximum X éléments
			// Le but est de pouvoir afficher le bon nombre de KPI en fonction de la ligne en court

			// Exemple si X = 4 :
			// Si tab = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
			// Alors  f(tab) = [['a', 'b', 'c', 'd'], ['e', 'f', 'g']]

			var el = [];

			for (var i = 0; i < this.row; i++) {
				el.push(this.kpi.slice(X*i, X*(i+1)))
			};

			return el

		}
	}
}
</script>