<template lang="jade">
div
    h3 Analysez votre campagne de terrain
    el-row(:gutter='20')
        el-col(:span='10')
            el-card.box-card
                div.evolution-base
                    h4 Informations générales
                    p
                        template(v-if="total_hit > 0")
                          i.material-icons perm_contact_calendar
                          b {{total_hit}}
                          |  contacts dans votre base
                        template(v-else) Aucun contact en base
                    p
                        template(v-if="evolution.personnes_rencontres >0 ")
                            i.material-icons assignment
                            b {{evolution.personnes_rencontres}}
                            |  personnes mobilisées cette semaine
                        template(v-else)
                          i.material-icons assignment
                          |  Aucune personne mobilisé cette semaine
                    //- {{evolution}}
                    p(v-if="(evolution.personnes_rencontres - evolution.personnes_rencontres_last_week) > 0")
                        i.fa.fa-arrow-right.gly-rotate-45p.green(aria-hidden='true')
                        template L'équipe a été
                          b  {{evolution.number_of_change}} fois
                          |  plus productive cette semaine !
                    p(v-else-if="(evolution.personnes_rencontres - evolution.personnes_rencontres_last_week) === 0 || evolution.number_of_change == 0")
                        i.fa.fa-arrow-right(aria-hidden='true') 
                        b  Pas d'évolution sur la dernière semaine
                    span(v-else)
                        i.fa.fa-arrow-right.gly-rotate-45.red(aria-hidden='true')
                        span  L'équipe a été 
                        b.stat {{evolution.number_of_change}} fois
                        |  moins productive cette semaine
                    p(style='margin-top:12px')
                      i.material-icons flag
                      |   Fin de la campagne le {{this.fin_campagne}}



            el-card.box-card.repartion-HF
                h4 Répartition Homme - Femme
                //- div.PKI-chart-HF
                div.chart-test
                  canvas#PKI-chart-HF-2


                div.legend
                    ul
                        li
                            i.fa.fa-circle.purple(aria-hidden='true')
                            |  Hommes &nbsp;({{Math.round((percentage_HF.hommes/total_hit)*1000)/10}} %)
                        li
                            i.fa.fa-circle.blue(aria-hidden='true')
                            |  Femmes &nbsp;({{Math.round((percentage_HF.femmes/total_hit)*1000)/10}} %)
                        li
                            i.fa.fa-circle.darkgrey(aria-hidden='true')
                            |  N/A &nbsp;({{Math.round((percentage_HF.missing/total_hit)*10000)/100}} %)


        el-col(:span='14')
            el-card.box-card.PKI-age
                  h4 Répartition  par tranche d'age
                  div.PKI-chart-age
                  //- canvas#PKI-chart-age-2

            el-card.box-card.PKI-bdv
                  h4 Répartition  par zone
                  div.ct-tooltip 
                  div.PKI-chart-bdv
        

</template>

<script>

import  { mapGetters, mapActions } from 'vuex'
import moment from 'moment'

export default {
	name : 'KPI',

	computed : {
	    ...mapGetters({
	      'kpi' : 'kpi'
	    }),
	   	...mapGetters({
	      'evolution' : 'evolution'
	    }),
	   	...mapGetters({
	      'total_hit' : 'total_hit'
	    }),
	    ...mapGetters({
        'percentage_HF' : 'percentage_HF'
      }),
      ...mapGetters({
        'info_campagne' : 'info_campagne'
      }),
      ...mapGetters({
        'filter' : 'filter'
      }),

      fin_campagne : function () {

        var currentLang = 'fr';
        moment.locale(currentLang);

        var date = moment(new Date(this.info_campagne.endofcampain))

        return date.format('LL');
      },

      temps_restant : function() {
        var currentLang = 'fr';
        moment.locale(currentLang);

        return moment(new Date(this.info_campagne.endofcampain)).endOf().fromNow();

      }
	},


	methods : {
		...mapActions({
        	generate_kpi: 'GENERATE_KPI'
    	})
	},

	beforeMount :function(){
		// to do : Mettre les données en cache
    this.$store.commit('RESET_FILTERS');
		this.generate_kpi()
	}


}
</script>

<style>
.chart-test {
  width: 150px !important;
  float : left;
  margin-right: 35px;
  /*height: 150px !important;*/
}

.PKI-chart-bdv .ct-bar:hover{
  stroke:#9b59b6 !important;
}

.ct-tooltip  {
  float:right !important;
  margin-top: -50px !important;
  /*border:1px solid #ecf0f1;*/
  /*background-color: #ecf0f1;*/
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}


</style>

