<template lang="jade">

  div

    el-card.box-card
      template(v-if="!is_loading")
        template(v-if="Object.keys(activeContact).length != 0")
          FICHE-CONTACT
        template(v-else)
          HELP
      template(v-else)
        div(style="text-align:center; color:#7f8c8d")
          i.fa.fa-circle-o-notch.fa-spin.fa-2x.fa-fw
          span.sr-only Loading...


</template>

<script>
import  { mapGetters, mapActions } from 'vuex'
var _ = require('underskore');

  export default {
    name : 'RIGHT-COLUMN',

    data : function() {
      return {
        active : _.isEmpty(this.activeContact)
      }
    },

    components : {
      'FICHE-CONTACT' : require('./fiche-contact.vue'),
      'HELP' : require('./fiche-contact-components/help.vue')
    },

    computed : {
      ...mapGetters({
        'activeContact' : 'activeContact'
      }),
      ...mapGetters({
        'is_loading' : 'is_loading'
      })
    }
  }

</script>