<template lang="jade">
.auto-send-container
  .questions
    .question(v-for="(question, questionIndex) in questions" v-bind:class="{ inactive : allOptionsActive(question) }")
      .question-header-container
        .minimize-container
          i.fa.minimize.icon.icon-hover.icon-section(aria-hidden="true" v-bind:class="(question.minimized ? 'fa-chevron-right' : 'fa-chevron-down')" v-on:click="minimizeClick(questionIndex, $event)")
        .question-title {{ question.label }}
      .question-body-container(v-bind:class="{ minimized : question.minimized }")
        .option(v-for="(option, optionIndex) in question.refvalues" v-bind:class="{ inactive : option.addedOptions.active }" v-on:click="optionClick(questionIndex, optionIndex, $event)")
            .option-icon(v-bind:class="question.type + '-icon'")
            .option-text-container
              .option-label.option-text {{ option.addedOptions.label }}
</template>

<script>
import $ from "jquery"

export default {
  name : 'auto-send-new', 

  props : ["questions"],

  methods: {
    // option click handler - open up the editor for this option
    optionClick : function(questionIndex, optionIndex, event) {
      // can't pass extra parameters between components (that I could find)
      // so add the fields as value data to the event
      event.value = {
        questionIndex : questionIndex, 
        optionIndex : optionIndex
      };
      this.$emit('optionClick', event);
    },

    // minimize icon click - minimize the section
    minimizeClick : function(questionIndex, event) {
      // all the formatting is controlled by the section's minimized field (with dynamic classes in Vue and associated css),
      // so only need to toggle this field
      this.questions[questionIndex].minimized = !this.questions[questionIndex].minimized;
    },

    allOptionsActive(question) {
      let allOptionsActive = true;
      for (let i = 0; i < question.refvalues.length; i++) {
        allOptionsActive = allOptionsActive && (question.refvalues[i].addedOptions.active == "true"); // active and activate_auto_send are stored as strings
      }
      return allOptionsActive;
    }
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/auto-send/auto-send-new.scss';
</style>