<template lang="jade">
.view-container
  .card
    .subject-text Subject: {{ curOption.template.subject }}
    iframe.iframe-preview.object.fill-page-v(frameBorder="0") {{ curOption.template.object }}
</template>

<script>
import $ from "jquery"
import { fillPageVMixin } from '../mixins/fill-page-v-mixin.js';

export default {
  name : 'auto-send-view', 

  props : ["curOption", "static"],

  mixins : [fillPageVMixin],

  data : function() {
    return {
      // For now, only allow gender, firstname, and surname
      allowableVariableTypes : {
        "gender" : "sexe",
        "firstname" : "prénom",
        "surname" : "nom",
      },
    }
  },

  computed: {
    variables : function() {
      let variables = [];
      for (let i = 0; i < this.static.length; i++) {
        if (this.static[i].type in this.allowableVariableTypes) {
          variables.push(this.static[i].type);
        }
      }
      return variables;
    },
  },

  mounted : function() {
    this.updateIframe();
  },

  methods: {
    updateIframe : function() {
      let greenColor = "#2ecc71";
      let redColor = "#f22613";
      let tagOpenOk = "<b style='color: " + greenColor + "; font-weight: bold'>";
      let tagOpenBad = "<b style='color: " + redColor + "; font-weight: bold'>";
      let tagClose = "</b>";

      let text = this.curOption.template.object;
      text = text.replace(new RegExp("(" + tagOpenOk + "|" + tagOpenBad + ")(.*)" + tagClose, "g"), "2");
      // text = text.replace(new RegExp("\\$(?!(gender|firstname|surname))([a-zA-Z]+)", "g"), tagOpenBad + "$$" + "$2" + tagClose);
      // text = text.replace(new RegExp("\\$(gender|firstname|surname)", "g"), tagOpenOk + "$$" + "$1" + tagClose);
      
      if (this.variables.length > 0) {
        let validVariables = "(" + this.variables.join("|") + ")";
        text = text.replace(new RegExp("\\$(?!" + validVariables + ")([a-zA-Z]+)", "g"), tagOpenBad + "$$" + "$2" + tagClose);
        text = text.replace(new RegExp("\\$" + validVariables, "g"), tagOpenOk + "$$" + "$1" + tagClose);
      } else {
        text = text.replace(new RegExp("\\$([a-zA-Z]+)", "g"), tagOpenBad + "$$" + "$1" + tagClose);
      }  



      $("iframe.iframe-preview").contents().find('html').html(text);
      if (!this.isHTML(text)) {
        // if text is not HTML, add pre-wrap so that it will be displayed in the iframe with the same spacing/newlines as 
        // was given in the edit pane
        $("iframe.iframe-preview").contents().find("html").css("white-space", "pre-wrap");
      }
    },

    // determines if text should be considered HTML
    isHTML : function(text) {
      // simply check - just look for an open and close html tag (the open html tag can have additional attributes)
      return ((text.indexOf("<html") != -1) && (text.indexOf("</html>") != -1));
    },
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/auto-send/auto-send-view.scss';
</style>