<template lang="jade">
.editor-container
  .card
    .subject-container
      input.subject-input(type="text" placeholder="Subject" v-model="curOption.template.subject" v-on:focus="inputFocus($event)" v-on:blur="inputBlur($event)" v-on:keyup.enter="getThisFromEvent($event).blur()")
      .input-border
    .object.fill-page-v(contenteditable="true" placeholder="Text or HTML" v-on:input="objectUpdate")
    .advanced-options(v-bind:class="{ minimized : !advancedOptions }" v-on:click="advancedOptionsClick")
      .advanced-options-header
        .minimize-container
          i.fa.minimize.icon.icon-hover.icon-section(aria-hidden="true" v-bind:class="[{ minimized : !advancedOptions }, (advancedOptions ? 'fa-chevron-down' : 'fa-chevron-up')]" v-on:click="minimizeClick")
        .advanced-options-title Options Avancées
      .advanced-options-body(v-if="advancedOptions")
        .advanced-option-section
          .advanced-options-text Available Replacement Variables:
          .variables-container
            .variable-container(v-for="variable in variables") 
              .variable.ok ${{ variable }} 
              | ({{ allowableVariableTypes[variable] }})
        .gender-replace-container.advanced-option-section(v-if="showGenderReplace")
          .advanced-options-text
            .variable.ok $gender 
            | replacement:
          table
            tr.gender-replace-input-container
              td Sexe Label Femme:
              td
                input.gender-replace-input(type="text" placeholder="Sexe Label Femme" v-model="curOption.template.gender_label_femme")
            tr.gender-replace-input-container
              td Sexe Label Homme:
              td
                input.gender-replace-input(type="text" placeholder="Sexe Label Homme" v-model="curOption.template.gender_label_homme")
            tr.gender-replace-input-container
              td Sexe Label Neutre:
              td
                input.gender-replace-input(type="text" placeholder="Sexe Label Neutre" v-model="curOption.template.gender_label_neutre")


</template>

<script>
import $ from "jquery"
import { fillPageVMixin } from '../mixins/fill-page-v-mixin.js';

export default {
  name : 'auto-send-edit', 

  props : ["curOption", "static"],

  mixins : [fillPageVMixin],

  data : function() {
    return {
      advancedOptions : false,

      // For now, only allow gender, firstname, and surname
      allowableVariableTypes : {
        "gender" : "sexe",
        "firstname" : "prénom",
        "surname" : "nom",
      },
    }
  },

  computed : {
    variables : function() {
      let variables = [];
      for (let i = 0; i < this.static.length; i++) {
        if (this.static[i].type in this.allowableVariableTypes) {
          variables.push(this.static[i].type);
        }
      }
      return variables;
    },

    showGenderReplace : function() {
      return this.variables.indexOf('gender') != -1;
    },
  },

  mounted : function() {
    // initialize .object with this.curOption.object
    $(".object").html(this.htmlEscape(this.curOption.template.object));
    // add the formatting
    this.addVariableFormatting();
  },

  methods: {
    // since getting the Jquery object $(this) from an event is used a lot,  this function makes this operation 
    // more maintainable if, for example, some browser's event's target is contained in a different field
    getThisFromEvent(event) {
      return $(event.currentTarget);
    },

    // Underline and select an input when it gains focus
    inputFocus : function(event) {
      $(this.getThisFromEvent(event).parent().find(".input-border")[0]).css("border", "1px solid black");
      this.getThisFromEvent(event).select();
    },

    // Fade underline when an input loses focus
    inputBlur : function(event) {
      $(this.getThisFromEvent(event).parent().find(".input-border")[0]).css("border", "");
    },

    advancedOptionsClick : function(event) {
      if (!this.advancedOptions) {
        // TODO - may need to check that origin of clikc isn't minimize
        // ex. if (!$(event.target).closest('<selector>').length) { this.advancedOptions = true; }
        this.advancedOptions = true;
      }
    },

    minimizeClick : function(event) {
      this.advancedOptions = !this.advancedOptions
    },

    // .object update handler - format the text area and update curOption.template.object with new text
    objectUpdate : function(event) {
      // save cursorIndex; it's reset when the text is updated
      let cursorIndex = this.getCursorIndex($(".object")[0]);
      
      this.curOption.template.object = this.addVariableFormatting();

      // adding/removing tags doesn't change the number of characters in the textArea, so put the cursor back to 
      // where it was before
      this.setCursorIndexInParent(cursorIndex, $(".object")[0]);
    },

    /* Adds inline formatting to the .object text area's variables and returns the clean, unescaped text without
     * added formatting
     * 
     * Variables (strings that will be replaced by a contact's personal information in an email) have the format 
     * $[a-zA-Z]+ (ex. $gender).  To help users see these variables, valid variables are highlighted in green and 
     * invalid variables are highlighted in red.
     *
     * Return the clean, unescaped text to be used if the contents of the textArea are needed
     *
     * Note that users can add HTML as plain text.  To ensure that this HTML doesn't format the textArea, HTML 
     * characters are escaped, before adding the variable formatting. 
     */ 
    addVariableFormatting : function() {
      // inline formatting tags
      // colors should match scss file
      let greenColor = "#2ecc71";
      let redColor = "#f22613";
      let tagOpenOk = "<b style='color: " + greenColor + "; font-weight: bold'>";
      let tagOpenBad = "<b style='color: " + redColor + "; font-weight: bold'>";
      let tagClose = "</b>";
      
      let textArea = $(".object");
      // want the plain text; this removes any existing tags
      let text = textArea.text();
      // set cleanText to the unescaped HTML of the text so that it is represents what hte user sees in the textArea
      let cleanText = this.htmlUnescape(text);
      // escape the text so that the html of the textArea can be set without injecting any user added html
      text = this.htmlEscape(text);
      // add variable tags
      if (this.variables.length > 0) {
        let validVariables = "(" + this.variables.join("|") + ")";
        text = text.replace(new RegExp("\\$(?!" + validVariables + ")([a-zA-Z]+)", "g"), tagOpenBad + "$$" + "$2" + tagClose);
        text = text.replace(new RegExp("\\$" + validVariables, "g"), tagOpenOk + "$$" + "$1" + tagClose);
      } else {
        text = text.replace(new RegExp("\\$([a-zA-Z]+)", "g"), tagOpenBad + "$$" + "$1" + tagClose);
      }
      textArea.html(text);

      return cleanText;
    },

    // gets the current index of the cursor with respect to the visible text in the parentNode
    getCursorIndex : function(parentNode) {
      let sel = window.getSelection();
      let anchorNode = sel.anchorNode;
      let anchorOffset = sel.anchorOffset;
      let cursorIndex = anchorOffset;
      if (anchorNode == parentNode) {
        return cursorIndex;
      }

      while (anchorNode.parentNode != parentNode) {
        anchorNode = anchorNode.parentNode;
      }
      
      let node = anchorNode;
      while (node = node.previousSibling) {
        cursorIndex += $(node).text().length
      }
      return cursorIndex;
    },

    // positions the cursor in a parent element by searching through child nodes to find in which node to 
    // directly place the cursor
    setCursorIndexInParent : function(cursorIndex, parentNode) {
      for (let i = 0; i < parentNode.childNodes.length; i++) {
        let node = parentNode.childNodes[i];
        let length = $(node).text().length
        if (length < cursorIndex) {
          cursorIndex -= length;
        } else {
          this.setCursorIndexInParent(cursorIndex, node);
          return;
        }
      }
      // if at the end of parentNode, just put the cursor index there
      this.setCursorIndex(cursorIndex, parentNode);
    },

    // positions the cursor in the node at cursorIndex
    setCursorIndex : function(cursorIndex, node) {
      let sel = window.getSelection();
      let range = document.createRange();
      range.setStart(node, cursorIndex);
      range.collapse(true);
      sel.removeAllRanges();
      sel.addRange(range);
    },

    // from https://stackoverflow.com/questions/1219860/html-encoding-lost-when-attribute-read-from-input-field/7124052#7124052
    // returns the give str where all the html characters have been escaped
    htmlEscape : function(str) {
      return str
        .replace(/&/g, '&amp;')
        .replace(/"/g, '&quot;')
        .replace(/'/g, '&#39;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/\//g, '&#x2F;');
    },

    // returns the give str where all the html characters have been unescaped
    htmlUnescape : function(str){
      return str
        .replace(/&quot;/g, '"')
        .replace(/&#39;/g, "'")
        .replace(/&lt;/g, '<')
        .replace(/&gt;/g, '>')
        .replace(/&#x2F;/g, '\/')
        .replace(/&amp;/g, '&');
    },
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/auto-send/auto-send-edit.scss';
</style>