<template lang="jade">
.full-screen
  .header.no-print
    .header-button-container
      #delete-button.header-button.button(v-if="((state == 'view' || state == 'edit') && !curOptionIsNew)" v-on:click="deleteClick") Delete
      #save-button.header-button.button(v-if="(state == 'view' || state == 'edit')" v-on:click="saveClick") Enregistrer
      #cancel-button.header-button.button(v-if="(state != 'list')" v-on:click="cancelClick") Annuler
      #edit-preview-button.header-button.button(v-if="(state == 'view' || state == 'edit')" v-on:click="editPreviewClick") {{ (state == 'edit' ? "Preview" : "Edit" ) }}
      .header-button.button.placeholder(vi-if="(state == 'list')") Placeholder
    .header-text-container
      span.header-text(v-if="(state == 'list')") Gérer Les Emails Automatique
      span.header-text(v-else-if="(state == 'new')") Ajouter Un Email Automatique
      span.header-text(v-else)  
        i Q: 
        | {{ curQuestion.label }} 
        i R: 
        | {{ curOption.addedOptions.label }}
  .popover-container(v-if="popoverVisible" v-on:click="popoverShadowClick")
    .popover-box
      .popover-message-container
        .popover-message-text {{ popoverMessage }}
      .popover-buttons-container
        .popover-button.popover-button-left.button(v-on:click="popoverYesClick") Yes
        .popover-button.popover-button-right.button(v-on:click="popoverNoClick") No
  .content-wrapper
    auto-send-list(v-if="(state == 'list')" v-bind:questions="questions" v-on:optionClick="onOptionClick($event)" v-on:addAutoSendClick="onAddAutoSendClick")
    auto-send-new(v-else-if="(state == 'new')" v-bind:questions="questions" v-on:optionClick="onNewOptionClick($event)")
    auto-send-view(v-else-if="(state == 'view')" v-bind:curOption="curOption" v-bind:static="static")
    auto-send-edit(v-else-if="(state == 'edit')" v-bind:curOption="curOption" v-bind:static="static")
</template>

<script>
import $ from "jquery"
import store from '../../store/stateStore.js'
import  { mapGetters } from 'vuex'

var communication_store = require('../../models/communication_store.js');
var forms_store = require('../../models/forms_store.js');

// TODOS:
// - some sort of heading so that there is a finish button - unless progress is always saved
//   (bigger design decision, and means that I have to put to server constantly, or know when 
//   page loses focus...)
// - Break this into components
//   - might want to wait on a third page to find comonalities, but there are definitely shared 
//     elements between this and form-builder (title inputs, close button, undo section, cards,
//     etc.)
// - figure out how this fits into the larger web app/menu with form-builder and email stuff
//   - This is a bigger design question

export default {
  name : 'auto-send-container', 

  components : {
    'auto-send-list' : require('./auto-send-list.vue'),
    'auto-send-new' : require('./auto-send-new.vue'),
    'auto-send-view' : require('./auto-send-view.vue'),
    'auto-send-edit' : require('./auto-send-edit.vue'),
  },

  computed : {
    ...mapGetters({
      'info_campagne' : 'info_campagne'
    }),

    ...mapGetters({
      'forms' : 'forms'
    }),

    ...mapGetters({
      'static' : 'static'
    }),

    ...mapGetters({
      'templates' : 'templates'
    }),

    curQuestion : function() {
      if (this.questions && this.curQuestionIndex >= 0 && this.curQuestionIndex < this.questions.length) {
        return this.questions[this.curQuestionIndex];
      }
      else {
        // shouldn't ever happen!!!  
        // TODO - deal with this case better
        return {
          label : ""
        }
      }
    },

    curOption : function() {
      if (this.curQuestion.refvalues && this.curOptionIndex >= 0 && this.curOptionIndex < this.curQuestion.refvalues.length) {
        return this.curQuestion.refvalues[this.curOptionIndex];
      } else {
        // shouldn't ever happen!!!  
        // TODO - deal with this case better
        return {
          addedOptions : {
            label : "",
            active : "",
          },
          template : {
            id : 0,
            sender : "jbd@quorum.co",  // TODO - should get this from email settings
            subject : "",
            object : "",
            gender_label_femme : "",
            gender_label_homme : "",
            gender_label_neutre : "",
          }
        }
      }
    }
  }, 

  data : function() {
    return {
      /* Use Finite State Machine to control state of the page
       * Possible state and transitions:
       * "list" - default, displays list of current auto-send question/options (default)
       *   -> "view" if question is clicked
       *   -> "add" if new auto send is clicked
       * "view" - displays the current state of a question's auto send email
       *   -> "list" if cancel or save are clicked
       *   -> "edit" if edit is clicked
       * "edit" - allows user to edit an auto send email
       *   -> "list" if cancel or save are clicked
       *   -> "view" if view is clicked
       * "add" - shows a list of all option questions to user add an auto send to a new question/option
       *   -> "list" if cancel is clicked
       *   -> "edit" if question is clicked
       */
      state : "list",

      questions : [],

      curQuestionIndex : -1,
      curOptionIndex : -1,
      curOptionIsNew : false,

      popoverVisible : false,
      popoverMessage : "a;lsdkjfa;lsdkjf",
    }
  }, 

  watch : {
    forms : function() {
      this.questions = this.getAutoSendQuestions(this.forms, this.templates);
    },

    templates : function() {
      this.questions = this.getAutoSendQuestions(this.forms, this.templates);
    },
  },

  mounted : function() {
    this.questions = this.getAutoSendQuestions(this.forms, this.templates);
    this.formatPopover(); // TODO - can remove this, or not...
  },

  methods: {
    getAutoSendQuestions(formsJson, templatesJson) {
      let autoSendQuestions = [];
      let questions = _.sortBy(JSON.parse(JSON.stringify(formsJson)), 'order');
      for (let i = 0; i < questions.length; i++) {
        let question = questions[i];
        // for now, only checkbox and radio questions can have activate_auto_send
        if (question.type == "checkbox" || question.type == "radio") {
          let newQuestion = {
            label : question.label,
            minimized : false,
            type : question.type,
            activate_auto_send : question.activate_auto_send,
            refvalues : [],
          }

          for (let j = 0; j < question.refvalues.length; j++) {
            let option = question.refvalues[j];
            let id = option.id
            let foundTemplate = false;
            if (question.activate_auto_send == "true") {
              // find corresponding id in templates
              let result = $.grep(templatesJson, function(t) {return t.id == id});
              if (result.length == 1) {
                newQuestion.refvalues.push({
                  addedOptions : {
                    label : question.refvalues[j].label,
                    active : question.activate_auto_send,
                  },
                  template : result[0]
                });
                foundTemplate = true;
              } else if (result.length > 1) {
                // this should not happen, id is not unique
                console.log("%C Error in templates data, id %d was not unique, it was repeated %d times!", "color: red", id, result.length);
              }
            } 
            // if no template was found, populate it with a default template
            if (!foundTemplate) {
              newQuestion.refvalues.push({
                addedOptions : {
                  label : question.refvalues[j].label,
                  active : "",
                },
                template : {
                  id : id,
                  sender : "jbd@quorum.co",  // TODO - should get this from email settings
                  subject : "",
                  object : "",
                  gender_label_femme : "",
                  gender_label_homme : "",
                  gender_label_neutre : "",
                }
              });
            }
          }
          autoSendQuestions.push(newQuestion);
        }
      }

      return autoSendQuestions;
    },

    // cancel button click handler - cancel the current operation, returning it to its default state
    cancelClick : function() {
      // TODO - return subject, object to original state - probably easier when using vuex
      this.state = "list";
    },

    // save button click handler - save the current state of the subject, object to the database
    saveClick : function() {
      // update the question's activate_auto_send
      this.questions[this.curQuestionIndex].activate_auto_send = "true";
      if (this.forms[this.curQuestionIndex].activate_auto_send != "true") {
        // if this is the first question to be added, the change should also be made in the db
        // TODO - this should probably be committed as well
        this.forms[this.curQuestionIndex].activate_auto_send = "true"; // stored as a string on the DB
        forms_store.saveForms(this.$router, [this.forms[this.curQuestionIndex]], (res) => {
          console.log(res);
        });
      }

      communication_store.save_template(this.$router, this.curOption.template, (res) => {
        // Add a waiting spinner or something - don't let user interact with the page while this is being done (or at least not change the objects)
        // update this.editableCampagne's objects with returned ids, and TODO commit new campagnes
        // should already be sorted in this order, but just in case
        // TODO - API calls
        this.questions[this.curQuestionIndex].refvalues[this.curOptionIndex].addedOptions.active = "true"; // stored as a string on the DB
        this.questions[this.curQuestionIndex].refvalues[this.curOptionIndex].template = res.body.data.template;
        this.templates.push(res.body.data.template);

        console.log(res);

        // TODO - should do a commit/improve how the vuex data is updated
        // can the api calls be in parallel?

        this.state = "list";
      });
    },

    // delete button click handler - open up a confirm message to warn user
    deleteClick : function() {
      this.popoverMessage = "Are you sure you want to permanently delete this auto send email?";
      this.popoverVisible = true;
      // format the popover when it loads
      this.$nextTick(function() {
        this.formatPopover();
      });
    },

    editPreviewClick : function() {
      if (this.state == "view") {
        this.state = "edit";
      } else if (this.state == "edit") {
        this.state = "view";
      } else {
        // editPreview button should only be visible in the "view" or "edit" state
        // so this should never happen; default back to list in the case of an error
        this.state = "list";
      }
    },

    // popoverYes button click event handler - handle the click and make the popover go away
    popoverYesClick : function() {
      // currently the only popover is to confirm deleting something, so if yes is clicked delete
      // the current auto send email
      this.deleteCurAutoSend();
      this.popoverVisible = false;
    },

    // popoverNo button click event handler - just get rid of the popover
    popoverNoClick : function() {
      this.popoverVisible = false;
    },

    // popoverShadow click event handler - just get rid of the popover
    popoverShadowClick : function() {
      if (!$(event.target).closest('.popover-box').length) {
        this.popoverVisible = false;
      }
    },

    // delete the current auto send email from the server and update the UI to show the deletion
    // also go back to the list page
    deleteCurAutoSend : function() {
      let id = this.curOption.template.id;
      communication_store.delete_template(this.$router, id, (res) => {
        // Add a waiting spinner or something - don't let user interact with the page while this is being done (or at least not change the objects)
        // update delete the current template, and TODO commit new campagnes
        console.log(res);

        this.state = "list";
        for (let i = 0; i < this.templates.length; i++) {
          if (this.templates[i].id == id) {
            this.templates.splice(i, 1);
            break;
          }
        }

        this.$nextTick(function() {
          if (!this.questionActive()) {
            // update the question's activate_auto_send
            this.questions[this.curQuestionIndex].activate_auto_send = "";
            if (this.forms[this.curQuestionIndex].activate_auto_send == "true") {
              // if this is the first question to be added, the change should also be made in the db
              // TODO - this should probably be committed as well
              this.forms[this.curQuestionIndex].activate_auto_send = ""; // stored as a string on the DB
              forms_store.saveForms(this.$router, [this.forms[this.curQuestionIndex]], (res) => {
                console.log(res);

                // TODO - should do a commit/improve how the vuex data is updated
                // can the api calls be in parallel?
              });
            }
          }
        });
      });
    },

    // evaluates if a question has any active options
    questionActive : function() {
     for (let i = 0; i < this.questions[this.curQuestionIndex].refvalues.length; i++) {
        if (this.questions[this.curQuestionIndex].refvalues[i].addedOptions.active == "true") {
          return true;
        }
      }
      return false;
    },

    /* functions to catch events emitted from sub components */

    onOptionClick : function(event) {
      // update cur indices if they are present in the event
      if (event.value) {
        if (event.value.hasOwnProperty('questionIndex')) {
          this.curQuestionIndex = event.value.questionIndex;
        }
        if (event.value.hasOwnProperty('optionIndex')) {
          this.curOptionIndex = event.value.optionIndex;
        }
      }

      this.state = "view";
      this.curOptionIsNew = false;
    },

    onAddAutoSendClick : function() {
      this.state = "new";
    },

    onNewOptionClick : function(event) {
      // update cur indices if they are present in the event
      if (event.value) {
        if (event.value.hasOwnProperty('questionIndex')) {
          this.curQuestionIndex = event.value.questionIndex;
        }
        if (event.value.hasOwnProperty('optionIndex')) {
          this.curOptionIndex = event.value.optionIndex;
        }
      }

      this.state = "edit";
      this.curOptionIsNew = true;
    },

    // format the popover's css so that it fills the visible part of the screen
    formatPopover : function() {
      // set the top of the popover to be the bottom of the header
      let headerHeight = $(".header").outerHeight();
      let headerTop = $(".header").offset().top;
      let headerBottom = headerTop + headerHeight;

      $(".popover-container").css("top", headerBottom);
    },
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/auto-send/auto-send-container.scss';

.full-screen {
  margin: -20px;
  margin-left: -30px;
  margin-right: -35px;
}

</style>