<template lang="jade">
.auto-send-container
  .questions
    .question(v-for="(question, questionIndex) in questions" v-if="question.activate_auto_send == 'true'")
      .question-header-container
        .minimize-container
          i.fa.minimize.icon.icon-hover.icon-section(aria-hidden="true" v-bind:class="(question.minimized ? 'fa-chevron-right' : 'fa-chevron-down')" v-on:click="minimizeClick(questionIndex, $event)")
        .question-title {{ question.label }}
      .question-body-container(v-bind:class="{ minimized : question.minimized }")
        .option(v-for="(option, optionIndex) in question.refvalues" v-if="option.addedOptions.active == 'true'" v-on:click="optionClick(questionIndex, optionIndex, $event)")
          .option-icon(v-bind:class="question.type + '-icon'")
          .option-text-container
            .option-label.option-text {{ option.addedOptions.label }}
    .question.add-auto-send(v-on:click="addAutoSendClick")
      .add-auto-send-text Nouveau Auto Send
</template>

<script>
import $ from "jquery"

export default {
  name : 'auto-send-list', 

  props : ["questions"],

  data : function() {
    return {

    }
  }, 

  methods: {
    // option click handler - emit an event so that the container can open up the editor for this option
    optionClick : function(questionIndex, optionIndex, event) {
      // can't pass extra parameters between components (that I could find)
      // so add the fields as value data to the event
      event.value = {
        questionIndex : questionIndex, 
        optionIndex : optionIndex
      };
      this.$emit('optionClick', event);
    },

    // addAutoSend click handler - emit an event so that the container can open up the new question selector
    addAutoSendClick : function() {
      this.$emit('addAutoSendClick');
    },

    // minimize icon click - minimize the section
    minimizeClick : function(questionIndex, event) {
      // all the formatting is controlled by the section's minimized field (with dynamic classes in Vue and associated css),
      // so only need to toggle this field
      this.questions[questionIndex].minimized = !this.questions[questionIndex].minimized;
    },
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/auto-send/auto-send-list.scss';
</style>