<!-- Based on vue2-editor, with some modifications -->
<!-- See https://github.com/davidroyer/vue2-editor -->
<template lang="jade">
//- This is a slightly modified version of the quilljs editor, allowing for users to compose formatted text, and outputting html with inline styling
//- Note that it functions as an input (accepts a v-model)
//- 
//- This component also optionally allows for tags - html elements that are assumed to be one character wide (to a text editor), so preferrably images
//- If includeTags is true, the tags will be listed above the editor and, when clicked, will be added to the editor at the last cursor position and the 
//- tagClass will be added (since quilljs strips any class from the raw html string)
//-
//- Props:
//-   value        - the variable containing the value of the input (required through v-model)
//-                  IMPORTANT NOTE: this should be passed as v-model="<variable_name>", NOT value="<variable_name>" or v-bind:value="<variable_name>"
//-   placeholder  - the text displayed in the editor when there is no content
//-   includeTags  - a boolean that determines whether the clickable tags are displayed (see editor for more information); default is false
//-   tags         - an optional array of raw html strings that will be insterted into the editor on click (only if includeTags is true)
//-                  Note: these must be images for the tagClass to be added (TODO if needed - add support for other tag types)
//-   tagClass     - an optional class that is added to the tags to allow them to be formatted with css

.editor
  .variables-container(v-if="includeTags")
    .variables-text Variables: 
    .variable-button(v-for="tag in tags" v-on:click="tagClick(tag)" v-html="tag")
    .variables-text (cliquez pour ajouter)

  .quillWrapper
    //- add uniqueSuffix to support multiple editors on the same page
    //- followed example from http://quilljs.com/playground/#class-vs-inline-style
    .tollbar-container(v-bind:id="'toolbar-container' + uniqueSuffix")
      span.ql-formats
        select.ql-size
          option(value="10px") Small
          option(selected) Normal
          option(value="18px") Large
          option(value="32px") Huge
      span.ql-formats
        button.ql-bold
        button.ql-italic
        button.ql-underline
        button.ql-link
      span.ql-formats
        button.ql-list(value="ordered")
        button.ql-list(value="bullet")
        select.ql-align
      span.ql-formats
        button.ql-clean
    .quill-editor-container(v-bind:id="'quill-editor-container' + uniqueSuffix")
</template>

<script>
import $ from "jquery"
import Quill from 'quill'
import 'quill/dist/quill.snow.css'

// import styles for inline styles
var SizeStyle = Quill.import('attributors/style/size');
var AlignStyle = Quill.import('attributors/style/align');
Quill.register(SizeStyle, true);
Quill.register(AlignStyle, true);

export default {
  name : 'editor', 

  props : {
    value : {
      type : String,
    },
    placeholder : {
      default : '',
      type : String,
    },
    // TODO - not sure if this is the best place, or having separate components with mixins
    includeTags : {
      default : false,
      type : Boolean
    },
    // tags is an (optional) array of html strings
    tags : {
      type : Array
    },
    // the class that will be added to each tag to allow for formatting
    tagClass : {
      type : String
    }

    // TODO - add optional toolbar field if different toolbars are needed
  },

  data : function() {
    return {
      uniqueSuffix : "-" + this._uid,

      quill: null,
      editor: null,
      genderButtonHTML : "",
      firstnameButtonHTML : "",
      surnameButtonHTML : "",

      curSelection : null,
    }
  }, 

  mounted : function() {
    this.initializeEditor();
    this.handleUpdatedEditor();
  },

  watch: {
    value (val) {
      if (val != this.editor.innerHTML && !this.quill.hasFocus()) {
        this.editor.innerHTML = val
      }
    },
  },

  methods: {
    initializeEditor() {
      this.setQuillElement();
      this.setEditorElement();
      this.checkForInitialContent();
      // make sure the class is added to the clickable tags in the top line, even if there is no content
      $(this.$el).find("img").addClass(this.tagClass);
    },

    setQuillElement() {
      this.quill = new Quill("#quill-editor-container" + this.uniqueSuffix, {
        modules: {
          toolbar: "#toolbar-container" + this.uniqueSuffix
        },
        placeholder: this.placeholder,
        theme: 'snow',
      });

      let vueComponent = this;
      this.quill.on('selection-change', function(range, oldRange, source) {
        vueComponent.updateSelection(vueComponent.quill.getSelection());
      });
      $(this.$el).find(".ql-editor").keyup(function() {
        vueComponent.updateSelection(vueComponent.quill.getSelection());
      });
    },

    updateSelection : function(selection) {
      if (selection) {
        this.curSelection = selection;
      }
    },

    setEditorElement() {
      this.editor = $(this.$el).find("#quill-editor-container" + this.uniqueSuffix + " .ql-editor")[0]
    },

    checkForInitialContent() {
      this.editor.innerHTML = this.value || ''
    },

    handleUpdatedEditor() {
      this.quill.on('text-change', () => {
        // add the class to any tags that have been added
        $(this.$el).find("img").addClass(this.tagClass);
        this.$emit('input', this.editor.innerHTML)
      })
    },

    tagClick : function(tag) {
      this.quill.clipboard.dangerouslyPasteHTML(this.curSelection.index, tag);
      // the tag takes up one space, so move cursor over to the right of the inserted tag
      this.quill.setSelection(this.curSelection.index + 1);
      this.curSelection = this.quill.getSelection();
    },
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/general/editor.scss';
</style>