<template lang="jade">
//- This is a formatted input dropdown that functions as an input (accepts a v-model)
//- It is styled like text-input-border and so accepts the .first, .middle and .last convention (see text-input-border for more information)
//-
//- Props:
//-   value        - the variable containing the value of the input (required through v-model)
//-                  IMPORTANT NOTE: this should be passed as v-model="<variable_name>", NOT value="<variable_name>" or v-bind:value="<variable_name>"
//-   options      - an array of stirngs that represents the options to select from
//-   title        - the text displayed above the input field (optional).  
//-                  Note that if title and placeholder match, and the value is empty, then title will not be displayed (so the text is not duplicated)

.input-dropdown-container.input-border
  .input-dropdown-content
    .input-dropdown-title {{ title }}
    .input-line-container
      el-select(v-model='index')
        el-option(v-for='(option, index) in options', :label='option', :value='index')
  
</template>

<script>
import $ from "jquery"

export default {
  name: 'input-dropdown',

  props : {
    value : {
      type : Number
    },
    options : {
      type : Array
    },
    title : {
      type : String
    },
  },

  data : function() {
    return {
      index : "",
    }
  },

  computed : {
    hasButtonsAndControls : function() {
      return this.$slots["controls-container"] && this.$slots["buttons-container"];
    },
  },

  mounted : function() {
    this.setIndex(this.value);
  },

  watch : {
    value : function() {
      this.setIndex(this.value);
    },

    index : function() {
      this.$emit('input', this.index)
    },
  },

  methods : {
    setIndex : function(newIndex) {
      if (newIndex >= 0 && newIndex < this.options.length) {
        this.index = newIndex;
      } else {
        this.index = "";
      }
    } 
  },

}
</script>

<style lang="scss">
  @import '../../assets/scss/general/input-dropdown.scss';
</style>
