<template lang="jade">
//- Specific type of popover that just shows a loading scroll wheel and doesn't allow any user interaction
//- visibility of this component should be controlled by the user
popover.loading-popover-container
  .loading-popover(slot="popover-content")
    i.fa.fa-circle-o-notch.fa-spin.fa-2x.fa-fw.loading-spinner
    span.sr-only Loading...
  
</template>

<script>
export default {
  name: 'loading-popover',

  components : { 'popover' : require('./popover.vue') },
}
</script>

<style lang="scss">
  @import '../../assets/scss/general/loading-popover.scss';
</style>
