<template lang="jade">
//- This component is the shell for a popover.  It does not control it's own visibility (parent should use a v-if) but does emit
//- an event closePopover when the popover should be closed
//- Slots:
//-   line-content - optional content to appear on the same line as the input value (also above the underline); by default appears on the right
//- Events:
//-   closePopover - emitted when the popover shadow is clicked; allows the parent to change the visibility/display of the popover to be hidden
//- FORMATTING:
//-   The default styling is designed so that the container covers and fills the entire containing (parent) element, centering the content 
//-   within that container.  However, this styling REQUIRES that the containing div has position:relative/absolute, and display:flex may
//-   also be required if there are scrollbars involved.  Of course, this styling can always be overwritten
.popover-container(v-on:click="popoverShadowClick($event)")
  .popover-content
    slot(name="popover-content")
  
</template>

<script>
import $ from "jquery"

export default {
  name: 'popover',

  mounted : function() {
    let vueComponent = this;
    // add listener for esc key to throw closePopoverEvent
    $(document).keyup(function(e) {
      // esc key code
      if (e.keyCode === 27) {
        vueComponent.closePopoverEvent();
      }
    });
  },

  methods : {
    // popoverShadow click event handler - get rid of the popover unless content was clicked
    popoverShadowClick : function(event) {
      if (!$(event.target).closest('.popover-content').length) {
        this.closePopoverEvent();
      }
    },

    closePopoverEvent : function() {
      this.$emit('closePopover');
    }
  },

}
</script>

<style lang="scss">
  @import '../../assets/scss/general/popover.scss';
</style>
