<template lang="jade">
//- This is a generic header component that will allow headers with a variety of different content to be easily styled
//- A header has a title (passed as a prop) number of (optional) slots into which content can be injected
//- On the top line of a header there is, from left to right:
//-   The title of the header/page
//-   A slot for the controls-container, which contains additional controls that aren't buttons (like search, clickable icons, etc.)
//-     (note that this lies immediately to the left of buttons-container) 
//-   A slot for the buttons-container which contains the buttons
//- On a new line, there is also a slot for any sub-content the header may have
.sub-header-container
  .top-line
    .title {{ title }}
    .controls-container
      slot(name="controls-container")
    .barrier(v-if="hasButtonsAndControls")
    .buttons-container
      //- contains styling for both .header-button and .header-button-primary
      slot(name="buttons-container")
  .sub-content
    slot(name="sub-content")
  

</template>

<script>

export default {
  name: 'page-header',

  props : ["title"],

  computed : {
    hasButtonsAndControls : function() {
      return this.$slots["controls-container"] && this.$slots["buttons-container"];
    }
  }

}
</script>

<style lang="scss">
@import '../../assets/scss/general/sub-header.scss';
</style>
