<template lang="jade">
//- This is a tab selector component that displays a list of strings as tabs, and behaves like an input, allowing a v-model integer field that will be set to 
//- the selected index
//- Props:
//-   value     - the variable containing the value of the selected index (required through v-model)
//-               IMPORTANT NOTE: this should be passed as v-model="<variable_name>", NOT value="<variable_name>" or v-bind:value="<variable_name>"
//-               Note also that, when a tab is selected, the passed variable will change in the parent (propogated up)
//-   tabs      - an array of strings representing the tabs to be displayed
//- Events:
//-   tabSelect - emits the index of a tab when selected
.tab-select-container
  .tab(v-for="(tab, tabIndex) in tabs" v-on:click="tabClick(tabIndex)") {{ tab }}
  
</template>

<script>
import $ from "jquery"

export default {
  name: 'tab-select',

  props : ["value", "tabs"],

  computed : {
    hasButtonsAndControls : function() {
      return this.$slots["controls-container"] && this.$slots["buttons-container"];
    }
  },

  mounted : function() {
    this.tabClick(this.value);
  },

  methods : {
    tabClick : function(tabIndex) {
      $(".tab.active").removeClass("active");
      $($(".tab")[tabIndex]).addClass("active");
      this.$emit('input', tabIndex)
    }
  },

}
</script>

<style lang="scss">
  @import '../../assets/scss/general/tab-select.scss';
</style>
