<template lang="jade">
//- This is a tab selector component that displays a list of strings as tabs, and routes to the corresponding router-link when a tab is clicked
//- Props:
//-   tabs      - an array of objects: { label : String, path : String, name : String } representing the tabs to be displayed (path and name should match
//-               the corresponding values in router.js)
.tab-select-container
  router-link.tab(v-for="(tab, tabIndex) in tabs" v-bind:to="{name : tab.name}" v-bind:class="{ active : tabActive(tab.path)}") {{ tab.label }}
  
</template>

<script>
import $ from "jquery"

export default {
  name: 'tab-select',

  props : {
    tabs : {
      type : Array
    },
  },

  computed : {
    hasButtonsAndControls : function() {
      return this.$slots["controls-container"] && this.$slots["buttons-container"];
    }
  },

  methods : {
    tabActive : function (tabPath) {
      // returns true if the route is the current path
      let path = this.$route.path;
      // first, take off any trailing "/" on both the tabPath and path, for consistency
      if (path.substr(-1,1) == "/") {
        path = path.substr(0, path.length - 1);
      }
      if (tabPath.substr(-1,1) == "/") {
        tabPath = tabPath.substr(0, tabPath.length - 1);
      }

      // also take away any leading "/" for the tabPath, for consistency
      if (tabPath.substr(0, 1) == "/") {
        tabPath = tabPath.substr(1);
      }

      // check if the trailing part of path matches the tabPath
      if (path.length >= tabPath.length && path.substr(-1 * tabPath.length) == tabPath) {
        return true;
      }
    }
  },

}
</script>

<style lang="scss">
  @import '../../assets/scss/general/tab-select.scss';
</style>
