<template lang="jade">
//- This is a formatted text input component for writing a longer message; it wraps the editor component
//- Note that it still functions as an input (accepts a v-model)
//- It is styled like text-input-border and so accepts the .first, .middle and .last convention (see text-input-border for more information)
//-
//- Props:
//-   value        - the variable containing the value of the input (required through v-model)
//-                  IMPORTANT NOTE: this should be passed as v-model="<variable_name>", NOT value="<variable_name>" or v-bind:value="<variable_name>"
//-   title        - the text displayed above the input field (optional).  
//-                  Note that if title and placeholder match, and the value is empty, then title will not be displayed (so the text is not duplicated)
//-   minimized    - a boolean value that attaches a minimize class to elements if true, allowing the parent component to control what is displayed
//-                  (default is to hide the title and underline)
//-   editable     - a boolean value that indicates whether the value is editable or static
//- Editor props (passed directly to the wrapped editor component)
//-   placeholder  - the text displayed in the editor when there is no content
//-   includeTags  - a boolean that determines whether the clickable tags are displayed (see editor for more information); default is false
//-   tags         - an optional array of raw html strings that will be insterted into the editor on click (only if includeTags is true)
//-   tagClass     - an optional class that is added to the tags to allow them to be formatted with css

.text-input-long-container.input-border
  .text-input-long-content
    .text-input-long-title-container
      .text-input-long-title(v-bind:class="{ minimized : minimized }") {{ title }}
      .text-input-button-container(v-if="!edit")
        .text-input-button.text-input-button-primary(v-on:click="editClick()") Éditer
      .text-input-button-container(v-else)
        .text-input-button(v-on:click="cancelClick()") Annuler
        .text-input-button.text-input-button-primary(v-on:click="saveClick()") Fini
    .input-line-container
      editor.text-input-long.text-editor(v-if="edit && editable" v-bind:class="{ minimized : minimized }" v-bind:placeholder="placeholder" v-bind:includeTags="includeTags" v-bind:tags="tags" v-bind:tagClass="tagClass" v-model="valueEdit")
      .text-input-long.text-viewer(v-else v-bind:class="{ minimized : minimized }" v-html="value")
  
</template>

<script>
import $ from "jquery"

export default {
  name: 'text-input-long',

  props : {
    value : {
      type : String
    },
    title : {
      type : String
    },
    minimized : {
      default : false,
      type : Boolean
    },
    editable : {
      default : true,
      type : Boolean
    },
    // props passed directly into the editor
    placeholder : {
      type : String
    },
    includeTags : {
      default : false,
      type : Boolean
    },
    // Should be an array of html strings
    tags : {
      type : Array
    },
    tagClass : {
      type : String
    }
  },

  components : {
    'editor' : require('../general/editor.vue'),
  },

  data : function() {
    return {
      edit: false,
      valueInitial : "",
      valueEdit : "",
    }
  },

  computed : {
    hasButtonsAndControls : function() {
      return this.$slots["controls-container"] && this.$slots["buttons-container"];
    },
  },

  watch : {
    // value could be coming from the server, so update the edit and initial when it's ready
    value : function() {
      this.valueEdit = this.value;
    },

    valueEdit : function() {
      this.$emit('input', this.valueEdit);
    },
  },

  methods : {
    inputBlur : function() {
      this.edit = false;
    },

    editClick : function() {
      this.valueInitial = this.valueEdit;
      $(this.$el).addClass("active");
      this.edit = true;

      this.$nextTick(function() {
        $(this.$el).find(".ql-editor").focus();
      });
    },

    // Remove html highlight when an input loses focus
    saveClick : function() {
      $(this.$el).removeClass("active");
      this.edit = false;
      this.valueInitial = this.valueEdit;
      this.$emit('input', this.valueEdit);
    },

    cancelClick : function() {
      $(this.$el).removeClass("active");
      this.edit = false;
      this.valueEdit = this.valueInitial;
      this.$emit('input', this.valueInitial);
    }
  },

}
</script>

<style lang="scss">
  @import '../../assets/scss/general/text-input-long.scss';
</style>
