<template lang="jade">
//- This is a formatted text input component and functions as an input (accepts a v-model)
//- It has a different styl than the text-input component - it contains a rounded border that can, optionally, have corner edges on the top and/or bottom
//- to allow multiple text-input-border components to visually combine as part of a section
//- 
//- To combine multiple text-input-border components, the first input should have the class "first", the last should have the class "last", and all inputs
//- in between should have the class "middle"
//-
//- Ex:
//-   text-input-container.first   ┐
//-   text-input-container.middle  ├ these will all be comined into a visual section
//-   text-input-container.last    ┘
//-   text-input-container         - this input will be separate
//-
//- Props:
//-   value        - the variable containing the value of the input (required through v-model)
//-                  IMPORTANT NOTE: this should be passed as v-model="<variable_name>", NOT value="<variable_name>" or v-bind:value="<variable_name>"
//-   title        - the text displayed above the input field (optional).  
//-                  Note that if title and placeholder match, and the value is empty, then title will not be displayed (so the text is not duplicated)
//-   placeholder  - the placeholder of the input (optional)
//-   minimized    - a boolean value that attaches a minimize class to elements if true, allowing the parent component to control what is displayed
//-                  (default is to hide the title and underline)
//-   editable     - a boolean value that indicates whether the value is editable or static
//- Slots:
//-   side-content - optional content to appear on the left side of the input and title (not on the line); ex. used to put an icon beside the input
//-   line-content - optional content to appear on the same line as the input value (also above the underline); by default appears on the right
.text-input-border-container.input-border(v-on:click="inputFocus()")
  .side-content-container
    slot(name="side-content")
  .text-input-border-content
    .text-input-border-title.content(v-bind:class="{ minimized : minimized }") {{ title }}
    .text-input-border-title.placeholder.half-height.top
    .input-line-container
      input.text-input-border(v-if="editable" type="text" v-bind:class="{ minimized : minimized }" v-bind:placeholder="placeholder" v-bind:value="value" v-on:input="valueChange($event)" v-on:blur="inputBlur()" v-on:keyup.enter="$event.currentTarget.blur()")
      .text-input-border(v-else v-bind:class="{ minimized : minimized }") {{ value }}
      .line-content
        slot(name="line-content")
    .text-input-border-title.placeholder.half-height.bottom
  
</template>

<script>
import $ from "jquery"

export default {
  name: 'text-input-border',

  props : {
    value : {
      type : String
    },
    title : {
      type : String
    },
    placeholder : {
      type : String
    },
    minimized : {
      default : false,
      type : Boolean
    },
    editable : {
      default : true,
      type : Boolean
    },
  },

  computed : {
    hasButtonsAndControls : function() {
      return this.$slots["controls-container"] && this.$slots["buttons-container"];
    },
  },

  mounted : function() {
    this.setTitleVisibility(this.value);
  },

  watch : {
    value : function() {
      this.setTitleVisibility(this.value);
    }
  },

  methods : {
    // Add the border highlight and select an input when it gains focus
    inputFocus : function() {
      if (this.editable) {
        $(this.$el).addClass("active");
        $(this.$el).find("input.text-input-border").select();
      }
    },

    // Remove border highlight when an input loses focus
    inputBlur : function() {
      $(this.$el).removeClass("active");
    },

    valueChange : function(event) {
      let value = event.target.value;
      this.setTitleVisibility(value);
      this.$emit('input', value)
    },

    // sets whether the text-input-border-title is visible
    setTitleVisibility : function(value) {
      // don't show the title if the placeholder is showing and they are the same string
      if (!value && this.title == this.placeholder) {
        $($(this.$el).find(".text-input-border-content")[0]).addClass("empty");
      } else {
        $($(this.$el).find(".text-input-border-content")[0]).removeClass("empty");
      }
    }
  },

}
</script>

<style lang="scss">
  @import '../../assets/scss/general/text-input-border.scss';
</style>
