@import '../shared/shared-constants.scss';

.analyse {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .sub-header-container {
    .sub-content {
      padding-bottom: 0;
    }
  }
}