@import '../shared/shared-constants.scss';

.enquete {
	.bloc{
			display: flex;
			width: 98%;
			.shadow{
				box-shadow: $card-shadow;
				margin: 20px 0px 20px 20px;
			}
			#external-iframe1 {
		        background-color: $white;
		        box-shadow: $card-shadow;
		        margin: 20px 20px 20px 20px;
		        margin-right: 0;  
		        display: flex;
		        width: 100%;
		        visibility: hidden;
		        &.noShadow{
		        	box-shadow: none;
		        	margin:0px;
		        }
		    }
		    #external-iframe-dashboard {
		        margin-right: 0;
		        display: flex;

		    }
		    

	}
	
}