@import '../shared/shared-constants.scss';

// use new constants so that they can be easily changed, instead of changing shared-constants
$chart-spacing: $spacing-medium-large;
$title-spacing: $chart-spacing;
$title-spacing-small: $spacing-small;

$pieChartSize: 400px;

// TODO - this styling will fill the page with the 4 graphs (but not larger) - this may cause problems
// on small screens
.mobilisation {
  width: 100%;
  display: flex;
  flex-grow: 1;

  .column {
    display: flex;
    flex-direction: column;

    .flex-grow-parent {
      display: flex;

      .diagram-container {
        display: flex;
        flex-direction: column;
        
        .diagram-title-container {
          display: flex;
          padding: $title-spacing-small $title-spacing;

          .diagram-title {
            flex-grow: 1;

            span.reset-click {
              padding: 0 $spacing-small;
              color: $highlight-text-blue;
              cursor: pointer;
            }
          }

          .title-additional-info {
            font-weight: bold;
          }
        }
        
        .diagram {
          flex-grow: 1;
          display: flex; // necessary so that it shrinks to the size of the svg
          width: 100%;

          text.y-axis-label, text.x-axis-label {
            font-size: $font-size;
            fill: $semi-transparent;
          }
        }
      }

      .chart-group {
        background-color: $white;
        box-shadow: $card-shadow;
        margin: $spacing-large;
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
      }

      .date-container {
        // flex-grow: 1;
        display: flex;
        flex-direction: column;

        .date-contacts-container {
          flex-grow: 1;

          #date-contacts-chart {
          }
        }

        .date-picker-cotainer {
          #date-picker-chart {
            // height: 90px;
            .axis.y {
              display: none;
            }
          }
        }
      }

      .map-container {
        height: 350px;

        .map-title-additional-info.title-additional-info {
          font-weight: initial;
          font-style: italic;
        }

        #mapCrossfilter {
          margin: $chart-spacing;
          margin-top: 0;
          width: calc(100% - 2*#{$chart-spacing});
        }
      }

      .presence-container {
        height: $pieChartSize;
        
        #presence-chart {
          width: $pieChartSize;
        }
      }

      .user-container {
        flex-grow: 1;
        
        #user-chart {

          .row {
            text {
              fill: black;
            }
          }
        }
      }
    }

    .flex-grow-parent:last-child .chart-group {
      margin-bottom: $spacing-large;
    }

    .flex-grow-primary {
      flex-grow: 1;
    }    
  }

  .column:last-child .flex-grow-parent .chart-group {
    margin-right: $spacing-large;
  }
  
  .column-primary {
    flex-grow: 1;
  }
}