<template lang="jade">
.contact-details
  h3.page-title
    i.material-icons account_circle
    | Ajout d'un contact
  hr.barrier(v-if="staticSectionIncluded()")
  el-row.personal-information(v-if="staticSectionIncluded()")
    el-col.col-left(:span='12')
      el-form(ref="form" label-position="left" label-width="100px")
        .sub-section(v-if="sectionIncluded('informations')")
          .sub-header Informations
          el-form-item(v-if="staticIncluded('surname')" label='Nom :')
            el-input(v-model="contact.surname" )
          el-form-item(v-if="staticIncluded('married_name')" label='Nom matrimonial :')
            el-input(v-model="contact.married_name" )
          el-form-item(v-if="staticIncluded('firstname')" label='Prénom :')
            el-input(v-model="contact.firstname" )
          el-form-item(v-if="staticIncluded('gender')" label='Sexe :')
            el-radio-group(v-model='contact.gender')
              el-radio(label='H' )
              el-radio(label='F' )
          el-form-item(v-if="staticIncluded('age')" label='Date de naissance :')
            el-input(v-model="contact.birthdate_fr"  placeholder="26/06/1993")
          | {{t_age}}
          el-form-item(v-if="staticIncluded('age')" label='Ou ')
            el-select(v-model='contact.t_age_model', placeholder="Tranche d'âge")
              el-option(v-for='item in contact.t_age', :label='item.label', :value='item.value')
          template(v-for='form in modifiedSections')
            template(v-if='form.name == "name_presence"')
              el-form-item(:label='form.label + " : "')
                el-select(v-model="form.model", :placeholder="form.model")
                  el-option(v-for="item in form.refvalues", :label="item.label", :value="item.value")

    el-col.col-right(:span='12')
      el-form.address-container(ref="form" label-position="left" label-width="100px")
        .sub-section(v-if="sectionIncluded('adresse')")
          .sub-header Adresse
          el-form-item(v-if="staticIncluded('address')" label='Libellé :')
            el-col.double-input(:span="4")
              el-input(v-model="contact.address.housenumber" style="margin-right:10px;" placeholder='N°')
            el-col.double-input(:span="20")
              el-input(v-model="contact.address.street" placeholder='Voie' )
          el-form-item(v-if="staticIncluded('city')" label='Ville :')
            el-col.double-input(:span='4')
              el-input(v-model="contact.address.postalcode" style="margin-right:10px;" placeholder='CP')
            el-col.double-input(:span='20')
              el-input(v-model="contact.address.city" placeholder='VILLE' )
        .sub-section(v-if="sectionIncluded('contact')")
          .sub-header Contact
          el-form-item(v-if="staticIncluded('mail')" label='Email :')
            el-input(v-model="contact.mail" )
          el-form-item(v-if="staticIncluded('phone')" label='Téléphone :')
            el-input(v-model="contact.phone" )
          el-form-item(v-if="staticIncluded('mobile')" label='Mobile :')
            el-input(v-model="contact.mobile" )

  h3.section-title
    i.material-icons assignment
    | Formulaire
  hr.barrier
  el-row.new-form-data
    el-col.col-left(:span='12')
      template(v-for=('(section, sectionIndex) in modifiedSections')) 
        template(v-if="sectionIndex < halfwaySection && containsForm(section)")
          .sub-section
            .sub-header {{ section.name }}
          template(v-for='obj in section.questions')
            template(v-if="obj.name === 'FORM'")
              template(v-if='obj.type =="checkbox"')
                el-select.form-select-input(v-model='obj.model', multiple, :placeholder='obj.label' )
                  el-option(v-for='item in obj.refvalues', :label='item.label', :value='item.value')
              template(v-else-if='obj.type =="radio"')
                el-select.form-select-input(v-model='obj.model' clearable  :placeholder='obj.label' )
                  el-option(v-for='item in obj.refvalues', :label='item.label', :value='item.value')
              template(v-else-if='obj.type == "text"')
                el-input.form-select-input(:placeholder='obj.label' v-model="obj.model")
              template(v-else-if='obj.type=="range"')
                .form-select-input.slider-container
                  .slider-title {{ obj.label }} 
                    span.slider-reset(v-if="obj.model != obj.refvalues[0].min" v-on:click="resetSlider(obj)") reset
                  el-slider(v-model="obj.model" v-bind:step="obj.refvalues[0].step" v-bind:min="obj.refvalues[0].min" v-bind:max="obj.refvalues[0].max" v-bind:class="{'null-slider' : obj.model == obj.refvalues[0].min}" v-bind:show-tooltip="obj.model != obj.refvalues[0].min" show-input)
              template(v-else-if="obj.type == 'date'")
                el-date-picker.form-select-input(:placeholder="obj.label" v-model="obj.model" language="fr" type="date")

    el-col.col-right(:span='12')
      template(v-for=('(section, sectionIndex) in modifiedSections')) 
        template(v-if="sectionIndex >= halfwaySection && containsForm(section)")
          .sub-section
            .sub-header {{ section.name }}
          template(v-for='obj in section.questions')
            template(v-if="obj.name === 'FORM'")
              template(v-if='obj.type =="checkbox"')
                el-select.form-select-input(v-model='obj.model', multiple, :placeholder='obj.label' )
                  el-option(v-for='item in obj.refvalues', :label='item.label', :value='item.value')
              template(v-else-if='obj.type =="radio"')
                el-select.form-select-input(v-model='obj.model' clearable  :placeholder='obj.label' )
                  el-option(v-for='item in obj.refvalues', :label='item.label', :value='item.value')
              template(v-else-if='obj.type == "text"')
                el-input.form-select-input(:placeholder='obj.label' v-model="obj.model")
              template(v-else-if='obj.type=="range"')
                .form-select-input.slider-container
                  .slider-title {{ obj.label }} 
                    span.slider-reset(v-if="obj.model != obj.refvalues[0].min" v-on:click="resetSlider(obj)") reset
                  el-slider(v-model="obj.model" v-bind:step="obj.refvalues[0].step" v-bind:min="obj.refvalues[0].min" v-bind:max="obj.refvalues[0].max" v-bind:class="{'null-slider' : obj.model == obj.refvalues[0].min}" v-bind:show-tooltip="obj.model != obj.refvalues[0].min" show-input)
              template(v-else-if="obj.type == 'date'")
                el-date-picker.form-select-input(:placeholder="obj.label" v-model="obj.model" language="fr" type="date")

  .actions
    span(v-on:click.prevent="goBack()")
      el-button(size="small").cancel
        i.fa.fa-times(aria-hidden='true')
        |  ANNULER
    //- span(v-on:click.prevent="saveContact(true)")
    //-   el-button( size="small").cancel
    //-     i.fa.fa-angle-double-right(aria-hidden='true')
    //-     |  SAUVEGARDER ET CONTINUER
    span(v-on:click.prevent="saveContact(false)")
      el-button(type='primary'  size="small")
        i.fa.fa-floppy-o(aria-hidden='true')
        |  SAUVEGARDER

  loading-popover(v-if="loading")

</template>

<script>
import store from '../../../store/stateStore.js'
import  { mapGetters, mapActions } from 'vuex'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';

var contact_store = require('../../../models/contact_store.js');
var _ = require('lodash');

export default {
  name: 'contact-new',
  store: store,
  data : function () {
    return {
        error: false,
        dom_forms: [],

        modifiedSections : [],
        halfwaySection : 0,

        loading : false,

        contact : {
          firstname: null,
          surname: null,
          married_name: null,
          mail: null,
          phone: null,
          gender:null,
          birthdate:undefined,
          mobile: null,
          vote:'',
          support:'',
          address: {
            housenumber: null,
            street: null,
            postalcode: null,
            city: null
          },
          t_age_model :'',
          t_age : [
            {
              value: 1,
              label: '- 18 ans'
            },
            {
              value: 2,
              label:'18 - 25 ans'
            },
            {
              value: 3,
              label: '25 - 35 ans'
            },
            {
              value: 4,
              label : '35 - 50 ans'
            },
            {
              value : 5,
              label : '50 - 65 ans'
            },
            {
              value : 6,
              label : '+ 65 ans'
            }
          ]
        },

        staticCategories : {
          "informations" : [
            "surname",
            "married_name",
            "firstname",
            "gender",
            "age",
          ],
          "adresse" : [
            "address",
            "city",
          ],
          "contact" : [
            "mail",
            "phone",
            "mobile",
          ],
        }
      }
    },

  components : {
      Datepicker,
      'loading-popover' : require('../../general/loading-popover.vue'),
  },

  computed : {
    ...mapGetters({
      'static'        : 'static',
      'forms'         : 'forms',
      'forms_presence': 'forms_presence',
    }),

    empty_contact : function() {
      return JSON.parse(JSON.stringify(this.contact));
    },
    empty_forms : function() {
      return JSON.parse(JSON.stringify(this.modifiedSections));
    }

  },

  mounted : function() {
    this.setModifiedSections(_.concat(this.forms, this.forms_presence));
    this.$store.commit('EDIT', true);
  },

  beforeDestroy : function() {
    this.$store.commit('EDIT', false);
  },

  watch : {
    forms : function() {
      this.setModifiedSections(_.concat(this.forms, this.forms_presence));
    },

    forms_presence : function() {
      this.setModifiedSections(_.concat(this.forms, this.forms_presence));
    },
  },

  methods: {
    staticIncluded : function(type) {
      for (let i = 0; i < this.static.length; i++) {
        if (this.static[i].type == type) {
          return true;
        }
      }
      return false;
    },

    sectionIncluded : function(sectionName) {
      if (this.staticCategories[sectionName]) {
        for (let i = 0; i < this.staticCategories[sectionName].length; i++) {
          if (this.staticIncluded(this.staticCategories[sectionName][i])) {
            return true;
          }
        }
      }
      return false;
    },

    staticSectionIncluded : function() {
      for (var key in this.staticCategories) {
        if (this.staticCategories.hasOwnProperty(key)) {
          for (let i = 0; i < this.staticCategories[key].length; i++) {
            if (this.staticIncluded(this.staticCategories[key][i])) {
              return true;
            }
          }
        }
      }
      return false;
    },

    containsForm : function(section) {
      for (let i = 0; i < section.questions.length; i++) {
        if (section.questions[i].name == "FORM") {
          return true;
        }
      }
      return false;
    },

    resetSlider : function(obj) {
      // to move the slider to the beginning, first set the model to the min value
      obj.model = obj.refvalues[0].min;
      this.$nextTick(function() {
        // once the DOM has updated, set the model to null
        // obj.model = null;
      });
    },

    // Given a forms Json object that is structured like the object returned from a forms server GET call,
    // compute an intermediary object, sections, that is an array of section objects where:
    // 1. Sequential questions with the same "sections" field are collected into one section object's "Questions" field
    // 2. An additional field, "addedOptions", is added to the secitons object that contains additional data like
    //    whether the seciton should be displayed as minimized (used in the edit view, default is false)
    setModifiedSections : function(data) {
      let sections = [];
      // sort the form's questions by the "order" field
      let obj = _.sortBy(JSON.parse(JSON.stringify(data)), 'order');
      let curSection = null;
      let curSectionTitle = "";

      // iterate through all of the questions in the given forms
      for (let questionCount = 0; questionCount < obj.length; questionCount++) {
        let question = obj[questionCount];

        // value is used to know which item is selected; if it is empty, set it here (only locally)
        if (question.type == "checkbox" || question.type == "radio") {
          for (let i = 0; i < question.refvalues.length; i++) {
            if (question.refvalues[i].value == "") {
              // if value has not yet been set,  set the refvalue's value to match the label, 
              // but lowercase and spaces replaced by underscores
              // (same as done in form-builder for saving a forms)
              question.refvalues[i].value = question.refvalues[i].label.toLowerCase().replace(/ /g, "_")
            }
          }
        }

        // range value, step, min and max should all be ints
        if (question.type == "range") {
          // should only have 1 refvalue
          if (question.refvalues.length > 0) {
            question.refvalues[0].step = parseFloat(question.refvalues[0].step);
            // decrement true min by one so that the lowest slider value can be treated as null
            question.refvalues[0].min = parseFloat(question.refvalues[0].min) - question.refvalues[0].step;
            question.refvalues[0].max = parseFloat(question.refvalues[0].max);
          }
        }

        // add model for el-select to work
        question.model = "";
        if (question.type == "checkbox") {
          question.model = [];
        } else if (question.type == "range" && question.refvalues.length > 0) {
          // treat the lowest slider value as a null entry (decrement the true min value by one)
          question.model = question.refvalues[0].min;
        }

        // check if this question is part of a new section
        if (!curSection || curSectionTitle != question.section) {
          if (curSection) {
            // push the previous section (as long as this isn't the first section)
            sections.push(curSection);
          }
          // get a new section
          curSectionTitle = question.section;
          curSection = { 
            name : curSectionTitle, 
            questions : [] 
          };
        }

        curSection.questions.push(question);

        // if questionCount is greater than halfway (questionCount is 0-indexed, obj.length is not)
        // then set halfwaySection to be the current section index; since it hasn't been pushed yet, it's the
        // next section, but sections.length is not 0-indexed and we want the index
        if (questionCount >= obj.length / 2) {
          this.halfwaySection = sections.length;
        }
      }

      // push the last section
      if (curSection) {
        sections.push(curSection);
      }

      this.modifiedSections = sections;
    },

    goBack : function () {
      this.$router.go(-1);
    },

    saveContact : function (goOn) {
      var router = this.$router;

      var state = this;
      this.error = false;

      if (moment(this.contact.birthdate_fr, 'DD/MM/YYYY',true).isValid() || this.contact.birthdate_fr == undefined) {
        if (this.contact.birthdate_fr != undefined) {
           var date = this.contact.birthdate_fr.split('/')

           // Les mois commençent à 0 en Javascript d'où le (date[1]-1)
          this.contact.birthdate =  moment(new Date(date[2], (date[1]-1), date[0])).add(2, 'h').toISOString()
        } else {
          if (this.contact.t_age_model != '') {
            this.contact['age_category'] = parseInt(this.contact.t_age_model);
          };
          this.contact.birthdate = undefined;
        }

        delete this.contact.t_age
        delete this.contact.t_age_model
        delete this.contact.birthdate_fr

        // If defined, traiter les formsdata et reconstituer la structure
        // (c.f une partie de edition.vue [en excluant les ref à supprimer])

        this.contact.formdatas = [];

        var main = this.contact;

        // Structure :
        // var obj = {
         //    "id":,
         //    "data":,
         //    "date":,
         //    "group_id":,
         //    "contact_id":,
         //    "form_id": ,
         //    "form_ref_id":
        // }

        // parse a simple array of questions
        var modifiedQuestions = [];
        this.modifiedSections.forEach(function(section) {
          section.questions.forEach(function(question) {
            modifiedQuestions.push(question);
          });
        })
        
        modifiedQuestions.forEach(function (form) {
          if(form.type == "checkbox" || form.type ==  "radio"){
            if(!_.isEmpty(form.model)) {
              if(form.type == "radio" && form.model.length > 1 ) {
                form.model = [form.model];
              }

              for (var j = 0; j < form.model.length; j++) {

                // Obligé de dupliquer du code car il 1y a N elements dans le tableau vm
                var obj = {};

                obj.form_id = form.id;
                obj.group_id = form.group_id;
                obj.contact_id = null;
                obj.date = (new Date()).toISOString();
                obj.id = null;
                // boucler sur vm et dans this.form_data[i].reponse pour trouver les infos manquantes
                // - data
                // - form_ref_id

                for (var k = 0; k < form.refvalues.length; k++) {

                  if (form.model[j] === form.refvalues[k].value) {
                    obj.form_ref_id = form.refvalues[k].id;
                    obj.data = (form.refvalues[k].data != undefined) ? form.refvalues[k].data : form.refvalues[k].value;

                  }
                };

                if (obj.data != "" && obj.data != undefined) {
                  main.formdatas.push(obj);
                };
              };
            }
          } else {
            var obj = {};

            obj.form_id = form.id;
            obj.group_id = form.group_id;
            obj.contact_id = undefined;

                // différencier (date|range) ou l'on récupère form.reponses[0].data
                // et (text) où l'on récupère this.form.reponses[0].value (qu'on castera dans obj.data)

            obj.form_ref_id = form.refvalues[0].id
            obj.date = (new Date()).toISOString();
            obj.id = undefined;

            if (form.type == "date") {
              if( moment(form.model, 'DD/MM/YYYY',true).isValid()
                || moment(form.model, 'D/MM/YYYY',true).isValid()) {

                obj.data = moment(form.model).format('x');

              }
            }else if(form.type =="range"){
              if (form.refvalues.length < 1 || form.model == form.refvalues[0].min) {
                // treat the (added) lowest value as a null entry, so this response should be ignored
                obj.data = undefined;
              } else {
                obj.data = String(form.model);
              }
            }
            else {
              obj.data =  (form.model != undefined) ? form.model : "" ;
            }

            if (obj.data != "" && obj.data != undefined) {
              main.formdatas.push(obj)
            };


          }
        });
        
        // On sauvegarde le contact
        if (!this.error) {
          this.loading = true;
          contact_store.save(router, this.contact, (res) => {

            store.commit('DELETE_ACTIVE_CONTACT');
            // Enregistrement du nouveau contact dans Vuex
            if(!goOn) {
              router.push({name:'contacts-list'});
            } else {
              // Reset contact data
              this.contact = this.reset_contact_data(this.contact);

              // Dirty fix
              location.reload();

            }

            this.$message({
              message: 'Nouveau contact enregistré',
              type: 'success'
            });
          }, () => {
            this.loading = false;
          })
        }
      } else {
        this.$message({
          message: "La date de naissance renseignée n'est pas valide (ex : 26/06/1993)",
          duration:5000,
          type: 'error'
        });
      }
    },

    error_handler : function(form) {
      this.error = true;
      var message = 'Le format de la réponse  à la  question : "'+form.label+'" n\'est pas valide';
      this.$message({
            message,
            duration:5000,
            type: 'error'
          });
    },

    reset_contact_data : function(contact) {
       return contact = {
          firstname: null,
          surname: null,
          married_name: null,
          mail: null,
          phone: null,
          gender:null,
          birthdate:undefined,
          mobile: null,
          vote:'',
          support:'',
          address: {
            housenumber: null,
            street: null,
            postalcode: null,
            city: null
          },
          t_age_model :'',
          t_age : [
            {
              value: 1,
              label: '- 18 ans'
            },
            {
              value: 2,
              label:'18 - 25 ans'
            },
            {
              value: 3,
              label: '25 - 35 ans'
            },
            {
              value: 4,
              label : '35 - 50 ans'
            },
            {
              value : 5,
              label : '50 - 65 ans'
            },
            {
              value : 6,
              label : '+ 65 ans'
            }
          ]}
    }

}


}
</script>

<style lang="scss">
@import '../../../assets/scss/contact/contact-new.scss';
</style>
