<template lang="jade">
div#preview-container
  #preview-title {{ title }}
  template(v-for='section in sections')
    .preview-section
      .preview-section-title {{ section.addedOptions.name }}
      .preview-questions
        template(v-for="(question, questionIndex) in section.questions")
          .preview-question(v-bind:class="((question.type != 'checkbox' && question.type != 'radio') ? 'preview-one-line-question' : '')")
            span.preview-question-title {{ questionIndex + 1 }}. {{ question.label}} 
              span.preview-date-entry-span(v-if="question.type == 'date'") ____  / ____  / ____
            template(v-if="question.type == 'text'")
              .preview-one-line-answer.preview-text
            template(v-else-if="question.type == 'checkbox' || question.type == 'radio'")
              .preview-options-container
                template(v-for="option in question.refvalues")
                  .preview-option
                    .preview-option-icon.option-icon(v-bind:class="question.type + '-icon'")
                    span.preview-option-text {{ option.label }}
            template(v-else-if="question.type == 'range'")
              .preview-one-line-answer.preview-range
            template(v-else-if="question.type == 'surname'")
              .preview-one-line-answer.preview-text
            template(v-else-if="question.type == 'married_name'")
              .preview-one-line-answer.preview-text
            template(v-else-if="question.type == 'firstname'")
              .preview-one-line-answer.preview-text
            template(v-else-if="question.type == 'gender'")
              .preview-option.gender-option
                .radio-icon.preview-option-icon.option-icon
                span.preview-option-text H
              .preview-option.gender-option
                .radio-icon.preview-option-icon.option-icon
                span.preview-option-text F
            template(v-else-if="question.type == 'age'")
              .preview-one-line-answer.preview-text
            template(v-else-if="question.type == 'address'")
              .preview-one-line-answer.preview-text
              .preview-one-line-answer.preview-text
            template(v-else-if="question.type == 'city'")
              .preview-one-line-answer.preview-text
              .preview-one-line-answer.preview-text
            template(v-else-if="question.type == 'mail'")
              .preview-one-line-answer.preview-text
            template(v-else-if="question.type == 'phone'")
              .preview-one-line-answer.preview-text

</template>

<script>
import $ from "jquery"

export default {
  name : 'form-viewer', 
  
  // Available options:
  // {
  //   optionsDisplay : "grid" or "rows" (grid displays options in a grid, line displays options one per line) default: grid 
  // }
  props : ["title", "sections", "options"],

  methods: {
    // Some styling has to be dynamically modified/computed based on the sections data.
    // So this can be easily called wheneve the page is loaded/modified, they are all put here in this wrapper function
    fixFormatting : function() {
      this.formatAnswerLine();
      // default behaviour is to display the options in a grid
      if (!(this.options && this.options.optionsDisplay && this.options.optionsDisplay == "rows")) {
        this.formatOptionsGrid();
      } else {
        $(this.$el).find(".preview-option").css("width", "100%");
      }
    },

    // The default behaviour for text and range quetions is to have an empty underlined section for whatever empty space
    // remains on the line after the question.  However, this asssumes that the question isn't too long and so leaves 
    // sufficient space for an answer.  This function ensures that the line is some minimum length, and if not,
    // puts the answer line on a new line. 
    // TODO - for range, a simple underline may not be the best
    formatAnswerLine : function() {
      $(".preview-text, .preview-range").each(function() {
        // minimum size in px (kind of arbitrary)
        let minSize = 100;
        if ($(this).parent().outerWidth() - $(this).parent().find(".preview-question-title").outerWidth() <= minSize) {
          // if the space left isn't big enough, change the css so the answer line appears on a new line
          $(this).parent().css("display", "block");
          $(this).addClass("preview-empty-line");
        } else {
          $(this).parent().css("display", "");
          $(this).removeClass("preview-empty-line");
        }
      });
    },

    // Display the options in a grid; do this by figuring out the max options/line could fit if every option
    // was the same width as the widest option (so all the spacing is even)
    formatOptionsGrid : function() {
      $(this.$el).find(".preview-options-container").each(function() {
        let maxWidth = 0;

        // find the width of the widest option 
        $(this).find(".preview-option").each(function() {
          let width = $(this).outerWidth();
          if (width > maxWidth) {
            maxWidth = width;
          }
        });

        console.log(maxWidth);
        console.log($(this));

        // Put only as many options per line as would fit if every option had maxWidth width
        let numQuestionsPerLine = Math.floor($(this).outerWidth() / maxWidth);
        if (numQuestionsPerLine == 0) {
          // there should be at least one option per line
          numQuestionsPerLine++;
        } else if (numQuestionsPerLine > $(this).find(".preview-option").length) {
          // if there is a single line, evenly space out all the options on that one line
          numQuestionsPerLine = $(this).find(".preview-option").length;
        }

        $(this).find(".preview-option").css("width", "calc(100% / " + numQuestionsPerLine + ")");
      });
    }
  },

  mounted: function () {
    this.fixFormatting();
  },

  updated : function() {
    this.fixFormatting();
  },

  
}
</script>

<style lang="scss">
@import '../../assets/scss/form/form-viewer.scss';
</style>