<template lang="jade"> 
div#form-viewer-container
  #page-container.pure-u-md-24-24
    #scroll-container
      sub-header.no-print(title="Questionnaire")
        div(slot="controls-container") 
          .download-template-container(v-if="!limitedEdit" v-on:click="templateDownloadClick()")
            object.icon.icon-download(data="../../../static/download-file.svg" type="image/svg+xml", width="15px;")
            .template-donwload-text
            .popover Utiliser un template prédéfini
          .edit-button(v-else v-on:click="editClick()") Éditer le questionnaire

          //- TODO - should be svg
          .print-icon-container(v-on:click="printClick()")
            i.fa.fa-print.print-icon
            .popover Imprimer le questionnaire
        div(slot="buttons-container") 
          .header-button(v-on:click="cancelClick") Reset mail auto
          .header-button.header-button-primary(v-on:click="finishClick()") 
            | Publier le questionnaire

      #form-container.pure-u-14-24
        form-editor(v-if="!print" v-bind:title="title" v-bind:sections="sections" v-bind:limitedEdit="limitedEdit" v-on:autoSendToggle="autoSendToggle($event)")
        form-viewer(v-else v-bind:title="title" v-bind:sections="sections")
    
    form-sidebar.pure-u-md-10-24(v-bind:title="title" v-bind:sections="sections")
    
    //- TODO - if this is the decided upon UX design, then put it in its own component
    popover.template-select-popover-container.no-print(v-if="showUseTemplatePopover" v-on:closePopover="showUseTemplatePopover = false")
      .template-select-popover(slot="popover-content")
        .popover-header
          tab-select(v-model="selectedTemplateIndex" v-bind:tabs="['Template 1', 'Template 2', 'Template 3', 'Empty']")
          .buttons-container
            .button(v-on:click="showUseTemplatePopover = false") Annuler
            .button.button-primary(v-on:click="selecteTemplateClick()") Choisir
        form-viewer(v-bind:sections="selectedTemplate")

    popover.edit-warning-popover.no-print(v-if="showEditWarningPopover" v-on:closePopover="showEditWarningPopover = false")
      .template-select-popover(slot="popover-content")
        i.fa.fa-times.close-icon(v-on:click="showEditWarningPopover = false")
        .edit-warning-header Attention ! Action irréversible ! 
        p Si vous éditez ou modifiez le questionnaire, vous perdez toutes les données enregistrées dans le passé liées au questionnaire. L'action est irréversible.
        p Pour modifier le questionnaire, vous devez prendre contact avec un membre de l'équipe support.
        .contact-container
          .spacer
          a.mail-link(href="mailto:support@quorum.co?subject=Editer%20ma%20questionnaire") 
            .contact-element-container
              object.contact-icon(type="image/svg+xml",data="./static/mail-icon.svg" slot="side-content")
              .contact-icon-text support@quorum.co
          .spacer.space-small
          .contact-element-container
            object.contact-icon(type="image/svg+xml",data="./static/tel-icon.svg" slot="side-content") 
            .contact-icon-text  01 79 73 40 04
          .spacer


    auto-send-popover.auto-send-popover-container.no-print(v-if="showAutoSendPopover" v-bind:indices="autoSendIndices" v-on:closePopover="showAutoSendPopover = false")

    loading-popover(v-if="loading")
        
</template>

<script>
import $ from "jquery"
import  { mapGetters } from 'vuex'

var forms_store = require('../../models/forms_store.js');
var template1 = require("./templates/template1.json");
var template2 = require("./templates/template2.json");
var template3 = require("./templates/template3.json");

export default {
  name : 'form-builder', 

  components : {
    'sidebar'            : require('../structure-module/sidebar.vue'),
    'loading-popover'    : require('../general/loading-popover.vue'),
    'popover'            : require('../general/popover.vue'),
    'tab-select'         : require('../general/tab-select.vue'),
    'sub-header'         : require('../general/sub-header.vue'),
    'auto-send-popover'  : require('./auto-send/auto-send-popover.vue'),
    'form-editor'        : require('./form-editor.vue'),
    'form-sidebar'       : require('./form-sidebar.vue'),
    'form-viewer'        : require('./form-viewer.vue'),
  },

  data : function() {
    return {
      print : false,
      printOptions : {
        optionsDisplay : "rows"
      },

      // the save call takes a long time; have a loading popover
      loading : false,

      // template picker popover
      showUseTemplatePopover : false,
      selectedTemplateIndex : 0,
      templateUsed : false,

      // edit warning popover
      showEditWarningPopover : false,

      // auto send popover
      showAutoSendPopover : false,
      autoSendIndices : {},

      // these will be modified manually, so they are data instead of computed
      origSections : [],
      sections : [],
      title : "",

      createNewJson : {
        forms: [],
        title: ""
      },
    }
  }, 

  computed : {
    template1Json : function() { return template1[0] },
    template2Json : function() { return template2[0] },
    template3Json : function() { return template3[0] },

    ...mapGetters({
      'forms' : 'forms'
    }),

    ...mapGetters({
      'static' : 'static'
    }),

    ...mapGetters({
      'info_campagne' : 'info_campagne'
    }),

    ...mapGetters({
      'userConnected' : 'userConnected'
    }),

    selectedTemplate : function() {
      switch (this.selectedTemplateIndex) {
        case 0:
          return this.getSections(this.template1Json.forms);
        case 1:
          return this.getSections(this.template2Json.forms);
        case 2:
          return this.getSections(this.template3Json.forms);
        default:
          return this.getSections(this.createNewJson.forms);
      }
    },

    // controls whether the user can edit the form
    // this is passed to form-editor and controls which buttons are present in the header
    // see form-editor for more details
    limitedEdit : function() {
      if (this.info_campagne.code_edit_form==="true"){
        return false
      }else{
        return this.forms.concat(this.static).length > 0;
      }
    }
  },

  mounted : function() {
    // todo - could use forms?
    this.origSections = this.getSections(this.forms.concat(this.static));
    this.title = this.info_campagne.name;
    this.$store.commit('EDIT', false);
  },

  beforeDestroy : function() {
    this.$store.commit('EDIT', false);
  },

  watch : {
    forms : function() {
      if (!this.templateUsed) {
        this.origSections = this.getSections(this.forms.concat(this.static));
        this.$nextTick(function() {
          this.$store.commit('EDIT', false);
        })
      }
    },

    static : function() {
      if (!this.templateUsed) {
        this.origSections = this.getSections(this.forms.concat(this.static));
        this.$nextTick(function() {
          this.$store.commit('EDIT', false);
        })
      }
    },

    info_campagne : function() {
      this.title = this.info_campagne.name;
    },

    origSections : {
      handler : function() {
        // create a copy os that sections changes don't affect origSections
        this.sections = JSON.parse(JSON.stringify(this.origSections));
      },
      deep: true,
    },

    // TODO - this will be called a lot (on every key press, for example)
    // If this is too slow, look into only updating sections when going to a popup or leaving the screen
    // (when the data will be needed elsewhere)
    sections : {
      handler : function() {
        this.$store.commit('SET_SECTIONS', this.sections);
        this.$store.commit('EDIT', this.sectionsChanged());
      },
      deep: true
    },
  },

  methods: {
    // handler for the autoSendToggle event emitted by form-editor when the auto send button has been toggled
    // form-editor emits a custom event containing the following in the detail field:
    // detail : {
    //   secitonIndex : <section_index as an int>
    //   questionIndex : <question_index as an int>
    //   optionIndex : <option_index as an int> 
    //   active : <boolean describing whether the toggle is now active>
    // }
    autoSendToggle : function(event) {
      let data = event.detail;
      let question = this.sections[data.sectionIndex].questions[data.questionIndex];
      this.autoSendIndices = data;
      this.showAutoSendPopover = true;
    },

    // "Finish" button click handler - make API call to server to save the form
    finishClick : function() {
      // this involves converting this.sections into questions, AND FIXING ORDER (any added questions are given order -1 since order is only
      // used initially in sorting and maintaining order isn't worth it I think).
      // AND FIXING QUESTIONS' SECTIONS (question.section isn't maintained either)
      // Also add values to refvalues

      //console.log(this.sections);

      // Should also do some sort of commit for forms
      let questions = [];
      let questionOrder = 1; // order value is 1-indexed
      for (let i = 0; i < this.sections.length; i++) {
        for (let j = 0; j < this.sections[i].questions.length; j++) {
          let question = $.extend(true, {}, this.sections[i].questions[j]);
          question.order = questionOrder;
          question.section = this.sections[i].addedOptions.name;
          // TODO - does API support order for options?
          if (question.type == "checkbox" || question.type == "radio") {
            let optionOrder = 1; // order value is 1-indexed
            for (let k = 0; k < question.refvalues.length; k++) {
              if (question.refvalues[k].value == "") {
                // if value has not yet been set,  set the refvalue's value to match the label, but lowercase and spaces replaced by underscores
                question.refvalues[k].value = question.refvalues[k].label.toLowerCase().replace(/ /g, "_")
              }

              question.refvalues[k].order = optionOrder;
              
              if (question.refvalues[k].activate_auto_send == "true") {
                // update question's activate_auto_send
                question.activate_auto_send = "true";
              }
              // remove added field
              delete question.refvalues[k].activate_auto_send;

              optionOrder++;
            }
          }else{
            if (question.type == "range") {
              question.refvalues[0].max=parseInt(question.refvalues[0].max)
              question.refvalues[0].min=parseInt(question.refvalues[0].min)
              question.refvalues[0].step=parseInt(question.refvalues[0].step)
            }
          }
          questions.push(question);
          questionOrder++;
          
        }
      }
      
      // this uses new API calls, so should only be true if testing locally where the latest backend code exists,
      // or if integration has been updated with the necessary calls
      let makeAPICall = true;
      if (makeAPICall) {
        // this is a very long call; show a loading spinner
        this.loading = true;

        forms_store.overwrite_forms_by_names(this.$router, questions, "FORM,STATIC", (res) => {
          console.log(res);

          // update this.forms and this.static with the result (updates the ids if a new form/refvalue was created)
          this.curForms = res.body.data.forms;

          let newForms = [];
          let newStatic = [];
          let responseForms = res.body.data.forms;
          
          if (responseForms) {
            for (let i = 0; i < responseForms.length; i++) {
              if (responseForms[i].name == "FORM") {
                newForms.push(responseForms[i]);
              } else if (responseForms[i].name == "STATIC") {
                newStatic.push(responseForms[i])
              }
            }
          }

          this.$store.commit('SET_FORMS', newForms);
          this.$store.commit('SET_STATIC', newStatic);

          this.$message({
            message: 'Le questionnaire a été publié avec succès sur l’application mobile et tablette. Au travail !',
            duration: 5000,
            type: 'success'
          });
        }, (res) => {
          // when the call finishes (no matter the success status) take away the spinner
          this.loading = false;
        });
      }

      // TODO - what to do after save?  Should probably show an save successful/unsuccessful message
    },

    cancelClick : function() {
      // create a copy os that sections changes don't affect origSections
      this.sections = JSON.parse(JSON.stringify(this.origSections));

      this.$message({
        // TODO - message
        message: 'C’est fait ! L’ensemble des mail auto ont été réinitialisés à leur état d\'origine !',
        duration: 5000,
        type: 'success'
      });
    },

    editClick : function() {
      this.showEditWarningPopover = true;
    },

    // "Print" button click handler - open up the brower's print
    printClick : function() {
      this.print = true;
      // wait for vue to update
      this.$nextTick(function(){
        // print the view version, then change back to edit
        window.print();
        this.print = false;
      });
    },

    templateDownloadClick : function() {
      this.showUseTemplatePopover = true;
    },

    selecteTemplateClick : function() {
      this.showUseTemplatePopover = false;
      this.sections = this.selectedTemplate;
      this.templateUsed = true;
    },

    // returns true if this.sections is different from this.origSections
    sectionsChanged : function() {
      if (this.origSections.length != this.sections.length) {
        return true;
      }

      for (let i = 0; i < this.origSections.length; i++) {
        if (!this.sectionsEqual(this.origSections[i], this.sections[i])) {
          return true;
        }
      }

      return false;
    },

    // returns true if the passed sectionA/B are equal to each other
    sectionsEqual : function(sectionA, sectionB) {
      if (sectionA.addedOptions.name != sectionB.addedOptions.name ||
          (
             sectionA.questions != undefined &&
             sectionB.questions != undefined &&
             sectionA.questions.length != sectionB.questions.length
          )) {
        return false;
      }

      if (sectionA.questions != undefined && sectionB.questions != undefined) {
        for (let i = 0; i < sectionA.questions.length; i++) {
          if (!this.questionsEqual(sectionA.questions[i], sectionB.questions[i])) {
            return false;
          }
        }
      }

      return true;
    },

    // returns true if the passed questionA/B are equal to each other
    questionsEqual : function(questionA, questionB) {
      if (questionA.activate_auto_send != questionB.activate_auto_send ||
          questionA.group_id != questionB.group_id ||
          questionA.id != questionB.id ||
          questionA.label != questionB.label ||
          questionA.name != questionB.name ||
          questionA.order != questionB.order ||
          questionA.section != questionB.section ||
          questionA.type != questionB.type || 
          (
             questionA.refvalues != undefined &&
             questionB.refvalues != undefined &&
             questionA.refvalues.length != questionB.refvalues.length
          )) {
        return false;
      }

      if (questionA.refvalues != undefined && questionB.refvalues != undefined) {
        for (let i = 0; i < questionA.refvalues.length; i++) {
          if (!this.refvaluesEqual(questionA.refvalues[i], questionB.refvalues[i])) {
            return false;
          }
        }
      }

      return true;
    },

    // returns true if the passed refvalueA/B are equal to each other
    refvaluesEqual : function(refvalueA, refvalueB) {
      return  refvalueA.activate_auto_send == refvalueB.activate_auto_send &&
              refvalueA.auto_send == refvalueB.auto_send &&
              refvalueA.form_id == refvalueB.form_id &&
              refvalueA.group_id == refvalueB.group_id &&
              refvalueA.id == refvalueB.id &&
              refvalueA.label == refvalueB.label &&
              refvalueA.value == refvalueB.value;
    },

    // Given a forms Json object that is structured like the object returned from a forms server GET call,
    // compute an intermediary object, sections, that is an array of section objects where:
    // 1. Sequential questions with the same "sections" field are collected into one section object's "Questions" field
    // 2. An additional field, "addedOptions", is added to the secitons object that contains additional data like
    //    whether the seciton should be displayed as minimized (used in the edit view, default is false)
    getSections : function(formsJson) {
      let sections = [];
      // sort the form's questions by the "order" field
      let formsSorted = _.sortBy(JSON.parse(JSON.stringify(formsJson)), 'order');
      let curSection = null;
      let curSectionTitle = "";
      // iterate through all of the questions in the given forms
      for (let questionCount = 0; questionCount < formsSorted.length; questionCount++) {
        let question = formsSorted[questionCount];
        
        // check if this question is part of a new section
        if (!curSection || curSectionTitle != question.section) {
          if (curSection) {
            // push the previous section (as long as this isn't the first section)
            sections.push(curSection);
          }
          // get a new section
          curSectionTitle = question.section;
          curSection = { 
            addedOptions : { 
              name : curSectionTitle, 
              minimized : false 
            }, 
            questions : [] 
          };
        }

        if (question.type == "checkbox" || question.type == "radio") {
          // sort the question's options by the "order" field
          // note: this operation won't do anything if the options don't have an order
          question.refvalues = _.sortBy(JSON.parse(JSON.stringify(question.refvalues)), 'order');
          
          // add templates and activate_auto_send
          // the latter is required for reacitivty to work, since vue will only react to an always-existing variable
          for (let optionCount = 0; optionCount < question.refvalues.length; optionCount++) {
            let option = question.refvalues[optionCount];
            let id = option.id
            if (option.auto_send) {
              option.activate_auto_send = "true"; // stored as string on db
            } else {
              // no template
              option.activate_auto_send = ""; // stored as string on db
            }
          }

          // for reacitivty to work, must also have an always-existing variable that tracks whether an option has auto-send enabled
          // for (let optionCount = 0; optionCount < question.refvalues.length; optionCount++) {
          //   question.refvalues[optionCount].activate_auto_send = null; // TODO - should be based on template API call data
          // }
        }

        curSection.questions.push(question);
      }
      // push the last section
      if (curSection) {
        sections.push(curSection);
      }

      return sections;
    }
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/form/form-builder.scss';
</style>