<template lang="jade">
sidebar.phone-sidebar.no-print(v-bind:primary="false")
  .phone-container(slot="sidebar-content")
    .sidebar-control-container
      .show-help-container.sidebar-control(v-if="showPreview" v-on:click="showPreview = false") 
        i.fa.fa-arrow-left.show-arrow
        .spacing
        .sidebar-control-text Ouvrir l'aide
      .show-preview-container.sidebar-control(v-else v-on:click="showPreview = true") 
        .sidebar-control-text Masquer l'aide
        .spacing
        i.fa.fa-arrow-right.show-arrow
      .barrier
    .phone-centered-content(v-if="showPreview")
      img.phone-img(src="../../../static/device-grey.png" alt="Preview")
      .phone-content-container
        .phone-content
          form-viewer(v-bind:title="title" v-bind:sections="sections" v-bind:options="phonePreviewOptions")
    .help-container(v-else)
      .help-title Questionnaire
      .help-sub-header 
        .help-sub-header-p Voir la vidéo tuto et astuces de la page
        .help-sub-header-p Le questionnaire est votre enquête ou moyen de sensibilisation/mobilisation pour le terrain.  Vous pouvez le paramétrer ici et le publier instantanément sur les applications mobile et tablette de toute votre organisation.  Vous pouvez également économiser des heures de travail et améliorer votre impact en paramétrant l’envoi automatique d’email ! yes !  
      .card
        .card-title Attention ! A lire attentivement avant de commencer !
        .card-content 
          | Attention. Une fois le questionnaire publié, nous vous déconseillons de le modifier  fréquemment. Pourquoi ? Une grande partie des statistiques sont générées à partir de ce questionnaire. En modifiant le questionnaire, vous pouvez corrompre les données. Pour tout modification, nous vous conseillons de contacter le support. Par ailleurs avant de vous lancer, vous disposez de modèles à consulter. Si vous n’êtes pas sûr de vous, nous disposons de spécialistes qui peuvent en fonction de vos besoin réaliser vos questionnaires. Contacter nous pour en savoir plus 
          a(href="mailto:team@quorum.co ?subject=Questionnaire") team@quorum.co 
          | ou via le chat. 
      .card
        .card-title Inspirez-vous et bonnes pratiques
        .card-content 
          | En cliquant sur templates prédéfinis vous trouverez des exemples de questionnaires. Une fois le template sélectionné vous pouvez le modifier. 
          br
          | Quelques bonnes pratiques : 
          li Utiliser des mots simples, compréhensibles par tous
          li Envisager le questionnaire comme une conversation. N’hésitez pas à le réciter à haute voix
          li Ne faites pas de questions trop longues à lire sur le terrain. 
          li Ne dépasser un nombre déraisonnable de questions. 
          li N’hésitez pas à ajouter des indications à l’enquêteur entre parenthèses. 
      .card
        .card-title Le Mail-automatique, kesako ?
        .card-content Le Mail automatique vous permet d’économiser des heures de travail et d’améliorer votre impact.
      .card
        .card-title Comment est-ce organisé ?
        .card-content 
          | Le Questionnaire est organisé par sections et par questions. 
          | Les sections sont comme des moments dans la conversations, des thèmes. Les questions peuvent être de différentes formes : Réponse courte, Case à cocher, Choix multiple, Date, et Gamme. 
      .card
        .card-title Je veux modifier mon questionnaire
        .card-content Tout d’abord, prenez conscience que modifier les questions peut vicier l’ensemble de vos statistiques. Vous voulez tout de même le modifier ? Ok ! Contactez un membre de notre équipe support par le chat, par téléphone (selon votre abonnement) ou par e-mail (Pas de panique ! Le délai moyen de réponse du support par email est de 27 min.)
      .card
        .card-title Mes équipes ne sont pas rompus au numérique
        .card-content No stress. En cliquant sur l’icône “imprimer”, le questionnaire se formate automatiquement en gabarit papier, près pour le terrain. Vous n’avez plus qu’au retour à saisir les résultats sur tablette / mobile ou l’application web. Nous offrons également des services de reconnaissance automatique des questionnaires papier. Pour plus d’information nous contacter.  

</template>

<script>
export default {
  name : 'form-phone-sidebar', 

  components : {
    'sidebar'     : require('../structure-module/sidebar.vue'),
    'form-viewer' : require('./form-viewer.vue'),
  },

  props : ["title", "sections"],

  data : function() {
    return {
      showPreview : true,

      phonePreviewOptions : {
        optionsDisplay : "rows"
      },
    }
  },
}
</script>

<style lang="scss">
@import '../../assets/scss/form/form-sidebar.scss';
</style>