<template lang="jade">
.autosend-settings-container
  .card.card-spacing.card-columns
    .autosend-email-edit
      .card-title Paramètres de mail auto
      input-dropdown.text-input.spacing-between(title="Expéditeur" placeholder="Expéditeur" v-bind:options="possibleSenders" v-model="senderIndex")
      //- TODO - allow users to include tags in subject?
      text-input-border.text-input.spacing-between(title="Sujet" placeholder="Sujet" v-model="subject")
      text-input-long.text-input.spacing-between(title="Entête" placeholder="Entête" v-bind:includeTags="true" v-bind:tags="tags" v-bind:tagClass="autosendClass" v-model="header")
      text-input-long.text-input.spacing-between(title="Bas de email" placeholder="Bas de email" v-bind:includeTags="true" v-bind:tags="tags" v-bind:tagClass="autosendClass" v-model="footer")
    .autosend-email-preview-container
      .autosend-email-preview
        .autosend-preview-sender.autosend-preview-details
          span.autosend-preview-descriptor De: 
          span {{ sender }}
        .autosend-preview-subject-container.autosend-preview-details
          span.autosend-preview-descriptor Subject: 
          span {{ subject }}
        .autosend-preview-email-body
          .autosend-preview-header(v-html="header")
          .autosend-preview-dummy-section Messages de réponse
          .autosend-preview-footer(v-html="footer")
  .card.card-spacing 
    .card-title Valeurs variables
    text-input-border.text-input.first(title="Sexe Label Homme" placeholder="Sexe Label Homme" v-model="gender_label_homme")
    text-input-border.text-input.middle(title="Sexe Label Femme" placeholder="Sexe Label Femme" v-model="gender_label_femme")
    text-input-border.text-input.last(title="Sexe Label Neutre" placeholder="Sexe Label Neutre" v-model="gender_label_neutre")
  
</template>

<script>
import $ from "jquery"
import { autosend } from '../mixins/autosend-mixin.js';
import  { mapGetters, mapActions } from 'vuex'

export default {
  name: 'autosend-settings',

  mixins : [ autosend ],

  components : {
    'input-dropdown' : require('../general/input-dropdown.vue'), 
    'text-input-border'   : require('../general/text-input-border.vue'),
    'text-input-long'     : require('../general/text-input-long.vue'),
  },

  data : function() {
    return {
      possibleSenders : [],
      senderIndex : -1,
      sender : "",

      subject : "",
      header : "",
      footer : "",
      gender_label_homme : "",
      gender_label_femme : "",
      gender_label_neutre : "",

      tags : [
        this.getTag("gender"),
        this.getTag("firstname"),
        this.getTag("surname"),
      ]
    }
  },

  computed : {
    ...mapGetters({
      'emailaccs'                    : 'emailaccs',
      'autosend_email_acc_id'        : 'autosend_email_acc_id',
      'autosend_subject'             : 'autosend_subject',
      'autosend_header'              : 'autosend_header',
      'autosend_footer'              : 'autosend_footer',
      'autosend_gender_label_homme'  : 'autosend_gender_label_homme',
      'autosend_gender_label_femme'  : 'autosend_gender_label_femme',
      'autosend_gender_label_neutre' : 'autosend_gender_label_neutre',

      'info_campagne'                : 'info_campagne',
    }),
  },

  watch : {
    emailaccs : function() {
      this.setPossibleSenders(this.emailaccs);
    },
    autosend_email_acc_id : function() {
      this.updateSender();
    },
    autosend_subject : function() {
      this.subject = this.autosend_subject;
    },
    autosend_header : function() {
      this.header = this.varToTag(this.autosend_header);
    },
    autosend_footer : function() {
      this.footer = this.varToTag(this.autosend_footer);
    },
    autosend_gender_label_homme : function() {
      this.gender_label_homme = this.autosend_gender_label_homme;
    },
    autosend_gender_label_femme : function() {
      this.gender_label_femme = this.autosend_gender_label_femme;
    },
    autosend_gender_label_neutre : function() {
      this.gender_label_neutre = this.autosend_gender_label_neutre;
    },
    gender_label_homme : function() {
      this.$store.commit("SET_AUTOSEND_GENDER_LABEL_HOMME", this.gender_label_homme);
    },
    gender_label_femme : function() {
      this.$store.commit("SET_AUTOSEND_GENDER_LABEL_FEMME", this.gender_label_femme);
    },
    gender_label_neutre : function() {
      this.$store.commit("SET_AUTOSEND_GENDER_LABEL_NEUTRE", this.gender_label_neutre);
    },
    sender : function() {
      this.$store.commit("SET_AUTOSEND_SENDER", this.sender);
    },
    subject : function() {
      this.$store.commit("SET_AUTOSEND_SUBJECT", this.subject);
    },
    header : function() {
      this.$store.commit("SET_AUTOSEND_HEADER", this.tagToVar(this.header));
    },
    footer : function() {
      this.$store.commit("SET_AUTOSEND_FOOTER", this.tagToVar(this.footer));
    },

    senderIndex : function() {
      if (this.emailaccs.length > this.senderIndex) {
        this.sender = this.emailaccs[this.senderIndex].address;
        this.$store.commit("SET_AUTOSEND_EMAIL_ACC_ID", this.emailaccs[this.senderIndex].id);
      }
    }
  },

  mounted : function() {
    this.getAutosend();
    this.getEmailaccs();
    this.setupHTML();

  },
  beforeDestroy : function(){
    this.save_autosend();
  },

  methods : {
    ...mapActions({
      'getAutosend'  : 'SETUP_AUTOSEND',
      'getEmailaccs' : 'GET_EMAILACCS', 
      'save_autosend' : 'SAVE_AUTOSEND',
    }),

    setupHTML : function() {
      this.setPossibleSenders(this.emailaccs);
      this.updateSender();
      this.sender = this.autosend_sender;
      this.subject = this.autosend_subject;
      this.header = this.varToTag(this.autosend_header);
      this.footer = this.varToTag(this.autosend_footer);
      this.gender_label_homme = this.autosend_gender_label_homme;
      this.gender_label_femme = this.autosend_gender_label_femme;
      this.gender_label_neutre = this.autosend_gender_label_neutre;
    },

    // need to properly set the sender and sender index in both cases where the 
    // autosend or emailaccs call returns first
    setPossibleSenders : function(emailaccs) {
      let vueComponent = this;
      // extract the "address" field from the array of object
      this.possibleSenders = emailaccs.map(function(emailacc, index) {
        if (vueComponent.autosend_email_acc_id == emailacc.id) {
          vueComponent.senderIndex = index;
        }
        return emailacc.address;
      });
    },

    updateSender : function() {
      for (let i = 0; i < this.emailaccs.length; i++) {
        if (this.autosend_email_acc_id == this.emailaccs[i].id) {
          this.senderIndex = i;
          return;
        }
      }
    },
  },

}
</script>

<style lang="scss">
@import '../../assets/scss/settings/autosend-settings.scss';
</style>
