<template lang="jade">
.campaign
  .campaign-view.campaign-container.card.card-spacing(key="campaign-view")
    .campaign-details
      .campaign-name {{ info_campagne.name }}
      .campaign-end.campaign-info 
        .text-secondary Fin de la Campagne:&nbsp
        .text-primary {{ fin_campagne }}&nbsp
        .text-secondary ({{ temps_restant }})
      table.campaign-gestionnaire.campaign-info(v-if="gestionnaireExists")
        tr
          td.text-secondary Gestionnaire:&nbsp
          td.text-primary {{ gestionnaire.firstname }} {{ gestionnaire.surname }}
        tr(v-if="gestionnaire.mail")
          td.text-secondary Email:&nbsp
          td.text-primary {{ gestionnaire.mail }}
        tr(v-if="gestionnaire.phone")
          td.text-secondary Telephone:&nbsp
          td.text-primary {{ gestionnaire.phone }}
    //- .edit-button.campaign-button(v-on:click="editClick()") Edit campaign
  //- TODO - what are you allowed to change here?  check user priviledges

</template>

<script>
import $ from "jquery"
import  { mapGetters, mapActions  } from 'vuex'
import store from '../../store/stateStore.js'
import moment from 'moment'

var user_store = require('../../models/user_store.js');

var currentLang = 'fr';
moment.locale(currentLang);

export default {
  name: 'page-header',
  store: store,

  components : {
    'text-input-border' : require('../general/text-input-border.vue'),
    'popover'           : require('../general/popover.vue'),
  },

  data : function() {
    return {
      newDropdownSelected : false,
      userDropdownSelected : false,

      edit : false,

      gestionnaire : {},
      gestionnaireExists : false,
    }
  },

  computed : {
    ...mapGetters({
      'info_campagne' : 'info_campagne',
      'users'         : 'users',
    }),

    fin_campagne : function () {
      return moment(new Date(this.info_campagne.endofcampain)).format('LL');
    },

    temps_restant : function() {
      return moment(new Date(this.info_campagne.endofcampain)).endOf().fromNow();
    },
  },

  watch : {
    users : function() {
      // there should only be one gestionnaire
      for (let i = 0; i < this.users.length; i++) {
        let role = this.users[i].role;
        if (role != undefined && role.length > 0 && role != 'null' && role != 'user' && role != 'admin') {
          this.gestionnaire = this.users[i];
          this.gestionnaireExists = true;
          return;
        }
      }
      this.gestionnaire = {};
      this.gestionnaireExists = false;
    }
  },

  mounted : function() {
    this.searchUsers();
  },

  methods : {
    ...mapActions({
      searchUsers: 'SEARCH_USER'
    }),

    getEditedUser : function() {
      this.editedUser = JSON.parse(JSON.stringify(this.userConnected));
    },
  },
}
</script>

<style lang="scss">
@import '../../assets/scss/settings/campaign-settings.scss';
</style>
