<template lang="jade">
.profile
  .profile-view.profile-container.card.card-spacing.columns(key="profile-view")
    .user-icon-profile(v-bind:class="getClassFromUser(userConnected)")
      .user-icon-text {{ userInitials }}
    .profile-details
      .profile-name {{ userConnected.firstname }} {{ userConnected.surname }}
      hr
      .profile-email.profile-info(v-if="userConnected.mail") {{ userConnected.mail }}
      
      .profile-phone.profile-info(v-if="userConnected.phone") {{ userConnected.phone }}
      .profile-address.profile-info(v-if="userConnected.address") {{ userConnected.address }}
      hr
      .profile-role.profile-info {{ userRole }} de {{ info_campagne.name }}
    .edit-button.profile-button(v-on:click="editClick()") Mettre à jour votre profil
    .edit-button.profile-button-logout(v-on:click="logOut()") Se déconnecter
  popover.profile-edit-popover-container.no-print(v-if="edit" v-on:closePopover="edit = false")
    .profile-edit.profile-container.card(key="profile-edit" slot="popover-content")
      i.webapp-icons-24px-close.icon-clickable.close-popover(aria-hidden="true" v-on:click="edit = false")
      .popover-title Votre profil
      .profile-details
        .name-container
          text-input-border(title="Prénom" placeholder="Prénom" v-model="editedUser.firstname")
          text-input-border(title="Nom" placeholder="Nom" v-model="editedUser.surname")
        text-input-border#profile-email-input(title="Email" placeholder="Email" v-bind:value="editedUser.mail" v-on:input="emailChange($event)")
          .webapp-icons-24px-mail.icon(slot="side-content")
        text-input-border(title="Telephone" placeholder="Telephone" v-model="editedUser.phone")
          .webapp-icons-24px-phone.icon(slot="side-content")
        text-input-border(title="Adresse" placeholder="Adresse" v-model="editedUser.address")
          .webapp-icons-24px-pin.icon(slot="side-content")
      .save-button.profile-button(v-on:click="saveClick()") 
        .button-text Mettre à Jour

</template>

<script>
import $ from "jquery"
import  { mapGetters  } from 'vuex'
import { emailValidation } from '../mixins/email-validation-mixin.js';
import { userIconColor } from '../mixins/user-icon-color-mixin.js';
import store from '../../store/stateStore.js'

var user_store = require('../../models/user_store.js');
var session_store = require('../../models/session_store.js');

export default {
  name: 'page-header',
  store: store,

  mixins : [ emailValidation, userIconColor ],

  components : {
    'text-input-border' : require('../general/text-input-border.vue'),
    'popover'           : require('../general/popover.vue'),
  },

  data : function() {
    return {
      newDropdownSelected : false,
      userDropdownSelected : false,

      edit : false,

      editedUser : {},
    }
  },

  computed : {
    ...mapGetters({
      'info_campagne' : 'info_campagne',
      'userConnected' : 'userConnected',
    }),

    userInitials : function() {
      if (this.userConnected) {
        return this.userConnected.firstname.substring(0,1).toUpperCase() + this.userConnected.surname.substring(0,1).toUpperCase()
      } else {
        return "";
      }
    },

    // matches role from users.vue
    userRole : function() {
      let role = this.userConnected.role;
      if (role != undefined && role.length > 0 && role != 'null' && role != 'user') {
        if (role == 'admin') {
          return 'Militant opérationnel';
        } else {
          return 'Gestionnaire';
        }
      }
      return "Militant terrain";
    },
  },

  methods : {
    getEditedUser : function() {
      this.editedUser = JSON.parse(JSON.stringify(this.userConnected));
    },

    editClick : function() {
      this.getEditedUser();
      this.edit = true;

      if (!this.validateEmail(this.editedUser.mail)) {
        // since this is the current email, this should never run, but just incase
        $("#profile-email-input").addClass("invalid");
      } else {
        $("#profile-email-input").removeClass("invalid");
      }
    },

    saveClick : function() {
      // TODO - validation?  is it done in back end?  front end???
      // also relates to user/contacts page

      // validate email on front end
      if (this.validateEmail(this.editedUser.mail)) {
        user_store.update(this.$router, this.editedUser, (res) => {
          this.$store.commit("SAVE_USER_CONNECTED", this.editedUser);
          
          this.edit = false;

          this.$message({
            message: 'Mise à jour du profil réussie',
            duration: 5000,
            type: 'success'
          });
        });
      } else {
        this.$message({
          message: 'Email invalide',
          duration: 5000,
          type: 'error'
        });
      }

    },

    emailChange : function(value) {
      this.editedUser.mail = value;
      if (!this.validateEmail(value)) {
        $("#profile-email-input").addClass("invalid");
      } else {
        $("#profile-email-input").removeClass("invalid");
      }
    },

    logOut: function() {
      // Il faut supprimer l'user courant dans le localStorage ainsi que dans Vuex quand l'on se deconnecte
      // Suppression de l'user courant dans Vuex
      store.commit('LOGOUT');

      session_store.delSession(this, (app) => {
        //app.login = true;
      });

      // Redirection vers la page de connexion
      this.$router.push({name:'login'})
    }
  },
}
</script>

<style lang="scss">
@import '../../assets/scss/settings/profile.scss';
</style>
