<template lang="jade">
.settings-container
  sub-header.no-print(title="Paramétrer ma campagne")
    div(slot="buttons-container") 
      .header-button.header-button-primary(v-if="tabIndex == 1" v-on:click="saveAutosendClick()") Enregistrer
    tab-select-router(v-bind:tabs="tabs" slot="sub-content")
  router-view
  
</template>

<script>
import $ from "jquery"
import  { mapGetters, mapActions } from 'vuex'

var communication_store = require('./../../models/communication_store.js');

export default {
  name: 'settings',

  components : {
    'loading-popover'   : require('../general/loading-popover.vue'),
    'popover'           : require('../general/popover.vue'),
    'tab-select-router' : require('../general/tab-select-router.vue'),
    'sub-header'        : require('../general/sub-header.vue'),
    'profile'           : require('./profile.vue'),
    'autosend-settings' : require('./autosend-settings.vue'),
  },

  data : function() {
    return {
      tabs : [
        {
          label: "Géneral",
          path:'/parametre/campagne',
          name:'campaign',
        },
        {
          label: "Mail auto",
          path:'/parametre/mailauto',
          name:'autosend-settings',
        }
      ],
    }
  },

  methods : {
    ...mapActions({
      'saveAutosend' : 'SAVE_AUTOSEND',
    }),

    saveAutosendClick : function() {
      this.saveAutosend();

      let data = {
        email : {
          "receiver" : "foo@foo.com",
          "surname" : "foo",
          "firstname" : "Bob",
          "gender" : "H",
        },
        refvalueIds : [588, 590, 595]
      }
      // send email test
      // communication_store.send_email(this.$router, data, (res) => {
      //   console.log(res);
      // })
    },
  },

}
</script>

<style lang="scss">
@import '../../assets/scss/settings/settings.scss';
</style>
