@import './auto-send-common.scss';

// extra .popover-container is necessay so that the .popover-content has higher specificity and so can
// overwride the default background-color
.auto-send-editor-popover-container {
  .popover-content {
    // since the width changes depending on if the preview is visible or not, the popover-content
    // is not the true content, it is more like a sub-container
    // so, don't make it visible or clickable; backgrounds and pointer-events are added back later
    background-color: $transparent;
    pointer-events: none;

    // if the message is too long, the popover preview will expand; 
    // deal with that by adding the backgorund-color only when the preview is dispalyed
    .auto-send-popover.preview {
      background-color: $white;
      // only applies to edit part
      border-radius: $border-radius;
    }

    .auto-send-popover {
      display: flex;

      // this max-width and margin results in, no matter the size, the popover having at least
      // (100% - $auto-send-popover-max-width) / 2 percent of the width as margin on each side 
      // (top, bottom, left and right)
      max-width: $auto-send-popover-max-width;
      margin: calc((100% - #{$auto-send-popover-max-width}) / 2) auto;

      .auto-send-visible {
        // this is actual content, so add back the pointer-events
        pointer-events: all;

      }

      .auto-send-popover-content {
        $border-color: lightgray;

        margin: 0 auto;
        width: $auto-send-content-width;
        padding: $spacing-extra-large;
        box-sizing: border-box;
        background-color: $white;
        float: left;
        // only visible when deactivated
        border-radius: $border-radius;

        .auto-send-title {
          font-size: $title-size;
          font-weight: 500;
          margin-bottom: $spacing;
        }

        .auto-send-info {
          margin-bottom: $spacing;
          font-size: $font-size-em-normal;
          color: $grey-text-help;
        }

        .help-link {
            cursor: pointer;
            color: $green-quorum;
            font-weight: bold;
        }

        .auto-send-question-info-container {
          margin: $spacing-large 0;
          box-sizing: border-box;
          overflow: hidden;
          border: $border-size solid $border-color;
          border-radius: $border-radius;
          padding: $spacing-medium-large;

          .auto-send-question-info {
            display: flex;
            flex-direction: column;

            .auto-send-info-label {
              color: $semi-transparent;
              font-weight: bold;
              font-size: $font-size;
            }

            .auto-send-info-value {
              color: black;
              font-size: $font-size-medium;
            }
          }

          .auto-send-question-barrier {
            border-top: $border-size solid $border-color;
            $barrier-size: $spacing-small;
            margin-top: $barrier-size;
            margin-bottom: $barrier-size;
          }
        }

        .auto-send-toggle {
          display: flex;

          .toggle-button {
            color: $grey-text-help;
            background-color: $white;
            float: left;
            max-width: 40%; /* kind of arbitary... */
            text-align: center;
            padding: $spacing $spacing-medium-large;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            border: 1px solid $border-color;

            .toggle-button-header {
              font-size: $font-size-medium;
              text-align: left;
              width: 100%;
            }

            .toggle-button-content {
              font-size: $font-size-small;
              margin: auto;
            }
          }

          .toggle-button-left {
            border-right: none;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }

          .toggle-button-right {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }

          .toggle-button.selected {
            background-color: $green-quorum;
            color: $white;
          }
        }

        .auto-send-editor-container {
          margin: $spacing-large 0;

          .auto-send-editor-header {
            overflow: hidden;
            font-size: $font-size;
            margin-bottom: $spacing-small;

            .auto-send-editor-description {
              float: left;
            }
            .auto-send-message-templates-button {
              color: $green-quorum;
              cursor: pointer;
              float: right;
            }
          }

          .quillWrapper {
            .ql-toolbar {
              border-top-left-radius: $border-radius;
              border-top-right-radius: $border-radius;
            }

            .quill-editor-container.ql-container {
              border-bottom-left-radius: $border-radius;
              border-bottom-right-radius: $border-radius;
            }
          }
        }

        .auto-send-popover-controls {
          $font-size-controls: $font-size-medium;

          overflow: hidden;
          margin-top: $spacing-large;

          font-size: $font-size-controls;

          display: flex;

          .auto-send-popover-control-filler {
            flex-grow: 1;
            text-align: right;
          }

          .auto-send-popover-control {
            color: $subtle-transparent;
            font-size: $font-size-medium;
            cursor: pointer;
          }

          .auto-send-popover-control + .auto-send-popover-control {
            margin-left: $spacing-large;
          }

          .auto-send-popover-control-secondary {
            margin-top: auto;
            margin-bottom: auto;
          }

          .auto-send-popover-control.auto-send-popover-control-primary {
            $padding-height: $spacing;
            // the text takes roughly 1.5 times its height
            $height: calc(2 * #{$padding-height} + 1.5 * #{$font-size-controls});
            
            box-sizing: border-box;
            height: $height;
            padding: $padding-height calc(#{$height} / 2);
            
            color: $green-quorum;

            border: $border-size solid $green-quorum;
            border-radius: $height;
          }

          // TODO - needs more work, doesn't look inactive
          .auto-send-popover-control-primary.inactive {
            $inactive-color: $subtle-transparent;
            color: $inactive-color;
            border-color: $inactive-color;
            cursor: default;
          }
        }
      }
    }
  }
}


// MEDIA QUERIES
@media all and (max-width: 62em) {

  .auto-send-editor-popover-container {

    .popover-content {
      $border-color: lightgray;
      width: $popover-content-width-responsive;

      .auto-send-popover-content {

        width: 95% !important;


      
        .auto-send-info {
          display: none;
        }

        .auto-send-toggle {
          flex-direction: column;



          .toggle-button{
           max-width: 100% !important;
           text-align: left;
          }


          .toggle-button-left {
            border-right: 1px solid $border-color !important;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }

          .toggle-button-right{
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;

          }
        }


        .auto-send-popover-controls{
          flex-direction: column;
          align-items: center;

        }

        .auto-send-popover-control + .auto-send-popover-control{
          margin-left: $spacing !important;
          margin: $spacing;
        }

      }

    }

    .auto-send-popover-preview{
      display: none;
    }

  }




}
