@import './auto-send-common.scss';

.auto-send-popover-preview {
  background-color: $background-grey;
  padding: $spacing-extra-large;
  width: calc(100% - #{auto-send-content-width});
  box-sizing: border-box;
  float: left;
  font-size: $font-size;
  display: flex;

  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  .auto-send-email-container {
    background-color: $white;
    border: $border-size solid $line-grey;
    margin: auto;
    padding: 0 $spacing;

    .auto-send-dummy-section {
      background-color: $background-grey;
      padding: $spacing;
    }

    .auto-send-preview-content {
      background-color: $light-grey;
      // message is wrapped in <p> tags, which already have a vertical margin
      padding: $spacing;
      overflow: hidden;

      min-height: calc(#{$font-size} + 2*#{$spacing});
    }

    .auto-send-preview-section + .auto-send-preview-section {
      margin-top: $spacing;
    }
  }
}
