@import './auto-send-common.scss';

$dot-selected-color: $green-quorum;

.auto-send-help-popover-container {
  
  .popover-content {
    width: $auto-send-content-width;
    background-color: $white;
    
    .auto-send-help-popover {
      overflow: hidden;
      position: relative;
      pointer-events: all;

      .close-icon {
        position: absolute;
        top: $spacing-small;
        right: $spacing-small;
      }
      
      .auto-send-help-header {
        background-color: $light-grey;
        text-align: center;
        padding: $spacing-large;
        font-size: $title-size;
      }

      .auto-send-help-body {
        // TODO - lots of white space until content for this is figured out
        margin: $spacing-extra-large 0;
        text-align: center;
        display: flex;
        flex-direction: column;

        .auto-send-help-content-container {
          display: flex;
          flex-grow: 1;
          margin: $spacing-large;
          
          .auto-send-help-page-control-container {
            display: flex;
            cursor: pointer;

            .auto-send-help-page-control {
              margin: auto $spacing-large;
            }
          }

          // add extra specificity so that arrow doesn't highlight on hover
          div.auto-send-help-page-control-container.inactive {
            cursor: default;
            color: black;
          }

          .auto-send-help-page-control-container:hover {
            color: $dot-selected-color;
          }

          .auto-send-help-text {
            flex-grow: 1;
            margin: auto;
          }
        }

        .auto-send-help-page-view {

          .page-dot {
            display: inline-block;
            margin: $spacing;
            border: $heavy-border-size solid $light-grey;
            border-radius: 50%;
            height: 1em;
            width: 1em;
            cursor: pointer;
          }

          .page-dot.selected {
            background-color: $dot-selected-color;
            border-color: $dot-selected-color;
          }
        }
      }
    }  
  }
}
