@import '../../shared/shared-styles.scss';

$auto-send-content-width: 60%;

$auto-send-popover-max-width: 90%;

$popover-min-height: 40%;

$border-radius: $spacing;

$popover-content-width-responsive: 100%;

$autosend-tag-factor: 1.8;
$autosend-tag-margin-divisor: 3;

.autosend-img-tag {
  height: calc(#{$autosend-tag-factor} * 1em);
  margin-bottom: calc(-1 * 1em / #{$autosend-tag-margin-divisor});
}
