<template lang="jade">
#user-list-container
    #page-container.pure-u-md-24-24(v-if="usersCount > 0")
      #scroll-container.pure-u-md-10-24
          .relative
            .pure-u-md-24-24.responsive-resize
              //- TODO - fix borders, may need more consistent way of displaying borders (parent should probably have right-border)
              sub-header(title="Équipe")
                div(slot="controls-container")
                  i.fa.fa-plus.new-user-plus(v-on:click.prevent="newUser()")
              USERS
      .pure-u-md-10-24.sidebar-general
        .sidebar-container
          SIDEBAR-CONTAINER

    div(v-else-if="usersCount === 0").no-results
      h1 Aucun résultat
    div(v-else)
    //- <div> laissée vide pour ne rien afficher pendant le chargement des données
  //- div(v-else)

</template>

<script>
import store from '../../../store/stateStore.js'

import  { mapGetters, mapActions } from 'vuex'
var user_store = require('../../../models/user_store.js');
var _ = require('underskore');



export default {
  name: 'user-list',

  components : {
    'sub-header' : require('../../general/sub-header.vue'),
    'USERS' : require('./sub-components/users.vue'),
    'SIDEBAR-CONTAINER' : require('./sub-components/sidebar-container.vue'),
    'MSG-HOME' : require('./sub-components/msg-home.vue'),
  },

  computed : {
    ...mapGetters({
      'usersCount' : 'usersCount',
      'user' : 'user',
      'userConnected' : 'userConnected',
      'new_user' : 'new_user',
    }),
  },

  methods : {
    ...mapActions({
      search: 'SEARCH_USER'
    }),

    newUser : function() {
      this.$store.commit('DELETE_ACTIVE_USER');
			this.$store.commit('LOADING', true);
			this.$store.commit('EDIT', true);
			this.$store.commit('SET_ACTIVE_USER', {"Password":""});
		  this.$store.commit('LOADING', false)
    }
  },

  beforeMount : function() {
      var params = {
        'group_id' : this.userConnected.group_id.toString()
      }

    this.$store.commit('DELETE_ACTIVE_USER');
    this.$store.commit('RESET_FILTERS');
    this.search()
  },

  mounted : function() {
    if (this.new_user) {
      this.newUser();
    }
    this.$store.commit("RESET_NEW_USER");
  },

  beforeDestroy : function() {
    this.$store.commit('EDIT', false);
  },
}

</script>

<style lang="scss">
@import '../../../assets/scss/user-management/user-list.scss';
</style>
