<template lang="jade">
.home-questionnaire
  .questionnaire-img-container
      img.questionnaire-img(src="../../../static/images/questionnaire-img.jpg")
  h2.questionnaire-title
    | Découvrez le
    br 
    | questionnaire
  .questionnaire-text
    p Créez et personnalisez le questionnaire transmis aux militants sur le terrain.
    .questionnaire-cta
      a.questionnaire-cta-link(@click.prevent="routeTo('form-builder')")
        | Accéder au questionnaire
</template>

<script>
export default {
  name: 'home-questionnaire',
  components : {
  },
  methods:{
    routeTo:function(destination){
      this.$router.push({name:destination }); 
    },
  }
}
</script>

<style lang="scss">
	@import '../../assets/scss/home/home-questionnaire.scss';
</style>