<template lang="jade">
.home-footer
  .footer-content
    .footer-item
      .webapp-icons-24px-lock.footer-icon
      | Connexion sécurisée
    .footer-item-center
      .footer-item
        a.footer-link(href="#")
          .webapp-icons-24px-support.footer-icon
          | Contact support 
      .barrier
          | &nbsp; | &nbsp;
      .footer-item
        a.footer-link(href="#")
          | Mention légales
      .barrier
          | &nbsp; | &nbsp;
      .footer-item
        a.footer-link(href="#")
          | CGU & Politique de confidentialité
    .footer-item
      | &copy; QUORUM 2017
      
    
</template>

<script>
	import  { mapGetters  } from 'vuex'
    export default {
      name: 'home-footer',
	      computed : {
		      }
    }
</script>

<style lang="scss">
	@import '../../assets/scss/home/home-footer.scss';
</style>