<template lang="jade">
.home-summary
  .card-container
    .line
      .card-summary
        .content-card
          .stat-number {{total_hit}} 
          .stat-name Contacts en base
      .card-summary
        .content-card
          .stat-number  {{contacts_avec_email}}
          .stat-name Avec un email renseigné
      .card-summary
        .content-card
          .stat-number {{contacts_avec_tel}}
          .stat-name Avec un numéro de téléphone renseigné
    .line
      .card-summary
        .content-card
          .stat-number {{info_campagne_formated}}
          template(v-if="info_campagne_formated.substring(0, 2)==='il'")
            .stat-name c'était la fin de la campagne
          template(v-else)
            .stat-name c'est la fin de la campagne
      .card-summary
        .content-card
          .stat-number {{usersCount}}
          .stat-name Utilisateurs
      .card-summary
        .content-card
          .stat-number {{percentage_femmes}}
          .stat-name de contact féminin
  .map-container
    div#homeMap.pure-u-md-18-24.map
</template>

<script>
import  { mapActions, mapGetters } from 'vuex'
var cryptoJS = require('crypto-js')
import Datepicker from 'vuejs-datepicker';
import moment from 'moment';
import Leaflet from 'leaflet'
import turf from 'turf'
import $ from "jquery"
import 'leaflet-draw'
import leafletImage from 'leaflet-image'
//import LeafletMarkerCluster from 'leaflet.markercluster'
import '../../assets/js/leaflet-heat.js'
import store from '../../store/stateStore.js'


var _ = require('underskore');
var contact_store = require('../../models/contact_store.js');

export default {
  name: 'home-summary',
  data : function () {
    return {
      userConnected : this.$store.getters.userConnected,
      searchInput : "",
      query : this.$store.getters.query,
      polygon : this.$store.getters.polygon,
      bdv_label : [],
      bdv_data : [],
      age_data : [],
      gender_label : [],
      asc:this.$store.getters.order,
      tags: [],
      options: [
        {
          value:'all',
          label:'Recherche globale'
        },{
          value: 'name',
          label: 'Recherche par nom'
        }, {
          value: 'firstname',
          label: 'Recherche par prénom'
        }, {
          value: 'address',
          label: 'Recherche par ville'
        }
      ],
      sort_result : this.$store.getters.sort_result,
      age_filter : this.$store.getters.age_filter,
      age_options : [
          {
              value:'0',
              label : 'Age non renseigné'
          },
          {
              value: '1',
              label: '- 18 ans'
          },
          {
              value: '2',
              label: '18 - 25 ans'
          },
          {
              value: '3',
              label: '25 - 35 ans'
          },
          {
              value: '4',
              label: '35 - 50 ans'
          },
          {
              value: '5',
              label: '50 - 65 ans'
          },
          {
              value: '6',
              label: '+ 65 ans'
          }
      ],
      bdv_filter : this.$store.getters.bdv_filter,
      bdv_options : [],
      sexe_filter : [],
      email_filter : [],
      result_index : this.$store.getters.result_index,
      lastchange_filter : this.$store.getters.lastchange_filter,
      lastchange_date :null,
      mapFoo : null,
      markerList : [],
      dataList : [],
      markers : null,
      mapInitialized : false,
      heats : L.layerGroup([]),
      METABASE_SITE_URL : "https://hq.quorumapps.com",
      METABASE_SECRET_KEY : "fe2aa7cba35dcc8c2dc9db89a6d11022988ed02a602b57bb3c27af73436b4df1",
    }
  },

  computed : {
    ...mapGetters({
      'form_filter' : 'form_filter',
      'active_request' : 'active_request',
      'kpi_view': 'kpi_view',
      'contacts' : 'contacts',
      'total_hit' : 'total_hit',
      'contactsCount' : 'contactsCount',
      'locationSummaryGeoHash' : 'location_summary_geohash',
      'totalCount' : 'total_count',
      'geohash_array' : 'geohash_array',
      'info_campagne':'info_campagne',
      'contacts_sans_email':'contacts_sans_email',
      'contacts_sans_tel':'contacts_sans_tel',
      'percentage_HF':'percentage_HF',
      'usersCount':'usersCount'
      }),
        percentage_femmes : function(){
          return (this.percentage_HF.femmes/this.total_hit*100).toString().substring(0, 2)+'%'
        },
        info_campagne_formated:function(){
          if (this.info_campagne.endofcampain!=undefined){
            moment.locale('fr');
            return moment(this.info_campagne.endofcampain).fromNow()
            //return 3
            //moment(this.lastchange_filter).format("YYYY-MM-DDTHH:mm:ssZ")
          }else{
            return ''
          }
        },
        contacts_avec_tel:function(){
          console.log(this.contacts_sans_tel)
          return this.total_hit-this.contacts_sans_tel
        },
        contacts_avec_email:function(){
          return this.total_hit-this.contacts_sans_email
        },
        svg : function(){
          let retour = null;
          if (this.$refs.extiframe){
            retour = this.$refs.extiframe
          }
          return retour
        },
        iframeUrlMetabaseDashboard : function(){
          var payload = {
            "resource": { "dashboard": 4 },
            "params": {
              "id": this.userConnected.group_id
            }
          };
          return this.generateURL(payload,"dashboard")
        },
        Nombre_de_contacts : function(){
          var payload = {
            "resource": { "question": 8 },
            //"resource": { "question": 1 },
            "params": {
              "group_id":this.userConnected.group_id
            }
          };
          var url = this.generateURL(payload,"question")
          //console.log(url);
          return url
        },
  },
  
  beforeDestroy : function() {
    this.resetFilters()
  },
  
  beforeMount : function() {
    var filter =new Array (this.userConnected.group_id.toString(), 'all', '11', '0', '', '','', 'firstname', 'true');

    var params = {  'group_id' : this.userConnected.group_id.toString(), }
    this.$store.commit('SET_FILTERS', params);

    this.setFilter();
    this.search();
    this.generate_kpi();
    this.updateLocationSummaryGeoHash();

  },

  mounted : function(){
    this.mapFoo = L.map('homeMap',{
      minZoom : 1,
      zoomControl : false,
      dragging:false,
      boxZoom:false,
      touchZoom:false,
      bounceAtZoomLimits:false,
      tap:false,
      scrollWheelZoom:false,
      keyboard:false,
      doubleClickZoom:false

    }).setView([41.84009,-0.59996], 1);
    
    var main = this;
    
    
    

    main.heats.addTo(main.mapFoo);
    let urlMAP='https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png'
            
    L.tileLayer(urlMAP, {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(main.mapFoo);
  },

  watch :{
    locationSummaryGeoHash : {
        handler : function() {
          var main = this;
          main.dataList = [];
          if (main.geohash_array[0].Map){

            let map_size = main.geohash_array[0].Map.length
              let ratio = Math.round(map_size/10)
              //let ref_value_at_one = main.geohash_array[0].Map[ratio][2]

            let ref_value_at_one = main.geohash_array[0].Map[0][2]
              
            for (let i = 0; i < main.geohash_array[0].Map.length; i++) {
                let latitude = main.geohash_array[0].Map[i][0];
                let longitude = main.geohash_array[0].Map[i][1];
                let value = main.geohash_array[0].Map[i][2];
                let valeur = value/ref_value_at_one;
                
                
                let dataGeohash = [latitude,longitude,valeur];
                main.dataList.push(dataGeohash);

                let marker = L.marker(new L.LatLng(parseFloat(latitude), parseFloat(longitude)));
                this.markerList.push(marker);
                
            }

            main.heats.eachLayer(function(layer) {
              main.heats.removeLayer(layer);
            });
            
            // HEATMAP
            let heat = L.heatLayer(main.dataList, {
              radius: 15,
                    blur: 15, 
                    maxZoom: 18,
                    minOpacity:0.2
            })
            main.heats.addLayer(heat)
        
            
            // if the map hasn't been dragged, let it be free to zoom/pan to make all markers visible
            if (!main.mapBoundsSet) {
               main.mapInitialized = false;
               //main.mapFoo.fitBounds(L.featureGroup(main.markerList).getBounds());
               //main.mapFoo.fitBounds(L.featureGroup(this.markerList).getBounds());
               main.mapFoo.flyToBounds(L.featureGroup(this.markerList).getBounds());
            }
        }else{
          main.heats.eachLayer(function(layer) {
              main.heats.removeLayer(layer);
        });
        }
        },
        deep: true
      },
  },

  methods : {
    ...mapActions({
      search: 'SEARCH_CONTACT',
      updateLocationSummaryGeoHash : 'UPDATE_LOCATION_SUMMARY_GEOHASH',
      generate_kpi: 'GENERATE_KPI'
    }),
     load : function(extiframe){
            
            this.loading = false;
            extiframe.style.visibility="visible";
            
                let x = extiframe.contentWindow.document.getElementsByClassName("EmbedFrame-footer");
                let i;
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }

                let y = extiframe.contentWindow.document.getElementsByClassName("data-reactroot");
                let j;
                for (j = 0; j < y.length; j++) {
                    //y[j].style.font-size = "0.45rem";
                    //y[j].style.font-weight = "bold";
                    //y[j].background-color = "transparent";
                    //y[j].style.display = "none";
                }
            
      },
     base64url :function(source) {
        // Encode in classical base64
        var encodedSource = cryptoJS.enc.Base64.stringify(source);

        // Remove padding equal characters
        encodedSource = encodedSource.replace(/=+$/, '');

        // Replace characters according to base64url specifications
        encodedSource = encodedSource.replace(/\+/g, '-');
        encodedSource = encodedSource.replace(/\//g, '_');

        return encodedSource;
      },

      generateURL:function(payload,type){
        var header = {
          "alg": "HS256",
          "typ": "JWT"
        };

        var stringifiedHeader = cryptoJS.enc.Utf8.parse(JSON.stringify(header));
        var encodedHeader = this.base64url(stringifiedHeader);
        var stringifiedData = cryptoJS.enc.Utf8.parse(JSON.stringify(payload));
        var encodedData = this.base64url(stringifiedData);
        var token = encodedHeader + "." + encodedData;


        var signature = cryptoJS.HmacSHA256(token, this.METABASE_SECRET_KEY);
        signature = this.base64url(signature);
        var signedToken = token + "." + signature;
        var iframeUrlMetabase = this.METABASE_SITE_URL + "/embed/"+type+"/" + signedToken + "#bordered=false&titled=false"
        return iframeUrlMetabase
      },


    updateMap : _.debounce(function() {
          
          let bounds = this.mapFoo.getBounds();
          if (bounds._northEast && bounds._southWest) {
            let poly=[]
            poly.push(bounds._northEast)
            poly.push(bounds.getNorthWest())
            poly.push(bounds._southWest)
            poly.push(bounds.getSouthEast())
            store.commit('SET_POLYGON', poly);
          } else {
            this.resetBoundVars();
          }
          
          this.setFilter();
          this.search();
          this.updateLocationSummaryGeoHash();

          //this.mapFoo.fitBounds(L.featureGroup(this.markerList).getBounds());
          // this.mapFoo.fitBounds(this.bounds, {
          //                 padding: [20, 20],
          //                 maxZoom: 17,
          //                 animate: true,
          //                 pan: {
          //                       duration: 10
          //                   }
          //               });
     }, 500),

    setFilter:function(){
      var params = {
        'group_id' : this.userConnected.group_id.toString(),
        'bdv_filter' : this.bdv_filter.length != 0 && typeof(this.bdv_filter) != 'string' ? this.bdv_filter.join('/') : this.bdv_filter.toString(),
        'age_filter' : this.age_filter.length != 0 && typeof(this.age_filter) != 'string'? this.age_filter.join('/') : this.age_filter.toString(),
        'sexe_filter' : this.sexe_filter.length != 0 && typeof(this.sexe_filter) != 'string' ? this.sexe_filter.join('/') : this.sexe_filter.toString(),
        'sorting' : this.sort_result != '' ? this.sort_result.toString() : 'surname',
        'query' : "",
        'order' : "",
        'result_index': this.result_index.toString(),
        //'lastchange_filter' : this.lastchange_filter.toString(),
        'lastchange_filter' : this.lastchange_filter !="" ? (moment(this.lastchange_filter).format("YYYY-MM-DDTHH:mm:ssZ")).toString():"",
        'email_filter' : this.email_filter.length != 0 && typeof(this.email_filter) != 'string' ? this.email_filter.join('/') : this.email_filter.toString(),
      }
      this.$store.commit('SET_FILTERS', params);
    },

    resetFilters : function() {
      this.$store.commit('RESET_FILTERS');
    },
  }
}
</script>

<style lang="scss">
	@import '../../assets/scss/home/home-summary.scss';
  #homeMap{
        height: 100%;
        width: 100%;
  }
</style>