<template lang="jade">
.home-header
  .msg-container
    h2.header-title Content de te revoir {{ userConnected.firstname }} !
</template>

<script>
	import  { mapGetters  } from 'vuex'
    export default {
      name: 'home-header',
	      computed : {
		    ...mapGetters({
		      'userConnected' : 'userConnected',
		    })
		}
      }
</script>

<style lang="scss">
	@import '../../assets/scss/home/home-header.scss';
</style>