<template lang="jade">
.home-usermanagement
  .add-user-container
      h2.user-title
        |Merci à toute l'équipe pour 
        |votre travail de tous les jours
      .add-user
          text-input-border(title="Invitez un nouveau membre de votre équipe" v-model="mail").user-input
          button(v-on:click.prevent="newUser").add-user-button Ajouter un membre
       .card-user-container
          div(v-for='user in users').card-user
            .content-card
              .user-avatar
                template(v-if="user.role==='admin'")
                      .avatar-user.organizer
                template(v-if="user.role==='superadmin'")
                      .avatar-user.leader
                template(v-if="user.role === undefined || user.role === 'null'|| user.role === 'user'|| user.role.length === 0")
                      .avatar-user.helper
              .user-name
                template(v-if="user.firstname&&user.surname")
                  | {{capitalizeFirstLetter(user.firstname)}} {{user.surname.toUpperCase()}}
  .user-illustration-container
      div
        img.user-illustration(src="/../../static/images/usermanagement-illustration.png", alt="illustration user management")

</template>

<script>
import  { mapActions,  mapGetters  } from 'vuex'
export default {
  name: 'home-usermanagement',
  data:{
    mail : ""
  },
  computed : {
      ...mapGetters({
        'users' : 'users'
      }),
  },
  components : {
    	'text-input-border' : require('../general/text-input-border.vue')
  },
  mounted: function () {
    this.setFilter();
    this.search();
  },
  methods :{
    ...mapActions({
        search: 'SEARCH_USER'
      }),
      newUser : function() {
        this.$store.commit("SET_NEW_USER", true);
      
        this.$store.commit('DELETE_ACTIVE_USER');
        this.$store.commit('LOADING', true);
        this.$store.commit('EDIT', true);
        this.$store.commit('SET_ACTIVE_USER', {password:"",mail:this.mail});
        this.$store.commit('LOADING', false);
        this.$router.push({name: 'users-list'});
      },
      capitalizeFirstLetter:function (string) {
        return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
      },
      setFilter:function(){
        var params = {
          //'sorting' : '',
          //'result_index' : '',
          //'order' : '',
          'nb_results_users' : '4'
        }
        this.$store.commit('SET_FILTERS', params);
      },
  }
}
</script>

<style lang="scss">
	@import '../../assets/scss/home/home-usermanagement.scss';
</style>