<template lang="jade">
.home-app
  .app-phone-container 
    img(src="../../../static/images/app-phone.png" alt="smartphone quorum").app-phone
  .app-content
      h2.app-title
        | Parce qu'une campagne se gagne sur le terrain
      .app-text
        | Connectez le QG de campagne avec les militants sur le terrain pour renforcer l'action.
      .app-logo-store
          a(href='https://play.google.com/store/apps/details?id=com.quorumapps.quorum128598&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1')
            img(alt='Get it on Google Play', src='../../../static/images/playstore.png')
          a(href="itms://itunes.apple.com/fr/app/quorum-campaignapp-mobilisation-election/id1186778175?mt=8")
            img(src="../../../static/images/appstore.png" alt="smartphone quorum")
        
</template>

<script>
export default {
  name: 'home-app',
  components : {
  },
  methods:{
    routeTo:function(destination){
      console.log("sfsffsf")
      this.$router.push({name:destination }); 
    },
  }
}
</script>

<style lang="scss">
	@import '../../assets/scss/home/home-app.scss';
</style>