<template lang="jade">
.home
		home-header
		home-summary
		home-questionnaire
		home-contact
		home-usermanagement
		home-app
		home-footer
			
	//- old version
	//-div.default-KPI
		MSG-HOME
		KPI
</template>

<script>
export default {
  name: 'home',
  components : {
		'home-header' : require('../home-module/home-header.vue'),
		'home-summary' : require('../home-module/home-summary.vue'),
		'home-questionnaire' : require('../home-module/home-questionnaire.vue'),
		'home-contact' : require('../home-module/home-contact.vue'),
		'home-usermanagement' : require('../home-module/home-usermanagement.vue'),
		'home-app' : require('../home-module/home-app.vue'),
		'home-footer' : require('../home-module/home-footer.vue')
  }
}
</script>

<style lang="scss">
	@import '../../assets/scss/home/home.scss';
</style>