<template lang="jade">
.home-contact
  h2.contact-title Nous les avons mobilisés !
  .line-card
    template(v-if="contacts.length==0")
        .card-contact
          .ellipsis personne n'a été mobilisé depuis plus d'un an
    div(v-for='contact,index in orderedContacts' v-if="index<5&&contacts.length>0").card-container
        .card-contact
          .content-card
            .contact-name
              template(v-if="contact.firstname")
                .ellipsis {{capitalizeFirstLetter(contact.firstname)}}
                template(v-if="contact.surname")
                  .ellipsis {{contact.surname.toUpperCase()}}
              template(v-else)
                .ellipsis Individu n°
                .ellipsis {{contact.id.toString()}}
            .contact-adresse.ellipsis {{contact.address.housenumber}} {{contact.address.street}} - {{contact.address.city}}
  a.contact-cta(@click.prevent="routeTo('contacts-list')")
    | Acceder à la communauté
</template>

<script>
import  { mapActions,  mapGetters  } from 'vuex'
import moment from 'moment';
export default {
  name: 'home-contact',
  data : {
    sortKey: 'surname',
    reverse: false,
  },
  computed : {
      ...mapGetters({
        'contacts' : 'contacts'
      }),
      orderedContacts: function () {
        return _.orderBy(this.contacts,'lastchange','desc')
      }
  },
  methods:{

    routeTo:function(destination){
      this.$router.push({name:destination }); 
    },

    ...mapActions({
      search: 'SEARCH_CONTACT'
    }),

    capitalizeFirstLetter:function (string) {
      return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    },

    setFilter:function(){
      var params = {
        'sorting' : '',
        'result_index' : '',
        'order' : '',
        'nb_results' : '100',
        'lastchange_filter' : this.lastchange_filter !="" ? (moment().subtract(1, 'years').format("YYYY-MM-DDTHH:mm:ssZ")).toString():"",
      }
      this.$store.commit('SET_FILTERS', params);
    },
  },
  mounted: function () {
    
    this.setFilter();
    this.search();
  },
  beforeMounted: function () {
    //this.$store.commit('RESET_FORMS_FILTERS')
    this.$store.commit('RESET_FILTERS');
  }
}
</script>

<style lang="scss">
	@import '../../assets/scss/home/home-contact.scss';
</style>