<template lang="jade">
div
	h3 Mobiliser sans limites

	el-row(:gutter='20').bandeau
		el-col(:span='12')
			p Bienvenue sur Quorum ! Depuis l’application web retrouvez tout ce qu’il vous faut pour votre action : <b>organisez</b> , <b>ciblez</b>, analysez les retombées, et paramétrez l’application mobile pour <b>construire</b> votre mouvement depuis le terrain.
			br
			a(href="/static/discover-quorum.pdf" target="_blank") 
				i.fa.fa-chevron-right(aria-hidden='true')
				| Découvrir les concepts de base du Quorum
			div.contact
				a(href="mailto:team@quorumapp.co")
					i.fa.fa-chevron-right(aria-hidden='true')
					| Contacter un membre de l’équipe 
		
		//- liens 
		el-col(:span='6').text-center.quick-access
			router-link(:to="{name : 'contacts-list'}" )
				img(src='/static/icon-geo.png', alt='Quorum')
				p 
					b Recherche ciblée
		el-col(:span='6').text-center.quick-access
			router-link(:to="{name : 'invitation-user'}" )
				img(src='/static/icon-bubble.png', alt='Quorum')
				p
					b Inviter de nouveaux <br/> volontaires
</template>

<style>

</style>
