<template lang="jade">
#contact-list-container
  #page-container.pure-u-md-24-24
    #scroll-container.pure-u-md-14-24
      //- TODO - sidebar should come up to the top; 
      //- suggestion is to make all content under main column in one div, and all sidebar content in another div
      sub-header.pure-u-md-24-24(title="Communauté")

        div(slot="controls-container")
          .nb-result
            template(v-if="contactsCount > 0")
              |(
              .compteur {{this.total_hit}}
              |)
            template(v-else-if="contactsCount === 0").no-results
              | Aucun résultat
          i.fa.fa-plus.new-contact-plus(v-on:click.prevent="newContact()")
      FILTERS.pure-u-md-24-24
      div(v-if="active_request").pure-u-md-24-24.contact
        div(v-if='!is_contact_loading')
          div(v-if="contactsCount > 0")
              CONTACTS


          div(v-else-if="contactsCount === 0").no-results
            h1 Aucun résultat
        div(v-else).contact-loader-container
          div.loader-contact
            i.fa.fa-circle-o-notch.fa-spin.fa-2x.fa-fw
            span.sr-only Loading...

          //- <div> laissée vide pour ne rien afficher pendant le chargement des données
      div(v-else).pure-u-md-17-24.contact-loader-container
        div.loader-contact
          i.fa.fa-circle-o-notch.fa-spin.fa-2x.fa-fw
          span.sr-only Loading...
    .pure-u-md-10-24.sidebar-general
      .sidebar-container
        SIDEBAR-CONTAINER






</template>

<script>
import store from '../../../store/stateStore.js'
import Chartist from 'chartist'

import  { mapGetters, mapActions } from 'vuex'
var charts = require('./charts/generate.js')
var contact_store = require('../../../models/contact_store.js');
var _ = require('underskore');
import $ from "jquery"

var nb_results = '11';

export default {
  name: 'contact-list',

  components : {
    'sub-header'        : require('../../general/sub-header.vue'),
    'tab-select'        : require('../../general/tab-select.vue'),
    'FILTERS'           : require('./sub-components/filters.vue'),
    'CONTACTS'          : require('./sub-components/contacts.vue'),
    'KPI'               : require('./sub-components/kpi.vue'),
    'SIDEBAR-CONTAINER' : require('./sub-components/sidebar-container.vue'),
    'MSG-HOME'          : require('./sub-components/msg-home.vue'),
    'KPI-VIEW'          : require('./sub-components/kpi-view.vue'),
    'SIDEBAR-CONTAINER' : require('./sub-components/sidebar-container.vue'),
    'sidebar'     : require('../../structure-module/sidebar.vue'),


  },

  computed : {
    ...mapGetters({
      'active_request' : 'active_request',
      'contactsCount' : 'contactsCount',
      'kpi_view' : 'kpi_view',
      'userConnected' : 'userConnected',
      'is_contact_loading': 'is_contact_loading',
      'contacts' : 'contacts',
      'total_hit' : 'total_hit',
      'new_contact' : 'new_contact'
    })
  },
  
  data : function () {
    return {
      //old_total_hit:this.total_hit
    }
  }, 

  methods : {
    ...mapActions({
      search: 'SEARCH_CONTACT'
    }),
    ...mapActions({
      generate_kpi: 'GENERATE_KPI'
    }),
    newContact : function() {
      this.$store.commit('DELETE_ACTIVE_CONTACT');
      this.$store.commit('LOADING', true);
      this.$store.commit('EDIT', true);
      setTimeout(function () {
       store.commit('SET_ACTIVE_CONTACT', {"address":{}});
       store.commit('LOADING', false)
     } , 1000)
    },
    compteur : function(count){
      $('.compteur').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: count
        }, {
            duration: 200,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
    }
  },
  beforeMount : function() {
    this.$store.commit('DELETE_ACTIVE_CONTACT');
    this.$store.commit('RESET_FILTERS');
  },
  mounted : function() {
    
    if (this.new_contact) {
      this.newContact();
    }
    this.$store.commit("RESET_NEW_CONTACT");
  },


  beforeDestroy : function() {
    this.$store.commit('EDIT', false);
  },
  watch :{
    total_hit :  function(newtotal_hit) {
          this.compteur(this.total_hit);
          //this.old_total_hit=this.total_hit;
        
      }
    },
}

</script>

<style lang="scss">
  @import '../../../assets/scss/contact/contact-list.scss';
</style>
