<template lang="jade">
div.about
  hr
  h3 Quorum - <a href="#">quorumapp.co</a>
  p Mobiliser et Gagner le terrain
  | L'application pour construire de grands mouvements, depuis son smartphone et son navigateur !
  hr
</template>

<script>
import store from '../../store/stateStore.js'

var contact_store = require('../../models/contact_store.js');


export default {

}

</script>

<style>
.about {
  padding-left: 20px;
}
</style>