<template lang="jade">
.guide-page.pure-u-md-24-24
  .scroll-container.pure-u-md-14-24
    sub-header.no-print(title="Guides et Éléments de langage")
      div(slot="buttons-container") 
        .header-button.header-button-primary(v-on:click="publishClick") Publier mon guide
    .block-container(v-bind:class="{ 'flex' : editableCampagnes.length == 0}")
      .guide-container(v-if="editableCampagnes.length")
        .campagnes(v-sortable="makeCampagnesSortable")
          .campagne(v-for="(campagneObj, campagneIndex) in editableCampagnes" key="campagneObj.campagen.label")
            .webapp-icons-24px-close.close-icon.icon.icon-hover(aria-hidden="true" v-on:mouseenter="closeMouseEnter($event)" v-on:mouseleave="closeMouseLeave($event)" v-on:click="closeClick(campagneIndex)")
            .campagne-content
              .campagne-header-container
                .drag-icon-container(v-bind:class="{ minimized : campagneObj.addedOptions.minimized }")
                  .webapp-option-point-copy.icon.icon-hover(aria-hidden="true")
                .title-line
                  .minimize-container
                    .icon.icon-hover.icon-section(aria-hidden="true" v-bind:class="(campagneObj.addedOptions.minimized ? 'webapp-icons-24px-arrow-right' : 'webapp-icons-24px-arrow-down')" v-on:click="minimizeClick(campagneIndex, $event)")
                  text-input(title="Titre du Guide" placeholder="Titre du Message" v-bind:minimized="campagneObj.addedOptions.minimized" v-model="campagneObj.campagne.label")
              .campagne-body(v-bind:class="{ minimized : campagneObj.addedOptions.minimized }")
                textarea.campagne-textarea(rows="5" v-model="campagneObj.campagne.refvalues[0].label" placeholder="Corps du message.")
        .add-campagne(v-on:click="addCampagneClick")
          .add-campagne-title.add-text 
            .webapp-icons-24px-plus.icon.add-icon
            | &nbsp;Nouveau Guide
      .empty-guide-container(v-else)
        //- TODO - add empty image
        .empty-guide
          .empty-image
          .empty-title Vous n’avez pas encore créé de guide ! 
          .empty-description Comme le dit Fréderique Meunier, députée et utilisatrice de Quorum “Une bonne campagne c’est une campagne où l’information circule et où tout le monde dispose d’une information claire et précise.” Et bien c’est ici que ca se passe ! Vous pouvez créer des guides et éléments de langage qui seront disponibles pour tous les membres de votre organisation depuis l’application mobile.
          .button.button-primary(v-on:click="addCampagneClick") + Créer mon premier guide

  sidebar.help-sidebar.pure-u-md-10-24.no-print(v-bind:primary="false")
    .help-container(slot="sidebar-content")
      .help-title Guides
      .help-sub-header Paramétrez ici les éléments de langage et guides pour votre équipe. Il se retrouvent directement publiés sur l’application mobile et tablette onglet “QG”. 
      .card
        .card-title Guider et partager l’information
        .card-content Une bonne campagne c’est une campagne où l’information circule et où tout le monde dispose d’une information claire et précise. Communiquer ici avec l’équipe
      .card
        .card-title Quel contenu mettre dans mon guide ?
        .card-content Vous pouvez y intégrer par exemple : 
          li Des bonnes pratiques, des conseils pour le terrain
          li Vos objectifs des semaines à venir 
          li Les dates des prochains évènements
          li Vos informations de contacts ou les principaux contacts de l’organisation 
          li Votre / Vos positions sur différentes thématiques 
      .card
        .card-title Qui a accès à mes guides / éléments de langage ?

  //- TODO - this should look like a message and appear from above
  .undo-container#undo-popup
    span#undo-popup-text.undo-span.undo-text
    span#undo-popup-button.undo-span.undo-button.button(v-on:click="undoButtonClick") Annuler

  loading-popover(v-if="loading")

</template>

<script>
import $ from "jquery"
import sortable from "../../assets/js/jquery-ui.min.js"
import store from '../../store/stateStore.js'
import Vue from 'vue'
import  { mapGetters } from 'vuex'

var forms_store = require('../../models/forms_store.js');

Vue.directive('sortable', {
  inserted: function (el, binding) {
    binding.value($(el));
  }
});

// TODOS:
// - Break this into components
//   - might want to wait on a third page to find comonalities, but there are definitely shared 
//     elements between this and form-builder (title inputs, close button, undo section, cards,
//     etc.)

export default {
  name : 'form-builder', 

  components : {
    'sub-header'      : require('../general/sub-header.vue'),
    'text-input'      : require('../general/text-input.vue'),
    'loading-popover' : require('../general/loading-popover.vue'),
    'sidebar'         : require('../structure-module/sidebar.vue'),
  },

  computed : {
    ...mapGetters({
      'info_campagne' : 'info_campagne'
    }),

    ...mapGetters({
      'campagnes' : 'campagnes'
    }),
  }, 

  data : function() {
    return {
      editableCampagnes : [],

      // Close/Undo data
      lastClosedEl : {},
      lastClosedIndex : -1,

      draggedIndex : -1,

      loading : false,
    }
  }, 

  watch : {
    campagnes : function() {
      this.editableCampagnes = this.getEditableCampagnes(this.campagnes);
      this.$nextTick(function() {
        this.$store.commit('EDIT', false);
      })
    },

    editableCampagnes : {
      handler: function() {
        // TODO - could do a string comparison with campagnes to see if anything's actually changed
        // check if editableCampagnes is different from campagnes
        if (this.editableCampagnes.length != this.campagnes.length) {
          this.$store.commit('EDIT', true);
          return;
        }

        for (let i = 0; i < this.editableCampagnes.length; i++) {
          if (!this.campagnesEqual(this.editableCampagnes[i].campagne, this.campagnes[i])) {
            this.$store.commit('EDIT', true);
            return;
          }
        }

        this.$store.commit('EDIT', false);
      },
      deep: true,
    }
  },

  mounted : function() {
    this.editableCampagnes = this.getEditableCampagnes(this.campagnes);
  },

  beforeDestroy : function() {
    // TODO - warn user before navigating away from page if is_edited is true
    // the below works for reload/close, but clicking a link should be handled with router/vue
    // window.onbeforeunload = function() {
    //   return true;
    // };

    this.$store.commit('EDIT', false);
  },

  methods: {
    getEditableCampagnes(campagnesJson) {
      let editableCampagnes = [];
      // campagnes don't currently have an order
      let campagnesSorted = _.sortBy(JSON.parse(JSON.stringify(campagnesJson)), 'order');
      for (let i = 0; i < campagnesSorted.length; i++) {
        let campagne = campagnesSorted[i];
        editableCampagnes.push({
          addedOptions : {
            minimized : false,
          },
          campagne : campagne
        });
      }

      return editableCampagnes;
    },

    // returns true if campagne A and B are equal, false otherwise
    // doesn't compare every field, just the ones that are editable/relevent
    campagnesEqual : function(campA, campB) {
      return  campA.group_id === campB.group_id &&
              campA.id === campB.id &&
              campA.label === campB.label &&
              campA.name === campB.name &&
              campA.order === campB.order &&
              campA.refvalues.length === 1 && // campagne should only have one refvalue
              campB.refvalues.length === 1 && 
              campA.refvalues[0].form_id === campB.refvalues[0].form_id &&
              campA.refvalues[0].group_id === campB.refvalues[0].group_id &&
              campA.refvalues[0].id === campB.refvalues[0].id &&
              campA.refvalues[0].label === campB.refvalues[0].label &&
              campA.refvalues[0].value === campB.refvalues[0].value;
    },

    getThisFromEvent : function(event) {
      return $(event.currentTarget);
    },

    publishClick : function() {
      let campagnes = [];
      let campagneOrder = 1; // order value is 1-indexed
      for (let i = 0; i < this.editableCampagnes.length; i++) {
        // ceditableCampagne's object has an addedOptions field, which we don't want
        let campagne = this.editableCampagnes[i].campagne;
        campagne.order = campagneOrder;
        campagneOrder++;
        campagnes.push(campagne);
      }

      // don't allow user to interact with the page; show a loading spinner
      this.loading = true;

      forms_store.overwrite_forms_by_names(this.$router, campagnes, "campagne", (res) => {
        // update this.editableCampagne's objects with returned ids, and commit new campagnes
        // should already be sorted in this order, but just in case
        let campagnesRes = _.sortBy(res.body.data.forms, 'order');
        for (let i = 0; i < this.editableCampagnes.length; i++) {
          this.editableCampagnes[i].campagne = campagnesRes[i];
        }

        this.$store.commit("SET_CAMPAGNES", campagnesRes);

        this.$message({
          message: 'Élément publié avec succès !',
          duration: 5000,
          type: 'success'
        });

        this.$store.commit('EDIT', false);
      }, (res) => {
        // when the call finishes (no matter the success status) take away the spinner
        this.loading = false;
      });
    },

    // Close methods
    // close X icon mouseenter handler - change the color of the selected campagne and all child compoonents the correct colour of red
    closeMouseEnter : function(event) {
      // header
      let closeColorHeader = "#FF4949"
      this.getThisFromEvent(event).parent().find(".campagne-header-container").css("background-color", closeColorHeader);

      // body
      let closeSectionColor = "#F1A9A0"
      this.getThisFromEvent(event).parent().css("background-color", closeSectionColor);
      this.getThisFromEvent(event).parent().find(".option").css("background-color", closeSectionColor);

      // textarea
      let closeQuestionColor = "#FF8373"
      this.getThisFromEvent(event).parent().find("textarea.campagne-textarea").css("background-color", closeQuestionColor);

    },

    // close X icon mouseleave handler - change the color of the selected campagne and all children back to normal
    closeMouseLeave : function(event) {
      // header
      this.getThisFromEvent(event).parent().find(".campagne-header-container").css("background-color", "");

      // body
      this.getThisFromEvent(event).parent().css("background-color", "");
      this.getThisFromEvent(event).parent().find(".option").css("background-color", "");

      // textarea
      this.getThisFromEvent(event).parent().find("textarea.campagne-textarea").css("background-color", "");
    },

    closeClick : function(campagneIndex) {
      let removedEl = this.editableCampagnes.splice(campagneIndex, 1)[0];

      this.lastClosedEl = removedEl;
      this.lastClosedIndex = campagneIndex;

      this.undoAppear("Message supprimé");
    },

    // Minimize methods
    minimizeClick : function(campagneIndex, event) {
      this.editableCampagnes[campagneIndex].addedOptions.minimized = !this.editableCampagnes[campagneIndex].addedOptions.minimized;
    },

    // General title controls
    inputFocus : function(event) {
      $(this.getThisFromEvent(event).parent().find(".input-border")[0]).css("border", "1px solid black");
      this.getThisFromEvent(event).select();
    },

    inputBlur : function(event) {
      $(this.getThisFromEvent(event).parent().find(".input-border")[0]).css("border", "");
    },

    addCampagneClick : function() {
      this.editableCampagnes.push({
        addedOptions : {
          minimized : false,
        },

        campagne : {
          activate : "false",
          group_id : this.info_campagne.id,
          name : "campagne",
          type : "static",
          label : "",
          refvalues : [{
            group_id : this.info_campagne.id,
            value : "",
            label : "",
          }]
        }
      });

      this.$nextTick(function() {
        $($(".campagne")[this.editableCampagnes.length - 1]).find(".campagne-title-input").focus();
      });
    },

    // Help methods
    decrementIndex : function() {
      this.helpIndex = Math.max(0, this.helpIndex - 1);
    },

    incrementIndex : function() {
      this.helpIndex = Math.min(this.helpPages.length - 1, this.helpIndex + 1);
    },

    // Undo methods
    undoAppear : function(text) {
      $("#undo-popup-text").html(text);
      $("#undo-popup").css("display", "block");
      $('#undo-popup').animate({
        bottom: "0"
      }, 250, function() {
        $('#undo-popup').css("bottom", "0")
      });
      
      this.undoTimerForDisappear();
    },

    undoTimerForDisappear : function() {
      let vueComponent = this;
      let setTimer = function() {
        if (vueComponent.popupDisappearTimer) {
          clearInterval(vueComponent.popupDisappearTimer);
        }
        
        vueComponent.popupDisappearTimer = setInterval(function() { vueComponent.undoDisappear() }, 5000);
      }
      
      setTimer();
    },

    undoDisappear : function() {
      let height = "-" + $('#undo-popup').outerHeight() + "px";
          
      $('#undo-popup').animate({
        bottom: height
      }, 250, function() {
        $('#undo-popup').css("bottom", height);
        $("#undo-popup").css("display", "none");
      });
      
      clearInterval(this.popupDisappearTimer);
    },

    undoButtonClick : function() {
      this.undoDisappear();

      this.editableCampagnes.splice(this.lastClosedIndex, 0, this.lastClosedEl)[0];

      let vueComponent = this;
      // give focus to re-added element, once it's been put back in the DOM
      this.$nextTick(function() {
        $($(".campagne")[this.lastClosedIndex]).find(".campagne-title-input").focus();
      });
    },

    makeCampagnesSortable : function(questionVar) {
      let vueComponent = this;
      questionVar.sortable({
        start: function(event, ui) {
          vueComponent.setPlaceholderHeight($(ui.item));
          vueComponent.draggedIndex = vueComponent.getIndexFromItem(ui.item);
        },

        axis: 'y',
        // connectWith: ".sortable-questions, .add-section-target, .add-question-target",
        handle: ".drag-icon-container",
        revert: true,
        // containment: "#editor-container",
        tolerance: "pointer",

        helper: 'clone',
        // appendTo: "#editor-container",

        change: function() {
          $(".ui-sortable-placeholder").css("display", "");
        },

        stop : function(event, ui) {
          vueComponent.reorderSectionsForDrag(ui.item);
        },
      });
    },

    getIndexFromItem : function(item) {
      return $(item).index();
    },

    /* After a drag, the DOM is changed but this.sections doesn't reflect the change.
     * This is a problem because we consider this.sections to be the source of truth, and any
     * operation that causes the DOM to be re-rendered will revert the changes made by the drag
     * This functions fixes the discrepency by reordering the questions in this.sections according to
     * the dragged question's new position based on the DOM
     */
    reorderSectionsForDrag : function(draggedItem) {
      let newIndex = this.getIndexFromItem(draggedItem);
      
      let movedQuestion = this.editableCampagnes.splice(this.draggedIndex, 1)[0];
      this.editableCampagnes.splice(newIndex, 0, movedQuestion);

      /* TODO - the above *should* be all that's required (I think) but it doesn't work - 
       * after certain reorders, the questions display in the wrong order.
       * Before running this function, the questions display correctly, and at this point in
       * the function, this.sections is correct.  However, I believe in the interaction between
       * re-rendering this.sections (Vue) and manually changing the order (jqueryUI) something
       * goes wrong, so even though this.sections is correct now it doesn't display correctly
       *
       * Using jqueryUI here is somewhat an anti-pattern, because re-orders would ideally be
       * handled by changing this.sections, not manipulating the DOM.
       * However, I've tried other sortable libraries and none of them look as good (cursor, 
       * elements actually dragging, more options) so I've decided to stick with jqueryUI  
       *
       * Fix to the problem: force Vue to re-render the affected sections by resetting the entire 
       * this.sections variable (not seen by user)
       * Note: I tried just updating the affected sections, but it caused bugs for templates 
       * when there were other sections, I think defualt (templated) sections are observed differently,
       * could be a TODO          
       */

      let campagnes = this.editableCampagnes.splice(0, this.editableCampagnes.length);
      this.$nextTick(function() {
        // avoid setting this.sections directly
        for (let i = 0; i < campagnes.length; i++) {
          this.editableCampagnes.push(campagnes[i]);
        }
      });
    },

    setPlaceholderHeight : function(item) {
      // for the questions to slide to the right place, must set the height and vertical margins
      let height = item.innerHeight() + "px";
      let marginTop = item.css("margin-top");
      let marginBottom = item.css("margin-bottom");
      $(".ui-sortable-placeholder").css('height', height);
      $(".ui-sortable-placeholder").css('margin-top', marginTop);
      $(".ui-sortable-placeholder").css('margin-bottom', marginBottom);
    },
  }
}
</script>

<style lang="scss">
@import '../../assets/scss/app/guide.scss';
</style>