<template lang="jade">
div.help
    p Plusieurs tutoriels sont à votre disposition afin de mieux comprendre les différentes fonctionnalités offertes par l'application Web Quorum.
    p  Si vous n'avez pas trouver la réponse à votre question, n'hésitez pas à vous rapprocher de votre référent ou à contacter le support.
    ul
          el-row(:gutter='50')
            el-col(:span='12' align="center")
              p
                b Introduction page d'accueil
                .player
                  video-player(ref='videoPlayer', :options='playerOptions')

            el-col(:span='12',align='center')
              p
                b Gestion des utilisateurs
                .player
                  video-player(ref='videoPlayer', :options='playerOptions2')

          el-row(:gutter='50')
            el-col(:span='12' align="center")
              p
                b  Analyser - la recherche
                .player
                  video-player(ref='videoPlayer', :options='playerOptions3')

            el-col(:span='12' align="center")
              p
                b  Analyser - les filtres
                .player
                  video-player(ref='videoPlayer', :options='playerOptions4')

          el-row(:gutter='50')
            el-col(:span='12' align="center")
              p
                b  Analyser - Edition d'un contact
                .player
                  video-player(ref='videoPlayer', :options='playerOptions5')

            el-col(:span='12' align="center")
              p
                b  Insertion d'un nouveau contact
                .player
                  video-player(ref='videoPlayer', :options='playerOptions6')





  //- div.change-password
  //-   el-button.showMC
  //-     i.fa.fa-angle-right(aria-hidden='true')
  //-     | Changer de mot de passe
  //-   el-button.hideMC(style="display:none;")
  //-     i.fa.fa-angle-down(aria-hidden='true')
  //-     | Changer de mot de passe
  //- div.hider(style="display:none")
  //-   p Blabla


</template>

<script>
import store from '../../store/stateStore.js'
import  { mapActions,  mapGetters  } from 'vuex'
import moment from 'moment'

var $ = require("jquery");
var contact_store = require('../../models/contact_store.js');
var _ = require('lodash');

export default {
  name: 'help',
  store,
  data : function () {
    return {
      userConnected : store.getters.userConnected,
      activeNames: ['1'],
      playerOptions: {
          // component options
          start: 0,
          playsinline: false,
          autoplay:false,
          // videojs options
          muted: false,
          language: 'fr',
          playbackRates: [1.0, 1.5, 2.0],
          sources: [{
            type: "video/mp4",
            //src: "https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm"
            src: "/static/webapp_video/page_accueil.mp4"
          }],
          //poster: "/static/images/layers.png",
        },
        playerOptions2: {
            // component options
            start: 0,
            playsinline: false,
            autoplay:false,
            // videojs options
            muted: false,
            language: 'fr',
            playbackRates: [1.0, 1.5, 2.0],
            sources: [{
              type: "video/mp4",
              //src: "https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm"
              src: "/static/webapp_video/user-management.mp4"
            }],
            //poster: "/static/images/layers.png",
          },
          playerOptions3: {
              // component options
              start: 0,
              playsinline: false,
              // videojs options
              muted: false,
              language: 'fr',
              playbackRates: [1.0, 1.5, 2.0],
              sources: [{
                type: "video/mp4",
                //src: "https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm"
                src: "/static/webapp_video/page_analyser_recherche.mp4"
              }],
              //poster: "/static/images/layers.png",
            },
            playerOptions4: {
                // component options
                start: 0,
                playsinline: false,
                // videojs options
                muted: false,
                language: 'fr',
                playbackRates: [1.0, 1.5, 2.0],
                sources: [{
                  type: "video/mp4",
                  //src: "https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm"
                  src: "/static/webapp_video/filtres.mp4"
                }],
                //poster: "/static/images/layers.png",
              },
              playerOptions5: {
                  // component options
                  start: 0,
                  playsinline: false,
                  // videojs options
                  muted: false,
                  language: 'fr',
                  playbackRates: [1.0, 1.5, 2.0],
                  sources: [{
                    type: "video/mp4",
                    //src: "https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm"
                    src: "/static/webapp_video/Edition_contact.mp4"
                  }],
                  //poster: "/static/images/layers.png",
                },
                playerOptions6: {
                    // component options
                    start: 0,
                    playsinline: false,
                    // videojs options
                    muted: false,
                    language: 'fr',
                    playbackRates: [0.7, 1.0, 1.5, 2.0],
                    sources: [{
                      type: "video/mp4",
                      //src: "https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm"
                      src: "/static/webapp_video/insertion_nouveaucontact.mp4"
                    }],
                    //poster: "/static/images/layers.png",
                  }


    }
  },
  mounted() {
        // console.log('this is current player instance object', this.player)
        setTimeout(() => {
          // console.log('dynamic change options', this)
          this.playerOptions.muted = false
        }, 2000)
  },
      computed: {
        player() {
          return this.$refs.videoPlayer.player
        }
      },
}

</script>

<style>
.help {
  padding-left: 20px;
}
.help p {
  margin-bottom: 30px;
  text-align: center;
}
.player {
  text-align: center;
  align-content: center;
  width: 100%;
  min-width: 160px;
  height: auto;
}
.video-js{
  background-color: white !important;
  color: #4990E2 !important;
}
.help ul {
    /*padding: 0;*/
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 0;
    list-style-type: none;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
}
.help li {
  margin-bottom: 15px;
}
.el-row {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

</style>
