<template lang="jade">
div.content.invitation-user
	
	h3 
		i.material-icons group_add
		| Inviter des membres à la campagne

	p Vous utilisez Quorum ! Invitez d'autres membres à vous rejoindre au sein de l'application pour créer le mouvement !
	p Envoyez par mail le texte ci-dessous au personnes que vous souhaiter voir rejoindre votre cause : 

	
	pre.msg-exemple
		p J'utilise Quorum pour ma campagne. Rejoignez-moi au sein de l'application pour mobiliser à mes côtés.
		p Pour cela :
		ul
			li Connectez-vous sur <b>www.quorum.co</b> ou télécharger l'application mobile sur le store Google ou Apple
			li Cliquer sur "Rejoindre une campagne" puis créer votre compte
			li Attention ! Indiquer bien le CODE DE LA CAMPAGNE : il s'agit de <b>[A COMPLETER]</b>

		p Et c'est parti !
	hr
	p Vous êtes perdu ? Demandez-nous, on vous répond : <a href="mailto:support@quorum.co">support@quorum.co</a>
	hr

</template>

<script>
import store from '../../store/stateStore.js'

var contact_store = require('../../models/contact_store.js');


export default {

}

</script>

<style>
.invitation-user h3 {
	font-size: 24px;
	font-weight: normal !important;
	margin-bottom: 35px;
	margin-top:0px;
}

.invitation-user h3 i {
	position:relative;
	top: 7px;
	margin-right: 20px;
	color: rgba(0,0,0,0.5);
	font-size: 30px;
}

.invitation-user pre {
	background-color: rgba(0,0,0,0.8);
	color:#fff;
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}
.invitation-user pre ul {
	margin-bottom: 20px;
}
</style>