<template lang="jade">
div#login-vue
  .container
    .logo-container
      img(src='/static/images/logo-black.png', alt='Quorum')
    form.form-signin
      
      text-input-border(title="Adresse mail",  v-model="userConnected.username", type="email",  placeholder="Entrez votre adresse mail").first
      .text-input-border-container.last
        .text-input-border-content
          .text-input-border-title 
            | Mot de passe
          .input-line-container
            input.text-input-border( v-model="userConnected.password", type="password", placeholder="Entrez votre mot de passe")
    button(title="Commencer la mobilisation", type="submit", v-on:click.prevent="logIn()").login-button Commencer la mobilisation →
        
      //- p.placeholder-mail Adresse e-mail
      //-label.sr-only(for='inputEmail') Adresse mail
    //-  input#inputEmail.form-control( v-model="userConnected.username" type='email', placeholder='E-mail', required='', autofocus='')
      //-p.placeholder-mdp Mot de passe
      //-label.sr-only(for='inputPassword') Mot de passe
      //-input#inputPassword.form-control( v-model="userConnected.password",  type='password', placeholder='Mot de passe', required='')
      
      
    //-button.btn.btn-lg.btn-primary.btn-block(type='submit' v-on:click.prevent="logIn()")  Commencer la mobilisation →
    div.user-actions
      .user-action-1
        router-link(:to="{name: 'recover'}") Mot de passe oublié ?
      .user-action-2
        router-link(:to="{name :'signup'}" style='float:right') Rejoindre une cause
    div.version

      p V 0.1.3





</template>

<script>
import  { mapActions,  mapGetters  } from 'vuex'
import store from '../../store/stateStore.js'
import { Message } from 'element-ui';

var session_store = require('../../models/session_store.js')
var forms_store = require('../../models/forms_store.js')



export default {
  name: 'login',
  store: store,
  editable : {
    default : true,
    type : Boolean
  },

  data () {
    return {
      userConnected: {
        username:null,
        password:null
      }
    }
  },
  
  components : {
  'text-input-border' : require('../general/text-input-border.vue'),
},


  methods : {
    logIn: function() {
      var router = this.$router;
      var obj = this;

      if (this.userConnected.username != '' && this.userConnected.password != '' && this.userConnected.username != null && this.userConnected.password != null) {
        var cb = function() {


            var error = function() {
              store.commit('LOGOUT');
            }


            session_store.me((res) => {
                store.commit('LOGIN', res.body.data.user);

                router.push({name: 'home'});


              }, error);
        }

        var cbError = function(err) {};

        session_store.getSession(this.userConnected, cb, cbError);

      }else {
        var freshMessage = 'Merci de renseigner tous les champs'
        Message({
          message: freshMessage,
          duration:7000,
          type: 'error'
        });
      }
    }
  }

}
</script>

<style lang="scss">
@import '../../assets/scss/app/login.scss';
</style>
