<template lang="jade">
div#login-vue-recover
  .container
    .logo-container
      img(src='/static/images/logo-black.png', alt='Quorum')
    form.form-signin
      p.text-recover Entrez votre adresse email lié à votre compte, ainsi que votre nouveau mot de passe.
      label.sr-only(for='inputEmail') Adresse e-mail
      text-input-border#inputEmail.form-control.recover-field(title="Adresse e-mail" v-model="userConnected.mail" type='text', placeholder='Adresse e-mail', required='', autofocus='')
      .text-input-border-container.first
        .text-input-border-content
          .text-input-border-title 
            | Nouveau mot de passe
          .input-line-container
            input.text-input-border( v-model="userConnected.password", type="password", placeholder="Nouveau mot de passe", required='', autofocus='')
      .text-input-border-container.last
        .text-input-border-content
          .text-input-border-title 
            | Confirmez votre mot de passe
          .input-line-container
            input.text-input-border(v-model="password_confirmation", type="password", placeholder="Confirmez votre mot de passe")
      //-text-input-border.form-control.input-field(title="Confirmez votre mot de passe" v-model="password_confirmation" type="password", placeholder='Confirmez votre mot de passe', required='', autofocus='').last
    button.recover-button(@click.prevent="recover") Envoyer la confirmation
    p.text-recover(style='margin-top:15px;') Vous allez recevoir un email pour confirmer votre changement de mot de passe.

    p.text-center(style='margin-top:15px')
      router-link.link-back(:to="{name : 'login'}" )|← Login


</template>

<script>

var session_store = require('../../models/session_store.js')


export default {
	name : 'recover',

	data : function() {
		return {
			userConnected : {
				mail : null,
				password : null
			},
			password_confirmation : null
		}
	},
  
  components : {
  'text-input-border' : require('../general/text-input-border.vue'),
},



	methods : {

		isValid: function(userConnected) {
			var rgx = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

			if(!rgx.test(userConnected.mail)) {
				this.$message({
		            message: "L'adresse mail n'est pas valide",
		            duration:3000,
		            type: 'error'
		          });

				return false;
			}



			if(!userConnected.password || !this.password_confirmation) {
				this.$message({
		            message: "Vous devez saisir un nouveau mot de passe !",
		            duration:3000,
		            type: 'error'
		          });

				return false;
			}

			if(userConnected.password != this.password_confirmation) {
				this.$message({
		            message: 'Les deux mots de passes ne sont pas identiques',
		            duration:3000,
		            type: 'error'
		          });

				return false;
			}

			return true;

		},

		recover : function() {
			if (this.isValid(this.userConnected)) {
				var obj = this;
				var router = this.$router;

				var cb = function (root) {
					obj.$alert("Votre de demande de nouveau mot de passe a bien été prise en compte, vous aller recevoir un e-mail à l'adresse " + obj.userConnected.mail + " pour confirmer l'opération", 'Demande enregistrée',
						{
				          confirmButtonText: 'OK',
				          callback: action => {
				          	router.push({name: 'login'});
				          }
			        	}
			        );
				}

				var cbError = function(err) {
					obj.$message({
			            message: 'Une erreure est survenue',
			            duration:3000,
			            type: 'error'
			          });
			    }

			    session_store.password(this.userConnected, cb, cbError, this.$root);
			};


		}
	}
}
</script>

<style lang="scss">
@import '../../assets/scss/app/login-recover.scss';
</style>
