<template lang="jade">
.full-screen
  .header.no-print
    .header-button-container
      #delete-button.header-button.button(v-if="!edit" v-on:click="editClick") Modifier
      #save-button.header-button.button(v-if="edit" v-on:click="saveClick") Enregistrer
      #cancel-button.header-button.button(v-if="edit" v-on:click="cancelClick") Annuler
    .header-text-container
      span.header-text Paramètres
  .settings
    .card
      .card-header Paramètres de Profil
      table.settings-table 
        tr.setting-title-text-row.settings-row
          td.setting-title-text(v-bind:class="{ edit : edit }") Nom
          td.setting-title-text(v-bind:class="{ edit : edit }") Prénom
        tr.setting-title-input-row.settings-row
          td.setting-title-input-container(v-if="edit")
            input.setting-title-input(type="text" placeholder="Nom" v-model="editSurname" v-on:focus="inputFocus" v-on:blur="inputBlur" v-on:keyup.enter="$event.currentTarget.blur()")
            .input-border
          td.setting-title-value(v-else v-on:click="textClick") {{ userConnected.surname }}
          td.setting-title-input-container(v-if="edit")
            input.setting-title-input(type="text" placeholder="Prénom" v-model="editFirstname" v-on:focus="inputFocus" v-on:blur="inputBlur" v-on:keyup.enter="$event.currentTarget.blur()")
            .input-border
          td.setting-title-value(v-else v-on:click="textClick") {{ userConnected.firstname }}
        tr.setting-title-text-row.settings-row
          td.setting-title-text(v-bind:class="{ edit : edit }") E-mail
        tr.setting-title-input-row.settings-row
          td.setting-title-input-container(v-if="edit")
            input.setting-title-input(type="text" placeholder="E-mail" v-model="editMail" v-on:focus="inputFocus" v-on:blur="inputBlur" v-on:keyup.enter="$event.currentTarget.blur()")
            .input-border
          td.setting-title-value(v-else v-on:click="textClick") {{ userConnected.Mail }}
    .card
      .card-header Paramètres de la Campagne
      table.settings-table 
        tr.setting-title-text-row.settings-row
          td.setting-title-text(v-bind:class="{ edit : edit }") Nom de la Campagne
          td.setting-title-text(v-bind:class="{ edit : edit }") Fin de la Campagne
        tr.setting-title-input-row.settings-row
          td.setting-title-input-container(v-if="edit")
            input.setting-title-input(type="text" placeholder="Nom de la campagne" v-model="editCampaignName" v-on:focus="inputFocus" v-on:blur="inputBlur" v-on:keyup.enter="$event.currentTarget.blur()")
            .input-border
          td.setting-title-value(v-else v-on:click="textClick") {{ info_campagne.name }}
          td.setting-title-input-container(v-if="edit")
            input.setting-title-input(type="text" placeholder="DD/MM/YYYY" v-model="editCampaignEnd" v-on:focus="inputFocus" v-on:blur="inputBlur" v-on:keyup.enter="$event.currentTarget.blur()" v-on:input="dateUpdate")
            .input-border
          td.setting-title-value(v-else v-on:click="textClick") {{ fin_campagne }} ({{this.temps_restant}})
</template>

<script>
import store from '../../store/stateStore.js'
import  { mapActions,  mapGetters  } from 'vuex'
import moment from 'moment'

var $ = require("jquery");
var contact_store = require('../../models/contact_store.js');
var _ = require('lodash');

var currentLang = 'fr';
moment.locale(currentLang);


export default {
  name: 'settings',
  store,
  data : function () {
    return {
      edit : false,

      editSurname : "",
      editFirstname : "",
      editMail : "",
      editCampaignName : "",
      editCampaignEdn : "",
    }
  },

  computed : {
    ...mapGetters({
      'info_campagne' : 'info_campagne'
    }),

    ...mapGetters({
      'userConnected' : 'userConnected'
    }),

    fin_campagne : function () {
      return moment(new Date(this.info_campagne.endofcampain)).format('LL');
    },

    temps_restant : function() {
      return moment(new Date(this.info_campagne.endofcampain)).endOf().fromNow();
    }
  },

  mounted: function () {
    this.$nextTick(function () {
      $('.showMC').click(function(){
        $('.hider').toggle();
        $('.showMC').hide();
        $('.hideMC').show();});
      $('.hideMC').click(function(){
        $('.hider').toggle();
        $('.hideMC').hide();
        $('.showMC').show();});

    });
  },

  methods : {
    getThisFromEvent : function(event) {
      return $(event.currentTarget);
    },

    editClick : function() {
      this.edit = true;

      this.editSurname = this.userConnected.surname;
      this.editFirstname = this.userConnected.firstname;
      this.editMail = this.userConnected.Mail;
      this.editCampaignName = this.info_campagne.name;
      this.editCampaignEnd = moment(new Date(this.info_campagne.endofcampain)).format('DD/MM/YYYY');;
    },

    cancelClick : function() {
      this.edit = false;
    },

    saveClick : function() {
      // TODO - API call/vuex commits
      this.edit = false;

      this.userConnected.surname = this.editSurname;
      this.userConnected.firstname = this.editFirstname;
      this.userConnected.Mail = this.editMail;
      this.info_campagne.name = this.editCampaignName;
      this.info_campagne.endofcampain = this.getDate(this.editCampaignEnd);
    },

    textClick : function(event) {
      let thisVar = this.getThisFromEvent(event);
      // save indices
      let indices = this.getIndices(thisVar);

      this.editClick();

      // give focus to clicked on text
      this.$nextTick(function() {
        this.getVarFromIndices(indices).css("color", "").find("input").select();
      });
    },

    dateUpdate : function(event) {
      let curText = this.getThisFromEvent(event).val();
      if (!curText || this.getDate(curText).isValid()) {
        this.getThisFromEvent(event).css("color", "");
      } else {
        this.getThisFromEvent(event).css("color", "red");
      }
    },

    getDate : function(dateStr) {
      // use a strict match accross multiple date formats
      return moment(dateStr, ["DD/MM/YYYY", "DD-MM-YYYY", "YYYY-MM-DD"], true);
    },

    // General title controls
    inputFocus : function(event) {
      let thisVar = this.getThisFromEvent(event);
      $(thisVar.parent().find(".input-border")[0]).css("border", "1px solid black");
      this.getThisFromEvent(event).select();
      
      // also make text black
      let indices = this.getIndices(thisVar);
      indices.row = indices.row - 1;
      if (indices.row >= 0) {
        this.getVarFromIndices(indices).css("color", "black");
      }
    },

    inputBlur : function(event) {
      let thisVar = this.getThisFromEvent(event);
      $(thisVar.parent().find(".input-border")[0]).css("border", "");

      // also return text back to default
      let indices = this.getIndices(thisVar);
      indices.row = indices.row - 1;
      if (indices.row >= 0) {
        this.getVarFromIndices(indices).css("color", "");
      }
    },

    // gets indices of thisVar - must be called with a td element, or a child of a td element
    getIndices : function(thisVar) {
      while (!thisVar.is("td") && thisVar.parent()) {
        thisVar = thisVar.parent();
      }
      return {
        column : thisVar.index(),
        row : thisVar.parent().index(),
        card : thisVar.parent().parent().parent().index()
      };
    },

    getVarFromIndices : function(indices) {
      return $($($($(".card")[indices.card]).find("table.settings-table").find("tr")[indices.row]).find("td")[indices.column]);
    }
  }
}

</script>

<style lang="scss">
@import '../../assets/scss/settings.scss';

.full-screen {
  margin: -20px;
  margin-left: -30px;
  margin-right: -35px;
}


.settings {
  padding-left: 20px;
}
.settings ul {
    /*padding: 0;*/
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 0;
    list-style-type: none;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;

}
.settings li {
  margin-bottom: 15px;
}
.change-password {
  margin-top: 30px;
  display: block;
}
</style>
