<template lang="jade">
div#login-signup
  .container
  
    .logo-container
      img(src='/static/images/logo-black.png', alt='Quorum')
    .form-signup
      p.text-signup Entrez votre code de cause, votre adresse email ainsi que votre nouveau mot de passe.
      text-input-border(title="Mon code de cause" v-model='userForm.cause', placeholder="Entrez votre code de cause")
      text-input-border(title="Nom" v-model='userForm.surname', placeholder="Entrez votre nom").first
      text-input-border(title="Prénom" v-model='userForm.firstname', placeholder="Entrez votre prénom").last
      text-input-border(title ="E-mail" , v-model='userForm.mail', type="email", placeholder="Entrez votre adresse e-mail").mail
      .text-input-border-container.first
        .text-input-border-content
          .text-input-border-title 
            | Mot de passe
          .input-line-container
            input.text-input-border( v-model="userForm.password", type="password", placeholder="Entrez votre mot de passe")
      .text-input-border-container.last
        .text-input-border-content
          .text-input-border-title 
            | Confirmer  votre mot de passe
          .input-line-container
            input.text-input-border( v-model="password_confirmation", type="password", placeholder="Entrez votre mot de passe")
      button.signup-button(type='submit' @click.prevent="signUp") Confirmer la demande
      
    p.text-center(style='margin-top:15px')
      router-link.link-back(:to="{name : 'login'}" )|← Login
        //- p.placeholder-code Code de la cause 
        //- input.form-control.input-field(v-model="userForm.cause", required='', autofocus='')
        //- p.placeholder Nom 
        //- label.sr-only(for='inputEmail') Adresse email 
        //- input.form-control.input-field(v-model="userForm.surname",  required='', autofocus='')
        //- p.placeholder Prénom
        //- input.form-control.input-field(v-model="userForm.firstname",  required='', autofocus='')
        //- p.placeholder Adresse e-mail 
        //- input.form-control.input-field(v-model="userForm.mail", placeholder='Adresse e-mail', required='', autofocus='')
        //- p.placeholder Mot de passe  
        //- input.form-control.input-field(v-model="userForm.password" type="password", placeholder='Mot de passe', required='', autofocus='')
        //- p.placeholder Confirmation de votre mot de passe 
        //- input.form-control.input-field.input-mdp(v-model="password_confirmation" type="password", placeholder='Confirmation de votre mot de passe', required='', autofocus='')  
        //- button.btn.btn-lg.btn-primary.btn-block(type='submit' @click.prevent="signUp") Confirmer la demande

</template>

<script>

var _ = require('underskore');
var session_store = require('../../models/session_store.js')

export default {
	name : 'recover', 

	data : function() {
		return {
			password_confirmation : null, 
			userForm : { firstname : null, surname : null, mail : null, password : null, cause : null}
		}
	}, 
  
  components : {
  'text-input-border' : require('../general/text-input-border.vue'),
},

	methods: {

		isValid: function(userForm) {

			var cond = (!_.contains(Object.keys(userForm).map(key => userForm[key]).map(x => !!x), false));

			if (!cond) {
				this.$message({
		            message: 'Merci de renseigner tous les champs',
		            duration:3000,
		            type: 'error'
		          });

				return false;
			}

			if(userForm.password != this.password_confirmation) {
				this.$message({
		            message: 'Les deux mots de passes ne sont pas identiques',
		            duration:3000,
		            type: 'error'
		          });

				return false;
			} 

			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

			if(!re.test(userForm.mail)) {
				this.$message({
		            message: "L'adresse mail n'est pas valide",
		            duration:3000,
		            type: 'error'
		          });

				return false;
			} 
 
			return true; 
		
		},

		signUp: function() {

			// Controle de la complétude des champs 
			if(this.isValid(this.userForm)) {
				var obj = this;
				var router = this.$router;

				var cb = function (root) {
					obj.$alert('Votre compte a été crée avec succès, il est en attente de validation par le référent de la campagne', 'Compte crée !', 
						{
				          confirmButtonText: 'OK',
				          callback: action => {
				          	router.push({name: 'login'});
				          }
			        	}
			        );
				}

				var cbError = function(err) {
	
			    }

			    session_store.signup(this.userForm, cb, cbError, this.$root);

			}

		}
	}
}
</script>
 
 <style lang="scss">
 @import '../../assets/scss/app/signup.scss';
 </style>