@import "../shared/shared-constants.scss";

//- wrapper de l'ensemble du dashboard
div.dashboard-wrapper.pure-u-md-24-24 {
    // set height so that overflow-y:hidden can apply to sub elements, to control scrollbars
    display: flex;
    flex-direction: column;
    height: 100vh;
    .page-header {
      height: 54px;
    }
    .page-content {
      //- display flex permet de mettre cote à cote les différents blocs du dahsboard
      display: flex;
      flex-grow: 1;
      height: 92%;
      #main-container {
        overflow-y: auto;
        height: 100%;
        width: 100%;
        // smooth scroll on ios device
        -webkit-overflow-scrolling: touch;
        #scroll-container {
          -webkit-overflow-scrolling: touch;
        }
      }
    }
}

.sidenav.active {
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

@media all and (max-width: 62em) {
 .dashboard-wrapper{
    #main-container{
      margin: 0 auto;
      width: 100%;
    }
  }
}
