@import 'grid.scss';
@import 'static/fonts/proxima/fonts';
@import 'static/fonts/quorum-font/styles';

html {
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
  line-height: 1.5;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  background-color: #F8F9FA;
  font-family: 'proxima-regular', helvetica, sans-serif;

  body {
    margin: 0;
    h1, h2, h3, button{
      font-weight: normal !important;
      font-family: 'proxima-regular';
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}





