@import "../shared/shared-constants.scss";

//- CSS de la sidenav
$font-size-nav: 0.80rem;
$nav-min-width: 220px;
$nav-max-width: 450px;
$nav-width-flex: 0 0 17.1%;

.sidenav {
  position: relative;
  z-index: 1000;
  border-right: $border-size solid $grey-04;
  min-width: $nav-min-width;
  max-width: $nav-max-width;
  flex: $nav-width-flex;
  overflow: auto;

  .contain-nav-hamburger {
    position: relative;
    display: flex;
    height: 100%;
    flex-grow: 1;

    .menu-responsive {
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
      display: flex;
      flex-grow: 1;

      //- Contenu du menu
      #content-nav {
        padding: $spacing-medium-large;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        font-size: $font-size-nav;


        .return-button-container {
          display: none;
        }

        .profile-info-container {
          display: none;
        }

        .new-button-container {
          display: none;
        }

        //- Style des titres des sections du menu ex: QG DE CAMPAGNE
        h3 { 
          font-size: 0.7rem;
          font-family: $font-light;
          color: #919EAB;
          margin: 0;
          border-bottom: $border-size solid $grey-04;
          padding: 0.5em 0;
          margin:  0.5em 0; // matches h3
        }

        hr {
          border: 0.5px solid $grey-04;
        }

        //- Lien du menu
        a {
          text-decoration: none;
          height: auto;
          width: 100%;
          display: flex;
          align-items: center;

          .item {
            height: auto;
            min-height: 22px;
            width: 100%;
            display: flex;
            align-items: center;
            margin: 2px 0;
            overflow: hidden;

            &:hover {
              .name-item {
                color: $accent-02;
              }
              .svg-container {
                color: $accent-02;
              }
            }
          }

            .name-item {
              font-family: $font-semibold;
              color: $grey-01;
            }

           .svg-container {
              display: inline-block;
              position: relative;
              margin-right: 5px;
              vertical-align: middle;
              height: 20px;
              width: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.3rem;
              color: $grey-03;
          } 

          $soon-color-background : #E6E8EB;
          $soon-color-text: #808C9B;

          .item.soon-container {
            
            .name-item {
              color: #B7C1CD;
            }

            .soon-button {
              height: 17px;
              background-color: $soon-color-background;
              padding: 0px $spacing-small;
              margin-left: auto;
              color: $soon-color-text;
              border-radius: 6px;
              display: flex;
              align-items: center;
              font-size: 0.6rem;

            }

            &:hover {
              cursor: default;
              .name-item {
                color: #B7C1CD;
              }
              .svg-container {
                color: $grey-03;
              }
            }
          }
        }
      }

      #subnav {
        display: none;
      }
    }

    .overlay {
      display: none;
    }
  }
}

//----------------
//- MEDIA QUERIES
//----------------

// @-webkit-keyframes nav-anim {
//   from {
//     left: -250px;
//   }
//   to {
//     left: 0px;
//   }

// }

@keyframes nav-anim {
  from {
    left: -250px;
  }
  to {
    left: 0px;
  }

}


// @-webkit-keyframes nav-close-anim {
//   from {
//     left: 0px;
//   }
//   to {
//     left: -250px;
//   }

// }




@keyframes nav-close-anim {
  from {
    left: 0px;
  }
  to {
    left: -250px;
  }
}

@keyframes subnav-active {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -300px;
  }
}

@-webkit-keyframes subnav-active {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -300px;
  }
}



@-webkit-keyframes subnav-desactive {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: 0px;
  }

}

@keyframes subnav-desactive {
  from {
    margin-left: -300px;
  }
  to {
    margin-left: 0px;
  }

}
 
@media all and (max-width: 62em) {
  .sidenav {
    width: auto;
    flex-basis: inherit;
    min-width: auto;
    overflow: inherit;
    position: inherit;
    z-index:  2010;
    
    // Menu masqué par defaut en responsive
    .contain-nav-hamburger {
      display: none;
    }

    // Apparition du menu
    .contain-nav-hamburger.menu-visible {
      display: block;
      width: 250px;
      position: absolute;
      z-index: 10;
      background-color: $purple-quorum;
      height: 100%;
      top: 0;
      overflow: auto;
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 1);
      animation: nav-anim 0.25s;
      -webkit-animation: nav-anim 0.25s;
      animation-iteration-count: 1;
      z-index: 10;

      .menu-responsive {
        display: block;
        padding: 10px;
        z-index: 200;

        #content-nav{
          border: none;
          position: absolute;
          background: $purple-quorum;
          z-index: 10;

          .return-button-container {
            display: block;

            .button-container {
              display: flex;
              cursor: pointer;
              border-bottom: 1px solid #5b609a;
              
              .back-arrow {         
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                margin-right: 20px;
              }

              .return-text {
                flex-grow: 1;
                padding-left: $spacing-large;
                color: $white;
                height: 45px;
                display: flex;
                align-items: center;

              }
            }

            .barrier {
              // TODO - this color (also appears above) should be a constant
              border-bottom: $border-size solid $grey-04;
              font-size: 0.7rem;
              margin-top: 1em; // matches h3

            }
          }

          .profile-info-container{
            display: flex;
            color: $white;

            .bubble-profile {
              margin-right: 8px;
              .user-dropdown.dropdown-container {

                .user-dropdown-bubble.dropdown-bubble {
                  width: 40px;
                  height: 40px;
                  border-radius: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
            .name-mail-user {
              .user-email {
                color: #9FA4AB;
                margin-top: -3px;
                font-family: $font-regular;
                font-weight: lighter;
              }
            }

          }

          .new-button-container {
            $dropdown-font-size: $font-size-medium;
            $padding: $spacing-medium-large;

            $bubble-height: calc(#{$padding} + #{$dropdown-font-size});
            display: flex;
            background-color: $green-quorum; // TODO - fix colors
            padding: $spacing-small $spacing-extra-large;
            color: $white;
            height: $bubble-height;
            margin: auto 0;
            border-radius: 6px;
            display: flex;
            cursor: pointer;
            margin: 25px 0 30px 0;

            .new-text {
              display: flex;
              font-size: 0.9rem;
              flex-grow: 1;
              justify-content: center;
              align-items: center;

              .text {
                margin: 0 3px
              }

              .svg-icon {
                transform: rotate(270deg);

              }
            }
          }

          h3 {
            // TODO - is this right?
            color: rgba(255,255,255,$semi-opacity);
            font-size: 0.8rem;
          }

          .item {
            .svg-container{
              display: none;
            }
            .name-item {
              color: $white;
              
              &:hover {
                color: $green-quorum;
              }
            }
          }
          
          .item-soon-contrainer {
            border: 1 px solid red;
          }
        } 
        
        // .item.soon-container {
        //   
        //   &:hover {
        //     color: red;
        //   }
        //   .name-item {
        //     color: #213e61;
        //     &:hover {
        //       color: #B7C1CD;;
        //     }
        //   }
        // }

        #content.subnav-active {
          animation: subnav-active 0.25s;
          -webkit-animation: subnav-active 0.25s;
          animation-iteration-count: 1;
          -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
         -moz-animation-fill-mode:forwards; /*FF 5+*/
         -o-animation-fill-mode:forwards; /*Not implemented yet*/
         -ms-animation-fill-mode:forwards; /*IE 10+*/
         animation-fill-mode:forwards; /*when the spec is finished*/
        }

        #content.subnav-desactive {
          animation: subnav-desactive 0.25s;
          animation-iteration-count: 1;
          -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
          -moz-animation-fill-mode:forwards; /*FF 5+*/
          -o-animation-fill-mode:forwards; /*Not implemented yet*/
          -ms-animation-fill-mode:forwards; /*IE 10+*/
          animation-fill-mode:forwards; /*when the spec is finished*/

        }

        #subnav {
          display: block;
          font-family: $font-light;
          padding: 10px;

          .link-subnav-desactive {
            color: $white;
            border-bottom: 1px solid #5b609a;
            display: flex;
            flex-grow: 1;
            margin-bottom : $spacing-large;


            .svg-icon {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                margin-right: $spacing-large;
            }

            span {
              height: 45px;
              display: flex;
              align-items: center;
              padding-left: $spacing-large;
            }

          }

          .item-subnav.menu-item {
            color: $white;
            margin-bottom: $spacing;
            cursor: pointer;

          }

          .item-subnav.inactive {
            color: $white;
            margin-bottom: $spacing;
            opacity: 0.5;
            cursor: not-allowed;
          }
        }

        .back-subnav {
          margin-left: 0px;
        }

      }


    }

   .contain-nav-hamburger.menu-visible + .overlay {
      display: block;
      position: fixed;
      width: 100%;
      background-color: black;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1000;
      opacity: 0.5;
      pointer-events:none;

      }


    .contain-nav-hamburger.menu-close {
      animation: nav-close-anim 0.25s;
      animation-iteration-count: 1;

    }

  }
}
