@import "../shared/shared-constants.scss";

// for the text to be displayed correctly, seems that a display:flex must be wrapped in a display:block
$padding: $spacing-medium-large;
$padding-small: $spacing;
$margin-extra-small : $spacing-extra-small;

.page-header { 
  font-size: $font-size-rem-normal;
  display: flex;
  z-index: $z-index-on-top;
  box-shadow: $header-principal-shadow;
  background-color: $white;
  font-family: $font-regular;


  &.is-edited {
    background-color: $black-quorum;

    .header-container {
      .quorum-logo {
        .quorum-logo-menu {
          .menu-line {
            fill: $white;
          }
        }
      }

      .campaign {
        margin-top: 0;
        a {
          color: $white;
        }
      }
    }
  }

  // TODO - sub-header placement and borders should be figured out before a shadow is added
  // it looks bad as-is
  // box-shadow: $card-shadow;

  .header-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 14px;

    .quorum-logo {
      display: flex;
      align-items: center;

      .quorum-logo-img {
        display: flex;
        align-items: center;

        img{
          height: 21px;
          width: 21px;
        }
      }

      .quorum-logo-menu {
        display: none;
        cursor: pointer;

        svg {
          .menu-line {
            fill: $black-quorum;
          }
        }
      }
    }

    .barrier {
      border-left: $border-size solid rgba(33,62,97,0.15);
      height: calc(2 * #{$font-size});
      margin: auto 24px;
    }

    .campaign {
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin-top: 0;
      a{
        color: $dark-grey;
      }
    }

    .dropdown-container {
      font-weight: normal;
      letter-spacing: 0.5px;
      $dropdown-font-size: $font-size-medium;
      display: flex;
      position: relative;
      flex-direction: row;
      cursor: pointer;
      align-items: center;
      max-height: 45px;

      $bubble-height: calc(#{$padding} + #{$dropdown-font-size});

      .dropdown-arrow {
        transition: all 0.3s;

      }

      .dropdown-arrow.black{
        border-color: $light-grey;
      }



      .dropdown-bubble {
        height: $bubble-height;
        margin: auto 0;
        border-radius: $bubble-height;
        display: flex;

        .dropdown-text {
          margin: auto;
          display: flex;
          align-items: center;
        }
      }



      .dropdown-arrow.dropwdown-arrow-up {

        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        padding-left: 0px !important;
        padding: 0 6px 0 0;
        // animation: infinite-spinning 1s infinite;
        // animation-iteration-count: 1;

      } 

      .dropdown-arrow.dropwdown-arrow-down {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
      }

      .new-dropdown-bubble {
        background-color: $green-quorum; // TODO - fix colors
        padding: $spacing-small $spacing-extra-large;
        color: $white;
        .new-text {
          font-size: 0.9rem;
          .text{
            margin: 0 3px
          }
          .svg-icon {
            padding-left: 6px;
          }
        }
      }

      .new-dropdown-bubble.active{
        background-color: #07B38F;
      }

      .user-dropdown-bubble {
        margin-right: $padding-small;
        padding: $spacing-small;
        color: $white;
        
        // user bubble should be a circle
        width: $bubble-height;
      } 

      .user-dropdown-arrow {
        margin: auto;
        margin-right: $padding;
        padding: 0 !important;
      }

      .dropdown-popup {
        $arrow-size: $spacing-medium-large;
        $popup-shadow: $header-shadow;
        position: absolute;
        z-index: $z-index-on-top;
        // position the popup below the button
        top: calc(100% + #{$spacing-small} + #{$arrow-size});
        // center it relative to the popup
        right: 50%;
        transform:translateX(50%);
        cursor: default;

        .dropdown-popup-container::before {
          content: "";
          // size must be 0 for triangle trick
          width: 0;
          height: 0;
          // triangle is made from borders
          // border-top: $arrow-size solid transparent;
          border-left: $arrow-size solid transparent;
          border-right: $arrow-size solid transparent;
          border-bottom: $arrow-size solid $white;
          // position the arrow above its container and in the middle
          position: absolute;
          bottom: 100%;
          margin-left: calc(-1 * #{$arrow-size});
          left: 50%;
        }

        .dropdown-popup-container {
          background-color: $white;
          padding: $spacing-small 0;
          border-radius: $spacing-small;

          overflow: hidden;

          // for the shadow to include the arrow, a drop-shadow must be used
          // material.scss constants don't work, so manually make the the shadow to visually match
          // Note: if the third variable (y offset) is too small, the arrow will be cut off (not sure why...)
          filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, $shadow-key-umbra-opacity));
          // alternative shadow that doesn't include the arrow:
          // box-shadow: $popup-shadow;

          .dropdown-option-container {
            cursor: pointer;
            display: flex;
            margin: $spacing-small $spacing $spacing $spacing;

            .dropdown-option-icon {
              margin: auto $spacing;
              margin-left: 0;
              
              .option-icon {
                width: 20px;
                height: 19px;
                display: flex;
                font-size: 1.3rem;
                align-items: center;
                justify-content: center;
                border: none;
              }
              
              // make containing div tight to svg
              display: flex;
            }
            .dropdown-option-text {
              flex-grow: 1;
              font-size: 0.8rem;
              white-space: nowrap;
              margin: auto 0;
              display: block;
            }
          }

          .dropdown-option-container.soon {
            color: $grey-03;
            cursor: default;

            .dropdown-option-text::after {
              // add the word "Soon" on a new line
              content: "\ASoon";
              white-space: pre-wrap;
              font-size: 0.6rem;
            }
          }

          .dropdown-popup-barrier {
            margin: $spacing-small 0;
            border-top: $border-size solid $line-grey;
          }
        }        
      }

      .user-dropdown-popup.dropdown-popup {
        $arrow-size: $spacing-medium-large;
        $popup-shadow: $header-shadow;
        
        // user popover is too close to the side of the screen, so don't center it
        right: 0;
        transform:translateX(0);

        .dropdown-popup-container::before {
          // recenter the arrow according to the parent, since the popup isn't centered
          margin-left: 0;
          // move it over from the left so that it is centered on the circle
          // 100% - $arrowsize puts the center of the arrow to the right edge fo the popup
          // $dropdown-font-size is the width of the chevron arrow (matches font size of the text)
          // $padding-small is the space between the circle and the chevron arrow
          // $bubble-height / 2 is the radius of the circle
          left: calc(100% - #{$arrow-size} - #{$dropdown-font-size} - #{$padding-small} - #{$bubble-height} / 2);
        }

        .dropdown-popup-container {
          $user-icon-dropdown-font-size: $font-size;
          $user-icon-dropdown-size: calc(#{$padding} + 1.5 * #{$user-icon-dropdown-font-size});
          .dropdown-option-container.user-info-option {
            display: flex;
            cursor: default;

            .user-icon {
              display: flex;
              height: $user-icon-dropdown-size;
              width: $user-icon-dropdown-size;
              border-radius: $user-icon-dropdown-size;
              margin-right: $padding-small;

              .user-icon-text {
                color: $white;
                margin: auto;
                font-size: $user-icon-dropdown-font-size;
              }
            }

            .dropdown-option-text {
              flex-grow: 1;

              .user-name {
                font-weight: bold;
              }
              .user-email {
                opacity: $semi-opacity;
                font-size: $font-size-small;
              }
            }
          }


          .dropdown-popup-barrier {
            margin: $padding;
          }
        }
      }
    }
  }
}

@media all and (max-width: 62em) {
  .page-header {
    .header-container {
       white-space: nowrap;
       overflow: hidden;

      .quorum-logo {
        
        .quorum-logo-img{        
          display: none;
        }

        .quorum-logo-menu {
          display: flex;
        }
      }

      .campaign {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;  
        margin-top: 0;
        
        a {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      #new-dropdown-clickable, #user-dropdown-clickable, .barrier-responsive {
        display: none;
      }
    }
  }
}