// the min width of the screen for the sidebar and page content to both be shown
$sidebar-show-min-width: 62em;

// Note: for sidebar primary to work, the container for both the sidebar and page content 
// must have position absolute or relative, so that the sidebar can be positioned absolutely
// relative to it.  (This also means that any intermediary divs should not have a position)

// TODO - might want to set a default sidebar width to have consistency in sizing

// if the sidebar is the primary thing on screen, show it on top of other content
.sidebar.primary {
  @media all and (max-width: $sidebar-show-min-width){
    display: initial;
    height: 100%;
    width: 100%;
    position:absolute;
    left: 0;
    right: 0;
    top: 0px;
    margin: 0 auto;
    z-index: 10;
    overflow: auto;
  }
}

// if the sidebar is not the primary thing on screen, hide it
.sidebar {
  @media all and (max-width: $sidebar-show-min-width) {
    display: none;
  }

  position: relative;
}