<template lang="jade">

  div.user-edition

    div.actions
          .actions-1
            span(v-on:click.prevent="retour")
              el-button( size='mini').retour
                  a(type='button')
                      i.fa.fa-arrow-circle-left(aria-hidden='true')
                      |  RETOUR
            span(v-on:click.prevent="saveUser")
                el-button( size='mini').save
                    a(type='button')
                        i.fa.fa-floppy-o(aria-hidden='true')
                        |  SAUVEGARDER
          .actions-2
            span(v-on:click.prevent="retour")
              el-button( size='mini').cancel
                  a(type='button')
                      i.fa.fa-ban(aria-hidden='true')
                      |  ANNULER

    div.avatar
     .avatar-container
      template(v-if="user.role==='admin'")
        i.material-icons grade
      template(v-else)
        i.material-icons account_circle
    el-form(ref="form" label-position="left" label-width="100px")
      p
        br
      .infos.pure-u-md-24-24
       .pure-u-md-12-24
        el-form-item(label='Prénom').pure-u-md-24-24
        el-input(v-model="editedUser.firstname" ).pure-u-md-21-24
       .pure-u-md-12-24
        el-form-item(label='Nom').pure-u-md-24-24
        el-input(v-model="editedUser.surname" ).pure-u-md-21-24

      p
      .mail-num.pure-u-md-24-24
        .pure-u-md-2-24.icon-container
          object(type="image/svg+xml",data="./static/mail-icon.svg")
        .pure-u-md-22-24.bloc
          el-form-item(label='Email')
          el-input(v-model="editedUser.mail" )

        .pure-u-md-2-24.icon-container
           object(type="image/svg+xml",data="./static/tel-icon.svg")
        .pure-u-md-22-24.bloc
          el-form-item(label='Telephone')
          el-input(v-model="editedUser.phone" )

        .pure-u-md-2-24.icon-container
            object(type="image/svg+xml",data="./static/poi.svg")
        .pure-u-md-22-24.bloc
          el-form-item(label='Adresse')
          el-input(v-model="editedUser.address" )
    div.map




</template>

<script>
import  { mapGetters, mapActions } from 'vuex'

var user_store = require('../../../../../models/user_store.js');
var _ = require('lodash');


export default {
	name : "Edition",
	data : function () {
	    return {
	        user : this.$store.getters.activeUser,
          roles : [{
              label:'Militant terrain',
              value:'user',
              text:'Militant terrain : Phasellus eu urna vestibulum, convallis nulla sit amet, euismod neque. Fusce nulla nisl, cursus sit amet sagittis in, pretium ut lacus',
              mobile:true,
              webapp:false,
            },{
              label:'Militant opérationnel',
              value:'admin',
              text:'Militant opérationnel : Phasellus eu urna vestibulum, convallis nulla sit amet, euismod neque. Fusce nulla nisl, cursus sit amet sagittis in, pretium ut lacus',
              mobile:true,
              webapp:true,
            },{
              label:'Gestionnaire',
              value:'superadmin',
              text:'Gestionnaire : Phasellus eu urna vestibulum, convallis nulla sit amet, euismod neque. Fusce nulla nisl, cursus sit amet sagittis in, pretium ut lacus',
              mobile:true,
              webapp:true,
            }]
	      }
    },
   	computed : {
	    ...mapGetters({
	      'is_edited' : 'is_edited'
	    }),
	    ...mapGetters({
	    	'activeUser' : 'activeUser'
	    }),
      ...mapGetters({
        'users' : 'users'
      }),
	    editedUser : function() {
	    	var tmp =  JSON.parse(JSON.stringify(this.activeUser));
	    	return tmp;
	    }
	},

	methods: {
    ...mapActions({
      search: 'SEARCH_USER'
    }),

    isActive : function(role) {
      if (this.editedUser.role===role.value){
        return true
      }else {
        return false
      }
    },

		cancel : function() {
			this.$store.commit('EDIT', false)
		},

    retour : function () {
			this.$store.commit('DELETE_ACTIVE_USER');
			this.$store.commit('LOADING', false);
			this.$store.commit('EDIT', false);
    	},

    setRole:function(index){
      this.editedUser.role=this.roles[index].value;
      this.roles.sort();
    },

		saveUser:function(){
      var router = this.$router
      var newUser = this.editedUser;

      // Formatage de l'objet avant la modification en base
      //delete newUser.lastchange

        // for ( var prop in newEdit ){
        // 	if (newUser[prop.toString()] == "") newUser[prop.toString()] = undefined;
        // }

        user_store.update(this.$router, newUser, (res) => {
          this.$store.commit("SAVE_ACTIVE_USER", newUser);
          this.$message({
              message: 'Les informations de l\'utilisateur ont été mises à jour',
              duration:5000,
              type: 'success'
          });
        });
		}
	},

}
</script>

<style>

</style>
