<template lang="jade">
sidebar(v-bind:primary="true")
  div.user-edition(slot="sidebar-content")

    div.actions
          .actions-1
            span(v-on:click.prevent="retour")
              el-button( size='mini').cancel
                  a(type='button')
                      .webapp-icons-24px-arrow-back
                      div.action-back  Retour
            span(v-on:click.prevent="saveUser").save
                el-button( size='mini').save
                    a(type='button')
                        span.action-save Sauvegarder

    //- div.avatar
    //-  .avatar-container
    //-   template(v-if="user.role==='admin'")
    //-     .avatar-user.organizer
    //-   template(v-else)
    //-     .avatar-user.helper
    el-form(ref="form" label-position="left" label-width="100px")
      .infos.section-input-container 
        .text-input-section
          text-input-border(title="Prenom" v-model="editedUser.firstname" ).first
          text-input-border(title="Nom" v-model="editedUser.surname" ).last

      //-.role.pure-u-md-24-24
          .pure-u-md-8-24.pure-u-sm-8-24(v-for="(role, index) in roles" v-on:click="setRole(index)").role-item
                 .item.hero(v-bind:class="{ active: isActive(role), 'no-active':!isActive(role) }")
                   .avatar-user.helper
                   p {{role.label}}
                   div
                    template(v-if="role.mobile")
                      i.fa.fa-mobile
                    template(v-if="role.webapp")
                      i.fa.fa-laptop

                  template(v-if="isActive(role)")
                   .pure-u-md-24-24.explications-role
                    p {{role.text}}

                      .pure-u-md-2-24.center
                       i.fa.fa-mobile
                      .pure-u-md-22-24
                       span  Dispose d’un accès à la plateforme mobile :
                         strong  {{(role.mobile)?'oui':'non'}}

                      .pure-u-md-2-24.center
                        i.fa.fa-laptop
                      .pure-u-md-22-24
                        span  Dispose d’un accès à la plateforme webapp :
                          strong  {{(role.webapp)?'oui':'non'}}


      .role.pure-u-md-24-24
          h2 Rôle
          .pure-u-md-8-24.pure-u-sm-8-24(v-for="(role, index) in roles" v-on:click="setRole(index)").role-item
                 .item.hero.speech-bubble.speech-bubble--white.bottom.center(v-bind:class="{ active: isActive(role), 'no-active':!isActive(role) }")
                   .speech-bubble__inner
                       template(v-if="role.value==='admin'")
                          //- i.material-icons rowing
                          .avatar-user.organizer
                        template(v-if="role.value==='superadmin'")
                          //-i.material-icons stars
                          .avatar-user.leader
                        template(v-if="role.value === undefined || role.value === 'null'|| role.value === 'user'|| role.value.length === 0")
                          //- i.material-icons account_circle
                          .avatar-user.helper
                       p {{role.label}}
                       //-div
                        template(v-if="role.mobile")
                          i.fa.fa-mobile
                        template(v-if="role.webapp")
                          i.fa.fa-laptop

                      template(v-if="isActive(role)")
                       .pure-u-md-24-24.explications-role
                         p
                          strong.role-label {{role.label}} : 
                          {{role.text}}

                          .pure-u-md-2-24
                            .webapp-icons-24px-phone
                          .pure-u-md-22-24
                           span  Dispose d’un accès à la plateforme mobile :
                             strong.role-yes-no  {{(role.mobile)?'oui':'non'}}

                          .pure-u-md-2-24
                            .webapp-icons-24px-analytics
                          .pure-u-md-22-24
                            span  Dispose d’un accès à la plateforme webapp :
                              strong  {{(role.webapp)?'oui':'non'}}


      p
      .mail-num.pure-u-md-24-24.section-input-container
        .bloc.text-input-section
          text-input-border(title="Email" v-bind:value="editedUser.mail" v-on:input="emailChange($event)")
            .webapp-icons-24px-mail.icons-edit(type="image/svg+xml", slot="side-content")
      .section-input-container
        .bloc.text-input-section
          text-input-border(title="Telephone" v-model="editedUser.phone")
            .webapp-icons-24px-phone.icons-edit(type="image/svg+xml", slot="side-content")
      .section-input-container
        .text-input-section
          text-input-border( title="Adresse" v-model="editedUser.address")
            .webapp-icons-24px-pin-stroke.icons-edit(type="image/svg+xml",data="./static/poi.svg" slot="side-content")





</template>

<script>
import $ from "jquery"
import { emailValidation } from '../../../../mixins/email-validation-mixin.js';
import  { mapGetters, mapActions } from 'vuex'

var user_store = require('../../../../../models/user_store.js');
var _ = require('lodash');


export default {
  name : "Edition",

  components : {
    'sidebar' : require('../../../../structure-module/sidebar.vue'),
    'text-input-border' : require('../../../../general/text-input-border.vue'),
  },

  mixins : [ emailValidation ],

  data : function () {
      return {
          user : this.$store.getters.activeUser,
          roles : [{
              label:'Helper',
              value:'user',
              text:'Membre de votre équipe, militant, enquêteur ou bénévole, le Helper bat le pavé et est présent sur le terrain !  L’Helper a uniquement accès à l’application mobile et tablette.',
              mobile:true,
              webapp:false,
            },{
              label:'Organizer',
              value:'admin',
              text:'Membre de l’équipe en charge de l’opérationnel. L’Organizer peut alors inviter des membres à l’équipe, saisir de nouveaux contacts sur l’application web, paramétrer des actions et avoir accès aux statistiques. Il a un accès à l’application web et mobile.',
              mobile:true,
              webapp:true,
            },{
              label:'Leader',
              value:'superadmin',
              text:'Gestionnaire de campagne et administrateur. Le Leader dispose de tous les droits d’exportation et de suppression et à un accès totale mobile/tablette + web.  ',
              mobile:true,
              webapp:true,
            }]
        }
    },
    computed : {
      ...mapGetters({
        'is_edited' : 'is_edited'
      }),
      ...mapGetters({
        'activeUser' : 'activeUser'
      }),
      ...mapGetters({
        'users' : 'users'
      }),
      editedUser : function() {
        var tmp =  JSON.parse(JSON.stringify(this.activeUser));
        return tmp;
      }
  },

  methods: {
    ...mapActions({
      search: 'SEARCH_USER'
    }),

    isActive : function(role) {
      if (this.editedUser.role===role.value){
        return true
      }else {
        return false
      }
    },
    retour : function () {
      this.$store.commit('DELETE_ACTIVE_USER');
      this.$store.commit('LOADING', false);
      this.$store.commit('EDIT', false);
      },

    setRole : function(index) {
      this.editedUser.role=this.roles[index].value;
      this.roles.sort();
    },

    saveUser : function() {
      var router = this.$router
      var newUser = this.editedUser;

      // Formatage de l'objet avant la modification en base
      //delete newUser.lastchange

      // for ( var prop in newEdit ){
      //  if (newUser[prop.toString()] == "") newUser[prop.toString()] = undefined;
      // }

      // validate email on front end
      if (this.validateEmail(newUser.mail)) {
        if (newUser.id){
          user_store.update(this.$router, newUser, (res) => {
            this.$store.commit("SAVE_ACTIVE_USER", newUser);
            //router.push({name:'users-list'})
            //this.search();
            this.$message({
              message: 'Les informations de l\'utilisateur ont été mises à jour',
              duration: 5000,
              type: 'success'
            });
          });
        } else {
          user_store.save(this.$router, newUser, (res) => {
            this.$store.commit("SAVE_ACTIVE_USER", newUser);
            // Enregistrement du nouveau contact dans Vuex
            // store.commit('SET_ACTIVE_CONTACT', res.body.data.contact);

            //router.push({name:'users-list'})
            this.search();
            this.$message({
              message: 'Nouveau utilisateur enregistré',
              duration: 5000,
              type: 'success'
            });
          })
        }
      } else {
        this.$message({
          message: 'Email invalide',
          duration: 5000,
          type: 'error'
        });
      }
    },

    emailChange : function(value) {
      this.editedUser.mail = value;
      // have to add class directly to the child input el
      if (!this.validateEmail(value)) {
        $("#user-email-input input").addClass("invalid");
      } else {
        $("#user-email-input input").removeClass("invalid");
      }
    }
  },

}
</script>

<style lang="scss">
@import '../../../../../assets/scss/user-management/user-edition.scss';
</style>
