<template lang="jade"> 
sidebar(v-bind:primary="false")
  div.user-help(slot="sidebar-content")
    .top
      img(src="../../../../../../static/images/team-illus.jpg")
    .content
      .bloc-help
        .bloc-content
          h4 Qui ajouter à mon équipe ? 
          p 
            |Ajouter qui vous le souhaitez : membre de votre équipe, enquêteur terrain, militants, bénévoles, helpers. N’oubliez pas : “Seul on va plus vite mais ensemble on va plus loin”. Vous avez en tant qu’administrateur la main sur les 3 niveaux d’accréditation et de droits sur l’application. Aussi vous pouvez à tout moment supprimer l’accès d’un membre à votre organisation. Son accès sera instantanément fermé.  
      .bloc
        .bloc-help
          .bloc-content
            h4 Niveau d’accréditation et rôles
            |Trois niveaux d'accréditation et de droit sur l’application Quorum :
            ul
              li 
                |“Helper” : c’est le niveau de base mais c’est aussi votre atout le plus précieux. Il est celui qui à n’importe quel moment peut mobiliser et sensibiliser grâce à l’application mobile. Son accès est limité à l’application mobile et tablette. 
              li
                |“Organizer” : c’est le niveau intermédiaire qui correspond  à un organisateur opérationnel. Il peut paramétrer des actions, visualiser les statistiques, inviter des membres à l’équipe, ajouter des contacts. Il a accès à l’application web et l’application mobile / tablette.
              li
                “Leader” : c’est le gestionnaire de campagne. Il est administrateur du compte. Il a donc tous les droits : il peut peut accéder, importer, exporter, lui seul peut supprimer toutes les données de l’organisation.  Il définit aussi les rôles des membres “Organizer”.
      .bloc-help
        .bloc-content
          h4 Demande de compte
          p 
            |Au delà de l’invitation, certaines personnes peuvent demander à rejoindre votre organisation depuis  l’application mobile. Vous recevez alors un email vous indiquant l’identité de la personne qui souhaite rejoindre votre organisation. Si vous cliquez sur le lien contenu dans l’email, vous acceptez alors sa demande et il devient membre actif de votre organisation. Attention ! Si d’aventure vous avez un doute sur l’identité de la personne, rentrez en contact avec elle grâce au mail ou au numéro de téléphone communiqués dans le message.
      .bloc-help
        .bloc-content
          h4 Que contient l’invitation reçue ?
          p 
            |Inviter un membre simplement en indiquant son email. Votre invité recevra à la fois un lien pour créer son mot de passe au sein de votre organisation (l’identifiant est son email) et le lien pour télécharger l’application mobile et passer à l’action !”
      .bloc-help
        .bloc-content
          h4 Engager au maximum les membres de votre équipe
          p
            |Vous n’avez pas de réponse à vos invitations ! No panic ! 83% des mails ne sont pas lus avant 72h. En revanche n’hésitez pas à prendre contact directement par téléphone ou par SMS avec vos invités.  Expliquer par téléphone que vous comptez sur eux ou leur envoyer un message personnalisé multipliera considérablement vos chances qu’ils répondent et mobilisent pour vous.
      .bloc-help
        .bloc-content
          h4 Ajouter les adresses et numéros de téléphones
          p
            |Nous vous conseillons d’ajouter ces informations. Elles sont non obligatoires mais vous simplifieront l’organisation des actions de terrain en localisant les membres de votre équipe pour leur attribuer des tâches au plus près de leur domicile et en disposant d’un fichier contact central et pérenne.
      .bloc-help
        .bloc-content
          h4 Sensibiliser à la sécurité
          p
            |La première faille de sécurité, c’est le mot de passe et le partage d’identifiant. Ne choisissez pas un mot de passe trop évident et ne partagez pas vos identifiants pour éviter les failles de sécurité !

      

</template>

<script>
import  { mapGetters, mapActions } from 'vuex'

var user_store = require('../../../../../models/user_store.js');
var _ = require('lodash');


export default {
	name : "Edition",
  
  components : {
    'sidebar' : require('../../../../structure-module/sidebar.vue'),
  },

	data : function () {
	    return {
	        user : this.$store.getters.activeUser,
          roles : [{
              label:'Militant terrain',
              value:'user',
              text:'Militant terrain : Phasellus eu urna vestibulum, convallis nulla sit amet, euismod neque. Fusce nulla nisl, cursus sit amet sagittis in, pretium ut lacus',
              mobile:true,
              webapp:false,
            },{
              label:'Militant opérationnel',
              value:'admin',
              text:'Militant opérationnel : Phasellus eu urna vestibulum, convallis nulla sit amet, euismod neque. Fusce nulla nisl, cursus sit amet sagittis in, pretium ut lacus',
              mobile:true,
              webapp:true,
            },{
              label:'Gestionnaire',
              value:'superadmin',
              text:'Gestionnaire : Phasellus eu urna vestibulum, convallis nulla sit amet, euismod neque. Fusce nulla nisl, cursus sit amet sagittis in, pretium ut lacus',
              mobile:true,
              webapp:true,
            }]
	      }
    },
   	computed : {
	    ...mapGetters({
	      'is_edited' : 'is_edited'
	    }),
	    ...mapGetters({
	    	'activeUser' : 'activeUser'
	    }),
      ...mapGetters({
        'users' : 'users'
      }),
	    editedUser : function() {
	    	var tmp =  JSON.parse(JSON.stringify(this.activeUser));
	    	return tmp;
	    }
	},

	methods: {
    ...mapActions({
      search: 'SEARCH_USER'
    }),

    isActive : function(role) {
      if (this.editedUser.role===role.value){
        return true
      }else {
        return false
      }
    },

		cancel : function() {
			this.$store.commit('EDIT', false)
		},

    retour : function () {
			this.$store.commit('DELETE_ACTIVE_USER');
			this.$store.commit('LOADING', false);
			this.$store.commit('EDIT', false);
    	},

    setRole:function(index){
      this.editedUser.role=this.roles[index].value;
      this.roles.sort();
    },

		saveUser:function(){

		      var router = this.$router
		      var newUser = this.editedUser;

		      // Formatage de l'objet avant la modification en base
		      //delete newUser.lastchange

		        // for ( var prop in newEdit ){
		        // 	if (newUser[prop.toString()] == "") newUser[prop.toString()] = undefined;
		        // }

		        user_store.update(this.$router, newUser, (res) => {
              this.$store.commit("SAVE_ACTIVE_USER", newUser);
              this.$message({
                  message: 'Les informations de l\'utilisateur ont été mises à jour',
                  duration:5000,
                  type: 'success'
              });
		        });
		}
	},

}
</script>

<style lang="scss">
@import '../../../../../assets/scss/user-management/help-usermanagement.scss';
</style>
