<template lang="jade">
sidebar(v-bind:primary="true")
  div(slot="sidebar-content")
    div.fiche
        div.avatar
          template(v-if="user.role==='admin'")
            i.material-icons grade
          template(v-else)
            i.material-icons account_circle

        template(v-if="user.surname.length > 0 && user.firstname.length > 0 ")
          h1.individu-name
              b {{ user.surname}}
              |  {{ user.firstname}}
        template(v-else)
          h1.individu-name
              b UTILISATEUR NON IDENTIFIE
        ul
            li Mail et Identifiant de connexion :
              |  {{ (user.Mail != undefined) ? user.Mail : 'Adresse mail non renseignée' }}
            li Droits d'accès :
              template(v-if="user.role==='admin'")
                |  Accès Mobile & Webapp
              template(v-else)
                |  Accès Mobile
        div#map-user

    div.actions
        span(v-on:click.prevent="editUser")
          el-button( size='mini').cancel
              a(type='button')
                  i.fa.fa-pencil-square-o(aria-hidden='true')
                  |  ÉDITER
        span(v-on:click.prevent="deleteUser")
           el-button( size='mini')
               a(type='button' )
                   i.fa.fa-pencil-square-o(aria-hidden='true')
                   |  SUPPRIMER
</template>

<script>
import  { mapGetters, mapActions } from 'vuex'
import moment from 'moment'

var user_store = require('../../../../../models/user_store.js');
var _ = require('lodash');

export default{
	name:'Informations',
  
  components : {
    'sidebar' : require('../../../../structure-module/sidebar.vue'),
  },

	computed : {
		...mapGetters({
        	'activeUser' : 'activeUser'
      	})
	},
	mounted: function (){
      this.matchData();
    },

	data : function () {
		return {
	    	user : this.$store.getters.activeUser,
        form_data : [],
        sorted_data : [],
        options: [{
          value: 'null',
          label: 'Accès Mobile'
        }, {
          value: 'admin',
          label: 'Accès Mobile & Webapp'
        }]
		}
	},
	methods : {
		...mapActions({
      		search: 'SEARCH_USER'
    	}),
		closeFiche : function(){
			this.$store.commit('DELETE_ACTIVE_USER');
		},

		editUser : function() {
			this.$store.commit('EDIT', true);
		},
		deleteUser : function() {
			    this.$confirm('Voulez-vous supprimer cet utilisateur ? Toute suppression est irréversible', 'Attention', {
		          type: 'warning'
		        }).then(() => {

		            var router = this.$router

		            user_store.delete(router, this.activeUser.id, (res) => {

		              this.$store.commit('DELETE_ACTIVE_USER');

		              this.search();

		              this.$message({
		                type: 'success',
		                message: 'Utilisateur supprimé'
		              });

		            });


		        }).catch(() => {
		          this.$message({
		            type: 'info',
		            message: 'Suppression annulée'
		          });
		        });
		},
    matchData : function(){




      var currentLang = 'fr';
      moment.locale(currentLang);



      // L'idée est de matcher les données issues de FORMS (toutes les questions et leurs typologie,  les réponses (refvalues) et leurs typologies avec les FORM_DATA du contact (au sein de activeContact)) pour former une nouvelles structure de données comprenant toutes les questions, toutes les réponses possibles ainsi que les réponses "active" (=> statue = true) du contact, cad les réponses fournit par l'utilisateur concerné.
      // Il faut dans le même temps construire, pour les checkbox et les radiobox,  le v-model correspondant pour pouvoir préremplir les champs lors de l'édition du contact.




    }
	}
}
</script>

<style>


</style>
