<template lang="jade">
div

	//- link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
	router-view

</template>

<style>
	@import '../node_modules/chartist/dist/chartist.min.css';
	@import '../node_modules/leaflet/dist/leaflet.css';
	@import './assets/css/font-awesome.min.css';
	@import '../node_modules/leaflet.markercluster/dist/MarkerCluster.css';
	@import '../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css';
	@import '../node_modules/leaflet-draw/dist/leaflet.draw.css';

	
</style>

<script>
// Workaround to leaflet marker image bug - see https://github.com/Leaflet/Leaflet/issues/4968
delete L.Icon.Default.prototype._getIconUrl;

L.Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});
</script>



<style lang="scss">
  @import './assets/scss/structure/general.scss';

</style>
