@import './settings.scss';
@import '../form/auto-send/auto-send-common.scss';

.autosend-settings-container {
  .card {
    box-shadow: $card-ui-shadow;
    border: none;
    .text-input-border-container {
      width: initial;
      .text-input-border-content {
        .input-line-container {
          input.text-input-border {
            width: 100%;
          }
        }          
      }  
    } 
    .autosend-email-edit {
      padding: $padding-large;
      width: $auto-send-content-width;
      
      .input-border {
        width: initial;
      }
      .text-input-long-container, .text-input-border-container {
        .text-input-long-content, .text-input-border-content {
          .text-input-long-title, .text-input-border-title {
            font-size: $font-size; 
          }
          
          .text-input-button-container {
            .text-input-button {      
              &:hover {
                background-color: $green-quorum;
                color: $white;
              }
            }
          }
          .input-line-container {
            .text-input-long, .text-input-border {
              font-size: $font-size-rem-small;
            }
          }
        }
      }
      
    }

    // TODO - this should really share style with auto-send-preview.scss and vice versa
    $preview-border: $border-size solid $line-grey;

    .autosend-email-preview-container {
      width: calc(100% - #{$auto-send-content-width});
      display: flex;
      background-color: $background-grey;
      padding: $padding-large;

      border-top-right-radius: $card-radius;
      border-bottom-right-radius: $card-radius;

      .autosend-email-preview {
        margin: auto;
        background-color: $white;
        border: $preview-border;

        $preview-inner-padding: $spacing-small $padding;

        .autosend-preview-details {
          padding: $preview-inner-padding;
          border-bottom: $preview-border;
        }

        .autosend-preview-descriptor {
          color: $semi-transparent;
        }
        
        .autosend-preview-email-body {
          padding: $preview-inner-padding;
          padding-top: $padding;
          padding-bottom: $padding;
        
          .autosend-preview-dummy-section {
            background-color: $background-grey;
            padding: $padding;
          }
        }

        // get rid of the top and bottom default p padding within the email-body
        .autosend-preview-email-body > div:first-child > p:first-child {
          margin-top: 0;
        }

        .autosend-preview-email-body > div:last-child > p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .spacing-between + .spacing-between {
    margin-top: $padding-large;
  }
}

@media all and (max-width: 600px) {
  .autosend-settings-container {
    .card {
      .autosend-email-edit {
        width: 100%;
        .text-input-long-container {
          .text-input-long-content {
            .text-input-long-title-container {
              flex-direction: column;
              align-items: center;
            }    
          }
        }  
      }
      .autosend-email-preview-container {
        display: none;
      }  
    }
  }
}


@media all and (max-width: 800px) {
  .autosend-settings-container {
    .card {
      .autosend-email-edit {
        .input-line-container {
          .editor {
            .variables-container {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}