@import "./settings-shared.scss";
@import "../form/form-common.scss"; // TODO - what is this used for?

.campaign {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: $spacing-extra-large;
  .campaign-container {
    box-shadow: $card-ui-shadow;
    border: none;
    width: 70%;
    margin: 0 auto;
    .campaign-details {
      flex-grow: 1;
      font-size: $font-size-medium;

      .campaign-name {
        font-weight: bold;
        font-size: $font-size-large;

        margin-bottom: $padding;
      }

      .campaign-info {
        display: flex;

        .text-secondary {
          opacity: $semi-opacity;
        }
      }

      .campaign-info + .campaign-info {
        margin-top: $padding-small;
      }

      // from Eric Meyer's css reset: http://meyerweb.com/eric/tools/css/reset/
      table, tr, td {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
      }

      table.campaign-info {
        display: block;
        padding-top: $spacing-small;
        border-collapse: collapse;
        border-spacing: 0;
        tr {
          td.text-secondary {
            // flex-grow: 1;
            text-align: right;
          }
        }
      }
    }
  }
}

@media all and (max-width: 600px) {
  .settings-container {
  .campaign  {
    .campaign-container {
      .campaign-details {
        .campaign-info {
          display: block;
            tr {
              td {
                display: block;
                &.text-secondary {
                  text-align: left;
                }
              }
            }
        }
      }
    }
  }
}
}
