@import "./settings-shared.scss";
@import "../form/form-common.scss"; // TODO - what is this used for?

.profile {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;

  .profile-container {
    box-shadow: $card-ui-shadow;
    border: none;
    width: 70%;
    margin: 0 auto;
    .user-icon-profile {
      height: 60px;
      width: 60px;
      border-radius: $user-icon-size;
      display: flex;
      margin: 0 auto $spacing-large auto;
      .user-icon-text {
        color: $white;
        margin: auto;
        font-size: 20px;
      }
    }

    .profile-details {
      flex-grow: 1;
      font-size: $font-size-medium;
      word-wrap: break-word;
      
      hr {
        border: 1px solid $grey-05;
      }

      .profile-name {
        font-weight: bold;
        font-size: $font-size-large;

        margin-bottom: $padding;
      }

      .profile-info + .profile-info {
        margin-top: $padding-small;
      }

      .name-container {
        display: flex;

        .text-input-border-container + .text-input-border-container {
          margin-top: 0;
          margin-left: $padding-large;
        }

        margin-bottom: $padding-large;
      }

      .text-input-border-container {
        .side-content-container {
            .icon {
              font-size: 1.5rem;
              color: $grey-03;
              display: flex;
            }
          }
        .text-input-border-title {
          font-size: $font-size;
        }
      }

      .text-input-border-container + .text-input-border-container {
        margin-top: $padding-large;
      }

      #profile-email-input.invalid {
        .input-line-container input.text-input-border {
          color: $red;
        }
      }
    }

    .profile-button { 
      margin: $spacing-large auto 0 auto;
      padding: $spacing-small;
      color: $green-quorum;
      font-size: 0.8rem;
      cursor: pointer;
      border-radius: 6px;
      border: 1px solid $green-quorum;
      
      &:hover {
        background-color: $green-quorum;
        color: $white;
      }

      // ensures the button's height does not stretch to fit the whole height
      display: table;
    }

    .profile-button-logout { 
      margin: $spacing-large auto 0 auto;
      padding: $spacing-small;
      color: $red;
      font-size: 0.8rem;
      cursor: pointer;
      border-radius: 6px;
      border: 1px solid $red;
      
      &:hover {
        background-color: $red;
        color: $white;
      }

      // ensures the button's height does not stretch to fit the whole height
      display: table;
    }
  }

  .profile-edit-popover-container {
    .popover-content {
      background-color: transparent;

      .profile-edit {
        position: relative;
        width: initial;
        
        // solve bug width too big input
        .input-border {
          width: initial;
        }
        
        .close-popover {
          position: absolute;
          font-size: $font-size-large;
          cursor: pointer;
          top: $spacing;
          right: $spacing;
        }

        .popover-title {
          font-size: calc(1.5 * #{$font-size-large});
          margin-bottom: $padding;
        }

        .profile-button {
          margin-top: calc(1.5 * #{$padding-large});
          margin-left: 0;
          width: 100%;
          box-sizing: border-box;

          .button-text {
            text-align: center;
          }
        }
        .save-button.profile-button {
          font-family: $font-semibold;
          padding: $spacing-large 0;
        }
      }
    }
  }

  .columns {
    display: flex;
    flex-direction: column;
    
  }
}

@media all and (max-width: 600px) {
  .profile {
    .profile-edit-popover-container {
      .popover-content {
        .profile-edit {
          margin: 10px auto;
          .profile-details {
            .name-container {
              flex-direction: column;
              margin-bottom: 0;
              .text-input-border-container{
                margin-bottom: $spacing-extra-large;
              }
              .text-input-border-container + .text-input-border-container {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
