@import "../shared/shared-constants.scss";

// the user icon is very large - constants not really applicable elsewhere, so define new ones
$user-icon-size: 100px;
$user-icon-font-size: 30pt;

$padding-large: $spacing-extra-large;
$padding: $spacing;
$padding-small: $spacing-extra-small;

$card-radius: $spacing-small;
$card-title-font-size: 22pt;

.sub-header-container {
  .sub-content {
    padding-bottom: 0;
  }
}

.card-spacing {
  $outer-spacing: calc(2 * #{$padding-large});
  // want entire width, minus a outer-spacing one each side
  width: calc(100% - 2 * #{$outer-spacing});
  margin: auto;
  margin-top: $outer-spacing;
  margin-bottom: $outer-spacing;
}

.card {
  box-shadow: $card-ui-shadow;
  border-radius: $card-radius;
  padding: $padding-large;
  border: $border-size solid $line-grey;
  background-color: $white;
  box-sizing: border-box;

  .card-title {
    font-size: $card-title-font-size;
    padding-bottom: $padding;
  }
}

.card-columns {
  display: flex;
  flex-direction: row;
  // let the columns handle their own padding
  padding: 0;
}