@import "settings-shared.scss";

.settings-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .sub-header-container {
    align-self: flex-start;
    .sub-content {
      padding-bottom: 0;
    }
  }
}