@import '../../scss/shared/shared-constants.scss'; 
#main-container {
	#user-list-container {
		height: 100%;
		width: 100%;
		#page-container {	
			position: relative;
			display: flex;
			height: 100%;
			width: 100%;
			#scroll-container {
				width: 72%;
				overflow-y: auto;
				height: 100%;
				.sub-header-container {
					.top-line {
						.title{
							flex-grow: 0;
							padding-right: 0;
							padding: $spacing-large;
						}
						.controls-container {
							flex-grow: 1;
								div {
									display: flex;
									justify-content: flex-end;
								.new-contact-plus {
									font-size: $font-size-large;
									cursor: pointer;
								}
							}
						}
					}

					.controls-container {
				       .new-user-plus {
				         font-size: $font-size-large;
				         cursor: pointer;
				       }
					}
				}
			}
			.sidebar-general {
				width: 28%;
				overflow-y: auto;
				.sidebar-container {
					overflow-y: auto;
					overflow-x: hidden;
					height: 100%;
					border-left: 1px solid $grey-03;
					.boxcard-container {
						height: 100%;
					}
				}
			}
		}
	}
}

@media all and (max-width: 62em) {
	#main-container {
		#user-list-container {
			#page-container {
				#scroll-container {
					width: inherit;
				}

				.sidebar-general {
					width: initial;
				}
			}
		}
	}
}