@import '../shared/shared-constants.scss';
 
////////////////////////
/* SECTION CARTES USERS */
///////////////////////
#user-container {
    padding: $spacing;
    .individus {
        .link-card{
            margin: $spacing;
            display: block;
            box-shadow: 0 1px 6px 0 rgba(33,62,97,0.10), 0 0 1px 0 rgba(33,62,97,0.05);
            transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
            transition-property: box-shadow, transform, opacity;
            transition-duration: 0.3s, 0.3s, 0.2s;
            transition-timing-function: ease-out, ease-out, ease-out;
            transition-delay: .1s;
            transition-delay: .1s;
            overflow: hidden;
            border-radius: 6px;
            transform: translateZ(0);
            
            &:hover {
              box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
transform: translate(0, -4px);

            }
            &.add-card {
                position: relative;
                cursor: pointer;
                .overide {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    z-index: 10;
                    opacity: 0.90;
                    border-radius: 6px;

                    .text-add {
                        color: $accent-02;
                        display: flex;
                        justify-content: center;
                        flex-grow: 1;
                        height: 100%;
                        align-items: center;
                        font-size: 0.8rem;
                        font-family: $font-semibold;
                        .webapp-icons-24px-plus {
                            display: flex;
                            align-items: center;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
            .card-child {
                cursor: pointer;
                flex-grow: 1;
                border-radius: 6px;
                position: relative;
                padding: 10px;
                display: flex;
                color: $grey-02;
                background-color: white;
                height: 140px;
                box-shadow: $card-ui-shadow;

                .card-container {
                    width: 100%;
                    display: flex;
                    font-size: 0.7rem;
                    flex-direction: column;
                    word-break: break-word;
                    .top-card {
                        display: flex;
                        margin: $spacing 0; 
                        .avatar-user {
                            height: 35px;
                            width: 30px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin: 0 $spacing $spacing $spacing;
                            &.helper {
                                background-image: url("../../../../../static/images/user-management-helper.jpg");
                            }

                            &.organizer {
                                background-image: url("../../../../../static/images/user-management-organizer.jpg");
                            }

                            &.leader {
                                background-image: url("../../../../../static/images/user-management-leader.jpg");

                            }
                        }

                        .name {
                            h2 {
                                margin: 0;
                                font-size: 0.9rem;
                                font-family: $font-semibold;
                            }
                        }


                        #option {
                            cursor: pointer;
                            border: 1px solid blue;
                            background-color: yellow;
                            .delete-button {
                                display: none;
                            }
                        }

                        #option:target {
                            background-color: red;
                                button {
                                display: block;
                            }
                        }


                        
                        // Option delete de la
                        .option {
                            position: absolute;
                            height: 30px;
                            overflow: hidden;
                            align-items: center;
                            right: 0;
                            top: 5px;
                            margin-right: 10px;
                            width: 100px;
                            cursor: default;

                            button{
                                cursor: pointer;
                                position: absolute;
                                width: 100px;
                                right: 0;
                                top: 20px;
                                background: none;
                                border: 0;
                                color: inherit;
                                /* cursor: default; */
                                font: inherit;
                                line-height: normal;
                                overflow: visible;
                                padding: 10px;
                                text-align: left;
                                cursor: pointer;
                            }

                             .webapp-option-point {
                                position: absolute;
                                right: 10px;
                                top: 5px;
                                font-size: 1rem;
                            }

                            &:hover {
                                height: 50px;
                                box-shadow: 0 9px 21px 0 rgba(0,0,0,0.13);
                            }
                        }
                    }

                    .middle-card {
                        display: flex;
                        margin-bottom: $spacing;
                        .item {
                            display: flex;
                            align-items: center;
                            .icon {
                                padding: 0 $spacing;
                                font-size: 1.2rem;
                            }
                        }
                    }

                    .bottom-card {
                        display:  block;
                        .item {
                            display: flex;
                            align-items: center;
                            .icon {
                                padding: 0 $spacing;
                                font-size: 1.2rem;
                            }

                            .item-content {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                        }
                    }
                }
            }
        }
    }
}




/* AJOUT USER */

.user-details{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;



    .user-add-container{
        border: 1px solid #CCCCCC;
        width: 400px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color: white;

        h3{
            font-weight: normal;
            i{
                font-size: 30px;
  position:relative;
  top:7px;
  margin-right: 20px;
  color:rgba(0,0,0,0.5);  
            }
        }

    }

    .actions{
        margin-top: 20px;
        .cancel{
            margin-right: 10px;

        }
    }
}



.loader { 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}






