@import "../shared/shared-constants.scss";

#user-list-container {
    #page-container {
        .sidebar-general {
            .sidebar-container {
                .box-card-container {
                    height: 100%;
                    .sidebar {
                        background-color: #F6F6F7;
                        z-index: 10;
                        height: 100%;
                        .user-edition {
                            background-color: white;
                            padding:  35px 10px;
                            height: 100%;
                            
                            .actions {
                                margin-bottom: 35px;
                                button {
                                    background: #FFFFFF;
                                    border: none;
                                    border-radius: 10px;
                                    border-radius: 30px;
                                    padding: 0;
                                }

                                .actions-1 {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    .cancel {
                                        a {
                                            display: flex;
                                            color: $grey-02;
                                            
                                            &:hover {
                                              color: $grey-01;
                                            }

                                            .webapp-icons-24px-arrow-back {
                                                font-size: 1.5rem;
                                                line-height: 0.8;
                                            }

                                            .action-back {
                                                display: flex;
                                                align-items: center;
                                                font-family: $font-semibold;
                                                font-size: 0.8rem;
                                                line-height: 0.8;
                                            }
                                        }
                                    }

                                    .save {
                                        button {
                                            border: 1px solid $accent-01;
                                            font-size: 0.8rem;
                                            padding: $spacing 20px;
                                            &:hover {
                                              background-color: $green-quorum;
                                              span {
                                                color: $white;
                                              }
                                            }
                                            a {
                                                span {
                                                    line-height: 1.2;
                                                    color: $accent-01;
                                                }
                                            }
                                        }
                                    } 
                                }   
                            }

                            .el-form {
                                .section-input-container {
                                    margin-bottom: 20px;

                                    .text-input-section {
                                        .text-input-border-container.city {
                                            height: 100%;
                                        }

                                        .text-input-border-container {
                                            padding: 5px 10px;
                                            width: auto;
                                            .side-content-container {
                                               .icons-edit {
                                                  display: flex;
                                                  align-items: center;
                                                  font-size: 1.4rem;
                                                  color: $grey-03;
                                                }
                                            }

                                            .text-input-border-content {
                                                width: 100%;

                                                .text-input-border-title {
                                                    font-size: 0.6rem;
                                                }

                                                .input-line-container {
                                                    .text-input-border {
                                                        font-size: 0.8rem;
                                                        width: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .adress-margin {
                                        margin: 10px 0;
                                    }

                                    .icon-adress {
                                        text-align: center;
                                        color: $grey-03;
                                        font-size: 1.7rem;
                                    }
                                }
                            }

                            .role {
                                position: relative;

                                .explications-role {
                                    position: absolute;
                                    left: 0;
                                    margin-top: $spacing;
                                    text-align: left;
                                    .role-label {
                                        font-family: $font-semibold;
                                    }

                                    .role-yes-no {
                                        font-family: $font-semibold;
                                    }
                                }

                                .hero {
                                    min-height: 70px;
                                    width:100% !important;
                                     display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;
                                    cursor:pointer;
                                    height: 60px;
                                    p {
                                        margin: 0;
                                    }

                                    .center{
                                        text-align: center;
                                    }

                                    .fa-mobile{
                                        margin: 0 10px;
                                    }
                                }

                                .speech-bubble {
                                    display: inline-block;
                                    position: unset;
                                    text-align: center;
                                    text-decoration: none;
                                    border:  1px solid #C9D0D9;
                                    padding: 0;
                                    margin:  0;
                                    border-radius: 6px;
                                    background-color: white;
                                    box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    -webkit-box-sizing: border-box;
                                    font-size: 0.7rem;

                                    // Class à ajouter pour l'option désactiver
                                     &.no-active {
                                        opacity: 0.3;
                                    }
    
                                    &__inner {
                                      width: auto;
                                      height: 100%;
                                      padding: 5px 10px 0px 10px;
                                      overflow: hidden;
                                      display: block;
                                    }

                                    &--white {
                                        background: white;
                                         color: $black;
                                  }
                                }

                                h2 {
                                    color : $grey-02;
                                    font-size: 1rem;
                                    font-family: $font-semibold;
                                }

                                .role-item {
                                    .avatar-user {
                                        height: 35px;
                                        width: 30px;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        margin: 0 auto;
                                        &.helper {
                                            background-image: url("/../../../static/images/user-management-helper.jpg");
                                        }

                                        &.organizer {
                                            background-image: url("/../../../static/images/user-management-organizer.jpg");
                                        }

                                        &.leader {
                                            background-image: url("/../../../static/images/user-management-leader.jpg");

                                        }
                                    } 
                                }
                            }

                            .mail-num {
                                margin-top: 10em;
                            }
                        }
                    }
                }
                
            }
        }
    }
}