<!-- From old github quorumsco carto -->
<template lang="jade">
#content
  #select-data
    h1 Élections départementales 2015 - 2nd tour
    button
      i.fa.fa-angle-down
    ul
      li
        a(href='#', data-rel='dep_2015_t1') Élections départementales 2015 - 1er tour
      li
        a.selected(href='#', data-rel='dep_2015') Élections départementales 2015 - 2nd tour
      li
        a(href='#', data-rel='pres_2012_t1') Élection Présidentielle 2012 - 1er tour
      li
        a(href='#', data-rel='pres_2012_t2') Élection Présidentielle 2012 - 2nd tour
      li
        hr
      li
        a(href='#', data-rel='INSEE') Données INSEE
      //li
        //a(href='#', data-rel='couverture') Taux de couverture
      //li
        //a(href='#', data-rel='opinion') Bilan d'opinion
  #select-subview.hide
    input#radio_circo.circonscriptions(type='radio', name='dep_view', value='circonscriptions_elections', checked='')
    label.circonscriptions(for='radio_circo') Circonscriptions
    input#radio_com.communes(type='radio', name='dep_view', value='communes_elections')
    label.communes(for='radio_com') Communes
    input#radio_iris.iris(type='radio', name='dep_view', value='iris2000')
    label.iris(for='radio_iris') Tx de familles
    input#radio_pauvrete.pauvrete(type='radio', name='dep_view', value='communes_pauvrete')
    label.pauvrete(for='radio_pauvrete') Tx de pauvreté
    input#radio_chomage.chomage(type='radio', name='dep_view', value='communes_chomage')
    label.chomage(for='radio_chomage') Tx de chomage T4 2014
    input#radio_prio_CSP.prio_CSP(type='radio', name='dep_view', value='communes_prio_CSP')
    label.prio_CSP(for='radio_prio_CSP') Priorisation Socialiste
    input#radio_ouvrier.ouvrier(type='radio', name='dep_view', value='communes_ouvrier')
    label.ouvrier(for='radio_ouvrier') Tx d'ouvriers
    input#radio_inversion.inversion(type='radio', name='dep_view', value='communes_inversion')
    label.inversion(for='radio_inversion') inversion
  #mapfoo
  #infos
</template>

<script>
// import Leaflet from 'leaflet'

import store from '../../store/stateStore.js'
import  { mapActions, mapGetters } from 'vuex'
// import turf from 'turf'
import $ from "jquery"
import L from 'leaflet'
import 'leaflet.ajax'
//import Chart from 'chartjs'
//import '../../assets/js/leaflet.ajax.min.js'
// import 'leaflet-draw'
// import leafletImage from 'leaflet-image'
import cartoQuorum from '../../assets/js/carto2.js'


// import data from 'data/contours/france-metropolitaine/regions-2015.geojson'

// var carto = require("../../assets/js/carto.js")

export default {
  name:'carto_insee',
  store: store,
  mapInsee:null,
  // data : function () {
  //   return {
  //     userConnected : store.getters.userConnected,
  //     loading2: false,
  //     current_data : "",
  //     checkedData : [],
  //     global_layer : undefined,
  //     mainMap : undefined,
  //     emptyMap : true,
  //     map_color : []
  //   }
  // },

  mounted : function() {
    // console.log(this);
    // console.log(carto)
    // console.log(cartoQuorum)
    // console.log(cartoQuorum)
    // console.log(cartoQuorum($, L))
    // console.log(data)
    // console.log(cartoQuorum())
    // console.log(carto())
    // console.log(cartoQuorum)
    // this.$dispatch('header:title', "Ciblage");
    // this.$dispatch('header:hideAdd');
    //this.mapInsee = L.map('mapfoo', {zoomControl: false,loadingControl: true}).setView([46.49839, 2.76855]);

    cartoQuorum($, L).createMap();
  }

}
// module.exports = {
//   replace: false,
//   attached: function() {
//     this.$dispatch('header:title', "Ciblage");
//     this.$dispatch('header:hideAdd');
//   cartoQuorum.createMap();
//   }
// }

</script>

<style lang="scss">
@import '../../assets/scss/app/carto.scss';
// @import '../../assets/scss/app/leaflet.scss';
</style>
