<template lang="jade">
div
	el-row
		el-col(:span='18')
			div#map-carto
			div#legende(v-if='map_color.length > 0')
				ul
					li#legende-1
						i.fa.fa-circle(v-bind:style='{color:"#"+ map_color[0]}', aria-hidden='true')
						|    75% supérieur
					li#legende-2
						i.fa.fa-circle(v-bind:style='{color:"#"+map_color[1]}', aria-hidden='true')
						|    Entre 50% et 75%
					li#legende-3
						i.fa.fa-circle(v-bind:style='{color:"#"+map_color[2]}', aria-hidden='true')
						|    Entre 25% et 50 %
					li#legende-4
						i.fa.fa-circle(v-bind:style='{color:"#"+map_color[3]}', aria-hidden='true')
						|     25 % inférieur
		div#chart
		div#filter
		div#state

		el-col(:span='6').sidebar-iris
			h5 Code commune
			el-input(v-model="code_commune" v-on:change="refresh_data")
			hr
			h5 Données
			div.additional-filters.iris-data
				template(v-for='category in categories')
					input(type="checkbox" v-bind:value="category[0]"  v-model="checkedData" @click="checkboxToggle").checkbox
					| {{category[1]}}
					br


</template>

<script>
import Leaflet from 'leaflet'

import store from '../../store/stateStore.js'
import  { mapActions, mapGetters } from 'vuex'
import turf from 'turf'
import $ from "jquery"
import 'leaflet-draw'
import leafletImage from 'leaflet-image'

//import dc from 'dc'
// const dcR = require('dc')
// const d3 = require('d3')
// const crossfilter = require('crossfilter')
// import crossfilterServer from './bower_components/dc-addons/dist/crossfilter-server/crossfilter-server.min.js'
// import elasticSearch from './bower_components/dc-addons/dist/elastic-search/elastic-search.min.js'


var Rainbow = require('rainbowvis.js');
//var iris_geo = require('./data/iris_bordeaux.json');
//var iris_data = require('./data/iris_data_bordeaux.json');
var randomColor = require('randomcolor');

export default {
	name:'carto_insee_exp',
	store,
	data : function () {
		return {
			userConnected : store.getters.userConnected,
			loading2: false,
			current_data : "",
			checkedData : [],
			global_layer : undefined,
			mainMap : undefined,
			emptyMap : true,
			map_color : []
		}
	},
	// components : {
  //   dcR,
	// 	d3
  // },

	methods : {

		layerToGeoJSON : function(layer) {

	        var geojson = {};
	        geojson['type'] = 'Feature';
	        geojson['geometry'] = {};
	        geojson['geometry']['type'] = "Polygon";

	        var coordinates = [];
	        var latlngs = layer.editing.latlngs[0][0]

			latlngs.forEach(function (obj) {
				coordinates.push([obj.lat, obj.lng])
			});

	        geojson['geometry']['coordinates'] = [coordinates];

	        return geojson;
		},

		layerToPoints : function(layer){
			var coordinates = [];
	        var latlngs = layer.editing.latlngs[0][0]

			latlngs.forEach(function (obj) {
				coordinates.push({"lat": obj.lat, "lon": obj.lng})
			});
			return coordinates;
		},
		getColor : function(d, Q1, Q2, Q3, rainbow){

		    	if(d < Q1) {
		    		return '#' + rainbow.colorAt(1)
		    	}
		    	else if (d >= Q1 && d < Q2) {
		    		return '#' +rainbow.colorAt(2)
		    	}
		    	else if (d >= Q2 && d < Q3) {
		    	 	return '#' +rainbow.colorAt(3)
		    	}
		    	else {
		    		return '#' +rainbow.colorAt(4)
		    	}

		},

		style : function (d, Q1, Q2, Q3, rainbow) {
		    return {
		        fillColor: this.getColor(d, Q1, Q2, Q3, rainbow),
		        weight: 1,
		        opacity: 1,
		        color: 'black',
		        fillOpacity: 0.8
		    };
		},

		delete_map : function(map) {
			if (this.global_layer){
				map.removeLayer(this.global_layer);
			}
			this.map_color = [];
		},

		aggregate_data : function(array) {
			var res = Array();

			for (var i = 0; i < array[0].length; i++) {
				var tmp = 0;
				for (var j = 0; j < array.length; j++) {
					tmp += array[j][i]
				};
				res.push(tmp)
			};

			return res;
		},

		generate_map : function(props, map, iris_geoTEMP) {

				var main = this;
				var rainbow = new Rainbow();
				var data_to_aggregate = Array();

				main.current_data = props;
				console.debug("forEach 1")
				props.forEach(function (prop) {

					var arr = Array();
					console.debug("forEach 2")
					main.iris_geo.features.forEach(function (obj) {
						//console.log(obj.properties.data)
						if (obj.properties.data[prop]){
		    			arr.push(obj.properties.data[prop])
						}
				  });
					data_to_aggregate.push(arr);
				});


				var arr = this.aggregate_data(data_to_aggregate);

			   	arr = arr.sort(function(a, b){return a-b})


			    var Q1 = arr[Math.round(arr.length/4)];
			    var Q2 = arr.length%2 == 1 ? arr[(arr.length+1)/2] : (arr[arr.length/2] + arr[(arr.length/2)+1])/2
			    var Q3 = arr[Math.round(3*arr.length/4)];

			    var reference_color = randomColor({luminosity: 'dark', count: 1});

				rainbow.setSpectrum('#ffffff', reference_color[0]);
				rainbow.setNumberRange(0, 4);
				main.map_color = [rainbow.colorAt(4), rainbow.colorAt(3), rainbow.colorAt(2), rainbow.colorAt(1)]


				var highlightStyle = {
				    color: '#2262CC',
				    weight: 3,
				    opacity: 0.6,
				    fillOpacity: 0.65,
				    fillColor: '#2262CC'
				};

				var onEachFeature = function(feature, layer) {

				    // Load the default style.
					var layer_value = 0;
					console.debug("forEach 3")
					main.current_data.forEach(function (prop) {
						layer_value += feature.properties.data[prop];
					});

				    layer.setStyle(main.style(layer_value, Q1, Q2, Q3, rainbow));
				    // Create a self-invoking function that passes in the layer
				    // and the properties associated with this particular record.
				    (function(layer, properties) {
				      // Create a mouseover event
				      layer.on("mouseover", function (e) {
				        // Change the style to the highlighted version
				        layer.setStyle(highlightStyle);
				        // Create a popup with a unique ID linked to this record
				        var popup = $("<div></div>", {
				            id: "popup-" + properties.Code_BDV,
				            css: {
				                position: "absolute",
				                top: "35px",
				                right: "30px",
				                zIndex: 1002,
				                backgroundColor: "white",
				                padding: "8px",
				                border: "1px solid #ccc"
				            }
				        });
				        // Insert a headline into that popup
				        var hed = $("<div></div>", {
				            text:  properties.NOM_COM + " : " + properties.NOM_IRIS + " (" + layer_value.toString() + ")",
				            css: {fontSize: "16px", marginBottom: "3px", maxWidth : "250px"}
				        }).appendTo(popup);
				        // Add the popup to the map
				        popup.appendTo("#map-carto");
				      });
				      // Create a mouseout event that undoes the mouseover changes
				      layer.on("mouseout", function (e) {
				        // Start by reverting the style back
				        layer.setStyle(main.style(layer_value, Q1, Q2, Q3, rainbow));
				        // And then destroying the popup
				        $("#popup-" + properties.Code_BDV).remove();
				      });
				      // Close the "anonymous" wrapper function, and call it while passing
				      // in the variables necessary to make the events work the way we want.
				    })(layer, feature.properties);
				};

				this.global_layer = L.geoJson(this.iris_geo, {onEachFeature: onEachFeature});
				this.global_layer.addTo(map);
		},

		checkboxToggle : function() {
			var main = this;

			//setTimeout(function() {

				if (main.checkedData.length > 0) {
					if (! main.emptyMap) {

						main.delete_map(main.mainMap)
					};

					// main.current_data = main.checkedData[0];

					main.generate_map(main.checkedData, main.mainMap, this.iris_geo)
					main.emptyMap = false;
				} else {

					main.delete_map(main.mainMap)
					main.emptyMap = true;
				}

			//}, 10);
		},

		refresh_data : function() {
				var main = this;

				//var iris_geoTEMP = require('./data/iris_talence.json');
				//console.log(iris_geoTEMP);
				//iris_data = require('./data/iris_data_talence.json');

				//main.generate_map(main.checkedData, main.mainMap, iris_geo)
  			if ((this.code_commune %1)===0 && this.code_commune.toString().length ==5) {
					console.log("OK refresh_data");
					// New API call for IRIS_DATA et IRIS_GEO
					// You will have to change the view of the leaflet map too

					// (A better test would be to compare the input with the exhaustive list of code_commune in france, the list is avaible on the data_provider)
					//iris_geo = require('./data/iris_talence.json');
					//iris_data = require('./data/iris_data_talence.json');
					//console.log(iris_data)
					//main.generate_map(main.checkedData, main.mainMap, iris_geo)
					this.$store.commit('SET_CODE_COMMUNE', this.code_commune);
					main.retrieve_iris_geo()
					main.retrieve_iris_data()
					main.retrieve_zones_vote()
			}

		},

		init_set_of_data : function(){
			var main = this;
			var data_name = Array();

			// Les données ne sont pas homogènes (str & int) : on converti tout en int
			console.debug("forEach 4")
			main.iris_data.forEach(function (obj) {
				for(var property in obj) {
					obj[property] = parseInt(obj[property]);

				}
			});

			// On récupère le nom des variables

			for(var property in main.iris_data[0]) {
				data_name.push(property)
			}

			// On supprime "DCOMIRIS" & "Commune our AMR" (inutile de pouvoir filtrer dessus)
			data_name = data_name.slice(2,data_name.length);


			// On rattache les données de chaque iris
			console.debug("forEach 5")
		    main.iris_geo.features.forEach(function (obj) {
		    	main.iris_data.forEach(function (d) {
		    		if (obj.properties.DCOMIRIS == d.DCOMIRIS) {
		    			obj.properties.data = d;
		    		};
		    	});
		    });

	    // Méthode générale (à généraliser)

	    // this.current_data  = "Pop 0-2 ans en 2012 (princ)"
	    // this.checkedData.push(this.current_data)

	    // this.generate_map(this.current_data, map, iris_geo)


		},
		...mapActions({
      retrieve_iris_data: 'RETRIEVE_IRIS_DATA'
    }),
		...mapActions({
      retrieve_iris_geo: 'RETRIEVE_IRIS_GEO'
    }),
		...mapActions({
      retrieve_zones_vote: 'RETRIEVE_ZONES_VOTE'
    })
	},

	computed : {
		categories : function() {
			return [['Population en 2012 (princ)','Population en 2012','Age'],['Pop 0-2 ans en 2012 (princ)','0-2 ans','Age'],['Pop 3-5 ans en 2012 (princ)','3-5 ans','Age'],['Pop 6-10 ans en 2012 (princ)','6-10 ans','Age'],['Pop 11-17 ans en 2012 (princ)','11-17 ans','Age'],['Pop 18-24 ans en 2012 (princ)','18-24 ans','Age'],['Pop 25-39 ans en 2012 (princ)','25-39 ans','Age'],['Pop 40-54 ans en 2012 (princ)','40-54 ans','Age'],['Pop 55-64 ans en 2012 (princ)','55-64 ans','Age'],['Pop 65-79 ans en 2012 (princ)','65-79 ans','Age'],['Pop 80 ans ou plus en 2012 (princ)','80 ans ou plus','Age'],['Pop Hommes en 2012 (princ)','Hommes','Sexe'],['Pop Femmes en 2012 (princ)','Femmes','Sexe'],['Pop 15 ans ou plus en 2012 (compl)','Population 15ans ou plus','none'],['Pop 15 ans ou plus Agriculteurs exploitants en 2012 (compl)','Agriculteurs','Activité'],['Pop 15 ans ou plus Artisans, Comm., Chefs entr. en 2012 (compl)','Artisans, Commerçants, Chefs d’entreprise','Activité'],['Pop 15 ans ou plus Cadres, Prof. intel. sup. en 2012 (compl)','Cadres, Professeurs supérieurs','Activité'],['Pop 15 ans ou plus Prof. intermediaires en 2012 (compl)','Professeurs intermédiaires','Activité'],['Pop 15 ans ou plus Employes en 2012 (compl)','Employés','Activité'],['Pop 15 ans ou plus Ouvriers en 2012 (compl)','Ouvriers','Activité'],['Pop 15 ans ou plus Retraites en 2012 (compl)','Retraités','Activité'],['Pop 15 ans ou plus Autres en 2012 (compl)','Autres','Activité'],['Pop Francais en 2012 (princ)','Français','Status'],['Pop Etrangers en 2012 (princ)','Etrangers','Status'],['Pop Immigres en 2012 (princ)','Immigrés','Status'],['Action sociale','Action sociale','Autres'],['Chomeurs 15-64 ans en 2012 (princ)','Chômeurs','Activité'],['Pop 15 ans ou plus non scol. Sans diplome en 2012 (princ)','Sans diplôme','Education'],['Pop 15 ans ou plus non scol. CEP en 2012 (princ)','CEP','Education'],['Pop 15 ans ou plus non scol. BEPC, brevet colleges en 2012 (princ)','BEPC','Education'],['Pop 15 ans ou plus non scol. CAP-BEP en 2012 (princ)','CAP-BEP','Education'],['Pop 15 ans ou plus non scol. BAC-BP en 2012 (princ)','BAC-BP','Education'],['Pop 15 ans ou plus non scol. Enseignement sup court en 2012 (princ)','Enseignent supérieur court','Education'],['Pop 15 ans ou plus non scol. Enseignement sup long en 2012 (princ)','Enseignement supérieur long','Education'],['Commerce','Commerce','Autres'],['Eq Loisirs','Equipement Loisirs','Autres'],['Pers Res princ occupees Proprietaires en 2012 (princ)','Propriétaires','Autres'],['Menages au moins une voiture en 2012 (princ)','Ménages possédant au moins une voiture','Autres'],['Services part','Services particles','Autres']];
		},
		...mapGetters({
      'iris_data' : 'iris_data'
    }),
		...mapGetters({
      'iris_geo' : 'iris_geo'
    }),
		...mapGetters({
      'zones_vote' : 'zones_vote'
    }),

	},

	mounted : function() {

		// API CALL TO GET IRIS_GEO & IRIS_DATA


		$("#map-carto").height($(window).height() - $(".navbar").height());

		var map = L.map('map-carto').setView([44.84004720, -0.574893951], 13);
		this.mainMap = map




	    L.tileLayer(
				//'http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png'
				'http://{s}.a.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'
				, {
	        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	    }).addTo(map);

	  var main = this;
		var data_name = Array();

		this.$store.commit('SET_CODE_COMMUNE', 33063);
		main.retrieve_iris_data();
		main.retrieve_iris_geo();
		main.retrieve_zones_vote();




	// _________________________________________________________________________________________________________________________
	// 	TITLE
	// _________________________________________________________________________________________________________________________

		var title = $("<div></div>", {
            id: "title",
            css: {
                position: "absolute",
                top: "10px",
                left: "60px",
                zIndex: 1002,
                backgroundColor: "white",
                padding: "8px",
                border: "1px solid #ccc"
            }
        });

        var hed = $("<div></div>", {
            text:  main.current_data,
            css: {fontSize: "13px", fontWeight:"bold"}
        }).appendTo(title);

		title.appendTo("#map-carto");

	// this.delete_map(map);


	this.$store.watch(this.$store.getters.get_iris_data, n => {
		console.log('watched: ', n);
		main.init_set_of_data();
		main.checkboxToggle();
	});
	this.$store.watch(this.$store.getters.get_zones_vote, n => {

	})



//------------------------------------DC-------------------------------------------
						// console.log(dcR);
						// console.log(d3);
						// console.log(crossfilter);
						// var chart = dcR.lineChart('#chart');
            // var filter = dcR.pieChart('#filter');
            // var state = dcR.barChart('#state');
            // var query = {
            //     aggs: {
            //         date: {
            //             date_histogram: {
            //                 field: 'last_change',
            //                 interval: '1d',
            //             }
            //         },
            //         store: {
            //             histogram: {
            //                 field: 'age_category',
            //                 interval: 1,
            //             }
            //         }
            //     }
            // };
						//
            // var mapping = {
            //     1: 'last_change',
            //     2: 'age_category',
            //     3: 'age_category',
            // };
						//
            // var url = 'http://46.101.135.199:9200/contacts/_search';
						//
            // chart.options({
            //     // display
            //     width: 500,
            //     height: 500,
            //     // x axis
            //     x: d3.scaleTime(),
						// 		//x: (d3.scale.linear().domain([6,20])),
            //     //xUnits: dcR.d3.time.days(),
            //     elasticX: true,
            //     // y axis
            //     elasticY: true,
            //     // data
            //     dimension: crossfilter.dimension,
            //     group: crossfilter.group(function(filters, chartId, callback) {
            //         crossfilterServer.elasticSearch.send(filters, chartId, url, query, mapping, function(data) {
            //             callback(data.aggregations.date.buckets);
            //         });
            //     }),
            //     keyAccessor: function(d) {
            //         return d3.time.format('%Y-%m-%d %H:%M:%S').parse(d.key_as_string);
            //     },
            //     valueAccessor: function(d) {
            //         return d.doc_count;
            //     },
            // })
            // .render();
            // filter.options({
            //     // data
            //     dimension: crossfilter.dimension,
            //     group: crossfilter.group(function(filters, chartId, callback) {
            //         crossfilterServer.elasticSearch.send(filters, chartId, url, query, mapping, function(data) {
            //             callback(data.aggregations.store.buckets);
            //         });
            //     }),
            //     valueAccessor: function(d) {
            //         return d.doc_count;
            //     },
            // })
            // .render();
            // state.options({
            //     // display
            //     width: 500,
            //     height: 500,
            //     // x axis
            //     x: d3.scale.ordinal(),
            //     xUnits: dcR.units.ordinal,
            //     elasticX: false,
            //     // y axis
            //     elasticY: true,
            //     // data
            //     dimension: crossfilter.dimension,
            //     group: crossfilter.group(function(filters, chartId, callback) {
            //         crossfilterServer.elasticSearch.send(filters, chartId, url, query, mapping, function(data) {
            //             callback(data.aggregations.store.buckets);
            //         });
            //     }),
            //     valueAccessor: function(d) {
            //         return d.doc_count;
            //     },
            // })
            // .render();
//-------------------------------------------------------------------------------
	}
}

</script>

<style>
	@import url('./bower_components/dcjs/dc.css');

.leaflet-draw-toolbar a {
    background-image: url('/static/spritesheet.png');
 }

.leaflet-retina .leaflet-draw-toolbar a {
    background-image: url('/static/spritesheet-2x.png');
    background-image: linear-gradient(transparent, transparent), url('/static/spritesheet.svg');
}

#map-carto {
	margin-right: -35px;
	height: 600px;
}

.sidebar-iris {
	padding-left: 55px;
}
.sidebar-iris .iris-data .el-checkbox {
	display:block;
	margin-top: 5px;
	font-weight: normal;
	margin-left: 10px;
}
.sidebar-iris .iris-data .iris-data-section {
	margin-bottom: 10px;
	margin-top: 20px;
}

.iris-data .checkbox {
	margin-right : 10px;
	display: inline-block;
}
#legende {
	position: absolute;
	z-index: 10020;
	background-color: white;
	opacity: 0.9;
	padding-left: 15px;
	padding-top: 5px;
	width:180px;
	height:90px;
	bottom:130px;
	left: 10px;
}

#legende ul {
	list-style: none;
	padding-left: 0;

}

</style>
