<template lang="jade">
.analyse
  sub-header.no-print(title="Cartes")
    tab-select-router(v-bind:tabs="tabs" slot="sub-content")
  router-view

</template>

<script>
export default {
  name : 'carte',

  components : {
    'tab-select-router' : require('../general/tab-select-router.vue'),
    'sub-header'        : require('../general/sub-header.vue'),
  },

  data : function() {
    return {
      tabs : [
          {
            label: "cartes d'aide à la décision",
            path:'/carte/carto_insee_test_API',
            name:'carto_insee_test_API',
          },
          {
            label: "Ciblage",
            path:'/carte/ciblage',
            name:'ciblage',
          }
          // {
          //   label: "carto insee",
          //   path:'/carte/carto_insee',
          //   name:'carto_insee',
          // },
          // {
          //   label: "Insee Exp",
          //   path:'/carte/carto',
          //   name:'carto',
          // },
          // {
          //   label: "testtttt",
          //   path:'/carte/test',
          //   name:'test',
          // },
          
      ],
    }
  },
}
</script>

<style lang="scss">
  @import '../../assets/scss/analyse/analyse.scss';
</style>
