<!-- From old github quorumsco carto -->
<template lang="jade">
#content
  #select-data
    h1 Élections départementales 2015 - 2nd tour
    button
      i.fa.fa-angle-down
    ul
      //li
        //a(href='#', data-rel='dep_2015_t1') Élections départementales 2015 - 1er tour
      li
        a.selected(href='#', data-rel='dep_2015') Élections départementales 2015 - 2nd tour
      li
        a(href='#', data-rel='pres_2012_t1') Élection Présidentielle 2012 - 1er tour
      //li
        //a(href='#', data-rel='pres_2012_t2') Élection Présidentielle 2012 - 2nd tour
      li
        hr
      li
        a(href='#', data-rel='PRIO') Analyse Electorale
      li
        hr
      li
        a(href='#', data-rel='INSEE') Données INSEE
      //li
        //a(href='#', data-rel='couverture') Taux de couverture
      //li
        //a(href='#', data-rel='opinion') Bilan d'opinion
  #select-subview.hide
    input#radio_circo.circonscriptions(type='radio', name='dep_view', value='circonscriptions_elections', checked='')
    label.circonscriptions(for='radio_circo') Circonscriptions
    input#radio_com.communes(type='radio', name='dep_view', value='communes_elections')
    label.communes(for='radio_com') Communes
    input#radio_iris.iris(type='radio', name='dep_view', value='iris2000')
    label.iris(for='radio_iris') Tx de familles
    input#radio_pauvrete.pauvrete(type='radio', name='dep_view', value='communes_pauvrete')
    label.pauvrete(for='radio_pauvrete') Tx de pauvreté
    input#radio_chomage.chomage(type='radio', name='dep_view', value='communes_chomage')
    label.chomage(for='radio_chomage') Tx de chomage T4 2014
    input#radio_prio_CSP.prio_CSP(type='radio', name='dep_view', value='communes_prio_CSP')
    label.prio_CSP(for='radio_prio_CSP') Priorisation territoriale (uniquement sur la gironde)
    input#radio_ouvrier.ouvrier(type='radio', name='dep_view', value='communes_ouvrier')
    label.ouvrier(for='radio_ouvrier') Tx d'ouvriers
    input#radio_inversion.inversion(type='radio', name='dep_view', value='communes_inversion')
    label.inversion(for='radio_inversion') Territoires ayant basculés (élections départementales)
  #mapfoo
  #infos
</template>

<script>


import store from '../../store/stateStore.js'
import  { mapActions, mapGetters } from 'vuex'

import $ from "jquery"
import L from 'leaflet'
import 'leaflet.ajax'

import cartoQuorum from '../../assets/js/carto_test_API.js'



export default {
  name:'carto_insee_test_API',
  store: store,
  mapInsee:null,

  mounted : function() {
    cartoQuorum($, L).createMap();
  }

}

</script>

<style lang="scss">
@import '../../assets/scss/app/carto.scss';
</style>
