<template lang="jade">
		div
			el-row
				el-col(:span='18')
					div#mapTest


</template>

<script>
import store from '../../store/stateStore.js'
import  { mapActions, mapGetters } from 'vuex'

import $ from "jquery"
import L from 'leaflet'
import 'leaflet.ajax'
import leafletDraw from 'leaflet-draw'

export default {
  name : 'carte',

  components : {
    'tab-select-router' : require('../general/tab-select-router.vue'),
    'sub-header'        : require('../general/sub-header.vue'),
  },

  data : function() {
    return {
      mapTest:null
    }
  },
  mounted : function() {

		// API CALL TO GET IRIS_GEO & IRIS_DATA
		this.mapTest = L.map('mapTest').setView([44.84009,-0.59996], 15);
		let urlMAP='http://{s}.a.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png'
		        //let urlMAP='http://{s}.tile.osm.org/{z}/{x}/{y}.png'
		        //let urlMAP='http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png'
        		
    	L.tileLayer(urlMAP, {
				attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(this.mapTest);
    	/* Régions */
        let regionsLayer = new L.GeoJSON.AJAX(
            "https://public.opendatasoft.com/api/records/1.0/search/?dataset=election-presidentielle-2017&refine.code_insee=33063&format=geojsonp"
        ).addTo(this.mapTest);

        var drawnItems = new L.FeatureGroup();
		this.mapTest.addLayer(drawnItems);

        var options = {
			position: 'topright',
			draw: {
					polyline:false,
					polygon: {
							allowIntersection: false,
							drawError: {
									color: '#e1e100',
									message: '<strong>Action non permise<strong>'
							},
							shapeOptions: {
									color: '#4990e2'
							}
					},
					circle: false,
					rectangle: false,
					marker: false,
			},
			edit: {
					featureGroup: drawnItems,
					edit : false
			}
		};

		var drawControl = new L.Control.Draw(options);
		this.mapTest.addControl(drawControl);


	  
	}
}
</script>

<style lang="scss">
  @import '../../assets/scss/analyse/analyse.scss';
  #mapTest{
		    margin-top: 10px;
		    height: 330px;
		    
		    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.07);
		    border-radius: 10px;
	}
</style>
